Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

Update docs release to v1.13.3
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/+upgrade-dagger-howto.doc.md
  docs/changelog.d/+upgrade-dagger-v0.20.1.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Document required preview directory for Frigate NFS volume
  argocd/manifests/frigate/pv-nfs.yaml
Due: none

Review and update review-documentation.md
  docs/how-to/knowledgebase/review-documentation.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review and update review-services.md
  docs/how-to/knowledgebase/review-services.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review manage-flyio-proxy.md — no issues found
  docs/how-to/operations/manage-flyio-proxy.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review cv and docs services — both healthy, no upgrades needed
  service-versions.yaml
Due: none

Fix 1Password Connect numeric log levels misclassified in Grafana (#287)
  argocd/manifests/alloy-k8s/config.alloy
  argocd/manifests/alloy-ringtail/config.alloy
  docs/changelog.d/fix-onepassword-numeric-log-levels.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix mikado invariant check rejecting close without impl
  docs/changelog.d/+fix-mikado-close-without-impl.bugfix.md
  mise-tasks/mikado-branch-invariant-check
Due: docs-check-filenames, docs-check-links, docs-check-index

Deploy JobSync — job search tracker on ringtail k3s (#288)
  ansible/roles/caddy/defaults/main.yml
  argocd/apps/jobsync.yaml
  argocd/manifests/jobsync/deployment.yaml
  argocd/manifests/jobsync/external-secret.yaml
  argocd/manifests/jobsync/ingress-tailscale.yaml
  argocd/manifests/jobsync/kustomization.yaml
  argocd/manifests/jobsync/pvc.yaml
  argocd/manifests/jobsync/service.yaml
  containers/jobsync/default.nix
  containers/jobsync/entrypoint.sh
  docs/changelog.d/mikado-jobsync.feature.md
  docs/how-to/how-to.md
  docs/how-to/jobsync/build-jobsync-container.md
  docs/how-to/jobsync/deploy-jobsync.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Update jobsync image to v1.1.4-3a811fb-nix (main build)
  argocd/manifests/jobsync/kustomization.yaml
Due: none

Add JobSync reference card, observability docs, and RAPIDAPI_KEY plumbing (#289)
  argocd/manifests/jobsync/deployment.yaml
  argocd/manifests/jobsync/external-secret.yaml
  docs/changelog.d/feature-jobsync-docs-and-rapidapi.doc.md
  docs/how-to/jobsync/deploy-jobsync.md
  docs/reference/infrastructure/ringtail.md
  docs/reference/reference.md
  docs/reference/services/jobsync.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix robots.txt: block /explore/ and /tags/ (was /explorer/)
  containers/quartz/default.conf
Due: none

Deploy docs with fixed robots.txt (v1.28.2-ede9a51)
  argocd/manifests/docs/kustomization.yaml
Due: none

Fix spider trap: disable SPA mode, remove index files, relax wiki-links (#290)
  containers/quartz/default.conf
  docs/changelog.d/fix-disable-spa-relax-docs.doc.md
  docs/changelog.d/fix-disable-spa-relax-docs.infra.md
  docs/explanation/explanation.md
  docs/how-to/forgejo/migrate-forgejo-from-brew.md
  docs/how-to/how-to.md
  docs/index.md
  docs/quartz.config.ts
  docs/reference/reference.md
  docs/reference/services/authentik.md
  docs/reference/services/forgejo.md
  docs/reference/services/grafana.md
  docs/reference/services/zot.md
  docs/reference/storage/postgresql-storage.md
  docs/reference/tools/mise-tasks.md
  docs/tutorials/ai-assistance-guide.md
  docs/tutorials/exploring-the-docs.md
  docs/tutorials/replicating-blumeops.md
  docs/tutorials/tutorials.md
  mise-tasks/ai-docs
  mise-tasks/docs-check-filenames
  mise-tasks/docs-check-index
  mise-tasks/docs-check-links
  prek.toml
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs container to v1.28.2-4f0476a (SPA disabled)
  argocd/manifests/docs/kustomization.yaml
Due: none

Update docs release to v1.14.0
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/+fix-mikado-close-without-impl.bugfix.md
  docs/changelog.d/feature-jobsync-docs-and-rapidapi.doc.md
  docs/changelog.d/fix-disable-spa-relax-docs.doc.md
  docs/changelog.d/fix-disable-spa-relax-docs.infra.md
  docs/changelog.d/fix-onepassword-numeric-log-levels.bugfix.md
  docs/changelog.d/mikado-jobsync.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review jobsync: add to services-check and homepage (#291)
  argocd/manifests/homepage/services.yaml
  argocd/manifests/jobsync/ingress-tailscale.yaml
  docs/changelog.d/review-jobsync.infra.md
  mise-tasks/services-check
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Add docs-preview task and visual preview step to doc review
  docs/changelog.d/+docs-preview.feature.md
  docs/how-to/knowledgebase/review-documentation.md
  mise-tasks/docs-preview
  mise-tasks/docs-review
Due: docs-check-filenames, docs-check-links, docs-check-index

Review build-jobsync-container, refine docs-preview tooling
  docs/how-to/jobsync/build-jobsync-container.md
  docs/how-to/knowledgebase/review-documentation.md
  mise-tasks/docs-preview
  mise-tasks/docs-review
Due: docs-check-filenames, docs-check-links, docs-check-index

Add how-to card for running 1Password backup
  docs/changelog.d/+run-1password-backup-howto.doc.md
  docs/how-to/operations/restore-1password-backup.md
  docs/how-to/operations/run-1password-backup.md
  docs/reference/services/1password.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix op-backup: auto-detect .1pux exports with suffixed filenames
  mise-tasks/op-backup
Due: none

Remove unused Mosquitto MQTT broker from ringtail
  CLAUDE.md
  argocd/apps/mqtt.yaml
  argocd/manifests/frigate/frigate-config.yml
  argocd/manifests/frigate/frigate-notify-config.yml
  argocd/manifests/mosquitto/deployment.yaml
  argocd/manifests/mosquitto/kustomization.yaml
  argocd/manifests/mosquitto/mosquitto.conf
  argocd/manifests/mosquitto/service.yaml
  docs/changelog.d/+remove-mosquitto.infra.md
  docs/explanation/architecture.md
  docs/reference/infrastructure/indri.md
  docs/reference/infrastructure/ringtail.md
  docs/reference/kubernetes/cluster.md
  docs/reference/services/frigate.md
  docs/reference/services/ntfy.md
  docs/reference/services/tempo.md
  mise-tasks/services-check
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Add qwen3.5:27b to Ollama and bump memory limit to 22Gi
  argocd/manifests/ollama/deployment.yaml
  argocd/manifests/ollama/models.txt
Due: none

Bump Ollama memory to 24Gi and enable flash attention
  argocd/manifests/ollama/deployment.yaml
Due: none

Update ringtail flake inputs (nixpkgs, home-manager, disko)
  nixos/ringtail/flake.lock
Due: none

Review deploy-jobsync doc: add missing env var, update tag example
  docs/how-to/jobsync/deploy-jobsync.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Bump Grafana Alloy to v1.14.0 (#292)
  ansible/roles/alloy/defaults/main.yml
  argocd/manifests/alloy-k8s/kustomization.yaml
  argocd/manifests/alloy-ringtail/kustomization.yaml
  argocd/manifests/alloy-tracing-ringtail/kustomization.yaml
  docs/changelog.d/bump-alloy-v1.14.0.infra.md
  docs/reference/services/alloy.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Bump zot registry to v2.1.15 (#293)
  ansible/roles/zot/templates/zot.plist.j2
  docs/changelog.d/bump-zot-v2.1.15.infra.md
  docs/reference/services/zot.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Review restart-indri doc: fix Caddy/Jellyfin service management, fix docs-preview path handling
  docs/how-to/operations/restart-indri.md
  mise-tasks/docs-preview
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.14.1
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/+docs-preview.feature.md
  docs/changelog.d/+remove-mosquitto.infra.md
  docs/changelog.d/+run-1password-backup-howto.doc.md
  docs/changelog.d/bump-alloy-v1.14.0.infra.md
  docs/changelog.d/bump-zot-v2.1.15.infra.md
  docs/changelog.d/review-jobsync.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review restore-1password-backup doc: fix offsite TBD, clarify archive name, add BorgBase to backups
  docs/how-to/operations/restore-1password-backup.md
  docs/reference/storage/backups.md
  mise-tasks/op-backup
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade Caddy v2.10.2 → v2.11.2, fix forge mirrors (#294)
  ansible/roles/caddy/defaults/main.yml
  docs/changelog.d/feature-caddy-upgrade-v2.11.2.infra.md
  docs/reference/services/caddy.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Externalize Tailscale operator to forge mirror (#295)
  argocd/manifests/tailscale-operator-base/kustomization.yaml
  argocd/manifests/tailscale-operator-base/operator.yaml
  argocd/manifests/tailscale-operator-base/proxyclass.yaml
  docs/changelog.d/externalize-tailscale-operator-base.infra.md
  docs/reference/kubernetes/tailscale-operator.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix Caddy v2.11 Host header rewrite breaking proxied services
  ansible/roles/caddy/templates/Caddyfile.j2
  docs/changelog.d/+caddy-v2.11-host-header.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Externalize TeslaMate dashboards to forge mirror (#296)
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-battery-health.yaml
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-charge-level.yaml
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-charges.yaml
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-charging-stats.yaml
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-drive-stats.yaml
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-drives.yaml
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-efficiency.yaml
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-locations.yaml
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-mileage.yaml
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-overview.yaml
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-projected-range.yaml
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-states.yaml
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-statistics.yaml
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-timeline.yaml
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-trip.yaml
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-updates.yaml
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-vampire-drain.yaml
  argocd/manifests/grafana-config/dashboards/configmap-teslamate-visited.yaml
  argocd/manifests/grafana-config/kustomization.yaml
  argocd/manifests/grafana/deployment.yaml
  argocd/manifests/grafana/kustomization.yaml
  docs/changelog.d/externalize-teslamate-dashboards.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add ai-sources task, update ai-docs to include all docs
  mise-tasks/ai-docs
  mise-tasks/ai-sources
Due: none

Exclude docs from ai-sources, mention ai-sources in CLAUDE.md
  CLAUDE.md
  mise-tasks/ai-sources
Due: none

Document ai-sources in AI guide, change process, and mise-tasks ref
  docs/how-to/agent-change-process.md
  docs/reference/tools/mise-tasks.md
  docs/tutorials/ai-assistance-guide.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix stale docs and shell quoting in devpi start script
  containers/devpi/start.sh
  docs/explanation/federated-login.md
  docs/reference/services/argocd.md
  docs/reference/services/authentik.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Restructure docs: consolidate, recategorize, and extract
  docs/explanation/agent-change-process.md
  docs/how-to/authentik/authentik-api-client-generation.md
  docs/how-to/authentik/authentik-go-server-derivation.md
  docs/how-to/authentik/authentik-nix-build-components.md
  docs/how-to/authentik/authentik-python-backend-derivation.md
  docs/how-to/authentik/authentik-web-ui-derivation.md
  docs/how-to/authentik/build-authentik-from-source.md
  docs/how-to/authentik/mirror-authentik-build-deps.md
  docs/how-to/deployment/build-caddy-with-plugins.md
  docs/how-to/grafana/build-grafana-container.md
  docs/how-to/grafana/build-grafana-images.md
  docs/how-to/grafana/build-grafana-sidecar.md
  docs/how-to/grafana/kustomize-grafana-deployment.md
  docs/how-to/grafana/upgrade-grafana.md
  docs/reference/services/caddy.md
  docs/reference/services/grafana.md
  docs/tutorials/expose-service-publicly.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
