Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

Transcribe backlog tasks into plan documents (#151)
  docs/changelog.d/plan-backlog-to-plans.doc.md
  docs/how-to/how-to.md
  docs/how-to/plans/add-unifi-pulumi-stack.md
  docs/how-to/plans/adopt-oidc-provider.md
  docs/how-to/plans/forgejo-actions-dashboard.md
  docs/how-to/plans/harden-zot-registry.md
  docs/how-to/plans/operationalize-reolink-camera.md
  docs/how-to/plans/plans.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Bump Fly.io proxy VM to 512MB, fix TruffleHog scanning (#152)
  .pre-commit-config.yaml
  docs/changelog.d/fix-flyio-proxy-oom.bugfix.md
  docs/how-to/plans/operationalize-reolink-camera.md
  fly/fly.toml
Due: docs-check-filenames, docs-check-links, docs-check-index

Review security-model.md (#153)
  docs/changelog.d/review-security-model-doc.doc.md
  docs/explanation/security-model.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.5.4
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/feature-ci-and-fork-plans.doc.md
  docs/changelog.d/fix-flyio-proxy-oom.bugfix.md
  docs/changelog.d/plan-backlog-to-plans.doc.md
  docs/changelog.d/review-security-model-doc.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Purge Fly.io proxy cache after docs release (#154)
  .forgejo/workflows/build-blumeops.yaml
  docs/changelog.d/fix-purge-fly-cache-on-release.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.6.0
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/fix-purge-fly-cache-on-release.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Wrap fly ssh cache purge in sh -c for BusyBox
  .forgejo/workflows/build-blumeops.yaml
Due: none

Add changelog fragment for cache purge BusyBox fix
  docs/changelog.d/fix-purge-fly-cache-on-release.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.6.1
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/fix-purge-fly-cache-on-release.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix blumeops-tasks for Todoist API v1 migration (#155)
  docs/changelog.d/fix-blumeops-tasks-todoist-api-v1.bugfix.md
  mise-tasks/blumeops-tasks
Due: docs-check-filenames, docs-check-links, docs-check-index

Adopt Dagger CI for container builds (Phase 1) (#156)
  .dagger/.gitattributes
  .dagger/.gitignore
  .dagger/pyproject.toml
  .dagger/src/blumeops_ci/__init__.py
  .dagger/src/blumeops_ci/main.py
  .dagger/uv.lock
  .forgejo/actions/build-push-image/action.yaml
  .forgejo/workflows/build-container.yaml
  LICENSE
  argocd/manifests/forgejo-runner/external-secret.yaml
  containers/forgejo-runner/Dockerfile
  dagger.json
  docs/changelog.d/feature-dagger-ci-phase1.feature.md
  docs/how-to/plans/adopt-dagger-ci.md
  mise.toml
Due: docs-check-filenames, docs-check-links, docs-check-index

Mark Phase 1 verification checklist items as complete
  docs/how-to/plans/adopt-dagger-ci.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.6.2
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/dagger-phase2-docs.feature.md
  docs/changelog.d/feature-dagger-ci-phase1.feature.md
  docs/changelog.d/fix-blumeops-tasks-todoist-api-v1.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.6.3
  argocd/manifests/docs/deployment.yaml
Due: none

Fix Forgejo runner timezone (UTC -> America/Los_Angeles) (#159)
  argocd/manifests/forgejo-runner/deployment.yaml
  docs/changelog.d/fix-runner-timezone.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Mount host zoneinfo into runner for TZ support (#160)
  argocd/manifests/forgejo-runner/deployment.yaml
Due: none

Update docs release to v1.6.4
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/fix-runner-timezone.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Set TZ on build-blumeops workflow job (#161)
  .forgejo/workflows/build-blumeops.yaml
Due: none

Update docs release to v1.6.5
  argocd/manifests/docs/deployment.yaml
Due: none

Simplify runner image (Dagger Phase 3) (#162)
  .forgejo/workflows/build-blumeops.yaml
  .forgejo/workflows/build-container.yaml
  argocd/manifests/forgejo-runner/configmap.yaml
  containers/forgejo-runner/Dockerfile
  docs/changelog.d/dagger-phase3-runner.feature.md
  docs/how-to/plans/adopt-dagger-ci.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update runner job image to forgejo-runner:v3.0.0
  argocd/manifests/forgejo-runner/configmap.yaml
  argocd/manifests/forgejo-runner/external-secret.yaml
Due: none

Restore Node.js to runner image for JavaScript Actions (#163)
  containers/forgejo-runner/Dockerfile
  docs/changelog.d/fix-runner-node.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Bump runner image to v3.0.1 (restore Node.js)
  argocd/manifests/forgejo-runner/external-secret.yaml
Due: none

Restore Docker CLI to runner image for Dagger engine (#164)
  containers/forgejo-runner/Dockerfile
  docs/changelog.d/fix-runner-docker-cli.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Bump runner image to v3.0.2 (restore Docker CLI)
  argocd/manifests/forgejo-runner/external-secret.yaml
Due: none

Update docs release to v1.6.6
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/dagger-phase3-runner.feature.md
  docs/changelog.d/fix-runner-docker-cli.bugfix.md
  docs/changelog.d/fix-runner-node.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Close Dagger CI plan (Phases 1-3 complete) (#165)
  docs/changelog.d/close-dagger-plan.doc.md
  docs/how-to/how-to.md
  docs/how-to/plans/completed/adopt-dagger-ci.md
  docs/how-to/plans/completed/completed.md
  docs/how-to/plans/plans.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.6.7
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/close-dagger-plan.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update deploy-k8s-service doc with ProxyGroup ingress pattern (#166)
  docs/changelog.d/docs-update-deploy-k8s-ingress.doc.md
  docs/how-to/deploy-k8s-service.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.6.8
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/docs-update-deploy-k8s-ingress.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix Dagger towncrier container using UTC instead of local time (#167)
  .dagger/src/blumeops_ci/main.py
  docs/changelog.d/fix-dagger-towncrier-tz.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.6.9
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/fix-dagger-towncrier-tz.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add CV/resume web app at cv.ops.eblu.me (#169)
  .dagger/src/blumeops_ci/main.py
  .forgejo/workflows/cv-deploy.yaml
  ansible/roles/caddy/defaults/main.yml
  argocd/apps/cv.yaml
  argocd/manifests/cv/deployment.yaml
  argocd/manifests/cv/ingress-tailscale.yaml
  argocd/manifests/cv/kustomization.yaml
  argocd/manifests/cv/service.yaml
  containers/cv/Dockerfile
  containers/cv/default.conf
  containers/cv/start.sh
  docs/changelog.d/cv-web-app.feature.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Extend forgejo_actions_secrets role to support multiple repos
  ansible/roles/forgejo_actions_secrets/defaults/main.yml
  ansible/roles/forgejo_actions_secrets/tasks/main.yml
Due: ansible-lint

Add release artifact workflow how-to and changelog fragments (#170)
  docs/changelog.d/multi-repo-secrets.infra.md
  docs/changelog.d/release-artifact-docs.doc.md
  docs/how-to/create-release-artifact-workflow.md
  docs/how-to/how-to.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add CV service reference card and docs updates (#171)
  docs/changelog.d/cv-docs.doc.md
  docs/reference/kubernetes/apps.md
  docs/reference/reference.md
  docs/reference/services/caddy.md
  docs/reference/services/cv.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.7.0
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/cv-docs.doc.md
  docs/changelog.d/cv-web-app.feature.md
  docs/changelog.d/multi-repo-secrets.infra.md
  docs/changelog.d/release-artifact-docs.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update CV release to v1.0.1 (#172)
  argocd/manifests/cv/deployment.yaml
  docs/changelog.d/cv-update-release-v1.0.1.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index
