Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

Update docs release to v1.11.0
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/add-container-versioning-prereq.infra.md
  docs/changelog.d/feature-agent-change-process.feature.md
  docs/changelog.d/feature-authentik-mikado-chain.infra.md
  docs/changelog.d/feature-deploy-authentik.feature.md
  docs/changelog.d/feature-forgejo-authentik-oidc.feature.md
  docs/changelog.d/feature-jellyfin-authentik-sso.feature.md
  docs/changelog.d/feature-ringtail-flake-update.infra.md
  docs/changelog.d/fix-frigate-notify-config.bugfix.md
  docs/changelog.d/harden-zot-registry.feature.md
  docs/changelog.d/plan-deploy-authentik.doc.md
  docs/changelog.d/register-zot-oidc-client.feature.md
  docs/changelog.d/review-frigate-notify-v0.5.4.infra.md
  docs/changelog.d/wire-ci-registry-auth.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Use Zot registry icon on homepage dashboard
  argocd/manifests/homepage/configmap.yaml
  docs/changelog.d/zot-homepage-icon.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Replace indri-runner-logs with general-purpose runner-logs Typer CLI (#244)
  docs/how-to/knowledgebase/review-documentation.md
  docs/how-to/knowledgebase/review-services.md
  docs/tutorials/ai-assistance-guide.md
  mise-tasks/docs-review
  mise-tasks/docs-review-stale
  mise-tasks/indri-runner-logs
  mise-tasks/runner-logs
  mise-tasks/service-review
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.11.1
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/zot-homepage-icon.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add Forgejo repository health metrics and Grafana dashboard (#245)
  ansible/playbooks/indri.yml
  ansible/roles/forgejo_metrics/defaults/main.yml
  ansible/roles/forgejo_metrics/handlers/main.yml
  ansible/roles/forgejo_metrics/tasks/main.yml
  ansible/roles/forgejo_metrics/templates/forgejo-metrics.plist.j2
  ansible/roles/forgejo_metrics/templates/forgejo-metrics.sh.j2
  argocd/manifests/grafana-config/dashboards/configmap-forgejo.yaml
  argocd/manifests/grafana-config/kustomization.yaml
  docs/changelog.d/feature-forgejo-metrics-dashboard.feature.md
  docs/how-to/how-to.md
  docs/how-to/plans/forgejo-actions-dashboard.md
  docs/how-to/plans/plans.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Switch Frigate detection model from YOLO-NAS-S to YOLOv9-c (#246)
  .dagger/src/blumeops_ci/main.py
  argocd/manifests/frigate/configmap.yaml
  docs/changelog.d/feature-frigate-yolov9-model.feature.md
  docs/reference/services/frigate.md
  mise-tasks/frigate-export-model
Due: docs-check-filenames, docs-check-links, docs-check-index

Add branch-cleanup mise task (#247)
  .forgejo/workflows/branch-cleanup.yaml
  docs/changelog.d/feature-branch-cleanup-task.feature.md
  mise-tasks/branch-cleanup
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix branch-cleanup: fall back to head.label for deleted branches (#248)
  mise-tasks/branch-cleanup
Due: none

Upgrade k8s forgejo-runner from v6.3.1 to v12.x (#249)
  docs/changelog.d/upgrade-forgejo-runner.doc.md
  docs/changelog.d/upgrade-forgejo-runner.infra.md
  docs/how-to/forgejo-runner/review-runner-config-v12.md
  docs/how-to/forgejo-runner/upgrade-k8s-runner.md
  docs/how-to/forgejo-runner/validate-workflows-against-v12.md
  docs/how-to/how-to.md
  mise-tasks/service-review
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Prepare forgejo-runner v12 upgrade (leaf nodes) (#250)
  .dagger/src/blumeops_ci/main.py
  .pre-commit-config.yaml
  argocd/manifests/forgejo-runner/configmap.yaml
  docs/changelog.d/upgrade-forgejo-runner-v12.infra.md
  docs/how-to/forgejo-runner/review-runner-config-v12.md
  docs/how-to/forgejo-runner/validate-workflows-against-v12.md
  mise-tasks/validate-workflows
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade k8s forgejo-runner from v6.3.1 to v12.7.0 (#251)
  argocd/manifests/forgejo-runner/deployment.yaml
  docs/changelog.d/upgrade-k8s-runner-v12.infra.md
  docs/how-to/forgejo-runner/upgrade-k8s-runner.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.11.2
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/feature-branch-cleanup-task.feature.md
  docs/changelog.d/feature-forgejo-metrics-dashboard.feature.md
  docs/changelog.d/feature-frigate-yolov9-model.feature.md
  docs/changelog.d/upgrade-forgejo-runner-v12.infra.md
  docs/changelog.d/upgrade-forgejo-runner.doc.md
  docs/changelog.d/upgrade-forgejo-runner.infra.md
  docs/changelog.d/upgrade-k8s-runner-v12.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix Frigate Prometheus metrics & rebuild Grafana dashboard (#252)
  argocd/manifests/grafana-config/dashboards/configmap-frigate.yaml
  argocd/manifests/prometheus/configmap.yaml
  docs/changelog.d/fix-frigate-metrics-dashboard.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Remove unused gpu panel in frigate dashboard
  argocd/manifests/grafana-config/dashboards/configmap-frigate.yaml
Due: none

Fix Grafana TeslaMate dashboard folder provisioning (#253)
  argocd/manifests/grafana/values.yaml
  docs/changelog.d/fix-grafana-teslamate-folder.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update tooling dependencies (Feb 2026 cycle) (#254)
  .pre-commit-config.yaml
  docs/changelog.d/update-dependency-bumps-2026-02.infra.md
  docs/how-to/configuration/update-tooling-dependencies.md
  docs/how-to/how-to.md
  fly/Dockerfile
  mise-tasks/blumeops-tasks
  mise-tasks/docs-review
  mise-tasks/docs-review-stale
  mise-tasks/pr-comments
  mise-tasks/service-review
Due: docs-check-filenames, docs-check-links, docs-check-index

Update tooling dependencies (Feb 2026 cycle)
  .forgejo/workflows/branch-cleanup.yaml
  .forgejo/workflows/build-blumeops.yaml
  .forgejo/workflows/build-container-nix.yaml
  .forgejo/workflows/build-container.yaml
  .forgejo/workflows/cv-deploy.yaml
  .forgejo/workflows/deploy-fly.yaml
  docs/how-to/configuration/update-tooling-dependencies.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix dagger call hanging in mise tasks on interactive terminals (#256)
  docs/changelog.d/fix-dagger-tty-hang.bugfix.md
  mise-tasks/frigate-export-model
  mise-tasks/provision-ringtail
  mise-tasks/validate-workflows
Due: docs-check-filenames, docs-check-links, docs-check-index

Review deploy-authentik: rewrite as process guide (#257)
  docs/changelog.d/doc-review-deploy-authentik.doc.md
  docs/how-to/authentik/deploy-authentik.md
  docs/how-to/plans/completed/completed.md
  docs/how-to/plans/plans.md
  docs/reference/services/authentik.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review Grafana: replace Helm upgrade plan with C2 Mikado chain (#258)
  docs/changelog.d/review-grafana-mikado-chain.doc.md
  docs/how-to/grafana/build-grafana-container.md
  docs/how-to/grafana/kustomize-grafana-deployment.md
  docs/how-to/grafana/upgrade-grafana.md
  docs/how-to/how-to.md
  docs/how-to/plans/plans.md
  docs/how-to/plans/upgrade-grafana-helm-chart.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Formalize C0/C1/C2 change classification (#259)
  .pre-commit-config.yaml
  CLAUDE.md
  docs/changelog.d/formalize-change-classification.doc.md
  docs/how-to/agent-change-process.md
  docs/how-to/how-to.md
  docs/tutorials/ai-assistance-guide.md
  mise-tasks/docs-mikado
  mise-tasks/mikado-branch-invariant-check
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix mikado-branch-invariant-check not validating incoming commits
  .pre-commit-config.yaml
Due: none

Fix container build workflows to checkout dispatch ref
  .forgejo/workflows/build-container-nix.yaml
  .forgejo/workflows/build-container.yaml
  docs/changelog.d/+fix-container-build-ref.bugfix.md
  mise-tasks/container-build-and-release
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix container-build-and-release to resolve refs to full SHA
  mise-tasks/container-build-and-release
Due: none

Rename containers/forgejo-runner to runner-job-image
  containers/runner-job-image/Dockerfile
  docs/changelog.d/+rename-runner-job-image.infra.md
  docs/how-to/configuration/update-documentation.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Update RUNNER_LABELS to use runner-job-image:v0.19.11-4c5e0f0
  argocd/manifests/forgejo-runner/deployment.yaml
Due: none

C2: Upgrade Grafana to 12.x with Nix container and Kustomize (#260)
  argocd/apps/grafana.yaml
  argocd/manifests/grafana/configmap.yaml
  argocd/manifests/grafana/deployment.yaml
  argocd/manifests/grafana/kustomization.yaml
  argocd/manifests/grafana/pvc.yaml
  argocd/manifests/grafana/rbac.yaml
  argocd/manifests/grafana/service.yaml
  argocd/manifests/grafana/serviceaccount.yaml
  argocd/manifests/grafana/values.yaml
  containers/grafana/Dockerfile
  docs/changelog.d/upgrade-grafana.feature.md
  docs/how-to/grafana/build-grafana-container.md
  docs/how-to/grafana/kustomize-grafana-deployment.md
  docs/how-to/grafana/upgrade-grafana.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Improve Mikado process: cycle discipline, reset rigor, --resume enhancements (#261)
  docs/changelog.d/mikado-process-improvements.ai.md
  docs/how-to/agent-change-process.md
  mise-tasks/docs-mikado
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.11.3
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/+fix-container-build-ref.bugfix.md
  docs/changelog.d/+rename-runner-job-image.infra.md
  docs/changelog.d/doc-review-deploy-authentik.doc.md
  docs/changelog.d/fix-dagger-tty-hang.bugfix.md
  docs/changelog.d/fix-frigate-metrics-dashboard.infra.md
  docs/changelog.d/fix-grafana-teslamate-folder.bugfix.md
  docs/changelog.d/formalize-change-classification.doc.md
  docs/changelog.d/mikado-process-improvements.ai.md
  docs/changelog.d/review-grafana-mikado-chain.doc.md
  docs/changelog.d/update-dependency-bumps-2026-02.infra.md
  docs/changelog.d/upgrade-grafana.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review cloudnative-pg: v1.28.1 is current, no upgrade needed
  service-versions.yaml
Due: none

Review migrate-grafana-to-authentik: fix file paths, add last-reviewed
  docs/how-to/authentik/migrate-grafana-to-authentik.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Port Prometheus to local container build (#262)
  argocd/manifests/prometheus/statefulset.yaml
  containers/prometheus/Dockerfile
  docs/changelog.d/feature-prometheus-local-container.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Document container tag provenance and enhance container-list (#263)
  docs/changelog.d/feature-container-tag-provenance.doc.md
  docs/how-to/agent-change-process.md
  docs/how-to/deployment/build-container-image.md
  mise-tasks/container-list
Due: docs-check-filenames, docs-check-links, docs-check-index

Update prometheus and grafana to main-SHA container tags
  argocd/manifests/grafana/deployment.yaml
  argocd/manifests/prometheus/statefulset.yaml
Due: none

Fix Grafana OAuth role mapping from Authentik groups
  argocd/manifests/grafana/configmap.yaml
  docs/changelog.d/fix-grafana-oauth-role.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix TeslaMate dashboards: add database to PostgreSQL jsonData
  argocd/manifests/grafana/configmap.yaml
  docs/changelog.d/fix-grafana-teslamate-datasource.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix Grafana ConfigMap labels lost in configMapGenerator migration
  argocd/manifests/grafana/kustomization.yaml
Due: none

Reworked README
  README.md
Due: none

Migrate upstream mirrors to mirrors/ Forgejo org (#265)
  containers/homepage/Dockerfile
  containers/navidrome/Dockerfile
  containers/ntfy/Dockerfile
  containers/ntfy/default.nix
  docs/changelog.d/feature-mirror-org-migration.infra.md
  docs/how-to/plans/migrate-forgejo-from-brew.md
  docs/how-to/plans/upstream-fork-strategy.md
  docs/how-to/zot/fix-ntfy-nix-version.md
Due: docs-check-filenames, docs-check-links, docs-check-index
