Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

Fix 1Password secret tasks always reporting changed in ringtail playbook (#213)
  ansible/playbooks/ringtail.yml
  docs/changelog.d/fix-ringtail-1password-secrets-idempotent.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Add Nix container build for nettest
  containers/nettest/default.nix
  docs/changelog.d/feature-nettest-nix-container.feature.md
  mise-tasks/container-list
  mise-tasks/container-tag-and-release
Due: docs-check-filenames, docs-check-links, docs-check-index

Rewrite container-tag-and-release as typer CLI with dry-run support
  mise-tasks/container-list
  mise-tasks/container-tag-and-release
Due: none

Use separate registry tags for nix vs dockerfile builds
  .forgejo/workflows/build-container-nix.yaml
  mise-tasks/container-tag-and-release
Due: none

Fix nix container build: resolve nixpkgs from flake registry
  .forgejo/workflows/build-container-nix.yaml
  containers/nettest/default.nix
Due: none

Add jq to nix-container-builder runner hostPackages
  nixos/ringtail/configuration.nix
Due: none

Add container policy.json and registries.conf for ringtail
  nixos/ringtail/configuration.nix
Due: none

Add hostname package to nettest nix container
  containers/nettest/default.nix
Due: none

Simplify container tagging: one tag triggers all workflows
  .forgejo/workflows/build-container-nix.yaml
  .forgejo/workflows/build-container.yaml
  mise-tasks/container-list
  mise-tasks/container-tag-and-release
Due: none

Nix container build for nettest (#214)
  .forgejo/workflows/build-container-nix.yaml
  .forgejo/workflows/build-container.yaml
  containers/nettest/default.nix
  docs/changelog.d/feature-nettest-nix-container.feature.md
  docs/how-to/deployment/build-container-image.md
  docs/reference/infrastructure/ringtail.md
  docs/reference/services/forgejo.md
  mise-tasks/container-list
  mise-tasks/container-tag-and-release
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

Deploy Tailscale operator on ringtail k3s cluster (#215)
  .yamllint.yaml
  argocd/apps/tailscale-operator-ringtail.yaml
  argocd/manifests/tailscale-operator-base/dnsconfig.yaml
  argocd/manifests/tailscale-operator-base/kustomization.yaml
  argocd/manifests/tailscale-operator-base/operator.yaml
  argocd/manifests/tailscale-operator-base/proxyclass.yaml
  argocd/manifests/tailscale-operator-ringtail/external-secret.yaml
  argocd/manifests/tailscale-operator-ringtail/kustomization.yaml
  argocd/manifests/tailscale-operator-ringtail/proxygroup-ingress.yaml
  docs/changelog.d/tailscale-operator-ringtail.infra.md
  pulumi/tailscale/policy.hujson
Due: docs-check-filenames, docs-check-links, docs-check-index

Port Mosquitto and ntfy to ringtail k3s, retire Apple Silicon Detector
  ansible/playbooks/indri.yml
  ansible/roles/frigate_detector/defaults/main.yml
  ansible/roles/frigate_detector/handlers/main.yml
  ansible/roles/frigate_detector/tasks/main.yml
  ansible/roles/frigate_detector/templates/mcquack.eblume.frigate-detector.plist.j2
  argocd/apps/mosquitto-ringtail.yaml
  argocd/apps/ntfy-ringtail.yaml
  docs/changelog.d/feature-port-mqtt-ntfy-ringtail.infra.md
  docs/reference/services/frigate.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Add nix container build for ntfy
  containers/ntfy/default.nix
Due: none

Port Mosquitto and ntfy to ringtail k3s, retire Apple Silicon Detector (#216)
  ansible/playbooks/indri.yml
  ansible/roles/frigate_detector/defaults/main.yml
  ansible/roles/frigate_detector/handlers/main.yml
  ansible/roles/frigate_detector/tasks/main.yml
  ansible/roles/frigate_detector/templates/mcquack.eblume.frigate-detector.plist.j2
  argocd/apps/mqtt.yaml
  argocd/apps/ntfy.yaml
  argocd/manifests/ntfy/deployment.yaml
  containers/ntfy/default.nix
  docs/changelog.d/feature-port-mqtt-ntfy-ringtail.infra.md
  docs/reference/services/frigate.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Port Frigate NVR to ringtail k3s with GPU acceleration (#217)
  argocd/apps/nvidia-device-plugin.yaml
  argocd/manifests/frigate/configmap-notify.yaml
  argocd/manifests/frigate/configmap.yaml
  argocd/manifests/frigate/deployment-notify.yaml
  argocd/manifests/frigate/deployment.yaml
  argocd/manifests/frigate/pv-nfs.yaml
  argocd/manifests/frigate/pvc-database.yaml
  argocd/manifests/homepage/values.yaml
  argocd/manifests/nvidia-device-plugin/daemonset.yaml
  argocd/manifests/nvidia-device-plugin/runtime-class.yaml
  docs/changelog.d/feature-frigate-ringtail-gpu.infra.md
  nixos/ringtail/configuration.nix
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix services-check and update docs for Frigate migration to ringtail (#218)
  CLAUDE.md
  docs/changelog.d/fix-services-check-ringtail-docs.doc.md
  docs/explanation/architecture.md
  docs/how-to/plans/completed/operationalize-reolink-camera.md
  docs/reference/infrastructure/indri.md
  docs/reference/infrastructure/ringtail.md
  docs/reference/kubernetes/cluster.md
  docs/reference/reference.md
  docs/reference/services/frigate.md
  mise-tasks/services-check
Due: docs-check-filenames, docs-check-links, docs-check-index

Update Frigate zone masks and expand alert notifications (#219)
  argocd/manifests/frigate/configmap-notify.yaml
  argocd/manifests/frigate/configmap.yaml
  docs/changelog.d/frigate-update-zones-and-notify.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review: update-documentation doc (#220)
  docs/changelog.d/review-update-documentation-doc.doc.md
  docs/how-to/configuration/update-documentation.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Replace Homepage Helm chart with kustomize manifests and custom Dockerfile
  argocd/apps/homepage.yaml
  argocd/manifests/homepage/clusterrole.yaml
  argocd/manifests/homepage/clusterrolebinding.yaml
  argocd/manifests/homepage/configmap.yaml
  argocd/manifests/homepage/deployment.yaml
  argocd/manifests/homepage/kustomization.yaml
  argocd/manifests/homepage/service.yaml
  argocd/manifests/homepage/serviceaccount.yaml
  containers/homepage/Dockerfile
  docs/changelog.d/feature-homepage-kustomize.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Use Node 24 LTS base images for Homepage container
  containers/homepage/Dockerfile
Due: none

Add ca-certificates to Homepage builder stage
  containers/homepage/Dockerfile
Due: none

Replace Homepage Helm chart with kustomize manifests and custom Dockerfile (#221)
  argocd/apps/homepage.yaml
  argocd/manifests/homepage/clusterrole.yaml
  argocd/manifests/homepage/clusterrolebinding.yaml
  argocd/manifests/homepage/configmap.yaml
  argocd/manifests/homepage/deployment.yaml
  argocd/manifests/homepage/kustomization.yaml
  argocd/manifests/homepage/service.yaml
  argocd/manifests/homepage/serviceaccount.yaml
  containers/homepage/Dockerfile
  docs/changelog.d/feature-homepage-kustomize.infra.md
  docs/how-to/knowledgebase/review-services.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Deploy Dex OIDC identity provider on ringtail with Grafana SSO
  ansible/roles/caddy/defaults/main.yml
  argocd/apps/dex.yaml
  argocd/manifests/dex/clusterrole.yaml
  argocd/manifests/dex/clusterrolebinding.yaml
  argocd/manifests/dex/deployment.yaml
  argocd/manifests/dex/external-secret.yaml
  argocd/manifests/dex/ingress-tailscale.yaml
  argocd/manifests/dex/kustomization.yaml
  argocd/manifests/dex/service.yaml
  argocd/manifests/dex/serviceaccount.yaml
  argocd/manifests/grafana-config/external-secret-dex-oauth.yaml
  argocd/manifests/grafana-config/kustomization.yaml
  argocd/manifests/grafana/values.yaml
  containers/dex/default.nix
  docs/changelog.d/feature-dex-oidc.feature.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Switch Dex from static passwords to Forgejo OAuth2 connector
  argocd/manifests/dex/external-secret.yaml
Due: none

Deploy Dex OIDC identity provider with Grafana SSO (#222)
  ansible/roles/caddy/defaults/main.yml
  argocd/apps/dex.yaml
  argocd/manifests/dex/deployment.yaml
  argocd/manifests/dex/external-secret.yaml
  argocd/manifests/dex/ingress-tailscale.yaml
  argocd/manifests/dex/kustomization.yaml
  argocd/manifests/dex/service.yaml
  argocd/manifests/grafana-config/external-secret-dex-oauth.yaml
  argocd/manifests/grafana-config/kustomization.yaml
  argocd/manifests/grafana/values.yaml
  containers/dex/default.nix
  docs/changelog.d/feature-dex-oidc.feature.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Document Dex OIDC and add services-check integration (#223)
  docs/changelog.d/docs-dex-oidc.doc.md
  docs/explanation/explanation.md
  docs/explanation/federated-login.md
  docs/how-to/plans/adopt-oidc-provider.md
  docs/how-to/plans/completed/adopt-oidc-provider.md
  docs/how-to/plans/completed/completed.md
  docs/how-to/plans/plans.md
  docs/reference/infrastructure/ringtail.md
  docs/reference/reference.md
  docs/reference/services/dex.md
  docs/reference/services/forgejo.md
  docs/reference/services/grafana.md
  mise-tasks/services-check
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.10.0
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/docs-dex-oidc.doc.md
  docs/changelog.d/feature-dex-oidc.feature.md
  docs/changelog.d/feature-frigate-ringtail-gpu.infra.md
  docs/changelog.d/feature-homepage-kustomize.infra.md
  docs/changelog.d/feature-k3s-ringtail-runner.feature.md
  docs/changelog.d/feature-nettest-nix-container.feature.md
  docs/changelog.d/feature-ntfy-container.infra.md
  docs/changelog.d/feature-port-mqtt-ntfy-ringtail.infra.md
  docs/changelog.d/feature-ringtail-nixos.feature.md
  docs/changelog.d/feature-ringtail-nixos.infra.md
  docs/changelog.d/feature-ringtail-screen-lock.feature.md
  docs/changelog.d/fix-frigate-detect-fps.bugfix.md
  docs/changelog.d/fix-ringtail-1password-secrets-idempotent.bugfix.md
  docs/changelog.d/fix-services-check-ringtail-docs.doc.md
  docs/changelog.d/fix-tailscale-ssh-ringtail.infra.md
  docs/changelog.d/fix-zk-docs.bugfix.md
  docs/changelog.d/frigate-update-zones-and-notify.infra.md
  docs/changelog.d/frigate-zmq-detector.infra.md
  docs/changelog.d/review-ntfy-v2.17.0.infra.md
  docs/changelog.d/review-update-documentation-doc.doc.md
  docs/changelog.d/sway-inhibit-idle-fullscreen.bugfix.md
  docs/changelog.d/tailscale-operator-ringtail.infra.md
  docs/changelog.d/update-external-secrets-helm-2.0.0.infra.md
  docs/changelog.d/upgrade-frigate-0.17.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add Authentik deployment plan (#224)
  docs/changelog.d/plan-deploy-authentik.doc.md
  docs/how-to/how-to.md
  docs/how-to/plans/deploy-authentik.md
  docs/how-to/plans/plans.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add agent change process (C0/C1/C2) and docs-mikado tool (#225)
  CLAUDE.md
  docs/changelog.d/feature-agent-change-process.feature.md
  docs/how-to/agent-change-process.md
  docs/how-to/how-to.md
  docs/tutorials/ai-assistance-guide.md
  docs/tutorials/exploring-the-docs.md
  mise-tasks/ai-docs
  mise-tasks/docs-check-frontmatter
  mise-tasks/docs-mikado
Due: docs-check-filenames, docs-check-links, docs-check-index

Convert deploy-authentik plan to C2 Mikado chain (#226)
  docs/changelog.d/feature-authentik-mikado-chain.infra.md
  docs/how-to/plans/deploy-authentik.md
  docs/how-to/plans/plans.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Mikado: identify three leaf prerequisites for Authentik deploy
  docs/how-to/how-to.md
  docs/how-to/plans/build-authentik-container.md
  docs/how-to/plans/create-authentik-secrets.md
  docs/how-to/plans/deploy-authentik.md
  docs/how-to/plans/plans.md
  docs/how-to/plans/provision-authentik-database.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Refine C2 Mikado method: failed attempt handling and early PRs
  docs/how-to/agent-change-process.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Move Mikado cards to topic subdirectory, not plans/
  docs/how-to/agent-change-process.md
  docs/how-to/authentik/build-authentik-container.md
  docs/how-to/authentik/create-authentik-secrets.md
  docs/how-to/authentik/deploy-authentik.md
  docs/how-to/authentik/provision-authentik-database.md
  docs/how-to/how-to.md
  docs/how-to/plans/plans.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Mikado: document build artifact and tag handling
  docs/how-to/agent-change-process.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add Authentik container definition (Nix)
  containers/authentik/default.nix
Due: none

Complete build-authentik-container leaf node
  docs/how-to/authentik/build-authentik-container.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Mikado: add push-after-every-iteration to git discipline
  docs/how-to/agent-change-process.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add authentik database user and ExternalSecret
  argocd/manifests/databases/blumeops-pg.yaml
  argocd/manifests/databases/external-secret-authentik.yaml
  argocd/manifests/databases/kustomization.yaml
Due: none

Complete provision-authentik-database and create-authentik-secrets leaf nodes
  docs/how-to/authentik/create-authentik-secrets.md
  docs/how-to/authentik/provision-authentik-database.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add Authentik deployment manifests and ArgoCD app
  argocd/apps/authentik.yaml
  argocd/manifests/authentik/deployment-redis.yaml
  argocd/manifests/authentik/deployment-server.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/authentik/external-secret.yaml
  argocd/manifests/authentik/ingress-tailscale.yaml
  argocd/manifests/authentik/kustomization.yaml
  argocd/manifests/authentik/service-redis.yaml
  argocd/manifests/authentik/service.yaml
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
