Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

ringtail: stop trusting the nix-container-builder runner user in nix
  docs/changelog.d/agent-ringtail-nix-runner-untrusted.infra.md
  docs/reference/services/forgejo-runner.md
  nixos/ringtail/configuration.nix
  nixos/ringtail/invariants.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: point the DR rebuild row at the ArgoCD bootstrap runbook
  docs/reference/operations/disaster-recovery.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: refresh disaster-recovery card (2026-10-09 review)
  docs/changelog.d/agent-doc-review-disaster-recovery.doc.md
  docs/reference/operations/disaster-recovery.md
Due: docs-check-filenames, docs-check-links, docs-check-index

test(borgmatic-dump): capture subprocess output as bytes
  tests/test_borgmatic_dump.py
Due: none

infra(ringtail): borgmatic dump endpoint user, script, and sudo rule
  docs/changelog.d/agent-1484-pr1-ringtail-dump-endpoint.infra.md
  docs/reference/infrastructure/ringtail.md
  nixos/ringtail/borgmatic-dump.sh
  nixos/ringtail/configuration.nix
  tests/test_borgmatic_dump.py
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.199-522b6d0-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.199.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

workflows: provision-indri moves to the dedicated indri-priv label (#1358)
  .forgejo/workflows/provision-indri.yaml
  .github/actionlint.yaml
  ansible/roles/forgejo_runner/defaults/main.yml
  docs/changelog.d/agent-indri-priv-label.infra.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/how-to/forgejo-runner/configure-launchd-runner.md
  docs/reference/services/forgejo-runner.md
  docs/reference/services/forgejo.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

containers(homepage): upgrade v1.13.2 → v2.4.0
  containers/homepage/default.nix
  docs/changelog.d/agent-homepage-v2.4.0.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

obs(forgejo): CI metrics from Forgejo's DB, dashboard rebuild, runner alerts
  argocd/manifests/grafana-config-ringtail/dashboards/configmap-forgejo.yaml
  argocd/manifests/grafana-ringtail/alerting.yaml
  darwin/indri/mcquack-forgejo-metrics.sh
  docs/changelog.d/ci-observability.infra.md
  docs/how-to/runbooks/runbook-forgejo-ci.md
  docs/reference/operations/observability.md
  docs/reference/services/forgejo.md
Due: docs-check-filenames, docs-check-links, docs-check-index

obs(forgejo): collector cycle ~50 s -> ~4 s; cover every repo
  argocd/manifests/grafana-config-ringtail/dashboards/configmap-forgejo.yaml
  darwin/indri/mcquack-forgejo-metrics.sh
  docs/changelog.d/ci-observability.infra.md
  docs/how-to/runbooks/runbook-forgejo-ci.md
  docs/reference/services/forgejo.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(homepage): pin image v2.4.0-49aa281-nix
  argocd/manifests/homepage/kustomization.yaml
  docs/changelog.d/homepage-release-v2.4.0.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

heph: pin release to v1.10.6 (hub + ringtail spokes)
  ansible/roles/heph/defaults/main.yml
  docs/changelog.d/agent-heph-pin-v1.10.6.infra.md
  docs/reference/services/hephaestus.md
  nixos/ringtail/heph-common.nix
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
