Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

Add paperless DB to borgmatic backups
  ansible/roles/borgmatic/defaults/main.yml
Due: ansible-lint

Add changelog fragments for DR recovery work
  docs/changelog.d/+dr-paperless-backup.bugfix.md
  docs/changelog.d/+dr-paperless-redis.bugfix.md
  docs/changelog.d/+dr-recovery-2026-04.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Document DR rebuild procedure and update restart-indri
  CLAUDE.md
  docs/how-to/operations/rebuild-minikube-cluster.md
  docs/how-to/operations/restart-indri.md
  docs/reference/operations/disaster-recovery.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review enforce-tag-immutability doc: add review date and zot reference link
  docs/how-to/zot/enforce-tag-immutability.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Migrate teslamate to native Dagger container.py (#333)
  containers/teslamate/Dockerfile
  containers/teslamate/container.py
  docs/changelog.d/teslamate-dagger-migration.infra.md
  docs/how-to/deployment/build-container-image.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Document devpi cold cache failure mode and deploy teslamate v3.0.0-08c698e
  argocd/manifests/teslamate/kustomization.yaml
  docs/how-to/operations/rebuild-minikube-cluster.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Document uv.lock as the source of devpi dependency in Dagger builds
  docs/how-to/operations/rebuild-minikube-cluster.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Build forgejo-runner container locally (#334)
  argocd/manifests/forgejo-runner/kustomization.yaml
  containers/forgejo-runner/container.py
  docs/changelog.d/local-forgejo-runner.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update forgejo-runner kustomization tag to main-branch image
  argocd/manifests/forgejo-runner/kustomization.yaml
Due: none

Update docs release to v1.15.5
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/+argocd-v3.3.6.infra.md
  docs/changelog.d/+authentik-2026.2.2.infra.md
  docs/changelog.d/+dagger-otel-metrics-fix.bugfix.md
  docs/changelog.d/+dr-paperless-backup.bugfix.md
  docs/changelog.d/+dr-paperless-redis.bugfix.md
  docs/changelog.d/+dr-recovery-2026-04.infra.md
  docs/changelog.d/+enhance-adding-a-service-tutorial.doc.md
  docs/changelog.d/+fix-blumeops-tasks-brackets.bugfix.md
  docs/changelog.d/+fix-flake-update-pipeline.bugfix.md
  docs/changelog.d/+fix-flyio-rate-limit-key.bugfix.md
  docs/changelog.d/+fix-unpoller-dashboard-uids.bugfix.md
  docs/changelog.d/+frigate-preview-quality.infra.md
  docs/changelog.d/+ollama-0.20.4.infra.md
  docs/changelog.d/+pin-tailscale-fly.bugfix.md
  docs/changelog.d/+review-compliance-reports-task.feature.md
  docs/changelog.d/+review-gandi-doc.doc.md
  docs/changelog.d/+runner-logs-rewrite.bugfix.md
  docs/changelog.d/+seccomp-alloy-immich.infra.md
  docs/changelog.d/+service-versions-ref-card.doc.md
  docs/changelog.d/+services-check-show-all-alerts.bugfix.md
  docs/changelog.d/+track-fly-versions.infra.md
  docs/changelog.d/deploy-paperless.feature.md
  docs/changelog.d/grafana-sidecar-2.6.0.feature.md
  docs/changelog.d/local-forgejo-runner.infra.md
  docs/changelog.d/localize-kube-state-metrics.infra.md
  docs/changelog.d/miniflux-upgrade-and-ty.feature.md
  docs/changelog.d/miniflux-upgrade-and-ty.infra.md
  docs/changelog.d/native-dagger-containers.infra.md
  docs/changelog.d/teslamate-dagger-migration.infra.md
  docs/changelog.d/upgrade-navidrome-v0.61.1.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add changelog for ArgoCD token rotation after DR
  docs/changelog.d/+rotate-argocd-token-post-dr.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.15.6
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/+rotate-argocd-token-post-dr.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Automate Prowler MANUAL finding verification (#335)
  argocd/manifests/prowler/kustomization.yaml
  argocd/manifests/prowler/mutelist/manual-node-checks.yaml
  compensating-controls.yaml
  docs/changelog.d/automate-manual-prowler-checks.infra.md
  mise-tasks/review-compliance-reports
Due: docs-check-filenames, docs-check-links, docs-check-index

Review CC sso-gated-admin-tools: scope to ArgoCD only
  compensating-controls.yaml
  docs/changelog.d/+review-sso-gated-admin-tools.misc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade Prowler to 5.23.0, remove registry workaround (#336)
  argocd/manifests/prowler/cronjob-image-scan.yaml
  argocd/manifests/prowler/kustomization.yaml
  containers/prowler/Dockerfile
  docs/changelog.d/upgrade-prowler-5.23.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Update prowler image tag to v5.23.0-7c1cd11 [main]
  argocd/manifests/prowler/kustomization.yaml
Due: none

Fix borgmatic LaunchAgent TCC dialog hang by removing mise wrapper
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/tasks/main.yml
  ansible/roles/borgmatic/templates/borgmatic-photos.plist.j2
  ansible/roles/borgmatic/templates/borgmatic.plist.j2
  docs/changelog.d/+borgmatic-launchagent-tcc.bugfix.md
  mise.toml
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Migrate transmission containers from Dockerfile to Dagger builds
  containers/transmission-exporter/Dockerfile
  containers/transmission-exporter/container.py
  containers/transmission/Dockerfile
  containers/transmission/container.py
  docs/changelog.d/dagger-transmission-containers.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Deploy transmission containers from Dagger builds
  argocd/manifests/torrent/kustomization.yaml
Due: none

Register claude-cli:// URI handler on ringtail for Claude Code OAuth
  docs/changelog.d/+claude-code-uri-handler.bugfix.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

Refactor Dagger go_build() helper and standardize Alpine 3.23
  containers/forgejo-runner/container.py
  containers/miniflux/container.py
  docs/changelog.d/+dagger-go-build-refactor.infra.md
  src/blumeops/containers.py
Due: docs-check-filenames, docs-check-links, docs-check-index

Switch container builds to manual-only workflow dispatch
  .forgejo/workflows/build-container.yaml
  docs/changelog.d/+container-manual-builds.infra.md
  docs/explanation/agent-change-process.md
  docs/how-to/dagger/upgrade-dagger.md
  docs/how-to/deployment/build-container-image.md
  docs/how-to/zot/adopt-commit-based-container-tags.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update navidrome, miniflux, forgejo-runner image tags to Alpine 3.23 builds [main]
  argocd/manifests/forgejo-runner/kustomization.yaml
  argocd/manifests/miniflux/kustomization.yaml
  argocd/manifests/navidrome/kustomization.yaml
Due: none

Add robots.txt to forge.eblu.me blocking crawlers from /mirrors/
  fly/nginx.conf
Due: none

Add changelog fragment for forge robots.txt
  docs/changelog.d/+forge-robots-txt.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Configure Librewolf to delegate claude-cli:// URIs to xdg-open
  nixos/ringtail/configuration.nix
Due: none

Add Firefox, remove claude-cli:// handler workarounds
  docs/changelog.d/+claude-code-uri-handler.bugfix.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

Set Firefox as default browser via home-manager xdg.mimeApps
  nixos/ringtail/configuration.nix
Due: none

Use programs.firefox module with 1Password extension via policy
  nixos/ringtail/configuration.nix
Due: none

Remove nativeMessagingHosts.packages — breaks Firefox wrapper build
  nixos/ringtail/configuration.nix
Due: none

Migrate kiwix-serve container from Dockerfile to native Dagger build
  containers/kiwix-serve/Dockerfile
  containers/kiwix-serve/container.py
  docs/changelog.d/+kiwix-dagger-migration.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Mitigate Forgejo archive endpoint DoS from crawler abuse
  ansible/roles/forgejo/templates/app.ini.j2
  docs/changelog.d/+forgejo-archive-dos-mitigation.infra.md
  fly/nginx.conf
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Add op-based auth to fly-deploy mise task
  mise-tasks/fly-deploy
Due: none

Update kiwix-serve to Dagger-built container (Alpine 3.23)
  argocd/manifests/kiwix/kustomization.yaml
Due: none

Add /user/ to forge robots.txt exclusion
  fly/nginx.conf
Due: none

Extend Fly proxy latency histogram buckets to 60s
  fly/alloy.river
Due: none

Add Forgejo metrics + upstream latency histogram to Fly proxy dashboard
  ansible/roles/alloy/defaults/main.yml
  ansible/roles/alloy/templates/config.alloy.j2
  ansible/roles/forgejo/templates/app.ini.j2
  argocd/manifests/grafana-config/dashboards/configmap-flyio.yaml
  fly/alloy.river
Due: ansible-lint

Move forge-specific latency panels to Forgejo dashboard
  argocd/manifests/grafana-config/dashboards/configmap-flyio.yaml
  argocd/manifests/grafana-config/dashboards/configmap-forgejo.yaml
Due: none

Fix Connection header: only send 'upgrade' for WebSocket requests
  fly/nginx.conf
Due: none

Switch Fly proxy to upstream keepalive pools (#337)
  argocd/manifests/grafana/alerting.yaml
  argocd/manifests/tailscale-operator-base/proxyclass.yaml
  docs/changelog.d/fly-proxy-keepalive.infra.md
  docs/how-to/operations/manage-flyio-proxy.md
  docs/reference/infrastructure/routing.md
  docs/reference/services/flyio-proxy.md
  docs/reference/services/forgejo.md
  docs/reference/tools/mise-tasks.md
  docs/tutorials/expose-service-publicly.md
  fly/nginx.conf
  fly/start.sh
  mise-tasks/fly-reload
Due: docs-check-filenames, docs-check-links, docs-check-index

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
