Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

Add changelog fragment for Frigate memory limit bump
  docs/changelog.d/frigate-memory.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix Frigate database path to use persistent volume
  argocd/manifests/frigate/frigate-config.yml
  docs/changelog.d/main.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Use towncrier orphan fragment naming for C0 changes
  CLAUDE.md
  docs/changelog.d/+changelog-subdir-hook.infra.md
  docs/changelog.d/+frigate-db-path.bugfix.md
  docs/changelog.d/+orphan-fragment-convention.doc.md
  docs/how-to/agent-change-process.md
  docs/tutorials/ai-assistance-guide.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade Transmission to 4.1.1 (#282)
  argocd/manifests/torrent/kustomization.yaml
  containers/transmission/Dockerfile
  docs/changelog.d/feature-transmission-review.infra.md
  docs/reference/services/transmission.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Review upgrade-grafana doc: fix image tag ref, add sidecar link
  docs/changelog.d/+review-upgrade-grafana.doc.md
  docs/how-to/grafana/upgrade-grafana.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Add Ollama reference card and update indexes
  docs/changelog.d/+ollama-reference-card.doc.md
  docs/reference/kubernetes/apps.md
  docs/reference/reference.md
  docs/reference/services/ollama.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add qwen3.5:9b to Ollama model list
  argocd/manifests/ollama/models.txt
Due: none

Retire plans directory, convert migrate-forgejo-from-brew to mikado card
  docs/changelog.d/+retire-plans-directory.doc.md
  docs/how-to/authentik/deploy-authentik.md
  docs/how-to/configuration/manage-forgejo-mirrors.md
  docs/how-to/forgejo/migrate-forgejo-from-brew.md
  docs/how-to/how-to.md
  docs/how-to/plans/add-unifi-pulumi-stack.md
  docs/how-to/plans/completed/adopt-dagger-ci.md
  docs/how-to/plans/completed/adopt-oidc-provider.md
  docs/how-to/plans/completed/completed.md
  docs/how-to/plans/completed/operationalize-reolink-camera.md
  docs/how-to/plans/completed/segment-home-network.md
  docs/how-to/plans/migrate-forgejo-from-brew.md
  docs/how-to/plans/plans.md
  docs/how-to/plans/upstream-fork-strategy.md
  docs/reference/infrastructure/unifi.md
  docs/reference/services/frigate.md
  docs/reference/tools/dagger.md
  docs/tutorials/exploring-the-docs.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Remove mikado frontmatter from closed chains, clarify finalization rules
  docs/changelog.d/+mikado-finalization-cleanup.doc.md
  docs/how-to/agent-change-process.md
  docs/how-to/authentik/authentik-api-client-generation.md
  docs/how-to/authentik/authentik-go-server-derivation.md
  docs/how-to/authentik/authentik-python-backend-derivation.md
  docs/how-to/authentik/authentik-web-ui-derivation.md
  docs/how-to/authentik/build-authentik-from-source.md
  docs/how-to/authentik/deploy-authentik.md
  docs/how-to/forgejo-runner/upgrade-k8s-runner.md
  docs/how-to/grafana/upgrade-grafana.md
  docs/how-to/zot/add-container-version-sync-check.md
  docs/how-to/zot/add-dagger-nix-build.md
  docs/how-to/zot/adopt-commit-based-container-tags.md
  mise-tasks/ai-docs
  mise-tasks/mikado-branch-invariant-check
Due: docs-check-filenames, docs-check-links, docs-check-index

Add OOMKill observability to Kubernetes Clusters dashboard
  argocd/manifests/grafana-config/dashboards/configmap-kubernetes.yaml
  docs/changelog.d/+oomkill-dashboard.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Replace OOMKilled stat with detail table, shrink waiting reason panel
  argocd/manifests/grafana-config/dashboards/configmap-kubernetes.yaml
Due: none

Replace transmission-exporter with homegrown Python exporter (#283)
  argocd/manifests/torrent/deployment.yaml
  argocd/manifests/torrent/kustomization.yaml
  containers/transmission-exporter/Dockerfile
  containers/transmission-exporter/exporter.py
  docs/changelog.d/feature-transmission-exporter-python.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Pin transmission-exporter image tag to v1.0.0-f2704b2
  argocd/manifests/torrent/kustomization.yaml
Due: none

Fix per-torrent rate panels showing cumulative bytes instead of rates
  argocd/manifests/grafana-config/dashboards/configmap-transmission.yaml
  containers/transmission-exporter/exporter.py
  docs/changelog.d/+transmission-rate-metrics.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Bump transmission-exporter to v1.0.1
  containers/transmission-exporter/Dockerfile
  service-versions.yaml
Due: none

Pin transmission-exporter image tag to v1.0.1-c93448f
  argocd/manifests/torrent/kustomization.yaml
Due: none

Bump kiwix-serve from 3.8.1 to 3.8.2
  containers/kiwix-serve/Dockerfile
  docs/changelog.d/+kiwix-382.infra.md
  docs/reference/services/kiwix.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Remove suggestion to run prek manually from README
  README.md
Due: none

Pin kiwix-serve image tag to v3.8.2-f6f0f79
  argocd/manifests/kiwix/kustomization.yaml
Due: none

Review migrate-forgejo-from-brew doc, fix stale Phase 3 reference
  ansible/roles/forgejo/defaults/main.yml
  docs/how-to/forgejo/migrate-forgejo-from-brew.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Add Authentik OIDC login for ArgoCD (#284)
  argocd/manifests/argocd/argocd-cm-patch.yaml
  argocd/manifests/argocd/argocd-rbac-cm-patch.yaml
  argocd/manifests/argocd/external-secret-oidc-authentik.yaml
  argocd/manifests/argocd/kustomization.yaml
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/authentik/external-secret.yaml
  docs/changelog.d/feature-argocd-authentik-oidc.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add ExternalSecret default fields to prevent ArgoCD drift
  argocd/manifests/argocd/external-secret-oidc-authentik.yaml
Due: none

Upgrade Dagger from v0.19.11 to v0.20.0 (#285)
  .dagger/uv.lock
  dagger.json
  docs/changelog.d/feature-dagger-v0.20.infra.md
  mise.toml
Due: docs-check-filenames, docs-check-links, docs-check-index

Add OpenTelemetry distributed tracing (Tempo + Beyla eBPF) (#286)
  argocd/apps/alloy-tracing-ringtail.yaml
  argocd/apps/tempo.yaml
  argocd/manifests/alloy-tracing-ringtail/config.alloy
  argocd/manifests/alloy-tracing-ringtail/daemonset.yaml
  argocd/manifests/alloy-tracing-ringtail/kustomization.yaml
  argocd/manifests/alloy-tracing-ringtail/rbac.yaml
  argocd/manifests/grafana-config/dashboards/configmap-tempo.yaml
  argocd/manifests/grafana-config/kustomization.yaml
  argocd/manifests/grafana/datasources.yaml
  argocd/manifests/prometheus/prometheus.yml
  argocd/manifests/tempo/ingress-tailscale-otlp.yaml
  argocd/manifests/tempo/ingress-tailscale.yaml
  argocd/manifests/tempo/kustomization.yaml
  argocd/manifests/tempo/service.yaml
  argocd/manifests/tempo/statefulset.yaml
  argocd/manifests/tempo/tempo.yaml
  docs/changelog.d/feature-otel-tracing.feature.md
  docs/reference/kubernetes/apps.md
  docs/reference/operations/observability.md
  docs/reference/reference.md
  docs/reference/services/grafana.md
  docs/reference/services/tempo.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Bump runner-job-image Dagger CLI from 0.19.11 to 0.20.0
  containers/runner-job-image/Dockerfile
  docs/changelog.d/+runner-job-image-dagger-0.20.bugfix.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Update forgejo-runner job image to v0.20.0-448689b
  argocd/manifests/forgejo-runner/deployment.yaml
Due: none

Update docs release to v1.13.0
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/+changelog-subdir-hook.infra.md
  docs/changelog.d/+frigate-db-path.bugfix.md
  docs/changelog.d/+kiwix-382.infra.md
  docs/changelog.d/+mikado-finalization-cleanup.doc.md
  docs/changelog.d/+ollama-reference-card.doc.md
  docs/changelog.d/+oomkill-dashboard.infra.md
  docs/changelog.d/+orphan-fragment-convention.doc.md
  docs/changelog.d/+retire-plans-directory.doc.md
  docs/changelog.d/+review-upgrade-grafana.doc.md
  docs/changelog.d/+runner-job-image-dagger-0.20.bugfix.md
  docs/changelog.d/+transmission-rate-metrics.bugfix.md
  docs/changelog.d/changelog-all-levels.doc.md
  docs/changelog.d/feature-argocd-authentik-oidc.feature.md
  docs/changelog.d/feature-dagger-v0.20.infra.md
  docs/changelog.d/feature-forge-public.feature.md
  docs/changelog.d/feature-grafana-sidecar.infra.md
  docs/changelog.d/feature-ha-cv-docs-zero-downtime.infra.md
  docs/changelog.d/feature-loki-container.infra.md
  docs/changelog.d/feature-ollama-ringtail.feature.md
  docs/changelog.d/feature-otel-tracing.feature.md
  docs/changelog.d/feature-transmission-exporter-python.infra.md
  docs/changelog.d/feature-transmission-review.infra.md
  docs/changelog.d/forgejo-proxy-dashboard.feature.md
  docs/changelog.d/frigate-memory.infra.md
  docs/changelog.d/gandi-bookmark.infra.md
  docs/changelog.d/implicit-octal.infra.md
  docs/changelog.d/upgrade-teslamate-v3.0.0.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review how-to index: strip prose, add last-reviewed
  docs/how-to/how-to.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update ringtail flake inputs
  nixos/ringtail/flake.lock
Due: none

Add :kustomized sentinel tag to manifest images, review devpi
  argocd/manifests/alloy-k8s/daemonset.yaml
  argocd/manifests/alloy-ringtail/daemonset.yaml
  argocd/manifests/alloy-tracing-ringtail/daemonset.yaml
  argocd/manifests/authentik/deployment-redis.yaml
  argocd/manifests/authentik/deployment-server.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/cv/deployment.yaml
  argocd/manifests/devpi/statefulset.yaml
  argocd/manifests/docs/deployment.yaml
  argocd/manifests/forgejo-runner/deployment.yaml
  argocd/manifests/frigate/deployment-notify.yaml
  argocd/manifests/frigate/deployment.yaml
  argocd/manifests/grafana/deployment.yaml
  argocd/manifests/homepage/deployment.yaml
  argocd/manifests/kiwix/cronjob-zim-watcher.yaml
  argocd/manifests/kiwix/deployment.yaml
  argocd/manifests/kube-state-metrics-ringtail/deployment.yaml
  argocd/manifests/kube-state-metrics/deployment.yaml
  argocd/manifests/loki/statefulset.yaml
  argocd/manifests/miniflux/deployment.yaml
  argocd/manifests/mosquitto/deployment.yaml
  argocd/manifests/navidrome/deployment.yaml
  argocd/manifests/ntfy/deployment.yaml
  argocd/manifests/nvidia-device-plugin/daemonset.yaml
  argocd/manifests/ollama/deployment.yaml
  argocd/manifests/prometheus/statefulset.yaml
  argocd/manifests/tailscale-operator-base/kustomization.yaml
  argocd/manifests/tailscale-operator-base/operator.yaml
  argocd/manifests/tailscale-operator-base/proxyclass.yaml
  argocd/manifests/tempo/statefulset.yaml
  argocd/manifests/teslamate/deployment.yaml
  argocd/manifests/torrent/deployment.yaml
  docs/changelog.d/+kustomized-image-tags.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Add spider-trap guards to docs.eblu.me Quartz nginx config
  containers/quartz/default.conf
  docs/changelog.d/+spider-trap-guard.infra.md
  docs/reference/services/flyio-proxy.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs quartz container to v1.28.2-6636576
  argocd/manifests/docs/kustomization.yaml
Due: none

Update docs release to v1.13.1
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/+kustomized-image-tags.infra.md
  docs/changelog.d/+spider-trap-guard.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Replace spider-trap nginx 404s with robots.txt disallowing /explorer/
  containers/quartz/default.conf
  docs/changelog.d/+robots-txt-explorer.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs quartz container to v1.28.2-b64010b
  argocd/manifests/docs/kustomization.yaml
Due: none

Update docs release to v1.13.2
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/+robots-txt-explorer.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add how-to guide for upgrading Dagger
  docs/changelog.d/+upgrade-dagger-howto.doc.md
  docs/how-to/dagger/upgrade-dagger.md
  docs/how-to/how-to.md
  docs/reference/tools/dagger.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Bump runner-job-image Dagger CLI from 0.20.0 to 0.20.1
  containers/runner-job-image/Dockerfile
  service-versions.yaml
Due: none

Upgrade Dagger engine from v0.20.0 to v0.20.1
  argocd/manifests/forgejo-runner/deployment.yaml
  dagger.json
  docs/reference/tools/dagger.md
  mise.toml
Due: docs-check-filenames, docs-check-links, docs-check-index

Add changelog fragment for Dagger v0.20.1 upgrade
  docs/changelog.d/+upgrade-dagger-v0.20.1.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
