Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

Update ringtail flake inputs (2026-10-04, scheduled flake-update)
  nixos/ringtail/flake.lock
Due: none

fix(flake-update): tell the reviewer to close/reopen before merging
  docs/changelog.d/fix-flake-update-reopen-callout.bugfix.md
  docs/how-to/ringtail/manage-lockfile.md
  nixos/ringtail/flake-update-verify
  tests/test_flake_update_verify.py
Due: docs-check-filenames, docs-check-links, docs-check-index

borgmatic: fix operational repo layout, creation, and monitoring
  ansible/roles/alloy/defaults/main.yml
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/tasks/main.yml
  ansible/roles/borgmatic/templates/talos-data.yaml.j2
  ansible/roles/borgmatic_metrics/defaults/main.yml
  argocd/manifests/grafana-ringtail/alerting.yaml
  darwin/indri/mcquack-borgmatic-metrics.sh
  docs/changelog.d/agent-borgmatic-tier-split.infra.md
  docs/how-to/mealie/restore-from-borg.md
  docs/how-to/pulumi/restore-pulumi-state.md
  docs/reference/services/audiobookshelf.md
  docs/reference/services/borgmatic.md
  docs/reference/services/mealie.md
  docs/reference/services/navidrome.md
  docs/reference/storage/backups.md
  mise-tasks/pulumi-restore-check
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

forgejo_runner: retire Docker Desktop management; zot mirror moves to the colima profile
  ansible/roles/forgejo_runner/defaults/main.yml
  ansible/roles/forgejo_runner/handlers/main.yml
  ansible/roles/forgejo_runner/tasks/main.yml
  ansible/roles/forgejo_runner/templates/colima.yaml.j2
  ansible/roles/forgejo_runner/templates/config.yaml.j2
  docs/changelog.d/agent-retire-docker-desktop.infra.md
  docs/how-to/forgejo-runner/configure-launchd-runner.md
  docs/how-to/operations/restart-indri.md
  docs/how-to/ringtail/retire-minikube.md
  docs/reference/infrastructure/indri.md
  docs/reference/services/forgejo-runner.md
  docs/reference/services/forgejo.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(ntfy): pin real npmDepsHash/vendorHash from TOFU build
  containers/ntfy/default.nix
Due: none

infra(ntfy): bump v2.24.0 → v2.28.0 (recurring service review)
  containers/ntfy/default.nix
  docs/changelog.d/recurring-reviews-2026-10-05.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(ntfy): pin image v2.28.0-2288d19-nix
  argocd/manifests/ntfy/kustomization.yaml
  docs/changelog.d/ntfy-release-v2.28.0.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(indri): move all four borgmatic LaunchAgents to nix-darwin (PR 11)
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/tasks/main.yml
  darwin/indri/configuration.nix
  docs/changelog.d/agent-indri-borgmatic-darwin.infra.md
  docs/how-to/indri/provision.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(indri): move the alloy LaunchAgent and macos-power-metrics daemon to nix-darwin (PR 12)
  ansible/roles/alloy/defaults/main.yml
  ansible/roles/alloy/tasks/main.yml
  darwin/indri/configuration.nix
  docs/changelog.d/agent-indri-alloy-darwin.infra.md
  docs/how-to/indri/provision.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(indri): correct the alloy wave's two reviewer-flagged accuracy claims
  darwin/indri/configuration.nix
  docs/changelog.d/agent-indri-alloy-darwin.infra.md
  docs/how-to/indri/provision.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(infrastructure): keep display size on gilbert model row
  docs/reference/infrastructure/gilbert.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(infrastructure): review gilbert card — fix stale dev-tooling claim
  docs/changelog.d/agent-docs-review-1469.doc.md
  docs/reference/infrastructure/gilbert.md
Due: docs-check-filenames, docs-check-links, docs-check-index

alert: exclude terminal-phase pods from PodNotReady
  argocd/manifests/grafana-ringtail/alerting.yaml
  docs/changelog.d/agent-pod-not-ready-terminal-phase.bugfix.md
  docs/how-to/runbooks/runbook-pod-not-ready.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(frigate): upgrade 0.17.1 to 0.18.0, pre-migrate config
  argocd/manifests/frigate/frigate-config.yml
  argocd/manifests/frigate/kustomization.yaml
  docs/changelog.d/recurring-reviews-2026-10-07.infra.md
  docs/reference/services/frigate.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(grafana): talos token output-share panels
  argocd/manifests/grafana-config-ringtail/dashboards/configmap-talos.yaml
  docs/changelog.d/talos-output-share-panels.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(ci): re-run Docs Checks when a PR body is edited
  .forgejo/workflows/docs-checks.yaml
  docs/changelog.d/docs-checks-pr-edited.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.195-e4cad24-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.195.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

tailnet: add additive tag:talos principal mirroring tag:agent
  docs/changelog.d/agent-talos-tag-additive.infra.md
  docs/reference/tools/mise-tasks.md
  mise-tasks/talos-authkey-sync
  pulumi/tailscale/__main__.py
  pulumi/tailscale/policy.hujson
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(borgmatic): make the append-only flip check-mode safe and loud on read failure
  ansible/roles/borgmatic/tasks/main.yml
Due: ansible-lint

infra(borgmatic): flip the ops repo off append-only so compact actually reclaims; harden the recycle-bin probe
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/tasks/main.yml
  ansible/roles/borgmatic_metrics/templates/borgmatic-metrics.sh.j2
  darwin/indri/mcquack-borgmatic-metrics.sh
  docs/changelog.d/agent-borgmatic-ops-rotation.infra.md
  docs/reference/services/borgmatic.md
  docs/reference/storage/backups.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(borgmatic): address the review follow-ups — recycle-bin gauge, mount guard, repo-create scoping, alert dedup
  ansible/roles/borgmatic/tasks/main.yml
  ansible/roles/borgmatic_metrics/defaults/main.yml
  ansible/roles/borgmatic_metrics/templates/borgmatic-metrics.sh.j2
  argocd/manifests/grafana-ringtail/alerting.yaml
  darwin/indri/mcquack-borgmatic-metrics.sh
  docs/changelog.d/agent-borgmatic-ops-rotation.infra.md
  docs/reference/services/borgmatic.md
  docs/reference/storage/backups.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(borgmatic): enable rotation on the operational tier — create, prune, compact
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/templates/borgmatic-ops.plist.j2
  ansible/roles/borgmatic/templates/operational.yaml.j2
  darwin/indri/configuration.nix
  docs/changelog.d/agent-borgmatic-ops-rotation.infra.md
  docs/reference/services/borgmatic.md
  docs/reference/storage/backups.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs+infra(talos): reaped-session restore runbook + reaper env
  argocd/manifests/talos/deployment.yaml
  docs/changelog.d/agent-reaper-restore-runbook.infra.md
  docs/reference/services/borgmatic.md
  docs/reference/storage/backups.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(talos): restore runbook — live exemption ends at pod restart
  argocd/manifests/talos/deployment.yaml
  docs/reference/storage/backups.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(talos): reaper runbook nits — 'idle for', drop fix-branch name
  docs/reference/storage/backups.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: review backup card, correct backup-target claim, stamp last-reviewed
  docs/changelog.d/agent-doc-review-backup-2026-10-08.doc.md
  docs/reference/operations/backup.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): turn off lane shaping
  argocd/manifests/talos/lanes.json
  docs/changelog.d/talos-shaping-off.infra.md
  docs/reference/services/talos.md
Due: docs-check-filenames, docs-check-links, docs-check-index

tailnet: cut the talos egress gateway over from tag:agent to tag:talos
  argocd/apps/talos.yaml
  argocd/manifests/talos/deployment.yaml
  argocd/manifests/talos/egress-gateway-deployment.yaml
  argocd/manifests/talos/external-secret-ts-talos-authkey.yaml
  argocd/manifests/talos/kustomization.yaml
  argocd/manifests/talos/networkpolicy.yaml
  argocd/manifests/talos/serviceaccount.yaml
  docs/changelog.d/agent-talos-tag-cutover.infra.md
  docs/explanation/agent-containerization.md
  docs/explanation/security-model.md
  docs/explanation/talos-design.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/reference/infrastructure/tailscale.md
  docs/reference/services/talos.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(darwin): write down indri-build's unprivileged Nix access (#1358)
  darwin/indri/configuration.nix
  docs/changelog.d/agent-indri-build-nix-trust.infra.md
  docs/reference/infrastructure/indri.md
  docs/reference/services/forgejo-runner.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(darwin): indri-build's nix builds are unsandboxed with network as nixbld (#1358)
  darwin/indri/configuration.nix
  docs/reference/services/forgejo-runner.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): session reaper live — flip TALOS_SESSION_REAPER_DRY_RUN to 0
  argocd/manifests/talos/deployment.yaml
  docs/changelog.d/agent-reaper-dry-run-flip.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

tailnet: drop the retired tag:agent principal (cleanup)
  docs/changelog.d/agent-talos-tag-cleanup.infra.md
  docs/explanation/security-model.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/reference/infrastructure/agent-workspaces.md
  docs/reference/tools/mise-tasks.md
  mise-tasks/agent-authkey-sync
  mise-tasks/zot-apikey-rotate
  pulumi/tailscale/__main__.py
  pulumi/tailscale/policy.hujson
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(backups): fix reaped-session restore runbook from acceptance run
  docs/changelog.d/docs-reaper-restore-acceptance.doc.md
  docs/reference/storage/backups.md
Due: docs-check-filenames, docs-check-links, docs-check-index

borgmatic: fix photos test-restore TCC + alert on it
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/templates/borgmatic-verify-photos.plist.j2
  ansible/roles/borgmatic/templates/borgmatic-verify-photos.sh.j2
  ansible/roles/borgmatic_metrics/templates/borgmatic-metrics.sh.j2
  argocd/manifests/grafana-ringtail/alerting.yaml
  darwin/indri/configuration.nix
  darwin/indri/mcquack-borgmatic-metrics.sh
  docs/changelog.d/agent-borgmatic-verify-tcc-fix.infra.md
  docs/how-to/indri/provision.md
  docs/reference/services/borgmatic.md
  docs/reference/storage/backups.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs: review homepage, stay on v1.13.2, add reference card
  docs/changelog.d/recurring-reviews-2026-10-08.infra.md
  docs/reference/infrastructure/routing.md
  docs/reference/kubernetes/apps.md
  docs/reference/services/homepage.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

workflows: run the PR-triggerable indri jobs on indri-build
  .forgejo/workflows/build-blumeops.yaml
  .forgejo/workflows/forge-reconcile.yaml
  .forgejo/workflows/indri-flake-check.yaml
  .forgejo/workflows/lint.yaml
  .forgejo/workflows/provision-indri.yaml
  docs/changelog.d/agent-indri-priv-branch-split.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.196-9fbcdb7-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.196.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

borgmatic: fix the verify LaunchAgent interpreter path (#1417)
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/tasks/main.yml
  darwin/indri/configuration.nix
  docs/changelog.d/fix-borgmatic-verify-python-path.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(talos): egress-gateway ts sidecar readiness probe
  argocd/manifests/talos/egress-gateway-deployment.yaml
  argocd/manifests/talos/egress-gateway-networkpolicy.yaml
  docs/changelog.d/agent-egress-gateway-ts-readiness.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index
