Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

fix(borgmatic): Running-pod filter for the tar and sqlite dump hooks too
  ansible/roles/borgmatic/templates/k8s-sqlite-dump.sh.j2
  ansible/roles/borgmatic/templates/k8s-tar-dump.sh.j2
  docs/changelog.d/+borgmatic-k8s-dump-running-pods.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs(audiobookshelf): scheduled backup must be enabled in the UI
  docs/changelog.d/+audiobookshelf-backup-enable-note.doc.md
  docs/reference/services/audiobookshelf.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(indri): forgejo unit to nix-darwin — PR 8 of the series
  ansible/roles/forgejo/defaults/main.yml
  ansible/roles/forgejo/tasks/main.yml
  darwin/indri/configuration.nix
  docs/changelog.d/agent-indri-forgejo-darwin.infra.md
  docs/how-to/indri/provision.md
  docs/reference/infrastructure/indri.md
  docs/reference/services/forgejo.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(argocd): add ci-argocd + talos-argocd-readonly accounts — additive rename leg (blumeops#1163 step 3)
  argocd/manifests/argocd/argocd-cm-patch.yaml
  argocd/manifests/argocd/argocd-rbac-cm-patch.yaml
  docs/changelog.d/agent-argocd-principals-step3-additive.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.28-ee1c5a1-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.28.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(warrant): revision=declared for argocd-deploy — sync a tag-tracking app without re-pointing it
  .forgejo/workflows/argocd-deploy.yaml
  mise-tasks/request-run
  mise-tasks/verify-runs
  tests/test_request_run_binding.py
  tests/test_verify_runs_audit.py
  warrant-policy.yaml
Due: none

docs(warrant): name revision=declared for tag-tracking app deploys
  AGENTS.md
  docs/how-to/operations/request-a-privileged-run.md
  docs/reference/services/argocd.md
  docs/reference/services/external-secrets-operator.md
Due: docs-check-filenames, docs-check-links, docs-check-index

chore(changelog): fragment for argocd-deploy revision=declared
  docs/changelog.d/agent-argocd-revision-declared.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(nvidia-device-plugin): pin gpu-husk-reaper kubectl image
  argocd/manifests/nvidia-device-plugin/kustomization.yaml
  docs/changelog.d/fix-gpu-husk-reaper-image-pin.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(argocd-deploy): resolve the declared targetRevision with jq, not python3
  .forgejo/workflows/argocd-deploy.yaml
  docs/changelog.d/fix-argocd-deploy-declared-jq.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(authentik): keep the buildLayeredImage layers note in the reference card
  docs/reference/services/authentik.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(authentik): delete the redundant migrate-grafana-to-authentik card
  docs/changelog.d/agent-docs-review-migrate-grafana.doc.md
  docs/how-to/authentik/migrate-grafana-to-authentik.md
  docs/reference/services/authentik.md
  docs/reference/services/grafana.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(grafana): fix drifted Grafana paths in the migrate-grafana-to-authentik card
  docs/changelog.d/agent-docs-review-migrate-grafana.doc.md
  docs/how-to/authentik/migrate-grafana-to-authentik.md
Due: docs-check-filenames, docs-check-links, docs-check-index

review(heph): reconcile tracking to v1.10.5, bump ringtail spokes in step
  docs/changelog.d/recurring-reviews-2026-09-20.infra.md
  docs/reference/infrastructure/indri.md
  docs/reference/services/hephaestus.md
  nixos/ringtail/heph-common.nix
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.29-b68cac5-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.29.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.156-8dbdb26-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.156.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

warrant: provision-indri — warrant-gated nix-darwin generation apply
  .forgejo/workflows/provision-indri.yaml
  AGENTS.md
  docs/changelog.d/agent-provision-indri-warrant.infra.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/how-to/indri/provision.md
  docs/how-to/operations/request-a-privileged-run.md
  mise-tasks/provision-indri
  warrant-policy.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(alloy): probe the indri-local Caddy-fronted surface
  argocd/manifests/alloy-ringtail/config.alloy
  docs/changelog.d/agent-alloy-blackbox-public.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

ci(argocd): cut workflows over to the ci-argocd token item
  .forgejo/workflows/argocd-deploy.yaml
  .forgejo/workflows/argocd-sync-apps.yaml
  docs/changelog.d/agent-argocd-principals-step3-ci-cutover.infra.md
  docs/how-to/operations/blumeops-ci-item-migration.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.159-28e4fbd-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.159.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

talos: 40Gi ephemeral-storage limit + /tmp on the PVC (subPath .tmp)
  argocd/manifests/talos/deployment.yaml
  docs/changelog.d/agent-talos-ephemeral-40gi-tmp-pvc.infra.md
  docs/reference/services/talos.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: runbook the public blackbox probes + 502-vs-refused triage
  docs/changelog.d/agent-blackbox-probe-runbook.doc.md
  docs/how-to/runbooks/runbook-service-probe-failure.md
Due: docs-check-filenames, docs-check-links, docs-check-index

chore(ringtail): update flake inputs (nixpkgs, disko)
  nixos/ringtail/flake.lock
Due: none

verify-runs: keep the binding audit on settled successes; never close on an unrecognized outcome
  mise-tasks/verify-runs
  tests/test_request_run_origin_issue.py
  tests/test_verify_runs_audit.py
Due: none

Wire horkos settlement end-to-end from blumeops
  .forgejo/workflows/horkos-forge-drift.yaml
  argocd/manifests/talos/repos.json
  docs/changelog.d/agent-horkos-settlement-companion.feature.md
  docs/changelog.d/agent-horkos-settlement-companion.infra.md
  docs/explanation/freestanding-repos.md
  docs/how-to/operations/add-a-freestanding-repo.md
  docs/how-to/operations/request-a-privileged-run.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  mise-tasks/agent-repo-access
  mise-tasks/horkos-forge-drift
  mise-tasks/request-run
  mise-tasks/verify-runs
  tests/test_agent_repo_access.py
  tests/test_horkos_forge_drift.py
  tests/test_request_run_origin_issue.py
  tests/test_verify_runs_audit.py
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.161-f198bbe-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.161.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): downward-API ephemeral-limit env + store-watermark alert rule
  argocd/manifests/grafana-ringtail/alerting.yaml
  argocd/manifests/talos/deployment.yaml
  docs/changelog.d/agent-talos-store-watermark-rule.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(power): record the 2026-09 UPS split
  docs/changelog.d/docs-power-2026-09.doc.md
  docs/reference/infrastructure/power.md
  docs/reference/infrastructure/unifi.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: PR bodies end at the merge — the three-shape rule replaces "Remaining steps (human)"
  AGENTS.md
  docs/changelog.d/agent-pr-after-merge-steps-issue.doc.md
  docs/how-to/operations/request-a-privileged-run.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.163-00e59a7-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.163.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

ci: tee the after-merge body error into the reported log tail
  .forgejo/workflows/docs-checks.yaml
Due: none

ci: Docs Checks rejects after-merge sections in PR bodies
  .forgejo/workflows/docs-checks.yaml
  docs/changelog.d/agent-pr-body-no-after-merge.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(restart-ringtail): restore the full torrent-ringtail sync policy after a drain
  docs/changelog.d/docs-restart-ringtail-restore-sync-policy.doc.md
  docs/how-to/ringtail/restart-ringtail.md
Due: docs-check-filenames, docs-check-links, docs-check-index

style: em-dashes in the local-connection comment, matching the file
  .forgejo/workflows/provision-indri.yaml
Due: none

fix(provision-indri): run the CI play over a local connection
  .forgejo/workflows/provision-indri.yaml
  ansible/playbooks/indri.yml
  docs/changelog.d/agent-provision-indri-local-connection.infra.md
  docs/explanation/warrant-approval-gated-runs.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.31-a168059-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.31.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

widen horkos-forge PAT to write:issue for settlement comments
  argocd/manifests/horkos/external-secret-dispatch.yaml
  docs/changelog.d/agent-horkos40-forge-issue-scope.infra.md
  docs/reference/services/horkos.md
  mise-tasks/horkos-forge-drift
  mise-tasks/horkos-forge-provision
  tests/test_horkos_forge_provision.py
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(ringtail-apply): don't restart the in-flight apply in the switch it drives
  .forgejo/workflows/ringtail-rebuild.yaml
  docs/changelog.d/agent-ringtail-apply-no-restart.bugfix.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/how-to/ringtail/restart-ringtail.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(provision-indri): pin the module interpreter; harden the runner against its own reload
  .forgejo/workflows/provision-indri.yaml
  ansible/roles/forgejo_runner/templates/forgejo-runner.plist.j2
  darwin/indri/configuration.nix
  docs/changelog.d/agent-provision-indri-interpreter-hardening.infra.md
  docs/how-to/indri/provision.md
  docs/reference/services/forgejo-runner.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
