Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

fix(dns): apex AAAA to single Fly ingress v6 so the eblu.me cert verifies
  pulumi/gandi/__main__.py
Due: none

fix(factorio): pin ringtail headless server to 2.0.77 to match Steam client
  docs/changelog.d/+factorio-2077-pin.bugfix.md
  nixos/ringtail/factorio.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(factorio): track headless server in service-versions.yaml
  docs/changelog.d/+factorio-service-versions.doc.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(dns): factorio.ops CNAME to ringtail MagicDNS so shared guests can resolve it
  docs/changelog.d/+factorio-dns-cname.bugfix.md
  docs/how-to/ringtail/host-factorio-for-a-guest.md
  pulumi/gandi/__main__.py
Due: docs-check-filenames, docs-check-links, docs-check-index

Agent workspace: parsimony (timberborn-parsimony mod) (#422)
  docs/changelog.d/agent-ws-parsimony.infra.md
  docs/reference/infrastructure/agent-workspaces.md
  nixos/ringtail/agent-workspaces.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(agent-workspaces): single home-base session (agents repo) replaces per-repo servers (#423)
  docs/changelog.d/agent-ws-homebase.infra.md
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
  docs/reference/infrastructure/agent-workspaces.md
  docs/reference/infrastructure/ringtail.md
  nixos/ringtail/agent-workspaces.nix
  nixos/ringtail/configuration.nix
  nixos/ringtail/heph-common.nix
  nixos/ringtail/heph-eblume.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(heph): eblume spoke as a systemd user service (socket path mismatch)
  docs/changelog.d/+eblume-heph-user-spoke.bugfix.md
  docs/reference/infrastructure/ringtail.md
  nixos/ringtail/heph-common.nix
  nixos/ringtail/heph-eblume.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(borgmatic): dump hooks read ringtail k3s via sudo, not locked kubeconfig
  ansible/roles/borgmatic/templates/k8s-file-dump.sh.j2
  ansible/roles/borgmatic/templates/k8s-sqlite-dump.sh.j2
  docs/changelog.d/+borgmatic-k3s-sudo.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Recurring reviews 2026-07-13: service review (7 stalest, author-only) (#424)
  argocd/manifests/argocd/kustomization.yaml
  argocd/manifests/grafana-ringtail/kustomization.yaml
  argocd/manifests/ollama/kustomization.yaml
  containers/grafana/default.nix
  docs/changelog.d/recurring-reviews-2026-07-13-agent-cli.infra.md
  docs/changelog.d/recurring-reviews-2026-07-13.infra.md
  docs/reference/infrastructure/agent-workspaces.md
  nixos/ringtail/agent-workspaces.nix
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(services-check): read k3s via sudo, not the 0600-locked kubeconfig
  docs/changelog.d/+services-check-k3s-sudo.bugfix.md
  mise-tasks/services-check
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(op-backup): note agents vault is covered by the account-wide export
  docs/changelog.d/+op-backup-agents-vault.doc.md
  docs/how-to/operations/run-1password-backup.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Recurring reviews 2026-07-14: immich v3.0.2 upgrade + caddy doc review (#425)
  argocd/manifests/immich-ringtail/kustomization.yaml
  docs/changelog.d/recurring-reviews-2026-07-14.doc.md
  docs/changelog.d/recurring-reviews-2026-07-14.infra.md
  docs/reference/services/caddy.md
  docs/reference/services/immich.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Agent workspaces: native build toolchain for sessions (#426)
  docs/changelog.d/agent-build-toolchain.infra.md
  docs/reference/infrastructure/agent-workspaces.md
  nixos/ringtail/agent-workspaces.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

Manual changes to AGENTS.md
  AGENTS.md
Due: none

Recurring reviews 2026-07-16: 1password-connect service review + mealie doc review (#427)
  docs/changelog.d/recurring-reviews-2026-07-16.doc.md
  docs/reference/services/mealie.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Recurring reviews 2026-07-17: authentik 2026.2.6 bump, apps.md rewrite, flake-update CI workflow (#428)
  .forgejo/workflows/build-container.yaml
  .forgejo/workflows/flake-update.yaml
  argocd/manifests/authentik/kustomization.yaml
  argocd/manifests/grafana-config-ringtail/dashboards/configmap-service-health.yaml
  argocd/manifests/grafana-config-ringtail/kustomization.yaml
  containers/authentik/default.nix
  containers/authentik/python-deps.nix
  containers/authentik/sources.nix
  containers/authentik/webui-deps.nix
  docs/changelog.d/recurring-reviews-2026-07-17.doc.md
  docs/changelog.d/recurring-reviews-2026-07-17.infra.md
  docs/how-to/knowledgebase/review-documentation.md
  docs/how-to/knowledgebase/review-services.md
  docs/how-to/ringtail/manage-lockfile.md
  docs/reference/kubernetes/apps.md
  mise-tasks/runner-logs
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

flake-update: fix pager hang + dagger skip_inputs quoting (#429)
  .forgejo/workflows/flake-update.yaml
  docs/changelog.d/flake-update-fixes-2026-07-17.bugfix.md
  src/blumeops/main.py
Due: docs-check-filenames, docs-check-links, docs-check-index

flake-update: fix input discovery (nix can't readFile a pipe) (#430)
  docs/changelog.d/flake-update-discovery-2026-07-17.bugfix.md
  src/blumeops/main.py
Due: docs-check-filenames, docs-check-links, docs-check-index

Recurring reviews 2026-07-18: flyio-tailscale (1.98 upgrade tested + rolled back), zot doc (#431)
  docs/changelog.d/recurring-reviews-2026-07-18.doc.md
  docs/changelog.d/recurring-reviews-2026-07-18.infra.md
  docs/reference/services/zot.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Recurring reviews 2026-07-19: flyio-nginx 1.30.4 security bump, ai-assistance-guide doc review (#432)
  docs/changelog.d/recurring-reviews-2026-07-19.doc.md
  docs/changelog.d/recurring-reviews-2026-07-19.infra.md
  docs/tutorials/ai-assistance-guide.md
  fly/Dockerfile
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: pin flyctl 0.4.71 in mise.toml (fly-deploy from ringtail)
  docs/changelog.d/+flyctl-mise-pin.infra.md
  mise.toml
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Recurring reviews 2026-07-20: alloy 1.17.1 bump, exploring-the-docs review, compliance all-clear (#433)
  ansible/.ansible/.lock
  docs/changelog.d/recurring-reviews-2026-07-20.doc.md
  docs/changelog.d/recurring-reviews-2026-07-20.infra.md
  docs/tutorials/exploring-the-docs.md
  fly/Dockerfile
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Run Firefox on XWayland to dodge NVIDIA explicit-sync deadlock
  docs/changelog.d/+firefox-xwayland-nvidia.bugfix.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(heph): take heph network off self-update; pin versions in IaC (#434)
  ansible/.ansible/.lock
  ansible/roles/heph/defaults/main.yml
  ansible/roles/heph/tasks/main.yml
  ansible/roles/heph/templates/heph.plist.j2
  docs/changelog.d/heph-disable-autoupdate.infra.md
  docs/reference/services/hephaestus.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(agent-workspaces): blumeops via read-only + fork (close CI-secret escalation) (#436)
  AGENTS.md
  docs/changelog.d/agents-blumeops-fork-model.infra.md
  docs/reference/infrastructure/agent-workspaces.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  nixos/ringtail/agent-workspaces.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(ci): push release commits to protected main via whitelisted PAT (fixes run #663) (#435)
  .forgejo/workflows/build-blumeops.yaml
  .forgejo/workflows/cv-deploy.yaml
  ansible/playbooks/indri.yml
  ansible/roles/forgejo_actions_secrets/defaults/main.yml
  docs/changelog.d/+agent-workspaces-main-push.doc.md
  docs/changelog.d/heph-main-push-token.infra.md
  docs/how-to/deployment/create-release-artifact-workflow.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Recurring reviews 2026-07-21: navidrome 0.63.2 security bump (unstable self-pin), paperless doc review (#437)
  .forgejo/workflows/build-container.yaml
  argocd/manifests/navidrome-ringtail/deployment.yaml
  argocd/manifests/navidrome-ringtail/kustomization.yaml
  containers/navidrome/default.nix
  docs/changelog.d/recurring-reviews-2026-07-21.doc.md
  docs/changelog.d/recurring-reviews-2026-07-21.infra.md
  docs/reference/services/navidrome.md
  docs/reference/services/paperless.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(navidrome): mount /tmp emptyDir + Recreate strategy for SQLite migrations (#438)
  argocd/manifests/navidrome-ringtail/deployment.yaml
  docs/changelog.d/navidrome-sqlite-tmp.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

doc(unifi): API read access, firewall posture, IoT SSID compat notes
  docs/changelog.d/+unifi-api-access-doc.doc.md
  docs/reference/infrastructure/unifi.md
Due: docs-check-filenames, docs-check-links, docs-check-index

doc(unifi): Owlet DHCP reservation completed
  docs/reference/infrastructure/unifi.md
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(heph): desktop spoke on ringtail — heph-tui + Alt+' quick capture (#442)
  .gitignore
  docs/changelog.d/heph-desktop-ringtail.feature.md
  docs/reference/services/hephaestus.md
  nixos/ringtail/configuration.nix
  nixos/ringtail/heph-common.nix
  nixos/ringtail/heph-eblume.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

doc(heph): track the heph CLI installs on ringtail and gilbert (#443)
  docs/changelog.d/heph-cli-version-tracking.doc.md
  docs/how-to/knowledgebase/review-services.md
  docs/reference/operations/service-versions.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(ringtail): hourly myeve-heph-sync user timer (EVE state -> heph) (#444)
  docs/changelog.d/myeve-heph-sync.infra.md
  docs/reference/infrastructure/ringtail.md
  nixos/ringtail/configuration.nix
  nixos/ringtail/myeve-heph-sync.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(agent): Tailscale tag:agent identity — foundation for containerized workspace (#445)
  docs/changelog.d/agent-containerize.infra.md
  docs/explanation/agent-containerization.md
  docs/reference/infrastructure/agent-workspaces.md
  pulumi/tailscale/policy.hujson
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(agent): dockerTools image for containerized workspace (step 2) (#446)
  containers/agent-ws/default.nix
  docs/changelog.d/agent-ws-image.infra.md
  docs/explanation/agent-containerization.md
  mise-tasks/container-version-check
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(agent): agent-ws k8s manifests + tag:agent egress (step 3) (#447)
  argocd/apps/agent-ws.yaml
  argocd/manifests/agent-ws/deployment.yaml
  argocd/manifests/agent-ws/external-secret-op-token.yaml
  argocd/manifests/agent-ws/external-secret-ts-authkey.yaml
  argocd/manifests/agent-ws/kustomization.yaml
  argocd/manifests/agent-ws/networkpolicy.yaml
  argocd/manifests/agent-ws/pvc.yaml
  argocd/manifests/agent-ws/serviceaccount.yaml
  containers/agent-ws/default.nix
  docs/changelog.d/agent-ws-manifests.infra.md
  docs/explanation/agent-containerization.md
  mise-tasks/agent-ws-authkey-sync
  pulumi/tailscale/__main__.py
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(agent): retire host workspace service + PVC-chown initContainer (#448)
  ansible/playbooks/ringtail.yml
  argocd/manifests/agent-ws/deployment.yaml
  argocd/manifests/agent-ws/kustomization.yaml
  containers/agent-ws/default.nix
  docs/changelog.d/agent-retire-host-svc.infra.md
  docs/reference/infrastructure/agent-workspaces.md
  nixos/ringtail/agent-heph-spoke.nix
  nixos/ringtail/agent-workspaces.nix
  nixos/ringtail/configuration.nix
  nixos/ringtail/heph-common.nix
  nixos/ringtail/heph-eblume.nix
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(agent-ws): add myeve + timberborn-parsimony to the repo pool (#449)
  .forgejo/workflows/agent-repo-access.yaml
  ansible/roles/forgejo_actions_secrets/defaults/main.yml
  containers/agent-ws/default.nix
  containers/agent-ws/repos.json
  docs/changelog.d/agent-ws-repos.infra.md
  docs/explanation/agent-containerization.md
  docs/reference/infrastructure/agent-workspaces.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  mise-tasks/agent-repo-access
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Rename the CI secret to FORGE_ADMIN_TOKEN (FORGEJO_ prefix is reserved) (#450)
  .forgejo/workflows/agent-repo-access.yaml
  ansible/roles/forgejo_actions_secrets/defaults/main.yml
  docs/changelog.d/forge-admin-token.bugfix.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  mise-tasks/agent-repo-access
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index
