Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

infra(dagger): bump 0.21.8 -> 0.21.9
  ansible/roles/forgejo_runner/defaults/main.yml
  dagger.json
  docs/changelog.d/recurring-reviews-2026-08-30.infra.md
  docs/reference/tools/dagger.md
  mise.toml
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.42-2d9714a-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.42.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.43-da8d73d-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.43.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): deploy egress-gateway pod + fixed-IP service, pin v0.4.43
  argocd/manifests/talos/egress-gateway-deployment.yaml
  argocd/manifests/talos/egress-gateway-networkpolicy.yaml
  argocd/manifests/talos/egress-gateway-service.yaml
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/agent-egress-gateway-deploy.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(ringtail): record PSU model in hardware table
  docs/changelog.d/ringtail-psu-doc.doc.md
  docs/reference/infrastructure/ringtail.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(talos): pin egress-gateway allowed ports explicitly
  argocd/manifests/talos/egress-gateway-deployment.yaml
  docs/changelog.d/egress-gateway-pin-ports.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): stage 2 — agent pod cuts over to the egress gateway
  argocd/manifests/talos/deployment.yaml
  docs/changelog.d/agent-talos-egress-gateway-stage2.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.44-6aff647-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.44.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(talos): no_proxy for cluster-internal OIDC fetch (stage-2 crash loop)
  argocd/manifests/talos/deployment.yaml
  docs/changelog.d/+talos-egress-no-proxy-cluster.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.46-d9a4426-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.46.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): stage 3 — flip the egress fence to deny-by-default
  argocd/manifests/talos/networkpolicy.yaml
  docs/changelog.d/agent-talos-egress-gateway-stage3-fence.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.47-295bdd6-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.47.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

doc(reference): refresh mise-tasks card to live task list
  docs/changelog.d/agent-mise-tasks-card-review.doc.md
  docs/reference/tools/mise-tasks.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(argocd): add PSA warn+audit labels to app namespaces
  argocd/apps/1password-connect-ringtail.yaml
  argocd/apps/alloy-ringtail.yaml
  argocd/apps/alloy-tracing-ringtail.yaml
  argocd/apps/argocd.yaml
  argocd/apps/authentik.yaml
  argocd/apps/cloudnative-pg-ringtail.yaml
  argocd/apps/databases-ringtail.yaml
  argocd/apps/external-secrets-ringtail.yaml
  argocd/apps/frigate.yaml
  argocd/apps/grafana-config-ringtail.yaml
  argocd/apps/grafana-ringtail.yaml
  argocd/apps/homepage.yaml
  argocd/apps/horkos.yaml
  argocd/apps/immich-ringtail.yaml
  argocd/apps/kiwix-ringtail.yaml
  argocd/apps/kube-state-metrics-ringtail.yaml
  argocd/apps/loki-ringtail.yaml
  argocd/apps/mealie-ringtail.yaml
  argocd/apps/miniflux-ringtail.yaml
  argocd/apps/navidrome-ringtail.yaml
  argocd/apps/ntfy.yaml
  argocd/apps/nvidia-device-plugin.yaml
  argocd/apps/ollama.yaml
  argocd/apps/paperless-ringtail.yaml
  argocd/apps/prometheus-ringtail.yaml
  argocd/apps/prowler-ringtail.yaml
  argocd/apps/shower.yaml
  argocd/apps/tailscale-operator-ringtail.yaml
  argocd/apps/talos.yaml
  argocd/apps/tempo-ringtail.yaml
  argocd/apps/teslamate-ringtail.yaml
  argocd/apps/torrent-ringtail.yaml
  argocd/apps/unpoller-ringtail.yaml
  docs/changelog.d/agent-psa-warn-audit-labels.infra.md
  docs/reference/operations/security.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(devpi): bump devpi-server 6.19.3 → 6.20.3 and devpi-web 5.0.2 → 5.1.1
  ansible/roles/devpi/defaults/main.yml
  docs/changelog.d/recurring-reviews-2026-08-31.infra.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(devpi): keep service-versions.yaml notes deployment-focused
  service-versions.yaml
Due: none

fix(devpi): detect uv installs on stderr so the restart handler fires
  ansible/roles/devpi/tasks/main.yml
  docs/changelog.d/fix-devpi-uv-changed-when.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs(review-services): notes field is deployment context, not a review log
  docs/changelog.d/agent-service-review-notes-field.doc.md
  docs/how-to/knowledgebase/review-services.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(ringtail): replace swap-based oomd kill with pressure kill scoped to user.slice
  docs/changelog.d/fix-ringtail-oomd-pressure-kill.infra.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(talos): probe :9464/healthz with a 5s timeout instead of :3000/auth/login
  argocd/manifests/talos/deployment.yaml
  docs/changelog.d/fix-talos-probe-healthz.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.49-7658798-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.49.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(mise): forge API calls use forge.ops.eblu.me — the public name is HTTPS-poison in-cluster
  AGENTS.md
  docs/changelog.d/fix-mise-forge-api-tailnet.bugfix.md
  docs/reference/services/argocd.md
  mise-tasks/branch-cleanup
  mise-tasks/container-build-and-release
  mise-tasks/mirror-create
  mise-tasks/pr-comments
  mise-tasks/request-run
  mise-tasks/runner-logs
  mise-tasks/spork-create
  mise-tasks/verify-runs
  mise-tasks/warrant-bot-drift
  mise-tasks/warrant-bot-provision
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(heph): bump ringtail spoke pin to v1.10.0
  docs/changelog.d/heph-v1.10.0-spokes.infra.md
  nixos/ringtail/heph-common.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.52-79b6160-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.52.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(reference): correct borgmatic card per 2026-09-01 review
  docs/changelog.d/agent-borgmatic-card-review.doc.md
  docs/reference/services/borgmatic.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.53-4fa92d9-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.53.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

birdnet-go: MVP deploy — birds.ops.eblu.me
  ansible/roles/caddy/defaults/main.yml
  argocd/apps/birdnet-go.yaml
  argocd/manifests/birdnet-go/birdnet-go-config.yml
  argocd/manifests/birdnet-go/deployment.yaml
  argocd/manifests/birdnet-go/ingress-tailscale.yaml
  argocd/manifests/birdnet-go/kustomization.yaml
  argocd/manifests/birdnet-go/pvc-data.yaml
  argocd/manifests/birdnet-go/service.yaml
  argocd/manifests/prometheus-ringtail/prometheus.yml
  docs/changelog.d/agent-birdnet-go-mvp.feature.md
  docs/reference/kubernetes/apps.md
  docs/reference/services/birdnet-go.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

birdnet-go: register service in service-versions.yaml
  service-versions.yaml
Due: none

birdnet-go: disable ntfy for now, shorten service-versions note
  argocd/manifests/birdnet-go/birdnet-go-config.yml
  docs/reference/services/birdnet-go.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

chore(service-versions): stamp docs at v1.20.1 (review 2026-09-01)
  docs/changelog.d/agent-docs-stamp-775.doc.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(argocd): PSA step 2 — add restricted-required fields to near-miss workloads
  argocd/manifests/argocd/argocd-security-patch.yaml
  argocd/manifests/argocd/kustomization.yaml
  argocd/manifests/authentik/deployment-redis.yaml
  argocd/manifests/authentik/deployment-server.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/external-secrets/deployment.yaml
  argocd/manifests/frigate/deployment-notify.yaml
  argocd/manifests/frigate/deployment.yaml
  argocd/manifests/grafana-ringtail/deployment.yaml
  argocd/manifests/homepage/deployment.yaml
  argocd/manifests/horkos/deployment.yaml
  argocd/manifests/immich-ringtail/deployment-ml.yaml
  argocd/manifests/immich-ringtail/deployment-server.yaml
  argocd/manifests/immich-ringtail/deployment-valkey.yaml
  argocd/manifests/kiwix-ringtail/cronjob-zim-watcher.yaml
  argocd/manifests/kiwix-ringtail/deployment.yaml
  argocd/manifests/kube-state-metrics-ringtail/deployment.yaml
  argocd/manifests/loki-ringtail/statefulset.yaml
  argocd/manifests/mealie-ringtail/deployment.yaml
  argocd/manifests/miniflux-ringtail/deployment.yaml
  argocd/manifests/navidrome-ringtail/deployment.yaml
  argocd/manifests/ntfy/deployment.yaml
  argocd/manifests/paperless-ringtail/deployment.yaml
  argocd/manifests/prometheus-ringtail/statefulset.yaml
  argocd/manifests/shower/deployment.yaml
  argocd/manifests/tempo-ringtail/statefulset.yaml
  argocd/manifests/teslamate-ringtail/deployment.yaml
  argocd/manifests/torrent-ringtail/deployment.yaml
  argocd/manifests/unpoller-ringtail/deployment.yaml
  docs/changelog.d/agent-psa-step2-restricted-fields.infra.md
  docs/reference/operations/security.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(argocd): roll back PSA restricted fields on eight root-image workloads
  argocd/manifests/authentik/deployment-redis.yaml
  argocd/manifests/frigate/deployment.yaml
  argocd/manifests/immich-ringtail/deployment-ml.yaml
  argocd/manifests/immich-ringtail/deployment-server.yaml
  argocd/manifests/immich-ringtail/deployment-valkey.yaml
  argocd/manifests/mealie-ringtail/deployment.yaml
  argocd/manifests/paperless-ringtail/deployment.yaml
  argocd/manifests/teslamate-ringtail/deployment.yaml
  docs/changelog.d/+psa-step2-runasnonroot-rollback.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(skagit-cce): make the AAR a persistent 'what this was' record
  docs/changelog.d/agent-skagit-cce-watch-retirement.infra.md
  docs/explanation/skagit-cce-ceramics-watch.md
  docs/reference/infrastructure/ringtail.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Retire the Skagit CCE ceramics watch
  docs/changelog.d/agent-skagit-cce-watch-retirement.infra.md
  docs/how-to/ringtail/retire-skagit-cce-watch.md
  docs/reference/infrastructure/ringtail.md
  nixos/ringtail/configuration.nix
  nixos/ringtail/skagit-cce-watch.nix
  nixos/ringtail/skagit-cce-watch.py
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.54-020ec7d-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.54.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Add ringtail-rebuild warrant: agent-requestable nixos-rebuild for ringtail
  .forgejo/workflows/ringtail-rebuild.yaml
  docs/changelog.d/agent-ringtail-rebuild-warrant.infra.md
  docs/explanation/skagit-cce-ceramics-watch.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/how-to/operations/request-a-privileged-run.md
  nixos/ringtail/configuration.nix
  nixos/ringtail/ringtail-apply.sh
  warrant-policy.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

harden(ringtail-rebuild): close the revision injection paths, pin lint on the apply script
  .forgejo/workflows/ringtail-rebuild.yaml
  nixos/ringtail/ringtail-apply.sh
  prek.toml
Due: none

fix(ringtail-rebuild): replace the sudo grant with a polkit-gated root unit
  .forgejo/workflows/ringtail-rebuild.yaml
  docs/changelog.d/agent-ringtail-rebuild-warrant.infra.md
  docs/changelog.d/ringtail-rebuild-polkit.bugfix.md
  docs/explanation/skagit-cce-ceramics-watch.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/how-to/operations/request-a-privileged-run.md
  nixos/ringtail/configuration.nix
  nixos/ringtail/ringtail-apply.sh
  warrant-policy.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(ringtail-apply): create the log dir via tmpfiles, not LogsDirectory
  nixos/ringtail/configuration.nix
Due: none
