Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

Review operations docs: add last-reviewed dates and improve troubleshooting
  docs/how-to/operations/run-1password-backup.md
  docs/how-to/operations/troubleshooting.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade borgmatic 2.0.13 → 2.1.3 (#297)
  docs/changelog.d/upgrade-borgmatic-2.1.3.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Add UnPoller for UniFi network metrics (#298)
  argocd/apps/unpoller.yaml
  argocd/manifests/grafana/deployment.yaml
  argocd/manifests/prometheus/prometheus.yml
  argocd/manifests/unpoller/deployment.yaml
  argocd/manifests/unpoller/external-secret.yaml
  argocd/manifests/unpoller/kustomization.yaml
  argocd/manifests/unpoller/service.yaml
  argocd/manifests/unpoller/up.conf
  containers/unpoller/Dockerfile
  docs/changelog.d/feature-unpoller.feature.md
  docs/reference/infrastructure/unifi.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Update unpoller container tag to main build
  argocd/manifests/unpoller/kustomization.yaml
Due: none

Fix shell syntax error in unpoller dashboard initcontainer
  argocd/manifests/grafana/deployment.yaml
Due: none

Deploy Mealie recipe manager (#299)
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/tasks/main.yml
  ansible/roles/borgmatic/templates/config.yaml.j2
  ansible/roles/caddy/defaults/main.yml
  argocd/apps/mealie.yaml
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/authentik/external-secret.yaml
  argocd/manifests/mealie/deployment.yaml
  argocd/manifests/mealie/external-secret.yaml
  argocd/manifests/mealie/ingress-tailscale.yaml
  argocd/manifests/mealie/kustomization.yaml
  argocd/manifests/mealie/pvc.yaml
  argocd/manifests/mealie/service.yaml
  containers/mealie/Dockerfile
  docs/changelog.d/deploy-mealie.feature.md
  docs/explanation/federated-login.md
  docs/reference/infrastructure/routing.md
  docs/reference/kubernetes/apps.md
  docs/reference/services/borgmatic.md
  docs/reference/services/mealie.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Update Mealie container tag to main build
  argocd/manifests/mealie/kustomization.yaml
Due: none

Add OpenAI integration to Mealie
  argocd/manifests/mealie/deployment.yaml
  argocd/manifests/mealie/external-secret.yaml
Due: none

Add plan-a-meal how-to for Mealie cooking timelines
  docs/how-to/mealie/plan-a-meal.md
  docs/reference/services/mealie.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix plan-a-meal random recipe API queries
  docs/changelog.d/+fix-plan-a-meal-random-query.bugfix.md
  docs/how-to/mealie/plan-a-meal.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review jellyfin and automounter services
  docs/changelog.d/+review-jellyfin-automounter.doc.md
  docs/reference/services/automounter.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Add last-updated subsort to docs-review, review gilbert card
  docs/changelog.d/+docs-review-subsort.doc.md
  docs/reference/infrastructure/gilbert.md
  mise-tasks/docs-review
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.14.2
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/+caddy-v2.11-host-header.bugfix.md
  docs/changelog.d/+docs-review-subsort.doc.md
  docs/changelog.d/+fix-plan-a-meal-random-query.bugfix.md
  docs/changelog.d/+review-jellyfin-automounter.doc.md
  docs/changelog.d/deploy-mealie.feature.md
  docs/changelog.d/externalize-tailscale-operator-base.infra.md
  docs/changelog.d/externalize-teslamate-dashboards.infra.md
  docs/changelog.d/feature-caddy-upgrade-v2.11.2.infra.md
  docs/changelog.d/feature-unpoller.feature.md
  docs/changelog.d/upgrade-borgmatic-2.1.3.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Localize Alloy container image (#300)
  argocd/manifests/alloy-k8s/daemonset.yaml
  argocd/manifests/alloy-k8s/kustomization.yaml
  argocd/manifests/alloy-ringtail/daemonset.yaml
  argocd/manifests/alloy-ringtail/kustomization.yaml
  argocd/manifests/alloy-tracing-ringtail/daemonset.yaml
  argocd/manifests/alloy-tracing-ringtail/kustomization.yaml
  containers/alloy/Dockerfile
  containers/alloy/default.nix
  docs/changelog.d/feature-localize-alloy-container.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update alloy kustomizations to local container tags
  argocd/manifests/alloy-k8s/kustomization.yaml
  argocd/manifests/alloy-ringtail/kustomization.yaml
  argocd/manifests/alloy-tracing-ringtail/kustomization.yaml
Due: none

Fix Frigate crash: re-add required mqtt config section
  argocd/manifests/frigate/frigate-config.yml
  docs/changelog.d/+fix-frigate-mqtt-config.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Bump Frigate retention and add recording health check
  argocd/manifests/frigate/frigate-config.yml
  docs/changelog.d/+frigate-retention-and-check.infra.md
  mise-tasks/services-check
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix borgmatic backup: use correct kubectl context on indri
  ansible/roles/borgmatic/defaults/main.yml
  docs/changelog.d/+fix-borgmatic-kubectl-context.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Reorganize Homepage groups: add Home, move Grafana to Infrastructure
  argocd/manifests/frigate/ingress-tailscale.yaml
  argocd/manifests/grafana-config/ingress-tailscale.yaml
  argocd/manifests/homepage/services.yaml
  argocd/manifests/homepage/settings.yaml
  argocd/manifests/navidrome/ingress-tailscale.yaml
Due: none

Set Homepage to single-column group layout
  argocd/manifests/homepage/settings.yaml
Due: none

Fix Homepage layout: use row style with columns for full-width groups
  argocd/manifests/homepage/settings.yaml
Due: none

Enable equal height tiles in Homepage groups
  argocd/manifests/homepage/settings.yaml
Due: none

Trim Homepage widget metrics for cleaner layout
  argocd/manifests/grafana-config/ingress-tailscale.yaml
  argocd/manifests/homepage/services.yaml
Due: none

Fix Grafana widget fields (lowercase) and hide Miniflux read count
  argocd/manifests/grafana-config/ingress-tailscale.yaml
  argocd/manifests/miniflux/ingress-tailscale.yaml
Due: none

Add Fly.io dashboard to Homepage admin bookmarks
  argocd/manifests/homepage/bookmarks.yaml
Due: none

Rename Borgmatic dashboard to Borg Backups, add duration graph
  argocd/manifests/grafana-config/dashboards/configmap-borgmatic.yaml
Due: none

Rename Borgmatic to Borg Backups on Homepage
  argocd/manifests/homepage/services.yaml
Due: none

Increase Prometheus and Loki data retention
  argocd/manifests/loki/loki-config.yaml
  argocd/manifests/loki/statefulset.yaml
  argocd/manifests/prometheus/statefulset.yaml
  docs/changelog.d/+increase-retention.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Revert PVC size changes, add hostpath comment
  argocd/manifests/loki/statefulset.yaml
  argocd/manifests/prometheus/statefulset.yaml
Due: none

Update retention changelog to reflect final PVC decision
  docs/changelog.d/+increase-retention.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review power.md: add ringtail, mark reviewed
  docs/reference/infrastructure/power.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade Prometheus to v3.10.0 (#301)
  containers/prometheus/Dockerfile
  docs/changelog.d/upgrade-prometheus-3.10.0.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update Prometheus deployment to v3.10.0-0d27797
  argocd/manifests/prometheus/kustomization.yaml
  service-versions.yaml
Due: none

Standardize USAGE pragmas and typer parsing across mise tasks
  docs/changelog.d/+usage-pragma-consistency.misc.md
  mise-tasks/mikado-branch-invariant-check
  mise-tasks/op-backup
  mise-tasks/pr-comments
Due: docs-check-filenames, docs-check-links, docs-check-index

Add Claude Code subagents for infrastructure workflows
  .claude/agents/change-classifier.md
  .claude/agents/doc-reviewer.md
  .claude/agents/infra-health.md
  .claude/agents/mikado-navigator.md
  docs/changelog.d/+claude-code-subagents.ai.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix Grafana starred dashboards lost on pod restart
  argocd/manifests/grafana/deployment.yaml
Due: none

Fix TeslaMate/UnPoller dashboard UID sed clobbering datasource refs
  argocd/manifests/grafana/deployment.yaml
Due: none

Fix UID sed to target root-level dashboard uid only
  argocd/manifests/grafana/deployment.yaml
Due: none

Add consistent OCI labels to all container Dockerfiles
  containers/alloy/Dockerfile
  containers/cv/Dockerfile
  containers/devpi/Dockerfile
  containers/grafana-sidecar/Dockerfile
  containers/grafana/Dockerfile
  containers/homepage/Dockerfile
  containers/kiwix-serve/Dockerfile
  containers/kubectl/Dockerfile
  containers/loki/Dockerfile
  containers/mealie/Dockerfile
  containers/miniflux/Dockerfile
  containers/navidrome/Dockerfile
  containers/nettest/Dockerfile
  containers/ntfy/Dockerfile
  containers/prometheus/Dockerfile
  containers/quartz/Dockerfile
  containers/runner-job-image/Dockerfile
  containers/teslamate/Dockerfile
  containers/transmission-exporter/Dockerfile
  containers/transmission/Dockerfile
  containers/unpoller/Dockerfile
  docs/changelog.d/+oci-labels.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update kustomization tags to OCI-labeled builds (613f05d)
  argocd/manifests/alloy-k8s/kustomization.yaml
  argocd/manifests/alloy-ringtail/kustomization.yaml
  argocd/manifests/alloy-tracing-ringtail/kustomization.yaml
  argocd/manifests/cv/kustomization.yaml
  argocd/manifests/devpi/kustomization.yaml
  argocd/manifests/grafana/kustomization.yaml
  argocd/manifests/homepage/kustomization.yaml
  argocd/manifests/kiwix/kustomization.yaml
  argocd/manifests/loki/kustomization.yaml
  argocd/manifests/mealie/kustomization.yaml
  argocd/manifests/miniflux/kustomization.yaml
  argocd/manifests/navidrome/kustomization.yaml
  argocd/manifests/ntfy/kustomization.yaml
  argocd/manifests/prometheus/kustomization.yaml
  argocd/manifests/teslamate/kustomization.yaml
  argocd/manifests/torrent/kustomization.yaml
  argocd/manifests/unpoller/kustomization.yaml
Due: none
