Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

Update docs release to v1.4.1
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/feature-docs-title-cleanup.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.4.2
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/docs-update-titles.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add how-to guide for public service exposure via Cloudflare (#118)
  docs/changelog.d/docs-expose-service-publicly.doc.md
  docs/how-to/expose-service-publicly.md
  docs/how-to/how-to.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs/expose-service-publicly pt2 - fly.io (#119)
  docs/changelog.d/docs-expose-service-publicly.doc.md
  docs/how-to/expose-service-publicly.md
  docs/how-to/how-to.md
  mise-tasks/docs-check-links
Due: docs-check-filenames, docs-check-links, docs-check-index

Add Fly.io public reverse proxy for docs.eblu.me (#120)
  .forgejo/workflows/deploy-fly.yaml
  Brewfile
  README.md
  ansible/playbooks/indri.yml
  ansible/roles/forgejo_actions_secrets/defaults/main.yml
  argocd/manifests/docs/ingress-tailscale.yaml
  docs/changelog.d/feature-flyio-proxy.doc.md
  docs/changelog.d/feature-flyio-proxy.feature.md
  docs/how-to/expose-service-publicly.md
  docs/how-to/how-to.md
  docs/how-to/manage-flyio-proxy.md
  docs/how-to/update-documentation.md
  docs/index.md
  docs/reference/reference.md
  docs/reference/services/caddy.md
  docs/reference/services/docs.md
  docs/reference/services/flyio-proxy.md
  docs/tutorials/exploring-the-docs.md
  fly/Dockerfile
  fly/fly.toml
  fly/nginx.conf
  fly/start.sh
  mise-tasks/dns-preview
  mise-tasks/dns-up
  mise-tasks/fly-deploy
  mise-tasks/fly-setup
  mise-tasks/fly-shutoff
  mise-tasks/tailnet-preview
  mise-tasks/tailnet-up
  pulumi/gandi/__main__.py
  pulumi/tailscale/.gitignore
  pulumi/tailscale/__main__.py
  pulumi/tailscale/policy.hujson
  pulumi/tailscale/uv.lock
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.5.0
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/docs-expose-service-publicly.doc.md
  docs/changelog.d/feature-flyio-proxy.doc.md
  docs/changelog.d/feature-flyio-proxy.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix Fly.io deploy token quoting (#121)
  ansible/playbooks/indri.yml
Due: ansible-lint

Add docs.eblu.me and Fly.io to services-check (#122)
  docs/changelog.d/fix-services-check-docs.infra.md
  mise-tasks/services-check
Due: docs-check-filenames, docs-check-links, docs-check-index

Add Fly.io proxy observability via embedded Alloy (#123)
  argocd/manifests/grafana-config/dashboards/configmap-docs-apm.yaml
  argocd/manifests/grafana-config/dashboards/configmap-flyio.yaml
  argocd/manifests/grafana-config/kustomization.yaml
  docs/changelog.d/feature-flyio-observability.feature.md
  docs/reference/services/alloy.md
  docs/reference/services/caddy.md
  docs/reference/services/flyio-proxy.md
  docs/reference/services/grafana.md
  docs/reference/services/loki.md
  docs/reference/services/prometheus.md
  fly/Dockerfile
  fly/alloy.river
  fly/nginx.conf
  fly/start.sh
  pulumi/tailscale/policy.hujson
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.5.1
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/feature-flyio-observability.feature.md
  docs/changelog.d/fix-services-check-docs.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Filter blumeops-tasks to hide future-dated tasks (#124)
  docs/changelog.d/feature-blumeops-tasks-due-date-filter.feature.md
  mise-tasks/blumeops-tasks
Due: docs-check-filenames, docs-check-links, docs-check-index

Migrate Ansible op calls to op read URI syntax (#125)
  ansible/playbooks/indri.yml
  ansible/roles/alloy/tasks/main.yml
  ansible/roles/caddy/tasks/main.yml
  ansible/roles/jellyfin_metrics/tasks/main.yml
  docs/changelog.d/op-read-migration.infra.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Restrict flyio-proxy ACLs to dedicated tag:flyio-target endpoints (#126)
  CLAUDE.md
  argocd/manifests/argocd/service-tailscale.yaml
  argocd/manifests/devpi/ingress-tailscale.yaml
  argocd/manifests/docs/ingress-tailscale.yaml
  argocd/manifests/grafana-config/ingress-tailscale.yaml
  argocd/manifests/immich/ingress-tailscale.yaml
  argocd/manifests/kiwix/ingress-tailscale.yaml
  argocd/manifests/loki/ingress-tailscale.yaml
  argocd/manifests/miniflux/ingress-tailscale.yaml
  argocd/manifests/navidrome/ingress-tailscale.yaml
  argocd/manifests/prometheus/ingress-tailscale.yaml
  argocd/manifests/tailscale-operator/kustomization.yaml
  argocd/manifests/tailscale-operator/proxygroup-ingress.yaml
  argocd/manifests/teslamate/ingress-tailscale.yaml
  argocd/manifests/torrent/ingress-tailscale.yaml
  docs/changelog.d/restrict-flyio-proxy-acl.infra.md
  docs/explanation/architecture.md
  docs/explanation/security-model.md
  docs/how-to/expose-service-publicly.md
  docs/how-to/gandi-operations.md
  docs/reference/infrastructure/gandi.md
  docs/reference/infrastructure/indri.md
  docs/reference/infrastructure/routing.md
  docs/reference/infrastructure/tailscale.md
  docs/reference/kubernetes/tailscale-operator.md
  docs/reference/services/caddy.md
  docs/reference/services/flyio-proxy.md
  docs/reference/services/forgejo.md
  fly/alloy.river
  pulumi/tailscale/policy.hujson
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix Immich/Homepage Ingress host matching, add missing service checks (#127)
  argocd/manifests/homepage/ingress-tailscale.yaml
  argocd/manifests/homepage/values.yaml
  argocd/manifests/immich/ingress-tailscale.yaml
  mise-tasks/services-check
Due: none

Fix fly-deploy WARNING by starting nginx before Tailscale (#128)
  docs/changelog.d/fix-fly-deploy-warnings.bugfix.md
  fly/nginx.conf
  fly/start.sh
Due: docs-check-filenames, docs-check-links, docs-check-index

Add docs-review task with last-reviewed frontmatter tracking (#129)
  docs/changelog.d/feature-docs-review-last-reviewed.feature.md
  docs/explanation/architecture.md
  docs/how-to/knowledgebase/review-documentation.md
  docs/tutorials/ai-assistance-guide.md
  mise-tasks/docs-review
  mise-tasks/docs-review-random
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.5.2
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/feature-blumeops-tasks-due-date-filter.feature.md
  docs/changelog.d/feature-docs-review-last-reviewed.feature.md
  docs/changelog.d/fix-fly-deploy-warnings.bugfix.md
  docs/changelog.d/op-read-migration.infra.md
  docs/changelog.d/restrict-flyio-proxy-acl.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Log real client IPs via Fly-Client-IP header (#130)
  argocd/manifests/grafana-config/dashboards/configmap-docs-apm.yaml
  docs/changelog.d/fix-real-client-ip-logging.bugfix.md
  fly/alloy.river
  fly/nginx.conf
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix 502 errors during Fly.io proxy deploys (#131)
  docs/changelog.d/fix-deploy-healthcheck-race.bugfix.md
  fly/nginx.conf
  fly/start.sh
Due: docs-check-filenames, docs-check-links, docs-check-index

Zero-downtime Fly.io deploys (#132)
  docs/changelog.d/fix-zero-downtime-deploy.infra.md
  fly/fly.toml
  fly/nginx.conf
  fly/start.sh
Due: docs-check-filenames, docs-check-links, docs-check-index

Serve friendly error page when Fly.io proxy upstreams are unreachable (#133)
  docs/changelog.d/feature-fly-proxy-error-page.feature.md
  fly/Dockerfile
  fly/error.html
  fly/nginx.conf
Due: docs-check-filenames, docs-check-links, docs-check-index

Operations and observability for sifaka NAS (#135)
  ansible/group_vars/all.yml
  ansible/inventory/group_vars/all.yml
  ansible/inventory/host_vars/sifaka.yml
  ansible/playbooks/sifaka.yml
  ansible/roles/caddy/defaults/main.yml
  ansible/roles/sifaka_exporters/defaults/main.yml
  ansible/roles/sifaka_exporters/handlers/main.yml
  ansible/roles/sifaka_exporters/tasks/main.yml
  argocd/manifests/grafana-config/dashboards/configmap-sifaka-disks.yaml
  argocd/manifests/grafana-config/kustomization.yaml
  argocd/manifests/prometheus/configmap.yaml
  docs/changelog.d/feature-sifaka-ops-observability.feature.md
  docs/reference/infrastructure/routing.md
  docs/reference/storage/sifaka.md
  mise-tasks/provision-sifaka
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Add op-backup mise task for encrypted 1Password disaster recovery (#136)
  Brewfile
  docs/changelog.d/feature-op-backup.feature.md
  mise-tasks/op-backup
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix minikube role skipping start when kubelet/apiserver are stopped (#137)
  ansible/roles/minikube/tasks/main.yml
  docs/changelog.d/fix-minikube-status-check.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Add power infrastructure reference card (#138)
  docs/changelog.d/docs-power-infrastructure.doc.md
  docs/reference/infrastructure/indri.md
  docs/reference/infrastructure/power.md
  docs/reference/reference.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add CNI conflict troubleshooting to restart-indri how-to (#139)
  docs/changelog.d/doc-cni-conflict-troubleshooting.doc.md
  docs/how-to/restart-indri.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add migration plan for Forgejo brew-to-source transition (#140)
  docs/changelog.d/doc-forgejo-brew-migration-plan.doc.md
  docs/how-to/how-to.md
  docs/how-to/plans/migrate-forgejo-from-brew.md
  docs/how-to/plans/plans.md
  docs/tutorials/exploring-the-docs.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add how-to guide for restoring 1Password backup from borgmatic (#141)
  docs/changelog.d/doc-restore-1password-backup.doc.md
  docs/how-to/how-to.md
  docs/how-to/restore-1password-backup.md
  docs/reference/operations/disaster-recovery.md
  docs/reference/services/1password.md
  docs/reference/services/borgmatic.md
  docs/reference/storage/backups.md
  mise-tasks/op-backup
Due: docs-check-filenames, docs-check-links, docs-check-index

Add BorgBase offsite backup repository (#142)
  ansible/playbooks/indri.yml
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/tasks/main.yml
  ansible/roles/borgmatic/templates/borgmatic.plist.j2
  ansible/roles/borgmatic/templates/config.yaml.j2
  docs/changelog.d/feature-borgbase-offsite-backup.feature.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Document op read vs op item get convention (#143)
  CLAUDE.md
  docs/changelog.d/docs-op-read-convention.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update BorgBase repo ID after recreation (#144)
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/tasks/main.yml
Due: ansible-lint

Add plan and reference card for UniFi Express 7 Pulumi stack (#145)
  docs/changelog.d/feature-unifi-pulumi.bugfix.md
  docs/changelog.d/feature-unifi-pulumi.doc.md
  docs/how-to/how-to.md
  docs/how-to/plans/add-unifi-pulumi-stack.md
  docs/how-to/plans/plans.md
  docs/reference/infrastructure/hosts.md
  docs/reference/infrastructure/unifi.md
  docs/reference/reference.md
  mise-tasks/dns-preview
  mise-tasks/dns-up
  mise-tasks/tailnet-preview
  mise-tasks/tailnet-up
Due: docs-check-filenames, docs-check-links, docs-check-index

Doc review for explanation/explanation.md
  docs/explanation/explanation.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Switch CI builds to docker buildx (#146)
  .forgejo/actions/build-push-image/action.yaml
  containers/nettest/Dockerfile
  docs/changelog.d/fix-docker-buildx.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add docker-buildx-plugin to forgejo-runner (#147)
  containers/forgejo-runner/Dockerfile
  docs/changelog.d/fix-docker-buildx-runner.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Bootstrap buildx: revert to docker build, bump runner to v2.5.1 (#148)
  .forgejo/actions/build-push-image/action.yaml
  argocd/manifests/forgejo-runner/external-secret.yaml
Due: none

Restore docker buildx build (#149)
  .forgejo/actions/build-push-image/action.yaml
Due: none

Update docs release to v1.5.3
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/doc-cni-conflict-troubleshooting.doc.md
  docs/changelog.d/doc-forgejo-brew-migration-plan.doc.md
  docs/changelog.d/doc-restore-1password-backup.doc.md
  docs/changelog.d/docs-op-read-convention.doc.md
  docs/changelog.d/docs-power-infrastructure.doc.md
  docs/changelog.d/feature-borgbase-offsite-backup.feature.md
  docs/changelog.d/feature-fly-proxy-error-page.feature.md
  docs/changelog.d/feature-op-backup.feature.md
  docs/changelog.d/feature-sifaka-ops-observability.feature.md
  docs/changelog.d/feature-unifi-pulumi.bugfix.md
  docs/changelog.d/feature-unifi-pulumi.doc.md
  docs/changelog.d/fix-deploy-healthcheck-race.bugfix.md
  docs/changelog.d/fix-docker-buildx-runner.infra.md
  docs/changelog.d/fix-docker-buildx.infra.md
  docs/changelog.d/fix-minikube-status-check.bugfix.md
  docs/changelog.d/fix-real-client-ip-logging.bugfix.md
  docs/changelog.d/fix-zero-downtime-deploy.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add plans for Dagger CI/CD and upstream fork strategy (#150)
  docs/changelog.d/feature-ci-and-fork-plans.doc.md
  docs/how-to/how-to.md
  docs/how-to/plans/adopt-dagger-ci.md
  docs/how-to/plans/plans.md
  docs/how-to/plans/upstream-fork-strategy.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
