Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

agent-repo-access: parse the /actions/secrets body as the bare JSON array Forgejo serves
  docs/changelog.d/agent-actions-secrets-shape.bugfix.md
  mise-tasks/agent-repo-access
  tests/test_agent_repo_access.py
Due: docs-check-filenames, docs-check-links, docs-check-index

authentik: commit the python-deps outputHash from CI TOFU run 3592
  containers/authentik/python-deps.nix
Due: none

authentik: make the python-deps FOD deterministic, then one CI hash-TOFU round
  containers/authentik/python-deps.nix
  docs/changelog.d/agent-authentik-python-deps-hash.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

authentik: re-discover python-deps outputHash; fix stale workflow-name comment
  containers/authentik/default.nix
  containers/authentik/python-deps.nix
  docs/changelog.d/agent-authentik-python-deps-hash.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(forgejo-runner): document the nightly cache sweep in Cache Maintenance
  docs/changelog.d/agent-runner-cache-sweep.infra.md
  docs/reference/services/forgejo-runner.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(forgejo_runner): nightly launchd sweep of leaked uv script envs on indri
  ansible/roles/alloy/defaults/main.yml
  ansible/roles/forgejo_runner/defaults/main.yml
  ansible/roles/forgejo_runner/handlers/main.yml
  ansible/roles/forgejo_runner/tasks/main.yml
  ansible/roles/forgejo_runner/templates/runner-cache-sweep.plist.j2
  ansible/roles/forgejo_runner/templates/runner-cache-sweep.sh.j2
Due: ansible-lint

zot: add ci-tier ci-zot-talos / ci-zot-horkos identities (additive, #1039 step 2b)
  ansible/roles/zot/templates/config.json.j2
  argocd/manifests/authentik/configmap-blueprint.yaml
  docs/changelog.d/agent-zot-ci-identities-additive.infra.md
  docs/reference/services/zot.md
  mise-tasks/zot-apikey-rotate
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(authentik): pin image v2026.2.6-b625956-nix
  argocd/manifests/authentik/kustomization.yaml
  docs/changelog.d/authentik-release-v2026.2.6.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

ansible(forgejo_actions_secrets): authoritative sync — delete undeclared, drift under --check, scoped PAT
  ansible/playbooks/indri.yml
  ansible/roles/forgejo_actions_secrets/defaults/main.yml
  ansible/roles/forgejo_actions_secrets/tasks/main.yml
  docs/changelog.d/authoritative-actions-secrets.infra.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/how-to/operations/blumeops-ci-item-migration.md
  docs/reference/services/forgejo.md
  docs/reference/services/zot.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ci(report-failure): post PR-job failures to the PR; review-triggered talos fix loop
  .forgejo/actions/report-failure/action.yml
  .forgejo/workflows/agent-repo-access.yaml
  .forgejo/workflows/build-container.yaml
  .forgejo/workflows/docs-checks.yaml
  .forgejo/workflows/image-pins.yaml
  .forgejo/workflows/lint.yaml
  docs/changelog.d/agent-ci-failure-report.infra.md
  docs/explanation/agent-change-process.md
  docs/explanation/talos-design.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/reference/services/forgejo.md
  docs/reference/services/talos.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(release-artifact-workflow): update main-push section to the job-time op-read mechanism
  docs/changelog.d/agent-doc-review-2026-09-14.doc.md
  docs/how-to/deployment/create-release-artifact-workflow.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.136-caeadd2-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.136.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

ringtail: roll flake.lock (nixpkgs, home-manager; 2026-09-14 weekly)
  nixos/ringtail/flake.lock
Due: none

infra(talos): pin image v0.4.138-ba84853-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.138.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(indri): feed ZOT_PUSH_API_KEY from the ci-zot-* master fields
  ansible/playbooks/indri.yml
  ansible/roles/forgejo_actions_secrets/defaults/main.yml
  docs/changelog.d/zot-ci-tier-secret-source.infra.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible(forgejo): retire the packages registry
  ansible/roles/forgejo/templates/app.ini.j2
  docs/changelog.d/agent-forgejo-packages-retire.infra.md
  docs/explanation/ai-scraper-mitigation.md
  docs/how-to/deployment/create-release-artifact-workflow.md
  fly/nginx.conf
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

zot: retire the tier-first talos-zot / horkos-zot identities (#1039 step 2b)
  ansible/roles/zot/templates/config.json.j2
  argocd/manifests/authentik/configmap-blueprint.yaml
  docs/changelog.d/zot-retire-tier-first-identities.infra.md
  docs/reference/services/forgejo.md
  docs/reference/services/zot.md
  mise-tasks/zot-apikey-rotate
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.140-e5f9f71-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.140.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(teslamate): fill mixFodDeps FOD hash from CI run 3734
  containers/teslamate/default.nix
Due: none

infra(teslamate): bump nix build v3.0.0 → v4.2.0 (service review 2026-09-14)
  argocd/manifests/grafana-ringtail/deployment.yaml
  containers/teslamate/default.nix
  docs/changelog.d/recurring-reviews-2026-09-14.infra.md
  docs/reference/operations/security.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(teslamate): fill npmDeps FOD hash from CI run 3710
  containers/teslamate/default.nix
Due: none

docs: delete create-authentik-secrets card (scheduled doc review)
  docs/changelog.d/agent-doc-review-create-authentik-secrets.doc.md
  docs/how-to/authentik/create-authentik-secrets.md
  docs/reference/services/authentik.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: document the merge-to-ceremony ESO window and fix the zot-cv-api contradiction (reviewer nits)
  argocd/manifests/horkos/external-secret-zot.yaml
  docs/reference/services/zot.md
Due: docs-check-filenames, docs-check-links, docs-check-index

wording: the tier rationale is that the publisher is horkos, not that each cv release is warrant-dispatched
  argocd/manifests/authentik/configmap-blueprint.yaml
Due: none

zot: add the horkos publisher identity horkos-zot (2b PR 4)
  ansible/roles/zot/templates/config.json.j2
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/horkos/external-secret-zot.yaml
  docs/changelog.d/agent-zot-publisher-identity.infra.md
  docs/reference/services/zot.md
  mise-tasks/zot-apikey-rotate
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(shower): archive the service
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/caddy/defaults/main.yml
  argocd/apps/shower.yaml
  argocd/manifests/alloy-ringtail/config.alloy
  argocd/manifests/alloy-tracing-ringtail/config.alloy
  argocd/manifests/grafana-config-ringtail/dashboards/configmap-shower-apm.yaml
  argocd/manifests/grafana-config-ringtail/kustomization.yaml
  argocd/manifests/shower/configmap.yaml
  argocd/manifests/shower/deployment.yaml
  argocd/manifests/shower/external-secret.yaml
  argocd/manifests/shower/ingress-tailscale.yaml
  argocd/manifests/shower/kustomization.yaml
  argocd/manifests/shower/pv-nfs.yaml
  argocd/manifests/shower/pvc.yaml
  argocd/manifests/shower/service.yaml
  containers/shower/default.nix
  docs/changelog.d/agent-shower-archive.infra.md
  docs/explanation/agent-containerization.md
  docs/explanation/ai-scraper-mitigation.md
  docs/explanation/security-model.md
  docs/how-to/immich/migrate-immich-to-ringtail.md
  docs/how-to/immich/sifaka-nfs-from-ringtail.md
  docs/how-to/operations/photos-public-sharing.md
  docs/how-to/operations/shower-on-ringtail.md
  docs/how-to/ringtail/retire-minikube.md
  docs/how-to/runbooks/runbook-service-probe-failure.md
  docs/reference/infrastructure/agent-workspaces.md
  docs/reference/infrastructure/routing.md
  docs/reference/kubernetes/apps.md
  docs/reference/operations/security.md
  docs/reference/services/automounter.md
  docs/reference/services/borgmatic.md
  docs/reference/services/grafana.md
  docs/reference/services/shower-app.md
  docs/reference/storage/backups.md
  fly/nginx.conf
  mise-tasks/fly-setup
  mise-tasks/services-check
  pulumi/gandi/__main__.py
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(shower): keep archive record + 410 tombstone (review)
  ansible/roles/borgmatic/defaults/main.yml
  docs/changelog.d/agent-shower-archive.infra.md
  docs/reference/infrastructure/routing.md
  docs/reference/services/automounter.md
  docs/reference/services/borgmatic.md
  docs/reference/storage/backups.md
  fly/Dockerfile
  fly/nginx.conf
  fly/tombstone.html
  mise-tasks/fly-setup
  pulumi/gandi/__main__.py
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

horkos-forge-provision: revoke predecessor PATs (one-live-key invariant)
  docs/changelog.d/agent-horkos-rotate-revoke-predecessor.feature.md
  docs/reference/services/horkos.md
  mise-tasks/horkos-forge-provision
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(rip-cd): eject via diskutil with a forced unmount
  docs/changelog.d/rip-resume.bugfix.md
  mise-tasks/rip-cd
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(rip-cd): resume from the first missing track, not from scratch
  docs/changelog.d/rip-resume.bugfix.md
  docs/how-to/operations/rip-a-disc.md
  mise-tasks/rip-cd
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(rip-video): keep makemkvcon's title ids stable between inventory and rip
  docs/changelog.d/rip-video-names.bugfix.md
  docs/how-to/operations/rip-a-disc.md
  mise-tasks/rip-video
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(rip-video-finish): extra:<Name> targets for TV bonus discs
  docs/changelog.d/rip-video-names.bugfix.md
  docs/how-to/operations/rip-a-disc.md
  mise-tasks/rip-video-finish
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(rip-a-disc): bad-pressing recovery via ddrescue image, drive wedge
  docs/changelog.d/rip-video-names.bugfix.md
  docs/how-to/operations/rip-a-disc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(rip-video): one --minlength for the inventory scan and every rip
  docs/changelog.d/rip-video-names.bugfix.md
  mise-tasks/rip-video
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(rip-cd-finish): audiobook mode, one Opus per disc into Audiobooks/
  docs/changelog.d/rip-audiobook.feature.md
  docs/how-to/operations/rip-a-disc.md
  mise-tasks/rip-cd-finish
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.143-d6d095e-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.143.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(ringtail): capture kernel crashes with netconsole, hardlockup panic, journal sync
  docs/changelog.d/agent-netconsole-ringtail.infra.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

ansible: fail closed on failed reads feeding rendered config
  ansible/roles/forgejo_runner/tasks/main.yml
  ansible/roles/heph/defaults/main.yml
  ansible/roles/heph/tasks/main.yml
Due: ansible-lint

docs: model the heph-agents sub as an explicit opt-in
  docs/changelog.d/agent-heph-fail-closed-op-read.bugfix.md
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
  docs/reference/infrastructure/agent-workspaces.md
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(priv-runner): least-priv k3s access for run-script one-off scripts
  docs/changelog.d/agent-priv-runner-kubectl.infra.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/how-to/operations/request-a-privileged-run.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index
