Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

fly: address mirror review — volume-gated init, per-location clone limit, repack, real tailscale state check, ssh host keys on the volume
  docs/changelog.d/agent-fly-mirror-static.infra.md
  docs/how-to/operations/manage-flyio-proxy.md
  fly/Dockerfile
  fly/fly.toml
  fly/git-mirror/README.md
  fly/git-mirror/create-mirror.sh
  fly/git-mirror/post-receive
  fly/nginx.conf
  fly/start.sh
Due: docs-check-filenames, docs-check-links, docs-check-index

fly: build the static forge mirror (staging vhost)
  docs/changelog.d/agent-fly-mirror-static.infra.md
  docs/how-to/operations/manage-flyio-proxy.md
  docs/reference/services/flyio-proxy.md
  fly/Dockerfile
  fly/alloy.river
  fly/fly.toml
  fly/git-mirror/README.md
  fly/git-mirror/assets/favicon.png
  fly/git-mirror/assets/logo.png
  fly/git-mirror/assets/style.css
  fly/git-mirror/authorized_keys
  fly/git-mirror/create-mirror.sh
  fly/git-mirror/gen-index.sh
  fly/git-mirror/post-receive
  fly/git-mirror/repos
  fly/nginx.conf
  fly/start.sh
  mise-tasks/fly-setup
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(ringtail): swap Edifier L/R and auto-reconnect them
  docs/changelog.d/ringtail-edifier-audio.infra.md
  docs/reference/infrastructure/ringtail.md
  nixos/ringtail/audio.nix
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(fly): name the mirror volume git_mirror; fly-setup idempotency
  docs/changelog.d/fly-mirror-volume-name.bugfix.md
  docs/how-to/operations/manage-flyio-proxy.md
  fly/fly.toml
  fly/git-mirror/README.md
  mise-tasks/fly-setup
Due: docs-check-filenames, docs-check-links, docs-check-index

style(fly): taplo alignment
  fly/fly.toml
Due: none

infra(talos): pin image v0.4.170-9ae66ed-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.170.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): enable lane shaping via lanes.json + TALOS_LANES
  argocd/manifests/talos/deployment.yaml
  argocd/manifests/talos/kustomization.yaml
  argocd/manifests/talos/lanes.json
  docs/changelog.d/agent-talos-lane-shaping-on.infra.md
  docs/reference/services/talos.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(indri): move the devpi LaunchAgent to nix-darwin (PR 10 of the nix-darwin series)
  ansible/roles/devpi/defaults/main.yml
  ansible/roles/devpi/tasks/main.yml
  darwin/indri/configuration.nix
  docs/changelog.d/agent-indri-devpi-darwin.infra.md
  docs/how-to/indri/provision.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(fly): install shadow so the mirror user's useradd exists at build
  docs/changelog.d/agent-fly-mirror-useradd.bugfix.md
  fly/Dockerfile
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(grafana): Lanes (shaping) row on the Talos dashboard
  argocd/manifests/grafana-config-ringtail/dashboards/configmap-talos.yaml
  docs/changelog.d/talos-lanes-dashboard.infra.md
  docs/reference/services/talos.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(secrets): follow the Gandi PAT and Tailscale OAuth move to the pulumi-esc vault
  ansible/playbooks/indri.yml
  ansible/roles/caddy/tasks/main.yml
  docs/changelog.d/pulumi-esc-follow-move.infra.md
  docs/how-to/configuration/manage-eblu-me-dns.md
  docs/how-to/configuration/rotate-gandi-pat.md
  docs/how-to/configuration/update-tailscale-acls.md
  docs/reference/infrastructure/gandi.md
  docs/reference/infrastructure/tailscale.md
  mise-tasks/dns-acme-cleanup
  mise-tasks/dns-preview
  mise-tasks/dns-up
  mise-tasks/tailnet-preview
  mise-tasks/tailnet-up
  pulumi/gandi/README.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

backup: fix pulumi-cli derivation — real asset hash + stdenv source-root path
  containers/pulumi-stack-backup/default.nix
Due: none

backup: address review — bake Pulumi.yaml, pv ferry mode, per-kind retention
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/templates/config.yaml.j2
  ansible/roles/borgmatic/templates/k8s-file-dump.sh.j2
  argocd/manifests/pulumi-stack-backup/cronjob.yaml
  containers/pulumi-stack-backup/default.nix
  docs/how-to/pulumi/restore-pulumi-state.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

backup: export Pulumi Cloud stack state + config to borg nightly
  ansible/roles/borgmatic/defaults/main.yml
  argocd/apps/pulumi-stack-backup.yaml
  argocd/manifests/pulumi-stack-backup/cronjob.yaml
  argocd/manifests/pulumi-stack-backup/external-secret.yaml
  argocd/manifests/pulumi-stack-backup/kustomization.yaml
  argocd/manifests/pulumi-stack-backup/pvc.yaml
  containers/pulumi-stack-backup/default.nix
  docs/changelog.d/agent-pulumi-stack-backup.infra.md
  docs/how-to/pulumi/restore-pulumi-state.md
  docs/reference/services/borgmatic.md
  docs/reference/tools/pulumi.md
  mise-tasks/container-version-check
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

backup: pkgs.tar is gone from the pinned nixpkgs — use pkgs.gnutar Build Container eval failed with: attribute 'tar' missing (run 5271, blumeops PR #1301).
  argocd/manifests/pulumi-stack-backup/kustomization.yaml
  containers/pulumi-stack-backup/default.nix
Due: none

docs: match cross-reference casing to Current State heading
  docs/how-to/authentik/provision-authentik-database.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: re-review provision-authentik-database against post-minikube state
  docs/changelog.d/agent-docs-review-2026-09-28.doc.md
  docs/how-to/authentik/provision-authentik-database.md
Due: docs-check-filenames, docs-check-links, docs-check-index

chore(ringtail): update flake inputs (nixpkgs, home-manager)
  nixos/ringtail/flake.lock
Due: none

infra(pulumi-stack-backup): pin image v3.237.0-21f26d6-nix
  argocd/manifests/pulumi-stack-backup/kustomization.yaml
  docs/changelog.d/pulumi-stack-backup-release-v3.237.0.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.171-396c242-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.171.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

chore: fragment cites the tracking issue, not the talos PR
  docs/changelog.d/agent-talos-lanes-hold-panels.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(grafana): hold-time panels on the Talos dashboard Lanes row
  argocd/manifests/grafana-config-ringtail/dashboards/configmap-talos.yaml
  docs/changelog.d/agent-talos-lanes-hold-panels.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

review(loki): bump v3.7.2 -> v3.7.8
  containers/loki/default.nix
  docs/changelog.d/recurring-reviews-2026-09-27.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(pulumi): serve stack provider credentials through Pulumi ESC
  docs/changelog.d/pulumi-esc-wire.infra.md
  docs/how-to/configuration/manage-eblu-me-dns.md
  docs/how-to/configuration/rotate-gandi-pat.md
  docs/how-to/configuration/update-tailscale-acls.md
  docs/reference/tools/pulumi.md
  mise-tasks/dns-preview
  mise-tasks/dns-up
  mise-tasks/pulumi-esc-sync
  mise-tasks/tailnet-preview
  mise-tasks/tailnet-up
  pulumi/esc/dns.yaml
  pulumi/esc/op.yaml
  pulumi/esc/tailnet.yaml
  pulumi/gandi/Pulumi.eblu-me.yaml
  pulumi/gandi/README.md
  pulumi/tailscale/Pulumi.tail8d86e.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(fly): wire the forge push-mirror endpoint (ssh bind, ACL grant, task)
  ansible/roles/forgejo/templates/app.ini.j2
  docs/changelog.d/agent-fly-mirror-push-wiring.infra.md
  docs/reference/infrastructure/tailscale.md
  docs/reference/services/flyio-proxy.md
  docs/reference/tools/mise-tasks.md
  fly/git-mirror/README.md
  fly/start.sh
  mise-tasks/mirror-push-wire
  pulumi/tailscale/policy.hujson
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(fly): push-mirror user, stored address form, create status
  docs/how-to/operations/manage-flyio-proxy.md
  docs/reference/services/flyio-proxy.md
  fly/git-mirror/README.md
  fly/start.sh
  mise-tasks/mirror-push-wire
  pulumi/tailscale/policy.hujson
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(fly): finish the push-wiring doc pass
  fly/git-mirror/README.md
  fly/start.sh
  mise-tasks/mirror-push-wire
Due: none

chore(fly): strip the /32 suffix from tailscale ip -4 output
  fly/start.sh
Due: none

infra(loki): pin image v3.7.8-69f4612-nix
  argocd/manifests/loki-ringtail/kustomization.yaml
  docs/changelog.d/loki-release-v3.7.8.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.33-97fc867-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.33.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

review(automounter): stamp 1.14.1 after App Store update on indri
  docs/changelog.d/agent-automounter-review-stamp-2026-09-28.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(ringtail): rewrite manage-lockfile for the self-verifying flake-update workflow
  docs/changelog.d/agent-auto-merge-flake-update.doc.md
  docs/how-to/ringtail/manage-lockfile.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(ringtail): address review — single H1, full attr path, flag wording, follow-up note
  docs/how-to/ringtail/manage-lockfile.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(authentik): review mirror-authentik-build-deps card
  docs/changelog.d/+docs-review-mirror-authentik-build-deps.doc.md
  docs/how-to/authentik/mirror-authentik-build-deps.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(authentik): full link for the upstream authentik PR
  docs/how-to/authentik/mirror-authentik-build-deps.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(pulumi-stack-backup): fully qualify --stack names
  argocd/manifests/pulumi-stack-backup/cronjob.yaml
  docs/changelog.d/agent-pulumi-stack-backup-stack-name.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(fly): commit the six push-mirror keys, drop the archived kingfisher
  docs/changelog.d/agent-fly-mirror-key-commit.infra.md
  fly/fly.toml
  fly/git-mirror/README.md
  fly/git-mirror/authorized_keys
  fly/git-mirror/create-mirror.sh
  fly/git-mirror/repos
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(indri): correct the sifaka mount script after review
  darwin/indri/mount-sifaka.sh
  docs/reference/services/sifaka-mounter.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(indri): replace AutoMounter with a nix-darwin sifaka mount agent
  darwin/indri/configuration.nix
  darwin/indri/mount-sifaka.sh
  docs/changelog.d/agent-indri-sifaka-mounter.infra.md
  docs/how-to/indri/provision.md
  docs/how-to/operations/restart-indri.md
  docs/how-to/operations/rip-a-disc.md
  docs/reference/infrastructure/indri.md
  docs/reference/services/automounter.md
  docs/reference/services/sifaka-mounter.md
  mise-tasks/rip-cd-finish
  mise-tasks/rip-video-finish
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(indri): sifaka credential verified non-interactive; seeding is contingency-only
  docs/reference/services/sifaka-mounter.md
Due: docs-check-filenames, docs-check-links, docs-check-index
