Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

Deploy Tor Snowflake proxy on ringtail (#311)
  argocd/manifests/alloy-ringtail/config.alloy
  argocd/manifests/alloy-ringtail/daemonset.yaml
  argocd/manifests/grafana-config/dashboards/configmap-snowflake-proxy.yaml
  argocd/manifests/grafana-config/kustomization.yaml
  docs/changelog.d/deploy-snowflake-proxy.feature.md
  docs/reference/infrastructure/ringtail.md
  docs/reference/services/snowflake-proxy.md
  nixos/ringtail/configuration.nix
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade External Secrets Operator v2.2.0 + migrate Helm to kustomize (#312)
  argocd/apps/external-secrets-config-ringtail.yaml
  argocd/apps/external-secrets-config.yaml
  argocd/apps/external-secrets-crds-ringtail.yaml
  argocd/apps/external-secrets-crds.yaml
  argocd/apps/external-secrets-ringtail.yaml
  argocd/apps/external-secrets.yaml
  argocd/manifests/external-secrets/README.md
  argocd/manifests/external-secrets/deployment.yaml
  argocd/manifests/external-secrets/kustomization.yaml
  argocd/manifests/external-secrets/rbac.yaml
  argocd/manifests/external-secrets/service.yaml
  argocd/manifests/external-secrets/serviceaccount.yaml
  argocd/manifests/external-secrets/values.yaml
  argocd/manifests/external-secrets/webhook.yaml
  docs/changelog.d/upgrade-external-secrets-v2.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Review kubernetes-bootstrap tutorial: fix inaccuracies
  docs/tutorials/replication/kubernetes-bootstrap.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review tailscale-setup tutorial: fix inaccuracies
  docs/changelog.d/+review-tailscale-setup.doc.md
  docs/tutorials/replication/tailscale-setup.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade Homepage container to v1.11.0
  containers/homepage/Dockerfile
  docs/changelog.d/+homepage-v1.11.0.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Deploy Homepage v1.11.0-e375859
  argocd/manifests/homepage/kustomization.yaml
Due: none

Add preserve/* branch protection and document Pyroscope blocker
  docs/changelog.d/+branch-cleanup-preserve.misc.md
  docs/reference/operations/observability.md
  mise-tasks/branch-cleanup
Due: docs-check-filenames, docs-check-links, docs-check-index

Tighten ArgoCDAppOutOfSync alert timing to clear faster after sync
  argocd/manifests/grafana/alerting.yaml
  docs/changelog.d/+tune-argocd-outofsync-alert.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Reduce PodNotReady alert lookback from 5m to 60s
  argocd/manifests/grafana/alerting.yaml
  docs/changelog.d/+podnotready-lookback.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review CV doc and close build-dep review gap
  docs/changelog.d/+cv-doc-review.doc.md
  docs/how-to/knowledgebase/review-services.md
  docs/reference/services/cv.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade nvidia-device-plugin v0.18.2 → v0.19.0 and add reference card
  argocd/manifests/nvidia-device-plugin/kustomization.yaml
  docs/changelog.d/+nvidia-device-plugin-v0.19.0.infra.md
  docs/reference/services/frigate.md
  docs/reference/services/nvidia-device-plugin.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Update ringtail flake inputs (nixpkgs, home-manager)
  docs/changelog.d/+update-ringtail-flake.infra.md
  nixos/ringtail/flake.lock
Due: docs-check-filenames, docs-check-links, docs-check-index

Add ringtail post-deploy maintenance: kernel check, generation pruning, GC
  docs/changelog.d/+ringtail-post-deploy-maintenance.infra.md
  docs/how-to/ringtail/manage-lockfile.md
  mise-tasks/prune-ringtail-generations
Due: docs-check-filenames, docs-check-links, docs-check-index

Add QArt Tuner: QR code art generator with interactive web UI
  docs/changelog.d/+qart-tuner.feature.md
  docs/reference/tools/mise-tasks.md
  docs/reference/tools/qart-tuner.md
  utils/qart/.gitignore
  utils/qart/README.md
  utils/qart/go.mod
  utils/qart/go.sum
  utils/qart/main.go
  utils/qart/mise.toml
Due: docs-check-filenames, docs-check-links, docs-check-index

Add borgmatic backups for authentik and immich databases (#314)
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/tasks/main.yml
  ansible/roles/caddy/defaults/main.yml
  argocd/manifests/databases/external-secret-immich-borgmatic.yaml
  argocd/manifests/databases/immich-pg.yaml
  argocd/manifests/databases/kustomization.yaml
  argocd/manifests/databases/service-immich-pg-tailscale.yaml
  docs/changelog.d/feature-borgmatic-all-pg-backups.infra.md
  docs/reference/storage/backups.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Add offsite backup for immich photo library to BorgBase (#315)
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/handlers/main.yml
  ansible/roles/borgmatic/tasks/main.yml
  ansible/roles/borgmatic/templates/borgmatic-photos.plist.j2
  ansible/roles/borgmatic/templates/photos.yaml.j2
  ansible/roles/borgmatic_metrics/defaults/main.yml
  ansible/roles/borgmatic_metrics/templates/borgmatic-metrics.sh.j2
  argocd/manifests/grafana-config/dashboards/configmap-borgmatic.yaml
  docs/changelog.d/immich-photos-backup.feature.md
  docs/reference/services/borgmatic.md
  docs/reference/storage/backups.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Fix Immich resource limits and probe timeouts
  argocd/manifests/immich/values.yaml
Due: none

Add changelog for Immich resource/probe fix
  docs/changelog.d/+immich-resource-probes.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Migrate Forgejo from Homebrew to source build (#316)
  ansible/roles/forgejo/defaults/main.yml
  ansible/roles/forgejo/handlers/main.yml
  ansible/roles/forgejo/tasks/main.yml
  ansible/roles/forgejo/templates/forgejo.plist.j2
  docs/changelog.d/build-forgejo-from-source.infra.md
  docs/how-to/operations/restart-indri.md
  docs/reference/services/forgejo.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Update services-check: forgejo uses launchctl not brew
  mise-tasks/services-check
Due: none

Document sifaka NFS/Tailscale TUN troubleshooting
  docs/how-to/operations/troubleshoot-sifaka-nfs.md
  docs/reference/storage/sifaka.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.15.1
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/+branch-cleanup-preserve.misc.md
  docs/changelog.d/+cv-doc-review.doc.md
  docs/changelog.d/+homepage-v1.11.0.infra.md
  docs/changelog.d/+immich-resource-probes.infra.md
  docs/changelog.d/+nvidia-device-plugin-v0.19.0.infra.md
  docs/changelog.d/+podnotready-lookback.infra.md
  docs/changelog.d/+qart-tuner.feature.md
  docs/changelog.d/+review-tailscale-setup.doc.md
  docs/changelog.d/+ringtail-post-deploy-maintenance.infra.md
  docs/changelog.d/+tune-argocd-outofsync-alert.infra.md
  docs/changelog.d/+update-ringtail-flake.infra.md
  docs/changelog.d/build-forgejo-from-source.infra.md
  docs/changelog.d/deploy-snowflake-proxy.feature.md
  docs/changelog.d/feature-borgmatic-all-pg-backups.infra.md
  docs/changelog.d/immich-photos-backup.feature.md
  docs/changelog.d/upgrade-external-secrets-v2.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add Kingfisher secret scanner to prek hooks
  docs/changelog.d/+kingfisher-prek.feature.md
  prek.toml
Due: docs-check-filenames, docs-check-links, docs-check-index

Add Kingfisher secret scanner CronJob (#317)
  argocd/apps/kingfisher.yaml
  argocd/manifests/kingfisher/cronjob.yaml
  argocd/manifests/kingfisher/external-secret.yaml
  argocd/manifests/kingfisher/kustomization.yaml
  argocd/manifests/kingfisher/pv-nfs.yaml
  argocd/manifests/kingfisher/pvc.yaml
  docs/changelog.d/feature-kingfisher-cronjob.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Document Kingfisher secret scanner service
  docs/changelog.d/+kingfisher-docs.doc.md
  docs/reference/operations/security.md
  docs/reference/services/kingfisher.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Simplify Kingfisher CronJob to HTML-only output
  argocd/manifests/kingfisher/cronjob.yaml
  docs/reference/services/kingfisher.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add spork strategy: tooling and documentation
  docs/changelog.d/+spork-strategy.feature.md
  docs/explanation/spork-strategy.md
  docs/how-to/configuration/create-a-spork.md
  docs/how-to/configuration/manage-forgejo-mirrors.md
  docs/how-to/configuration/manage-spork-branches.md
  mise-tasks/spork-create
Due: docs-check-filenames, docs-check-links, docs-check-index

spork-create: bail if local clone already exists
  mise-tasks/spork-create
Due: none

spork-create: preflight all checks before any mutations
  mise-tasks/spork-create
Due: none

spork-create: enable Actions on fork after creation
  mise-tasks/spork-create
Due: none

spork-create: fix ambiguous main branch checkout in mirror-sync template
  mise-tasks/spork-create
Due: none

Document Spork Attack supply-chain risk
  docs/explanation/spork-strategy.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Note upstream history rewrite as a spork sync failure mode
  docs/how-to/configuration/manage-spork-branches.md
Due: docs-check-filenames, docs-check-links, docs-check-index

spork-create: check for conflicting branch names before sporking
  mise-tasks/spork-create
Due: none

Fix DinD seccomp profile broken by RuntimeDefault rollout
  argocd/manifests/forgejo-runner/deployment.yaml
Due: none

Skip kingfisher in CI container builds
  .forgejo/workflows/build-container.yaml
Due: none

Revert kingfisher skip in container build workflow
  .forgejo/workflows/build-container.yaml
Due: none

Build custom Kingfisher container from sporked deploy branch (#318)
  CLAUDE.md
  argocd/apps/kingfisher.yaml
  argocd/manifests/kingfisher/cronjob.yaml
  argocd/manifests/kingfisher/kustomization.yaml
  argocd/manifests/kingfisher/pv-nfs.yaml
  containers/kingfisher/Cargo.lock
  containers/kingfisher/default.nix
  docs/changelog.d/feature-kingfisher-container.feature.md
  docs/explanation/spork-strategy.md
  docs/how-to/configuration/build-spork-container.md
  docs/reference/services/kingfisher.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Deploy custom Kingfisher container v165768b-f9206bf-nix
  argocd/manifests/kingfisher/kustomization.yaml
Due: none

Fix Kingfisher container: add bash and coreutils for CronJob shell
  argocd/manifests/kingfisher/cronjob.yaml
  containers/kingfisher/default.nix
Due: none
