Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

Update docs and kiwix kustomization tags to 613f05d builds
  argocd/manifests/docs/kustomization.yaml
  argocd/manifests/kiwix/kustomization.yaml
Due: none

Update loki to 3.6.7 (#302)
  containers/loki/Dockerfile
  update-loki-3.6.7.infra.md
Due: none

C0 update deployment for loki to 3.6.7
  argocd/manifests/loki/kustomization.yaml
Due: none

Update service-versions.yaml for loki
  service-versions.yaml
Due: none

agent memory ignore
  .gitignore
Due: none

Improve Frigate health checks to catch NFS and camera failures
  docs/changelog.d/+frigate-health-checks.infra.md
  mise-tasks/services-check
Due: docs-check-filenames, docs-check-links, docs-check-index

C2: Deploy infrastructure alerting pipeline (#303)
  argocd/manifests/alloy-k8s/config.alloy
  argocd/manifests/grafana/alerting.yaml
  argocd/manifests/grafana/deployment.yaml
  argocd/manifests/grafana/grafana.ini
  argocd/manifests/grafana/kustomization.yaml
  argocd/manifests/prometheus/prometheus.yml
  docs/changelog.d/mikado-deploy-infra-alerting.feature.md
  docs/how-to/runbooks/configure-grafana-alerting-pipeline.md
  docs/how-to/runbooks/deploy-infra-alerting.md
  docs/how-to/runbooks/first-alert-and-runbook.md
  docs/how-to/runbooks/port-services-check-alerts.md
  docs/how-to/runbooks/refactor-services-check-to-query-alerts.md
  docs/how-to/runbooks/runbook-argocd-out-of-sync.md
  docs/how-to/runbooks/runbook-frigate-camera-down.md
  docs/how-to/runbooks/runbook-pod-not-ready.md
  docs/how-to/runbooks/runbook-postgres-unhealthy.md
  docs/how-to/runbooks/runbook-service-probe-failure.md
  docs/how-to/runbooks/runbook-textfile-stale.md
  docs/reference/operations/observability.md
  mise-tasks/services-check
Due: docs-check-filenames, docs-check-links, docs-check-index

Update ringtail flake inputs
  nixos/ringtail/flake.lock
Due: none

Review and correct Tailscale reference doc
  docs/changelog.d/+tailscale-doc-review.doc.md
  docs/reference/infrastructure/tailscale.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.14.3
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/+claude-code-subagents.ai.md
  docs/changelog.d/+fix-borgmatic-kubectl-context.bugfix.md
  docs/changelog.d/+fix-frigate-mqtt-config.bugfix.md
  docs/changelog.d/+frigate-health-checks.infra.md
  docs/changelog.d/+frigate-retention-and-check.infra.md
  docs/changelog.d/+increase-retention.infra.md
  docs/changelog.d/+oci-labels.infra.md
  docs/changelog.d/+tailscale-doc-review.doc.md
  docs/changelog.d/+usage-pragma-consistency.misc.md
  docs/changelog.d/feature-localize-alloy-container.infra.md
  docs/changelog.d/mikado-deploy-infra-alerting.feature.md
  docs/changelog.d/upgrade-prometheus-3.10.0.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade Tailscale operator v1.94.2 → v1.96.3 (#304)
  argocd/manifests/tailscale-operator-base/kustomization.yaml
  argocd/manifests/tailscale-operator-base/proxyclass.yaml
  docs/changelog.d/upgrade-tailscale-operator-1.96.3.infra.md
  fly/start.sh
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Revert Tailscale operator to v1.94.2 — images not yet published
  argocd/manifests/tailscale-operator-base/kustomization.yaml
  argocd/manifests/tailscale-operator-base/proxyclass.yaml
  docs/changelog.d/upgrade-tailscale-operator-1.96.3.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Revert fly/start.sh to polling loop — tailscale wait needs v1.96.2+
  fly/start.sh
Due: none

Fix ArgoCD apps app permanent OutOfSync
  argocd/apps/tailscale-operator-ringtail.yaml
  argocd/apps/tailscale-operator.yaml
  docs/changelog.d/+fix-apps-outofsync.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review 12 reference docs: fix stale image refs, expand stubs, add cross-refs
  .claude/agents/doc-reviewer.md
  docs/changelog.d/+doc-review-march-2026.doc.md
  docs/reference/kubernetes/external-secrets.md
  docs/reference/operations/backup.md
  docs/reference/operations/disaster-recovery.md
  docs/reference/services/devpi.md
  docs/reference/services/docs.md
  docs/reference/services/immich.md
  docs/reference/services/jellyfin.md
  docs/reference/services/loki.md
  docs/reference/services/miniflux.md
  docs/reference/services/prometheus.md
  docs/reference/services/teslamate.md
  docs/reference/storage/sifaka.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade ntfy v2.17.0 → v2.19.2 (#305)
  argocd/manifests/ntfy/kustomization.yaml
  containers/ntfy/Dockerfile
  containers/ntfy/default.nix
  docs/changelog.d/upgrade-ntfy-v2.19.2.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Update ntfy tag to main build v2.19.2-d1dac0c-nix
  argocd/manifests/ntfy/kustomization.yaml
Due: none

Unify container build workflows (#306)
  .forgejo/workflows/build-container-nix.yaml
  .forgejo/workflows/build-container.yaml
  containers/nettest/Dockerfile
  containers/nettest/default.nix
  containers/nettest/test-connectivity.sh
  docs/changelog.d/unify-container-workflows.infra.md
  docs/how-to/deployment/build-container-image.md
  docs/how-to/zot/add-container-version-sync-check.md
  docs/how-to/zot/add-dagger-nix-build.md
  docs/how-to/zot/pin-container-versions.md
  docs/reference/tools/dagger.md
  mise-tasks/container-version-check
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix authentik worker OOMKill: limit concurrency to 2
  argocd/manifests/authentik/deployment-worker.yaml
  docs/changelog.d/+authentik-worker-concurrency.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add Grafana alerts dashboard for mobile-friendly alert overview
  argocd/manifests/grafana-config/dashboards/configmap-alerts.yaml
  argocd/manifests/grafana-config/kustomization.yaml
  docs/changelog.d/+alerts-dashboard.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Move Alerts dashboard into Infrastructure Alerts folder
  argocd/manifests/grafana-config/dashboards/configmap-alerts.yaml
Due: none

Upgrade Frigate 0.17.0-rc2 → 0.17.1, add motion retention tier
  argocd/manifests/frigate/frigate-config.yml
  argocd/manifests/frigate/kustomization.yaml
  docs/changelog.d/+frigate-0.17.1.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Review ArgoCD config tutorial: fix sync policy, typo, add cross-references
  docs/changelog.d/+argocd-config-doc-review.doc.md
  docs/tutorials/replication/argocd-config.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update tooling dependencies (March 2026) (#307)
  .forgejo/workflows/branch-cleanup.yaml
  .forgejo/workflows/build-blumeops.yaml
  .forgejo/workflows/build-container.yaml
  .forgejo/workflows/cv-deploy.yaml
  .forgejo/workflows/deploy-fly.yaml
  docs/changelog.d/update-tooling-deps-2026-03.infra.md
  fly/Dockerfile
  mise-tasks/blumeops-tasks
  mise-tasks/branch-cleanup
  mise-tasks/container-build-and-release
  mise-tasks/container-list
  mise-tasks/container-version-check
  mise-tasks/docs-check-frontmatter
  mise-tasks/docs-check-links
  mise-tasks/docs-mikado
  mise-tasks/docs-preview
  mise-tasks/docs-review
  mise-tasks/docs-review-stale
  mise-tasks/docs-review-tags
  mise-tasks/mikado-branch-invariant-check
  mise-tasks/op-backup
  mise-tasks/pr-comments
  mise-tasks/runner-logs
  mise-tasks/service-review
  prek.toml
Due: docs-check-filenames, docs-check-links, docs-check-index

Decommission JobSync service (#308)
  ansible/roles/caddy/defaults/main.yml
  argocd/apps/jobsync.yaml
  argocd/manifests/homepage/services.yaml
  argocd/manifests/jobsync/deployment.yaml
  argocd/manifests/jobsync/external-secret.yaml
  argocd/manifests/jobsync/ingress-tailscale.yaml
  argocd/manifests/jobsync/kustomization.yaml
  argocd/manifests/jobsync/pvc.yaml
  argocd/manifests/jobsync/service.yaml
  containers/jobsync/default.nix
  containers/jobsync/entrypoint.sh
  docs/changelog.d/decommission-jobsync.infra.md
  docs/how-to/jobsync/build-jobsync-container.md
  docs/how-to/jobsync/deploy-jobsync.md
  docs/reference/infrastructure/ringtail.md
  docs/reference/services/jobsync.md
  mise-tasks/services-check
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Localize authentik-redis container (#309)
  .forgejo/workflows/build-container.yaml
  argocd/manifests/authentik/kustomization.yaml
  containers/alloy/default.nix
  containers/authentik-redis/default.nix
  containers/authentik/default.nix
  containers/ntfy/default.nix
  docs/changelog.d/localize-redis.infra.md
  docs/how-to/knowledgebase/review-services.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Update container tags to fd0bebb (post-merge rebuild)
  argocd/manifests/alloy-k8s/kustomization.yaml
  argocd/manifests/alloy-ringtail/kustomization.yaml
  argocd/manifests/alloy-tracing-ringtail/kustomization.yaml
  argocd/manifests/authentik/kustomization.yaml
  argocd/manifests/ntfy/kustomization.yaml
Due: none

Deploy Prowler CIS scanner (#310)
  argocd/apps/prowler.yaml
  argocd/manifests/prowler/cronjob.yaml
  argocd/manifests/prowler/kustomization.yaml
  argocd/manifests/prowler/pv-nfs.yaml
  argocd/manifests/prowler/pvc.yaml
  argocd/manifests/prowler/rbac.yaml
  argocd/manifests/prowler/serviceaccount.yaml
  containers/prowler/Dockerfile
  docs/changelog.d/deploy-prowler.feature.md
  docs/how-to/operations/deploy-prowler.md
  docs/how-to/operations/read-compliance-reports.md
  docs/reference/kubernetes/apps.md
  docs/reference/operations/security.md
  docs/reference/services/prowler.md
  mise-tasks/container-build-and-release
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Update container tags to d021b35 (post-merge rebuild)
  argocd/manifests/prowler/kustomization.yaml
Due: none

Add RuntimeDefault seccomp profiles to all managed workloads
  argocd/manifests/cv/deployment.yaml
  argocd/manifests/devpi/statefulset.yaml
  argocd/manifests/docs/deployment.yaml
  argocd/manifests/forgejo-runner/deployment.yaml
  argocd/manifests/frigate/deployment.yaml
  argocd/manifests/homepage/deployment.yaml
  argocd/manifests/kiwix/cronjob-zim-watcher.yaml
  argocd/manifests/kiwix/deployment.yaml
  argocd/manifests/loki/statefulset.yaml
  argocd/manifests/mealie/deployment.yaml
  argocd/manifests/miniflux/deployment.yaml
  argocd/manifests/navidrome/deployment.yaml
  argocd/manifests/ntfy/deployment.yaml
  argocd/manifests/ollama/deployment.yaml
  argocd/manifests/prometheus/statefulset.yaml
  argocd/manifests/prowler/cronjob.yaml
  argocd/manifests/tempo/statefulset.yaml
  argocd/manifests/teslamate/deployment.yaml
  argocd/manifests/torrent/deployment.yaml
  argocd/manifests/unpoller/deployment.yaml
  docs/changelog.d/+seccomp-profiles.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add Prowler image vulnerability scanning for blumeops containers
  argocd/manifests/prowler/cronjob-image-scan.yaml
  argocd/manifests/prowler/kustomization.yaml
  containers/prowler/Dockerfile
  docs/changelog.d/+prowler-image-scan.feature.md
  docs/how-to/operations/deploy-prowler.md
  docs/how-to/operations/read-compliance-reports.md
  docs/reference/operations/security.md
  docs/reference/services/prowler.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add Prowler IaC scanning of blumeops repo (Saturday 2am)
  argocd/manifests/prowler/cronjob-iac-scan.yaml
  argocd/manifests/prowler/kustomization.yaml
  docs/changelog.d/+prowler-iac-scan.feature.md
  docs/how-to/operations/deploy-prowler.md
  docs/how-to/operations/read-compliance-reports.md
  docs/reference/operations/security.md
  docs/reference/services/prowler.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update prowler container tag to 6960243 (with Trivy)
  argocd/manifests/prowler/kustomization.yaml
Due: none

Fix prowler image scan registry URL (add https:// scheme)
  argocd/manifests/prowler/cronjob-image-scan.yaml
Due: none

Fix prowler image and IaC scan arguments
  argocd/manifests/prowler/cronjob-iac-scan.yaml
  argocd/manifests/prowler/kustomization.yaml
Due: none

Work around Prowler --registry bug with init container
  argocd/manifests/prowler/cronjob-image-scan.yaml
Due: none

Add kubectl image tag to prowler kustomization
  argocd/manifests/prowler/kustomization.yaml
Due: none

Use prowler image for registry enumeration init container
  argocd/manifests/prowler/cronjob-image-scan.yaml
  argocd/manifests/prowler/kustomization.yaml
Due: none

Include link to upstream prowler issue
  argocd/manifests/prowler/cronjob-image-scan.yaml
Due: none

Update docs release to v1.15.0
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/+alerts-dashboard.feature.md
  docs/changelog.d/+argocd-config-doc-review.doc.md
  docs/changelog.d/+authentik-worker-concurrency.bugfix.md
  docs/changelog.d/+doc-review-march-2026.doc.md
  docs/changelog.d/+fix-apps-outofsync.bugfix.md
  docs/changelog.d/+frigate-0.17.1.infra.md
  docs/changelog.d/+prowler-iac-scan.feature.md
  docs/changelog.d/+prowler-image-scan.feature.md
  docs/changelog.d/+seccomp-profiles.infra.md
  docs/changelog.d/decommission-jobsync.infra.md
  docs/changelog.d/deploy-prowler.feature.md
  docs/changelog.d/localize-redis.infra.md
  docs/changelog.d/unify-container-workflows.infra.md
  docs/changelog.d/update-tooling-deps-2026-03.infra.md
  docs/changelog.d/upgrade-ntfy-v2.19.2.infra.md
  docs/changelog.d/upgrade-tailscale-operator-1.96.3.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index
