Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

Document AirPlay cross-VLAN firewall rules and fix rule ordering
  docs/changelog.d/main.infra.md
  docs/how-to/plans/completed/segment-home-network.md
  docs/reference/infrastructure/unifi.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Switch prometheus, teslamate, miniflux to forge mirrors
  containers/miniflux/Dockerfile
  containers/prometheus/Dockerfile
  containers/teslamate/Dockerfile
Due: none

Update homepage, navidrome, ntfy, miniflux image tags after mirror migration
  argocd/manifests/homepage/kustomization.yaml
  argocd/manifests/miniflux/kustomization.yaml
  argocd/manifests/navidrome/kustomization.yaml
  argocd/manifests/ntfy/kustomization.yaml
Due: none

Add mirror-create mise task for upstream mirrors
  mise-tasks/mirror-create
Due: none

Add mise-tasks reference card and include in ai-docs
  docs/reference/reference.md
  docs/reference/tools/mise-tasks.md
  mise-tasks/ai-docs
Due: docs-check-filenames, docs-check-links, docs-check-index

Update prometheus and teslamate image tags after mirror migration
  argocd/manifests/prometheus/kustomization.yaml
  argocd/manifests/teslamate/kustomization.yaml
Due: none

Add changelog fragments for C0 commits in this session
  docs/changelog.d/main.mirror-create-task.feature.md
  docs/changelog.d/main.mirror-image-tags.infra.md
  docs/changelog.d/main.mirror-remaining-containers.infra.md
  docs/changelog.d/main.mise-tasks-ref.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix mirror org refs in ArgoCD apps and widen credential template (#266)
  ansible/roles/alloy/defaults/main.yml
  argocd/apps/1password-connect-ringtail.yaml
  argocd/apps/1password-connect.yaml
  argocd/apps/cloudnative-pg.yaml
  argocd/apps/external-secrets-crds-ringtail.yaml
  argocd/apps/external-secrets-crds.yaml
  argocd/apps/external-secrets-ringtail.yaml
  argocd/apps/external-secrets.yaml
  argocd/apps/immich.yaml
  argocd/manifests/argocd/README.md
  argocd/manifests/argocd/external-secret-repo-forge.yaml
  argocd/manifests/immich/values.yaml
  docs/changelog.d/fix-mirror-org-refs.infra.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Review 3 how-to docs and fix update-tailscale-acls inaccuracies
  docs/changelog.d/doc-review-2025-02-25.doc.md
  docs/how-to/authentik/provision-authentik-database.md
  docs/how-to/configuration/update-tailscale-acls.md
  docs/how-to/configuration/use-pypi-proxy.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.11.4
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/doc-review-2025-02-25.doc.md
  docs/changelog.d/feature-container-tag-provenance.doc.md
  docs/changelog.d/feature-kustomize-images-configmapgen.infra.md
  docs/changelog.d/feature-mirror-org-migration.infra.md
  docs/changelog.d/feature-prometheus-local-container.infra.md
  docs/changelog.d/fix-grafana-oauth-role.bugfix.md
  docs/changelog.d/fix-grafana-teslamate-datasource.bugfix.md
  docs/changelog.d/fix-mirror-org-refs.infra.md
  docs/changelog.d/main.infra.md
  docs/changelog.d/main.mirror-create-task.feature.md
  docs/changelog.d/main.mirror-image-tags.infra.md
  docs/changelog.d/main.mirror-remaining-containers.infra.md
  docs/changelog.d/main.mise-tasks-ref.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix Frigate detection events rate metric name in Grafana dashboard
  argocd/manifests/grafana-config/dashboards/configmap-frigate.yaml
  docs/changelog.d/fix-frigate-events-metric.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Port CloudNative-PG off Helm to direct release manifest (#268)
  argocd/apps/cloudnative-pg.yaml
  argocd/manifests/cloudnative-pg/README.md
  argocd/manifests/cloudnative-pg/values.yaml
  docs/changelog.d/feature-cnpg-direct-source.infra.md
  docs/reference/kubernetes/apps.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Bake default display options into ai-docs mise task
  CLAUDE.md
  docs/changelog.d/ai-docs-defaults.ai.md
  docs/tutorials/exploring-the-docs.md
  mise-tasks/ai-docs
Due: docs-check-filenames, docs-check-links, docs-check-index

Add authenticated GitHub PAT for Forgejo mirror sync (#269)
  ansible/roles/forgejo/templates/app.ini.j2
  docs/changelog.d/feature-mirror-github-pat.feature.md
  docs/how-to/configuration/manage-forgejo-mirrors.md
  docs/how-to/how-to.md
  docs/reference/tools/mise-tasks.md
  mise-tasks/mirror-create
  mise-tasks/mirror-update-pats
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Filter driveway zone to person/dog/cat only in Frigate
  argocd/manifests/frigate/frigate-config.yml
  docs/changelog.d/main.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add multi-cluster observability with ringtail metrics and dashboards (#270)
  ansible/roles/alloy/templates/config.alloy.j2
  argocd/apps/alloy-ringtail.yaml
  argocd/apps/kube-state-metrics-ringtail.yaml
  argocd/manifests/alloy-k8s/config.alloy
  argocd/manifests/alloy-ringtail/config.alloy
  argocd/manifests/alloy-ringtail/daemonset.yaml
  argocd/manifests/alloy-ringtail/kustomization.yaml
  argocd/manifests/alloy-ringtail/namespace.yaml
  argocd/manifests/alloy-ringtail/rbac.yaml
  argocd/manifests/grafana-config/dashboards/configmap-kubernetes.yaml
  argocd/manifests/grafana-config/dashboards/configmap-ringtail.yaml
  argocd/manifests/grafana-config/dashboards/configmap-services.yaml
  argocd/manifests/grafana-config/kustomization.yaml
  argocd/manifests/kube-state-metrics-ringtail/deployment.yaml
  argocd/manifests/kube-state-metrics-ringtail/kustomization.yaml
  argocd/manifests/kube-state-metrics-ringtail/rbac.yaml
  argocd/manifests/kube-state-metrics-ringtail/service.yaml
  argocd/manifests/prometheus/prometheus.yml
  docs/changelog.d/feature-ringtail-metrics-dashboards.infra.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Add Transmission metrics exporter and Grafana dashboard (#271)
  argocd/manifests/grafana-config/dashboards/configmap-transmission.yaml
  argocd/manifests/grafana-config/kustomization.yaml
  argocd/manifests/prometheus/prometheus.yml
  argocd/manifests/torrent/deployment.yaml
  argocd/manifests/torrent/service.yaml
  docs/changelog.d/feature-transmission-dashboard.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade ArgoCD v3.2.6 → v3.3.2 with Server-Side Apply (#272)
  argocd/apps/argocd.yaml
  argocd/manifests/argocd/kustomization.yaml
  docs/changelog.d/feature-argocd-v3.3.2.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Add explicit ExternalSecret defaults for SSA sync parity
  argocd/manifests/argocd/external-secret-repo-forge.yaml
  docs/changelog.d/main.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review manage-forgejo-mirrors doc: clarify cron default, stamp reviewed
  docs/how-to/configuration/manage-forgejo-mirrors.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs-review: print file path instead of content for LLM usage
  docs/changelog.d/docs-review-no-print.ai.md
  mise-tasks/docs-review
Due: docs-check-filenames, docs-check-links, docs-check-index

Add HA for CV and Docs: zero-downtime deploys (#273)
  .forgejo/workflows/cv-deploy.yaml
  argocd/manifests/cv/deployment.yaml
  argocd/manifests/cv/kustomization.yaml
  argocd/manifests/cv/pdb.yaml
  argocd/manifests/docs/deployment.yaml
  argocd/manifests/docs/kustomization.yaml
  argocd/manifests/docs/pdb.yaml
  docs/changelog.d/feature/ha-cv-docs-zero-downtime.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.11.5
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/ai-docs-defaults.ai.md
  docs/changelog.d/docs-review-no-print.ai.md
  docs/changelog.d/feature-argocd-v3.3.2.infra.md
  docs/changelog.d/feature-cnpg-direct-source.infra.md
  docs/changelog.d/feature-mirror-github-pat.feature.md
  docs/changelog.d/feature-ringtail-metrics-dashboards.infra.md
  docs/changelog.d/feature-transmission-dashboard.feature.md
  docs/changelog.d/fix-frigate-events-metric.bugfix.md
  docs/changelog.d/main.bugfix.md
  docs/changelog.d/main.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Sync Frigate zone coordinates from live API
  argocd/manifests/frigate/frigate-config.yml
  docs/changelog.d/frigate-zones.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review forgejo-runner docs: stamp reviewed, fix cross-links
  docs/changelog.d/review-forgejo-runner-docs.doc.md
  docs/how-to/forgejo-runner/review-runner-config-v12.md
  docs/how-to/forgejo-runner/upgrade-k8s-runner.md
  docs/how-to/forgejo-runner/validate-workflows-against-v12.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update ringtail flake inputs
  nixos/ringtail/flake.lock
Due: none

Pin blumeops-pg to PostgreSQL 18.3
  argocd/manifests/databases/blumeops-pg.yaml
  docs/changelog.d/blumeops-pg-18.3.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Review build-grafana-container docs: stamp reviewed, fix cross-links
  docs/how-to/grafana/build-grafana-container.md
  docs/reference/services/grafana.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add changelog fragment for grafana doc review
  docs/changelog.d/review-grafana-docs.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Start C2 Mikado chain: build authentik from source
  docs/changelog.d/authentik-source-build.infra.md
  docs/how-to/authentik/authentik-api-client-generation.md
  docs/how-to/authentik/authentik-go-server-derivation.md
  docs/how-to/authentik/authentik-python-backend-derivation.md
  docs/how-to/authentik/authentik-web-ui-derivation.md
  docs/how-to/authentik/build-authentik-from-source.md
  docs/how-to/how-to.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add Dagger local build step to authentik source build goal
  docs/how-to/authentik/build-authentik-from-source.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C2: Build authentik from source (Mikado chain) (#274)
  containers/authentik/api-go-vendor-hook.nix
  containers/authentik/authentik-django.nix
  containers/authentik/authentik-server.nix
  containers/authentik/client-go.nix
  containers/authentik/client-ts.nix
  containers/authentik/default.nix
  containers/authentik/python-deps.nix
  containers/authentik/sources.nix
  containers/authentik/test-build.nix
  containers/authentik/webui-deps.nix
  containers/authentik/webui.nix
  docs/changelog.d/authentik-source-build.infra.md
  docs/how-to/agent-change-process.md
  docs/how-to/authentik/authentik-api-client-generation.md
  docs/how-to/authentik/authentik-go-server-derivation.md
  docs/how-to/authentik/authentik-python-backend-derivation.md
  docs/how-to/authentik/authentik-web-ui-derivation.md
  docs/how-to/authentik/build-authentik-from-source.md
  docs/how-to/authentik/mirror-authentik-build-deps.md
  docs/how-to/how-to.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Deploy authentik 2026.2.0 (source-built) to ArgoCD
  argocd/manifests/authentik/kustomization.yaml
Due: none

Fix authentik container: create /tmp for unprivileged user
  containers/authentik/default.nix
Due: none

Deploy authentik 2026.2.0 with /tmp fix
  argocd/manifests/authentik/kustomization.yaml
Due: none

Fix authentik container: set TMPDIR=/tmp
  containers/authentik/default.nix
Due: none

Deploy authentik 2026.2.0 with TMPDIR fix
  argocd/manifests/authentik/kustomization.yaml
Due: none

Fix authentik: symlink authentik/ for BASE_DIR resolution
  containers/authentik/authentik-django.nix
Due: none

Deploy authentik 2026.2.0 with BASE_DIR fix
  argocd/manifests/authentik/kustomization.yaml
Due: none

Fix authentik: entry_points API for Python 3.14
  containers/authentik/authentik-django.nix
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
