Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

indri: fetch the build runner identity by item id, not op:// reference
  ansible/playbooks/indri.yml
  docs/changelog.d/fix-indri-build-identity-op-ref.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

indri-build: reuse forge-ci-github-pat; fix the runbook's registration step
  ansible/playbooks/indri.yml
  ansible/roles/forgejo_runner/defaults/main.yml
  ansible/roles/forgejo_runner/tasks/main.yml
  ansible/roles/forgejo_runner/templates/config-build.yaml.j2
  docs/changelog.d/fix-indri-build-identity-op-ref.bugfix.md
  docs/how-to/configuration/manage-forgejo-mirrors.md
  docs/how-to/forgejo-runner/configure-launchd-runner.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

indri-build: stage as root, install into the home as indri-build
  ansible/roles/forgejo_runner/defaults/main.yml
  ansible/roles/forgejo_runner/tasks/main.yml
  docs/changelog.d/fix-indri-build-render-as-build-user.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

indri-build: make colima honour the rendered profile
  ansible/roles/forgejo_runner/defaults/main.yml
  ansible/roles/forgejo_runner/handlers/main.yml
  ansible/roles/forgejo_runner/tasks/main.yml
  ansible/roles/forgejo_runner/templates/colima.yaml.j2
  docs/changelog.d/fix-indri-build-colima-profile.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

feat(grafana): decode panels on the Talos Lanes (shaping) row
  argocd/manifests/grafana-config-ringtail/dashboards/configmap-talos.yaml
  docs/changelog.d/agent-talos-lanes-decode-panels.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: note the retired forge relay in ai-scraper-mitigation
  docs/explanation/ai-scraper-mitigation.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fly/git-mirror: serve main + tags only on the public mirror
  docs/changelog.d/agent-forge-public-cutover.infra.md
  fly/git-mirror/README.md
  fly/git-mirror/create-mirror.sh
  fly/git-mirror/post-receive
Due: docs-check-filenames, docs-check-links, docs-check-index

fly: flip forge.eblu.me to the static mirror, retire the forge relay
  docs/changelog.d/agent-forge-public-cutover.infra.md
  docs/reference/services/flyio-proxy.md
  fly/Dockerfile
  fly/alloy.river
  fly/fail2ban/filter.d/forge-login.conf
  fly/fail2ban/jail.d/forge.conf
  fly/git-mirror/README.md
  fly/git-mirror/create-mirror.sh
  fly/git-mirror/gen-index.sh
  fly/git-mirror/post-receive
  fly/naughty.html
  fly/nginx.conf
  fly/start.sh
Due: docs-check-filenames, docs-check-links, docs-check-index

Rename agent-repo-access to forge-reconcile (mechanical)
  .forgejo/workflows/forge-reconcile.yaml
  .forgejo/workflows/horkos-forge-drift.yaml
  ansible/playbooks/indri.yml
  ansible/roles/forgejo_actions_secrets/defaults/main.yml
  argocd/manifests/talos/kustomization.yaml
  argocd/manifests/talos/repos.json
  docs/changelog.d/agent-forge-reconcile-rename.infra.md
  docs/explanation/agent-change-process.md
  docs/explanation/agent-containerization.md
  docs/explanation/freestanding-repos.md
  docs/how-to/operations/add-a-freestanding-repo.md
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  docs/reference/services/forgejo.md
  docs/reference/tools/mise-tasks.md
  mise-tasks/forge-reconcile
  mise-tasks/horkos-forge-drift
  mise-tasks/horkos-forge-provision
  tests/test_forge_reconcile.py
  tests/test_horkos_forge_drift.py
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.179-c3993f3-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.179.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(indri): verify indri-flake-check's remote build in-band
  docs/changelog.d/agent-indri-flake-check-sentinel.bugfix.md
  mise-tasks/indri-flake-check
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: delete upgrade-grafana card, move upgrade flow to reference card
  docs/changelog.d/agent-docs-review-upgrade-grafana-delete.doc.md
  docs/changelog.d/agent-docs-review-upgrade-grafana.doc.md
  docs/how-to/grafana/build-grafana-images.md
  docs/how-to/grafana/kustomize-grafana-deployment.md
  docs/how-to/grafana/upgrade-grafana.md
  docs/reference/services/grafana.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: fix ArgoCD app description in upgrade-grafana
  docs/changelog.d/agent-docs-review-upgrade-grafana.doc.md
  docs/how-to/grafana/upgrade-grafana.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(indri): tighten the cwd-pin clause
  docs/how-to/indri/provision.md
Due: docs-check-filenames, docs-check-links, docs-check-index

provision-indri: name the cwd pin in the workflow launch comment
  .forgejo/workflows/provision-indri.yaml
Due: none

provision-indri: pin the detached darwin-rebuild's cwd to /
  ansible/playbooks/indri.yml
  docs/changelog.d/agent-fix-provision-indri-detached-cwd.bugfix.md
  docs/how-to/indri/provision.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

forge: cleanup and docs sweep after the public-name cutover
  ansible/roles/caddy/defaults/main.yml
  ansible/roles/caddy/templates/Caddyfile.j2
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/grafana-config-ringtail/dashboards/configmap-forgejo.yaml
  argocd/manifests/horkos/deployment.yaml
  argocd/manifests/tailscale-operator-base/kustomization.yaml
  docs/changelog.d/+docs-forge-cutover.doc.md
  docs/changelog.d/+forge-cutover-cleanup.infra.md
  docs/explanation/ai-scraper-mitigation.md
  docs/how-to/operations/manage-flyio-proxy.md
  docs/reference/infrastructure/routing.md
  docs/reference/services/argocd.md
  docs/reference/services/flyio-proxy.md
  docs/reference/services/forgejo.md
  mise-tasks/branch-cleanup
  mise-tasks/forge-name-lint
  mise-tasks/forge-name-lint.allowlist.yaml
  mise-tasks/horkos-forge-drift
  mise-tasks/horkos-forge-provision
  mise-tasks/mirror-create
  mise-tasks/mirror-push-wire
  mise-tasks/pr-comments
  mise-tasks/spork-create
  mise-tasks/verify-runs
  prek.toml
  pyproject.toml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs: stamp grafana reference card last-reviewed 2026-10-03
  docs/changelog.d/agent-docs-review-grafana-card-stamp.doc.md
  docs/reference/services/grafana.md
Due: docs-check-filenames, docs-check-links, docs-check-index

ci: report-failure takes a bare log filename; harden tee -a steps
  .forgejo/actions/report-failure/action.yml
  .forgejo/workflows/docs-checks.yaml
  .forgejo/workflows/image-pins.yaml
  .forgejo/workflows/lint.yaml
Due: none

ci: report-failure fails loudly on a non-bare log-file input
  .forgejo/actions/report-failure/action.yml
Due: none

ci: move CI scratch off /tmp onto the per-job workspace
  .forgejo/actions/report-failure/action.yml
  .forgejo/workflows/docs-checks.yaml
  .forgejo/workflows/image-pins.yaml
  .forgejo/workflows/lint.yaml
  .gitignore
  docs/changelog.d/agent-indri-build-runner-moves.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

ci: move all CI scratch onto $RUNNER_TEMP, off the shared host /tmp
  .forgejo/actions/report-failure/action.yml
  .forgejo/workflows/build-blumeops.yaml
  .forgejo/workflows/build-container.yaml
  .forgejo/workflows/docs-checks.yaml
  .forgejo/workflows/forge-reconcile.yaml
  .forgejo/workflows/image-pins.yaml
  .forgejo/workflows/lint.yaml
  docs/changelog.d/agent-indri-build-runner-moves.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

ci: give the Build changelog step its own mkdir; drop dead .ci-tmp ignore
  .forgejo/workflows/build-blumeops.yaml
  .gitignore
Due: none

ci: move non-privileged jobs to the unprivileged indri-build runner
  .forgejo/workflows/branch-cleanup.yaml
  .forgejo/workflows/build-container.yaml
  .forgejo/workflows/docs-checks.yaml
  .forgejo/workflows/image-pins.yaml
  .forgejo/workflows/lint.yaml
  docs/changelog.d/agent-indri-build-runner-moves.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.181-9437f50-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.181.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(caddy): deny the fly proxy node on the private forge site
  ansible/roles/caddy/defaults/main.yml
  docs/changelog.d/+forge-deny-fly-node.infra.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(caddy): deny_ips loop newline; parse-check Caddyfile before deploy
  ansible/roles/caddy/tasks/main.yml
  ansible/roles/caddy/templates/Caddyfile.j2
  docs/changelog.d/+caddy-deny-render.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs(argocd): record when the forge CoreDNS rewrite actually left the cluster
  docs/changelog.d/+coredns-rewrite-actual-retirement.doc.md
  docs/reference/services/argocd.md
Due: docs-check-filenames, docs-check-links, docs-check-index

indri-build: pin rust in the build user's mise config
  darwin/indri/configuration.nix
  docs/changelog.d/agent-indri-build-rust.infra.md
  docs/reference/services/forgejo-runner.md
Due: docs-check-filenames, docs-check-links, docs-check-index

tailscale-operator + companions v1.98.5 → v1.102.5 (recurring service review)
  argocd/manifests/tailscale-operator-base/dnsconfig.yaml
  argocd/manifests/tailscale-operator-base/kustomization.yaml
  argocd/manifests/tailscale-operator-base/proxyclass.yaml
  containers/tailscale-k8s-nameserver/default.nix
  containers/tailscale-operator/default.nix
  containers/tailscale/default.nix
  docs/changelog.d/recurring-reviews-2026-10-03.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(authentik): additive talos-m2m blueprint (leg B of step-4 rename)
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/authentik/external-secret.yaml
  docs/changelog.d/agent-leg-b-talos-m2m-blueprint.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(indri): verify the remaining indri ssh legs in-band
  docs/changelog.d/agent-indri-ssh-rc-audit.bugfix.md
  mise-tasks/mirror-update-pats
  mise-tasks/pulumi-restore-check
  mise-tasks/services-check
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.183-a3f7c91-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.183.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs-checks: caddy render step tees to $RUNNER_TEMP, not /tmp
  .forgejo/workflows/docs-checks.yaml
Due: none

caddy: fly-only :8443 listener + render check
  .forgejo/workflows/docs-checks.yaml
  ansible/roles/caddy/defaults/main.yml
  ansible/roles/caddy/templates/Caddyfile.j2
  docs/changelog.d/agent-fly-caddy-8443-listener.infra.md
  docs/reference/services/caddy.md
  mise-tasks/caddy-render-check
  mise-tasks/horkos-test
  pyproject.toml
  tests/test_caddy_render_split.py
  uv.lock
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(tailscale-operator): pin image v1.102.5-7f39ab6-nix
  argocd/manifests/tailscale-operator-ringtail/kustomization.yaml
  docs/changelog.d/tailscale-operator-release-v1.102.5.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(indri): record the dropped ssh rc and the sentinel convention
  docs/changelog.d/agent-indri-ssh-rc-docs.doc.md
  docs/how-to/indri/provision.md
  docs/reference/infrastructure/indri.md
  docs/reference/tools/mise-tasks.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fly: point indri upstream at Caddy's fly-only :8443 listener
  docs/changelog.d/agent-fly-upstream-8443.infra.md
  docs/reference/services/flyio-proxy.md
  docs/tutorials/expose-service-publicly.md
  fly/nginx.conf
Due: docs-check-filenames, docs-check-links, docs-check-index

guard(ringtail): assert no k3s manifests/charts; document manual cleanup
  docs/changelog.d/agent-ringtail-k3s-manifests-guard.infra.md
  docs/reference/kubernetes/cluster.md
  docs/reference/services/argocd.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: review review-documentation card, stamp last-reviewed
  docs/changelog.d/+docs-review-review-documentation.doc.md
  docs/how-to/knowledgebase/review-documentation.md
Due: docs-check-filenames, docs-check-links, docs-check-index
