Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

Deploy Kingfisher v165768b-aa9cc70-nix (bash fix)
  argocd/manifests/kingfisher/kustomization.yaml
Due: none

Fix Kingfisher container: add /tmp directory
  containers/kingfisher/default.nix
Due: none

Deploy Kingfisher v165768b-c494b62-nix (/tmp fix)
  argocd/manifests/kingfisher/kustomization.yaml
Due: none

Fix Kingfisher container: make /tmp world-writable
  containers/kingfisher/default.nix
Due: none

Deploy Kingfisher v165768b-0fe0eed-nix (tmp permissions fix)
  argocd/manifests/kingfisher/kustomization.yaml
Due: none

Scope Kingfisher scan to eblume user only on ringtail
  argocd/manifests/kingfisher/cronjob.yaml
Due: none

Fix Kingfisher CronJob exit code handling
  argocd/manifests/kingfisher/cronjob.yaml
Due: none

Harden borgmatic photos backup: restrict dirs, add keepalives + checkpoints
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/templates/photos.yaml.j2
  docs/changelog.d/+borgmatic-photos-hardening.infra.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Review Ansible reference doc: add missing roles, clarify IaC positioning
  docs/changelog.d/+ansible-doc-review.doc.md
  docs/reference/tools/ansible.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Remove doc-reviewer agent
  .claude/agents/doc-reviewer.md
Due: none

Upgrade forgejo-runner 12.7.0 → 12.7.3, add service card
  argocd/manifests/forgejo-runner/config.yaml
  argocd/manifests/forgejo-runner/kustomization.yaml
  docs/changelog.d/+forgejo-runner-12.7.3.infra.md
  docs/reference/services/forgejo-runner.md
  docs/reference/services/forgejo.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Add Prowler mutelist and fix kube-state-metrics seccomp (#319)
  argocd/manifests/kube-state-metrics/deployment.yaml
  argocd/manifests/prowler/cronjob.yaml
  argocd/manifests/prowler/kustomization.yaml
  argocd/manifests/prowler/mutelist/apiserver.yaml
  argocd/manifests/prowler/mutelist/control-plane.yaml
  argocd/manifests/prowler/mutelist/core-pod-security.yaml
  argocd/manifests/prowler/mutelist/rbac.yaml
  docs/changelog.d/prowler-mutelist.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add compensating controls framework and date-based report dirs (#320)
  argocd/manifests/kingfisher/cronjob.yaml
  argocd/manifests/prowler/cronjob-iac-scan.yaml
  argocd/manifests/prowler/cronjob-image-scan.yaml
  argocd/manifests/prowler/cronjob.yaml
  argocd/manifests/prowler/mutelist/apiserver.yaml
  argocd/manifests/prowler/mutelist/control-plane.yaml
  argocd/manifests/prowler/mutelist/core-pod-security.yaml
  argocd/manifests/prowler/mutelist/rbac.yaml
  compensating-controls.yaml
  docs/changelog.d/compensating-controls.infra.md
  docs/how-to/operations/review-compensating-controls.md
  docs/reference/operations/security.md
  mise-tasks/review-compensating-controls
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.15.2
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/+ansible-doc-review.doc.md
  docs/changelog.d/+borgmatic-photos-hardening.infra.md
  docs/changelog.d/+forgejo-runner-12.7.3.infra.md
  docs/changelog.d/+kingfisher-docs.doc.md
  docs/changelog.d/+kingfisher-prek.feature.md
  docs/changelog.d/+spork-strategy.feature.md
  docs/changelog.d/compensating-controls.infra.md
  docs/changelog.d/feature-kingfisher-container.feature.md
  docs/changelog.d/feature-kingfisher-cronjob.feature.md
  docs/changelog.d/prowler-mutelist.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review argocd-cli reference doc: stamp last-reviewed
  docs/reference/tools/argocd-cli.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Pin NixOS service versions via nixpkgs-services overlay (#321)
  .dagger/src/blumeops_ci/main.py
  ansible/roles/caddy/defaults/main.yml
  ansible/roles/caddy/templates/Caddyfile.j2
  docs/changelog.d/pin-nixos-service-versions.infra.md
  docs/how-to/knowledgebase/review-services.md
  docs/reference/infrastructure/ringtail.md
  nixos/ringtail/flake.lock
  nixos/ringtail/flake.nix
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Review single-user-cluster control and add evidence collection card
  compensating-controls.yaml
  docs/how-to/operations/record-review-evidence.md
  docs/how-to/operations/review-compensating-controls.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add changelog fragment for compensating control review
  docs/changelog.d/+review-single-user-cluster.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review pulumi reference doc: fix Tailscale auth, add how-to links
  docs/reference/tools/pulumi.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade Grafana 12.3.3 → 12.4.2 (#322)
  argocd/manifests/grafana/kustomization.yaml
  containers/grafana/Dockerfile
  docs/changelog.d/upgrade-grafana-12.4.2.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Build Tempo container from source (2.10.3) (#323)
  argocd/manifests/tempo/kustomization.yaml
  containers/tempo/Dockerfile
  docs/changelog.d/local-tempo-container.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Point Tempo at main-built container v2.10.3-75f9ba4
  argocd/manifests/tempo/kustomization.yaml
Due: none

Add gaming.nix for ringtail: gamescope + consolidate Steam config
  nixos/ringtail/configuration.nix
  nixos/ringtail/flake.nix
  nixos/ringtail/gaming.nix
Due: none

Add Sway fullscreen rule for RDR2 (gamescope broken on NVIDIA 580.x)
  nixos/ringtail/configuration.nix
Due: none

Document upstream fix for Prowler --registry bug (pending release)
  argocd/manifests/prowler/cronjob-image-scan.yaml
  docs/changelog.d/+prowler-registry-fix-upstream.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Migrate Immich from Helm chart to kustomize manifests (v2.5.6 → v2.6.3)
  argocd/apps/immich-storage.yaml
  argocd/apps/immich.yaml
  argocd/manifests/immich/README.md
  argocd/manifests/immich/deployment-ml.yaml
  argocd/manifests/immich/deployment-server.yaml
  argocd/manifests/immich/deployment-valkey.yaml
  argocd/manifests/immich/kustomization.yaml
  argocd/manifests/immich/pvc-ml-cache.yaml
  argocd/manifests/immich/service-ml.yaml
  argocd/manifests/immich/service-valkey.yaml
  argocd/manifests/immich/service.yaml
  argocd/manifests/immich/values.yaml
  docs/changelog.d/immich-kustomize-v2.6.3.infra.md
  docs/explanation/no-helm-policy.md
  docs/how-to/knowledgebase/review-services.md
  docs/reference/kubernetes/apps.md
  docs/reference/services/immich.md
  mise-tasks/service-review
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Add AI-drafted disclaimer to no-helm-policy explanation doc
  docs/explanation/no-helm-policy.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix Homepage migration date: 2025-12 → 2026-02 (per git history)
  docs/explanation/no-helm-policy.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add storage-provisioner health check to minikube Ansible role
  ansible/roles/minikube/tasks/main.yml
Due: ansible-lint

Fix Homepage pod-selector for Immich (Helm labels → kustomize labels)
  argocd/manifests/immich/ingress-tailscale.yaml
Due: none

Review core-services tutorial: add SSH rationale, runner example, TODO notice
  docs/tutorials/replication/core-services.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.15.3
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/+prowler-registry-fix-upstream.doc.md
  docs/changelog.d/+review-single-user-cluster.doc.md
  docs/changelog.d/immich-kustomize-v2.6.3.infra.md
  docs/changelog.d/local-tempo-container.infra.md
  docs/changelog.d/pin-nixos-service-versions.infra.md
  docs/changelog.d/upgrade-grafana-12.4.2.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Migrate 1Password Connect from Helm to kustomize (1.8.1 → 1.8.2) (#326)
  argocd/apps/1password-connect-ringtail.yaml
  argocd/apps/1password-connect.yaml
  argocd/manifests/1password-connect/README.md
  argocd/manifests/1password-connect/deployment.yaml
  argocd/manifests/1password-connect/kustomization.yaml
  argocd/manifests/1password-connect/service.yaml
  argocd/manifests/1password-connect/values.yaml
  docs/changelog.d/1password-connect-kustomize.infra.md
  docs/explanation/no-helm-policy.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Remove stale Helm chart mirror references from forgejo docs
  docs/reference/services/forgejo.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Rewrite observability stack tutorial to match actual practices
  docs/changelog.d/+rewrite-observability-tutorial.doc.md
  docs/tutorials/replication/observability-stack.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.15.4
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/+rewrite-observability-tutorial.doc.md
  docs/changelog.d/1password-connect-kustomize.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix flake-update pipeline and update ringtail flake inputs
  .dagger/src/blumeops_ci/main.py
  docs/changelog.d/+fix-flake-update-pipeline.bugfix.md
  nixos/ringtail/flake.lock
Due: docs-check-filenames, docs-check-links, docs-check-index

Add review-compliance-reports task and reorganize report storage
  docs/changelog.d/+review-compliance-reports-task.feature.md
  docs/how-to/operations/read-compliance-reports.md
  mise-tasks/review-compliance-reports
Due: docs-check-filenames, docs-check-links, docs-check-index

Add seccomp RuntimeDefault profiles to alloy-k8s and immich pods
  argocd/manifests/alloy-k8s/daemonset.yaml
  argocd/manifests/immich/deployment-ml.yaml
  argocd/manifests/immich/deployment-server.yaml
  argocd/manifests/immich/deployment-valkey.yaml
Due: none

Review compensating control: tailscale-network-isolation
  compensating-controls.yaml
Due: none
