Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

Fix blumeops-tasks swallowing bracket content in descriptions
  mise-tasks/blumeops-tasks
Due: none

Add changelog fragments for seccomp hardening and bracket fix
  docs/changelog.d/+fix-blumeops-tasks-brackets.bugfix.md
  docs/changelog.d/+seccomp-alloy-immich.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade ArgoCD v3.3.2 → v3.3.6, SHA-pin install manifest
  argocd/manifests/argocd/kustomization.yaml
  docs/changelog.d/+argocd-v3.3.6.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Review postgresql.md: add authentik user/db, immich-pg borgmatic secret
  docs/reference/services/postgresql.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Remove superuser from teslamate PG role, transfer extension ownership
  argocd/manifests/databases/blumeops-pg.yaml
  docs/reference/services/postgresql.md
  docs/reference/services/teslamate.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Bump authentik worker memory limit 1Gi → 2Gi (OOMKilled after ringtail restart)
  argocd/manifests/authentik/deployment-worker.yaml
Due: none

Localize kube-state-metrics container (Dockerfile + nix) (#327)
  argocd/manifests/kube-state-metrics-ringtail/kustomization.yaml
  argocd/manifests/kube-state-metrics/kustomization.yaml
  containers/kube-state-metrics/Dockerfile
  containers/kube-state-metrics/default.nix
  docs/changelog.d/localize-kube-state-metrics.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Pin kube-state-metrics to main-SHA container tags
  argocd/manifests/kube-state-metrics-ringtail/kustomization.yaml
  argocd/manifests/kube-state-metrics/kustomization.yaml
Due: none

Fix UnPoller dashboard UIDs exceeding Grafana 12's 40-char limit
  argocd/manifests/grafana/deployment.yaml
  docs/changelog.d/+fix-unpoller-dashboard-uids.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Set Frigate preview quality to CRF 8 for faster timeline loading
  argocd/manifests/frigate/frigate-config.yml
  docs/changelog.d/+frigate-preview-quality.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade authentik 2026.2.0 → 2026.2.2 (patch release)
  containers/authentik/default.nix
  containers/authentik/python-deps.nix
  containers/authentik/sources.nix
  docs/changelog.d/+authentik-2026.2.2.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Deploy authentik 2026.2.2 container to ringtail
  argocd/manifests/authentik/kustomization.yaml
Due: none

Fix Frigate preview config and services-check NoData detection
  argocd/manifests/frigate/frigate-config.yml
  mise-tasks/services-check
Due: none

Review adding-a-service tutorial: fix ingress, repoURL, add kustomize and reference card steps
  docs/tutorials/adding-a-service.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add changelog fragment for adding-a-service tutorial review
  docs/changelog.d/+enhance-adding-a-service-tutorial.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Deploy Paperless-ngx document management (#328)
  ansible/roles/caddy/defaults/main.yml
  argocd/apps/paperless.yaml
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/authentik/external-secret.yaml
  argocd/manifests/databases/blumeops-pg.yaml
  argocd/manifests/databases/external-secret-paperless.yaml
  argocd/manifests/databases/kustomization.yaml
  argocd/manifests/paperless/deployment.yaml
  argocd/manifests/paperless/external-secret.yaml
  argocd/manifests/paperless/ingress-tailscale.yaml
  argocd/manifests/paperless/kustomization.yaml
  argocd/manifests/paperless/pv-nfs.yaml
  argocd/manifests/paperless/pvc.yaml
  argocd/manifests/paperless/service.yaml
  containers/paperless/Dockerfile
  docs/changelog.d/deploy-paperless.feature.md
  docs/reference/infrastructure/routing.md
  docs/reference/kubernetes/apps.md
  docs/reference/services/paperless.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Update paperless image tag to main build
  argocd/manifests/paperless/kustomization.yaml
Due: none

Upgrade ollama from 0.17.5 to 0.20.4
  argocd/manifests/ollama/kustomization.yaml
  docs/changelog.d/+ollama-0.20.4.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Review gandi.md: add missing forge.eblu.me CNAME record
  docs/changelog.d/+review-gandi-doc.doc.md
  docs/reference/infrastructure/gandi.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix fly.io proxy rate limit to key on real client IP
  docs/changelog.d/+fix-flyio-rate-limit-key.bugfix.md
  fly/nginx.conf
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix services-check to show all firing alerts per alert name
  docs/changelog.d/+services-check-show-all-alerts.bugfix.md
  mise-tasks/services-check
Due: docs-check-filenames, docs-check-links, docs-check-index

Pin Fly.io Tailscale to v1.94.1 to fix MagicDNS regression in v1.96.5
  docs/changelog.d/+pin-tailscale-fly.bugfix.md
  fly/Dockerfile
Due: docs-check-filenames, docs-check-links, docs-check-index

Track Fly.io proxy component versions in service-versions.yaml
  docs/changelog.d/+track-fly-versions.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Native Dagger container builds + Navidrome v0.61.1 (#330)
  .dagger/.gitignore
  .dagger/src/blumeops_ci/__init__.py
  .dagger/uv.lock
  .forgejo/workflows/build-container.yaml
  .gitattributes
  .gitignore
  argocd/manifests/navidrome/kustomization.yaml
  containers/navidrome/Dockerfile
  containers/navidrome/container.py
  dagger.json
  docs/changelog.d/native-dagger-containers.infra.md
  docs/changelog.d/upgrade-navidrome-v0.61.1.feature.md
  docs/how-to/dagger/upgrade-dagger.md
  docs/how-to/deployment/build-container-image.md
  docs/how-to/forgejo-runner/validate-workflows-against-v12.md
  docs/how-to/knowledgebase/review-services.md
  docs/how-to/zot/add-container-version-sync-check.md
  docs/how-to/zot/add-dagger-nix-build.md
  docs/how-to/zot/adopt-commit-based-container-tags.md
  docs/how-to/zot/harden-zot-registry.md
  docs/how-to/zot/pin-container-versions.md
  docs/how-to/zot/wire-ci-registry-auth.md
  docs/reference/tools/dagger.md
  docs/reference/tools/mise-tasks.md
  mise-tasks/container-build-and-release
  mise-tasks/container-list
  mise-tasks/container-version-check
  mise-tasks/service-review
  pyproject.toml
  service-versions.yaml
  src/blumeops/__init__.py
  src/blumeops/containers.py
  src/blumeops/main.py
Due: docs-check-filenames, docs-check-links, docs-check-index

Disable OTLP metrics exporter in CI, update navidrome to main tag
  .forgejo/workflows/build-container.yaml
  argocd/manifests/navidrome/kustomization.yaml
Due: none

Review hosts.md: add last-reviewed, normalize links, add reference tag
  docs/reference/infrastructure/hosts.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update ringtail flake inputs
  nixos/ringtail/flake.lock
Due: none

Miniflux 2.2.19 + container.py migration + ty typechecker (#331)
  argocd/manifests/miniflux/kustomization.yaml
  containers/miniflux/Dockerfile
  containers/miniflux/container.py
  docs/changelog.d/miniflux-upgrade-and-ty.feature.md
  docs/changelog.d/miniflux-upgrade-and-ty.infra.md
  docs/how-to/knowledgebase/review-services.md
  mise-tasks/service-review
  mise.toml
  prek.toml
  pyproject.toml
  service-versions.yaml
  src/blumeops/containers.py
Due: docs-check-filenames, docs-check-links, docs-check-index

Update miniflux to main image tag, disable OTEL metrics in Dagger module
  argocd/manifests/miniflux/kustomization.yaml
  src/blumeops/main.py
Due: none

Rewrite runner-logs: API-based log fetching, multi-repo support
  CLAUDE.md
  docs/changelog.d/+runner-logs-rewrite.bugfix.md
  docs/how-to/deployment/build-container-image.md
  docs/reference/tools/mise-tasks.md
  mise-tasks/runner-logs
Due: docs-check-filenames, docs-check-links, docs-check-index

Doc review: delete install-dagger-on-nix-runner, add service-versions ref card
  docs/changelog.d/+service-versions-ref-card.doc.md
  docs/how-to/knowledgebase/review-services.md
  docs/how-to/zot/install-dagger-on-nix-runner.md
  docs/reference/operations/service-versions.md
  docs/reference/services/zot.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review local-registry control: fix inaccurate description, enumerate exceptions
  compensating-controls.yaml
Due: none

Upgrade grafana-sidecar 1.28.0 → 2.6.0 + container.py port (#332)
  argocd/manifests/grafana/deployment.yaml
  argocd/manifests/grafana/kustomization.yaml
  containers/grafana-sidecar/Dockerfile
  containers/grafana-sidecar/container.py
  docs/changelog.d/grafana-sidecar-2.6.0.feature.md
  docs/how-to/grafana/build-grafana-images.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Update grafana-sidecar image tag to v2.6.0-61fcd5d (merge build)
  argocd/manifests/grafana/kustomization.yaml
Due: none

Fix OTEL metrics exporter warnings in Dagger builds
  .forgejo/workflows/build-container.yaml
  docs/changelog.d/+dagger-otel-metrics-fix.bugfix.md
  src/blumeops/main.py
Due: docs-check-filenames, docs-check-links, docs-check-index

Route Dagger build telemetry to Tempo
  .forgejo/workflows/build-container.yaml
  docs/changelog.d/+dagger-otel-metrics-fix.bugfix.md
  src/blumeops/main.py
Due: docs-check-filenames, docs-check-links, docs-check-index

Add uv.lock for version pinning of dagger pipeline
  uv.lock
Due: none

Oops, looks like a log file got lost, nbd
  update-loki-3.6.7.infra.md
Due: none

Hints about service version tracking
  mise.toml
  service-versions.yaml
Due: none

Fix paperless redis: use upstream valkey instead of amd64-only nix image
  argocd/manifests/paperless/kustomization.yaml
Due: none
