Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

infra(talos): pin image v0.4.151-bc4256c-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.151.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(argocd): add argocd-sync-apps warrant action for the app-of-apps root
  .forgejo/workflows/argocd-sync-apps.yaml
  AGENTS.md
  argocd/apps/apps.yaml
  docs/changelog.d/agent-argocd-sync-apps.infra.md
  docs/how-to/deployment/deploy-k8s-service.md
  docs/how-to/operations/blumeops-ci-item-migration.md
  docs/how-to/operations/request-a-privileged-run.md
  docs/reference/services/argocd.md
  docs/reference/services/forgejo.md
  docs/reference/services/horkos.md
  warrant-policy.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(argocd): guard the root against mutable pointers, per security review
  .forgejo/workflows/argocd-deploy.yaml
  .forgejo/workflows/argocd-sync-apps.yaml
  .forgejo/workflows/lint.yaml
  docs/changelog.d/agent-argocd-sync-apps.infra.md
  docs/explanation/agent-change-process.md
  docs/reference/services/argocd.md
  mise-tasks/request-run
  mise-tasks/validate-argocd-apps
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.152-08e0787-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.152.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.153-5872295-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.153.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(deps): monthly refresh 2026-09-17
  docs/changelog.d/recurring-reviews-2026-09-17.infra.md
  fly/Dockerfile
  mise-tasks/agent-health
  mise-tasks/agent-metrics
  mise-tasks/agent-repo-access
  mise-tasks/branch-cleanup
  mise-tasks/container-list
  mise-tasks/container-pin-check
  mise-tasks/container-version-check
  mise-tasks/dns-acme-cleanup
  mise-tasks/docs-preview
  mise-tasks/docs-review
  mise-tasks/docs-review-stale
  mise-tasks/horkos-forge-drift
  mise-tasks/horkos-forge-provision
  mise-tasks/horkos-test
  mise-tasks/mirror-update-pats
  mise-tasks/op-backup
  mise-tasks/openrouter-probe
  mise-tasks/pr-comments
  mise-tasks/prune-ringtail-generations
  mise-tasks/request-run
  mise-tasks/review-compliance-reports
  mise-tasks/rip-cd
  mise-tasks/rip-cd-finish
  mise-tasks/rip-video
  mise-tasks/rip-video-finish
  mise-tasks/runner-logs
  mise-tasks/service-review
  mise-tasks/spork-create
  mise-tasks/talos-wait-for-task
  mise-tasks/verify-runs
  mise-tasks/zot-apikey-rotate
  mise.toml
  prek.toml
  pyproject.toml
  service-versions.yaml
  uv.lock
Due: docs-check-filenames, docs-check-links, docs-check-index

indri: declarative mise toolchain in the nix-darwin flake
  .forgejo/workflows/lint.yaml
  ansible/playbooks/indri.yml
  ansible/roles/caddy/tasks/main.yml
  ansible/roles/forgejo/tasks/main.yml
  ansible/roles/forgejo_runner/defaults/main.yml
  ansible/roles/forgejo_runner/tasks/main.yml
  ansible/roles/zot/tasks/main.yml
  darwin/indri/configuration.nix
  docs/changelog.d/agent-indri-mise-toolchain.infra.md
  docs/how-to/deployment/build-caddy-with-plugins.md
  docs/how-to/forgejo-runner/configure-launchd-runner.md
  docs/how-to/indri/provision.md
  docs/how-to/operations/upgrade-forgejo.md
  docs/reference/infrastructure/indri.md
  docs/reference/services/forgejo-runner.md
  docs/reference/services/forgejo.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

indri: pin uv in the declarative mise config
  ansible/roles/devpi/defaults/main.yml
  darwin/indri/configuration.nix
  docs/changelog.d/indri-mise-uv-pin.infra.md
  docs/reference/infrastructure/indri.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.154-a4b4ac0-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.154.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.26-5a1c40c-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.26.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

paperless: bump nix build v2.20.15 → v3.1.3 (service review 2026-09-16)
  containers/paperless/default.nix
  docs/changelog.d/recurring-reviews-2026-09-16.infra.md
  docs/reference/operations/security.md
  docs/reference/services/paperless.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

indri: PR 4 of the nix-darwin series — the four *-metrics LaunchAgents to nix-darwin
  ansible/roles/borgmatic_metrics/defaults/main.yml
  ansible/roles/borgmatic_metrics/tasks/main.yml
  ansible/roles/forgejo_metrics/defaults/main.yml
  ansible/roles/forgejo_metrics/tasks/main.yml
  ansible/roles/jellyfin_metrics/defaults/main.yml
  ansible/roles/jellyfin_metrics/tasks/main.yml
  ansible/roles/zot_metrics/defaults/main.yml
  ansible/roles/zot_metrics/tasks/main.yml
  darwin/indri/configuration.nix
  darwin/indri/mcquack-borgmatic-metrics.sh
  darwin/indri/mcquack-forgejo-metrics.sh
  darwin/indri/mcquack-jellyfin-metrics.sh
  darwin/indri/mcquack-zot-metrics.sh
  docs/changelog.d/agent-indri-metrics-darwin.infra.md
  docs/changelog.d/fix-indri-services-check-metrics-labels.bugfix.md
  docs/how-to/indri/provision.md
  docs/reference/infrastructure/indri.md
  mise-tasks/services-check
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

containers: rev-pin nixpkgs for container builds
  containers/flake.lock
  containers/flake.nix
  containers/prowler/default.nix
  docs/changelog.d/agent-pin-container-nixpkgs.infra.md
  docs/how-to/deployment/build-container-image.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: delete the Build Authentik Container card (redundant with the source build card)
  docs/changelog.d/agent-doc-review-build-authentik-container.doc.md
  docs/how-to/authentik/build-authentik-container.md
  docs/how-to/authentik/build-authentik-from-source.md
Due: docs-check-filenames, docs-check-links, docs-check-index

containers: resolve <nixpkgs> from the in-repo pin in the build workflow
  .forgejo/workflows/build-container.yaml
  containers/flake.nix
  docs/changelog.d/agent-build-container-nixpkgs-resolve.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(prowler): pin image v5.39.1-dd1f467-nix
  argocd/manifests/prowler-ringtail/kustomization.yaml
  docs/changelog.d/prowler-release-v5.39.1.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.27-cf015cd-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.27.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.155-814ca5d-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.155.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

agent-repo-access: subscribe the horkos release hook to pull_request deliveries
  argocd/manifests/talos/repos.json
  docs/changelog.d/agent-horkos-hook-pull-request.infra.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  mise-tasks/agent-repo-access
Due: docs-check-filenames, docs-check-links, docs-check-index

service-review: add the release-ownership axis and the missing type branches
  docs/changelog.d/agent-service-review-release-axis.feature.md
  docs/how-to/knowledgebase/review-services.md
  docs/reference/operations/service-versions.md
  mise-tasks/service-review
  service-versions.yaml
  tests/test_service_review.py
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(indri): zot registry unit to nix-darwin — PR 5 of the series
  ansible/roles/zot/defaults/main.yml
  ansible/roles/zot/tasks/main.yml
  darwin/indri/configuration.nix
  docs/changelog.d/agent-indri-zot-darwin.infra.md
  docs/how-to/indri/provision.md
  docs/how-to/operations/troubleshooting.md
  docs/reference/infrastructure/indri.md
  docs/reference/services/zot.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

verify-runs: escape the void reason and pin the 'unknown' fallback (review nits)
  mise-tasks/verify-runs
  tests/test_verify_runs_audit.py
Due: none

verify-runs: settle voided warrant requests (eblume/horkos#35)
  docs/changelog.d/agent-verify-runs-voided.bugfix.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/how-to/operations/request-a-privileged-run.md
  docs/reference/services/horkos.md
  mise-tasks/verify-runs
  tests/test_verify_runs_audit.py
Due: docs-check-filenames, docs-check-links, docs-check-index

zot: retire the old CI push identity (zot-ci / artifact-workloads)
  ansible/roles/zot/templates/config.json.j2
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/talos/repos.json
  docs/changelog.d/agent-zot-retire-ci-identity.infra.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/how-to/operations/blumeops-ci-item-migration.md
  docs/how-to/zot/container-versioning.md
  docs/how-to/zot/enforce-tag-immutability.md
  docs/how-to/zot/harden-zot-registry.md
  docs/how-to/zot/register-zot-oidc-client.md
  docs/how-to/zot/wire-ci-registry-auth.md
  docs/reference/services/zot.md
  mise-tasks/zot-apikey-rotate
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ringtail: greet with ReGreet on cage instead of tuigreet
  docs/changelog.d/agent-regreet-greeter.doc.md
  docs/changelog.d/agent-regreet-greeter.infra.md
  docs/reference/infrastructure/ringtail.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

Revert "ringtail: greet with ReGreet on cage instead of tuigreet" (#1195)
  docs/changelog.d/agent-regreet-greeter.doc.md
  docs/changelog.d/agent-regreet-greeter.infra.md
  docs/reference/infrastructure/ringtail.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

nvidia-device-plugin: review + bump v0.19.2 -> v0.20.0
  argocd/manifests/nvidia-device-plugin/kustomization.yaml
  docs/changelog.d/nvidia-device-plugin-v0.20.0.infra.md
  docs/reference/services/nvidia-device-plugin.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: retire the Deploy Authentik how-to card, spread knowledge to reference cards
  docs/changelog.d/agent-doc-review-deploy-authentik.doc.md
  docs/explanation/federated-login.md
  docs/how-to/authentik/authentik-nix-build-components.md
  docs/how-to/authentik/build-authentik-from-source.md
  docs/how-to/authentik/deploy-authentik.md
  docs/how-to/authentik/migrate-grafana-to-authentik.md
  docs/how-to/authentik/provision-authentik-database.md
  docs/how-to/zot/register-zot-oidc-client.md
  docs/reference/services/authentik.md
  docs/reference/services/postgresql.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: correct the Deploy Authentik card for the post-cutover DB topology
  docs/changelog.d/agent-doc-review-deploy-authentik.doc.md
  docs/how-to/authentik/deploy-authentik.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: preserve the Dex-replacement rationale and note the pre-cutover DB route
  docs/changelog.d/agent-doc-review-deploy-authentik.doc.md
  docs/how-to/authentik/provision-authentik-database.md
  docs/reference/services/authentik.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(indri): caddy LaunchAgent unit to nix-darwin — PR 6 of the series
  ansible/roles/caddy/defaults/main.yml
  ansible/roles/caddy/tasks/main.yml
  darwin/indri/configuration.nix
  docs/changelog.d/agent-indri-caddy-darwin.infra.md
  docs/how-to/indri/provision.md
  docs/reference/infrastructure/indri.md
  docs/reference/services/caddy.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs: agent interactive access — approved sessions vs read-only exploration
  docs/changelog.d/doc-agent-interactive-access.doc.md
  docs/explanation/agent-interactive-access.md
  docs/explanation/talos-design.md
  docs/explanation/warrant-approval-gated-runs.md
Due: docs-check-filenames, docs-check-links, docs-check-index

ringtail: greet with ReGreet on cage instead of tuigreet
  docs/changelog.d/regreet-greeter-extraoptions.doc.md
  docs/changelog.d/regreet-greeter-extraoptions.infra.md
  docs/reference/infrastructure/ringtail.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(provision-indri): guards only bind the rebuild path; fail loudly when the forge is unreachable
  docs/changelog.d/fix-provision-indri-guards-role-only.bugfix.md
  docs/how-to/indri/provision.md
  mise-tasks/provision-indri
  mise-tasks/provision-ringtail
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(agent-change-process): 2026-09-19 doc review — fix ai-sources size, horkos trigger, report-failure scope
  docs/changelog.d/agent-doc-review-agent-change-process.doc.md
  docs/explanation/agent-change-process.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(indri): forgejo-runner unit to nix-darwin, binary from nixpkgs — PR 7 of the series
  .forgejo/workflows/lint.yaml
  ansible/roles/forgejo_runner/defaults/main.yml
  ansible/roles/forgejo_runner/tasks/main.yml
  ansible/roles/forgejo_runner/templates/config.yaml.j2
  darwin/indri/configuration.nix
  darwin/indri/flake.nix
  docs/changelog.d/agent-indri-forgejo-runner-darwin.infra.md
  docs/how-to/forgejo-runner/configure-launchd-runner.md
  docs/how-to/forgejo-runner/validate-forgejo-workflows.md
  docs/how-to/indri/provision.md
  docs/reference/infrastructure/indri.md
  docs/reference/services/forgejo-runner.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(external-secrets): bump v2.2.0 -> v2.10.0 (service review 2026-09-19)
  argocd/apps/external-secrets-crds-ringtail.yaml
  containers/external-secrets/default.nix
  docs/changelog.d/recurring-reviews-2026-09-19.infra.md
  docs/reference/kubernetes/external-secrets.md
  docs/reference/services/external-secrets-operator.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(external-secrets): drop stale build-host and go-default comments
  containers/external-secrets/default.nix
Due: none

infra(external-secrets): pin image v2.10.0-55edd40-nix
  argocd/manifests/external-secrets-ringtail/kustomization.yaml
  argocd/manifests/external-secrets/kustomization.yaml
  docs/changelog.d/external-secrets-release-v2.10.0.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(borgmatic): k8s file-dump hook selects only Running pods
  ansible/roles/borgmatic/templates/k8s-file-dump.sh.j2
  docs/changelog.d/+borgmatic-k8s-dump-running-pods.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index
