Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

Add coreutils to authentik container
  containers/authentik/default.nix
Due: none

Bump authentik image to v1.1.0-nix (adds coreutils)
  argocd/manifests/authentik/deployment-server.yaml
  argocd/manifests/authentik/deployment-worker.yaml
Due: none

Add authentik.ops.eblu.me to Caddy reverse proxy
  ansible/roles/caddy/defaults/main.yml
Due: ansible-lint

Complete deploy-authentik goal — Authentik running on ringtail
  docs/changelog.d/feature-deploy-authentik.feature.md
  docs/how-to/authentik/deploy-authentik.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Mikado: add migrate-grafana-to-authentik prerequisite
  docs/how-to/authentik/deploy-authentik.md
  docs/how-to/authentik/migrate-grafana-to-authentik.md
  docs/how-to/how-to.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Migrate Grafana OIDC from Dex to Authentik
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/authentik/external-secret.yaml
  argocd/manifests/authentik/kustomization.yaml
  argocd/manifests/grafana-config/external-secret-authentik-oauth.yaml
  argocd/manifests/grafana-config/kustomization.yaml
  argocd/manifests/grafana/values.yaml
Due: none

Mikado: document blueprint loading issue on Nix container
  docs/how-to/authentik/migrate-grafana-to-authentik.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix blueprint loading: create /blueprints symlink dir in container
  containers/authentik/default.nix
Due: none

Bump authentik image to v1.1.1-nix (blueprint path fix)
  argocd/manifests/authentik/deployment-server.yaml
  argocd/manifests/authentik/deployment-worker.yaml
Due: none

Fix blueprint symlinks: use runtime entrypoint wrapper
  containers/authentik/default.nix
Due: none

Add Authentik to homepage dashboard
  argocd/manifests/homepage/configmap.yaml
Due: none

Integrate Forgejo with Authentik OIDC (#228)
  ansible/roles/forgejo/templates/app.ini.j2
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/authentik/external-secret.yaml
  docs/changelog.d/feature-forgejo-authentik-oidc.feature.md
  docs/explanation/federated-login.md
  docs/reference/services/authentik.md
  docs/reference/services/forgejo.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Create C2 Mikado cards for harden-zot-registry (#229)
  docs/changelog.d/harden-zot-mikado-cards.ai.md
  docs/how-to/how-to.md
  docs/how-to/plans/harden-zot-registry.md
  docs/how-to/plans/plans.md
  docs/how-to/zot/enforce-tag-immutability.md
  docs/how-to/zot/harden-zot-registry.md
  docs/how-to/zot/register-zot-oidc-client.md
  docs/how-to/zot/wire-ci-registry-auth.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add commit-based container tagging prereq to harden-zot-registry chain (#230)
  docs/changelog.d/add-container-versioning-prereq.infra.md
  docs/how-to/how-to.md
  docs/how-to/zot/adopt-commit-based-container-tags.md
  docs/how-to/zot/harden-zot-registry.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Harden zot registry, pt 1 (#231)
  .dagger/src/blumeops_ci/main.py
  .pre-commit-config.yaml
  containers/cv/Dockerfile
  containers/devpi/Dockerfile
  containers/forgejo-runner/Dockerfile
  containers/homepage/Dockerfile
  containers/kiwix-serve/Dockerfile
  containers/kubectl/Dockerfile
  containers/miniflux/Dockerfile
  containers/navidrome/Dockerfile
  containers/nettest/Dockerfile
  containers/ntfy/Dockerfile
  containers/ntfy/default.nix
  containers/quartz/Dockerfile
  containers/teslamate/Dockerfile
  containers/transmission/Dockerfile
  docs/changelog.d/harden-zot-mikado-cards.ai.md
  docs/how-to/authentik/build-authentik-container.md
  docs/how-to/deployment/build-container-image.md
  docs/how-to/how-to.md
  docs/how-to/zot/add-container-version-sync-check.md
  docs/how-to/zot/add-dagger-nix-build.md
  docs/how-to/zot/adopt-commit-based-container-tags.md
  docs/how-to/zot/fix-ntfy-nix-version.md
  docs/how-to/zot/pin-container-versions.md
  docs/reference/tools/dagger.md
  mise-tasks/container-version-check
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Adopt commit-based container tags (#232)
  .dagger/src/blumeops_ci/main.py
  .forgejo/workflows/build-container-nix.yaml
  .forgejo/workflows/build-container.yaml
  docs/changelog.d/harden-zot-registry.feature.md
  docs/how-to/agent-change-process.md
  docs/how-to/authentik/build-authentik-container.md
  docs/how-to/deployment/build-container-image.md
  docs/how-to/zot/adopt-commit-based-container-tags.md
  docs/tutorials/ai-assistance-guide.md
  mise-tasks/container-build-and-release
  mise-tasks/container-list
  mise-tasks/container-tag-and-release
  mise-tasks/service-review
Due: docs-check-filenames, docs-check-links, docs-check-index

Add install-dagger-on-nix-runner Mikado card (#233)
  docs/how-to/how-to.md
  docs/how-to/zot/adopt-commit-based-container-tags.md
  docs/how-to/zot/install-dagger-on-nix-runner.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add dagger to nix-container-builder runner (#234)
  docs/how-to/zot/install-dagger-on-nix-runner.md
  docs/reference/infrastructure/ringtail.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

Add dagger CLI to nix runner via github:dagger/nix flake
  nixos/ringtail/configuration.nix
  nixos/ringtail/flake.nix
Due: none

Update ringtail flake.lock with dagger/nix input
  nixos/ringtail/flake.lock
Due: none

Use nix eval instead of dagger for nix runner version extraction
  .forgejo/workflows/build-container-nix.yaml
  nixos/ringtail/configuration.nix
  nixos/ringtail/flake.nix
Due: none

Update ringtail flake.lock (remove dagger input)
  nixos/ringtail/flake.lock
Due: none

Update install-dagger-on-nix-runner card with actual resolution
  docs/how-to/zot/install-dagger-on-nix-runner.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Complete adopt-commit-based-container-tags Mikado card
  docs/how-to/zot/adopt-commit-based-container-tags.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fold enforce-tag-immutability into harden-zot-registry (#235)
  docs/how-to/zot/enforce-tag-immutability.md
  docs/how-to/zot/harden-zot-registry.md
  docs/how-to/zot/register-zot-oidc-client.md
  docs/how-to/zot/wire-ci-registry-auth.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Register Zot as OIDC client in Authentik (#236)
  ansible/playbooks/indri.yml
  ansible/roles/zot/tasks/main.yml
  ansible/roles/zot/templates/oidc-credentials.json.j2
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/authentik/external-secret.yaml
  docs/changelog.d/register-zot-oidc-client.feature.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Close register-zot-oidc-client Mikado card
  docs/how-to/zot/register-zot-oidc-client.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Enable zot registry auth + wire CI credentials (#237)
  .dagger/src/blumeops_ci/main.py
  .forgejo/workflows/build-container-nix.yaml
  .forgejo/workflows/build-container.yaml
  ansible/playbooks/indri.yml
  ansible/roles/forgejo_actions_secrets/defaults/main.yml
  ansible/roles/zot/defaults/main.yml
  ansible/roles/zot/templates/config.json.j2
  argocd/manifests/authentik/configmap-blueprint.yaml
  docs/changelog.d/wire-ci-registry-auth.feature.md
  docs/how-to/zot/harden-zot-registry.md
  docs/how-to/zot/wire-ci-registry-auth.md
  docs/reference/services/zot.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Allow anonymous access to zot /metrics endpoint
  ansible/roles/zot/templates/config.json.j2
Due: ansible-lint

Docs pass: update zot Mikado chain for completion
  docs/changelog.d/harden-zot-mikado-cards.ai.md
  docs/changelog.d/wire-ci-registry-auth.feature.md
  docs/how-to/agent-change-process.md
  docs/how-to/zot/enforce-tag-immutability.md
  docs/how-to/zot/harden-zot-registry.md
  docs/reference/services/zot.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update all container images to new upstream-version tagging scheme (#238)
  argocd/manifests/authentik/deployment-server.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/cv/deployment.yaml
  argocd/manifests/devpi/statefulset.yaml
  argocd/manifests/docs/deployment.yaml
  argocd/manifests/forgejo-runner/deployment.yaml
  argocd/manifests/homepage/deployment.yaml
  argocd/manifests/kiwix/cronjob-zim-watcher.yaml
  argocd/manifests/kiwix/deployment.yaml
  argocd/manifests/miniflux/deployment.yaml
  argocd/manifests/navidrome/deployment.yaml
  argocd/manifests/ntfy/deployment.yaml
  argocd/manifests/teslamate/deployment.yaml
  argocd/manifests/torrent/deployment.yaml
Due: none

Fix container tags deleted during old-tag cleanup
  argocd/manifests/authentik/deployment-server.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/homepage/deployment.yaml
  argocd/manifests/kiwix/cronjob-zim-watcher.yaml
  argocd/manifests/miniflux/deployment.yaml
  argocd/manifests/navidrome/deployment.yaml
Due: none

Add Authentik SSO integration for Jellyfin (#239)
  ansible/playbooks/indri.yml
  ansible/roles/jellyfin/defaults/main.yml
  ansible/roles/jellyfin/tasks/main.yml
  ansible/roles/jellyfin/templates/sso-auth.xml.j2
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/authentik/external-secret.yaml
  docs/changelog.d/feature-jellyfin-authentik-sso.feature.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Add SSO login button to Jellyfin login page
  ansible/roles/jellyfin/tasks/main.yml
  ansible/roles/jellyfin/templates/branding.xml.j2
Due: ansible-lint

No navidrome authentikation
  docs/reference/services/navidrome.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update ringtail flake inputs, add flake-update pipeline (#240)
  .dagger/src/blumeops_ci/main.py
  docs/changelog.d/feature-ringtail-flake-update.infra.md
  docs/how-to/how-to.md
  docs/how-to/ringtail/manage-lockfile.md
  docs/reference/infrastructure/ringtail.md
  docs/reference/tools/dagger.md
  nixos/ringtail/flake.lock
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade frigate-notify from v0.3.5 to v0.5.4 (#241)
  argocd/manifests/frigate/configmap-notify.yaml
  argocd/manifests/frigate/deployment-notify.yaml
  docs/changelog.d/review-frigate-notify-v0.5.4.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix frigate-notify: webapi polling, dedup, hi-res snapshots (#242)
  argocd/manifests/frigate/configmap-notify.yaml
  docs/changelog.d/fix-frigate-notify-config.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review 3 docs: agent-change-process, build-authentik-container, create-authentik-secrets (#243)
  docs/how-to/agent-change-process.md
  docs/how-to/authentik/build-authentik-container.md
  docs/how-to/authentik/create-authentik-secrets.md
Due: docs-check-filenames, docs-check-links, docs-check-index
