Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

fix(ringtail): migrate removed systemd extraConfig options for nixos-26.05
  docs/changelog.d/ringtail-systemd-settings.bugfix.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(mirrors): check mirror health via mirror_updated
  docs/changelog.d/agent-mirrors-runbook-mirror-health.doc.md
  docs/how-to/configuration/manage-forgejo-mirrors.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): cap revisionHistoryLimit to 3 on both Deployments
  argocd/manifests/talos/deployment.yaml
  argocd/manifests/talos/egress-gateway-deployment.yaml
  docs/changelog.d/agent-talos-revision-history-limit.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

ansible(jellyfin): pin SSO-Auth plugin download with a sha256 checksum
  ansible/roles/jellyfin/tasks/main.yml
  docs/changelog.d/agent-jellyfin-sso-download-checksum.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs(ringtail): fix post-indri drift in ringtail card
  docs/changelog.d/ringtail-card-doc-review.doc.md
  docs/reference/infrastructure/ringtail.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(ringtail): fix changelog fragment wrapping
  docs/changelog.d/ringtail-card-doc-review.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(ringtail): address review nits on card doc review
  docs/changelog.d/ringtail-card-doc-review.doc.md
  docs/reference/infrastructure/ringtail.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.71-4d939b6-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.71.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(verify-runs): refuse run inference for warrants recording no run number
  docs/changelog.d/agent-verify-runs-never-dispatched.bugfix.md
  docs/reference/services/horkos.md
  mise-tasks/verify-runs
  tests/test_verify_runs_audit.py
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(ringtail): systemd-run --no-block for the detached nixos-rebuild
  ansible/playbooks/ringtail.yml
  docs/changelog.d/ringtail-rebuild-no-block.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Upgrade Tempo 2.10.7 -> 3.0.3 (major)
  argocd/manifests/tempo-ringtail/tempo.yaml
  containers/tempo/default.nix
  docs/changelog.d/agent-tempo3-upgrade.infra.md
  docs/reference/services/tempo.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(agents): grant read access to eblume/cv in repos.json
  argocd/manifests/talos/repos.json
  docs/changelog.d/agent-cv-repos-json.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.12-281c0b9-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.12.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.72-1e54651-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.72.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.73-0af9af9-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.73.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(argocd): horkos auto-syncs — merging the pin PR is the deploy
  AGENTS.md
  argocd/apps/horkos.yaml
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-autosync.infra.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/how-to/ringtail/restart-ringtail.md
  docs/reference/services/argocd.md
  docs/reference/services/horkos.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: document the plan-first issue cycle (plan step, plan: skip)
  docs/changelog.d/agent-issue-plan-step-docs.doc.md
  docs/explanation/agent-change-process.md
  docs/explanation/talos-design.md
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(agent): add pending-deploys task — released-but-undeployed first-party images
  docs/changelog.d/agent-pending-deploys-view.feature.md
  docs/reference/tools/mise-tasks.md
  mise-tasks/pending-deploys
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(tempo): correct fetchgit hash for mirrors/tempo v3.0.3
  containers/tempo/default.nix
Due: none

infra(horkos): pin image v0.5.13-2d189db-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.13.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.74-fd45b3b-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.74.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(lint): fix the two ruff findings the CI pass caught in pending-deploys
  mise-tasks/pending-deploys
Due: none

infra(lint): freeze the ruff rule set at the 0.16-era default of 413 rules
  containers/transmission-exporter/exporter.py
  docs/changelog.d/agent-ruff-016-defaults.infra.md
  mise-tasks/agent-health
  mise-tasks/agent-metrics
  mise-tasks/branch-cleanup
  mise-tasks/container-version-check
  mise-tasks/docs-preview
  mise-tasks/docs-review
  mise-tasks/docs-review-stale
  mise-tasks/mirror-update-pats
  mise-tasks/op-backup
  mise-tasks/request-run
  mise-tasks/review-compliance-reports
  mise-tasks/service-review
  mise-tasks/spork-create
  mise-tasks/verify-runs
  mise-tasks/warrant-bot-provision
  pulumi/gandi/__main__.py
  pulumi/tailscale/__main__.py
  pyproject.toml
  src/blumeops/main.py
  tests/test_verify_runs_audit.py
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: document the frozen ruff rule set in the deps-update how-to
  docs/how-to/configuration/update-tooling-dependencies.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(tempo-ringtail): move to v3.0.3-417e15a-nix
  argocd/manifests/tempo-ringtail/kustomization.yaml
Due: none

ansible(logrotate): hourly copy+truncate rotation for mcquack LaunchAgent logs
  ansible/playbooks/indri.yml
  ansible/roles/logrotate/defaults/main.yml
  ansible/roles/logrotate/handlers/main.yml
  ansible/roles/logrotate/tasks/main.yml
  ansible/roles/logrotate/templates/logrotate.plist.j2
  ansible/roles/logrotate/templates/mcquack-logrotate.sh.j2
  docs/changelog.d/agent-indri-mcquack-logrotate.infra.md
  docs/reference/infrastructure/indri.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

feat(fly): public photos.eblu.me — Immich shared-link family albums
  docs/changelog.d/agent-photos-public-sharing.feature.md
  docs/how-to/operations/photos-public-sharing.md
  docs/reference/infrastructure/routing.md
  docs/reference/services/flyio-proxy.md
  docs/reference/services/immich.md
  fly/Dockerfile
  fly/fail2ban/filter.d/photos-share.conf
  fly/fail2ban/jail.d/photos.conf
  fly/nginx.conf
  fly/start.sh
  mise-tasks/fly-setup
  pulumi/gandi/__main__.py
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(psa): non-root User in the five local nix container defs
  containers/authentik-redis/default.nix
  containers/mealie/default.nix
  containers/paperless/default.nix
  containers/teslamate/default.nix
  containers/valkey/default.nix
  docs/changelog.d/agent-psa-nonroot-five-images.infra.md
  docs/reference/operations/security.md
Due: docs-check-filenames, docs-check-links, docs-check-index

chore(ringtail): auto nix store GC + optimise, cap systemd-boot menu at 5 generations
  docs/changelog.d/agent-ringtail-nix-gc-hygiene.infra.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(architecture): fix Observability section for Tempo/Alloy tracing, stamp last-reviewed
  docs/changelog.d/agent-architecture-doc-review.doc.md
  docs/explanation/architecture.md
Due: docs-check-filenames, docs-check-links, docs-check-index

grafana(talos): event-loop lag p50/p99 panel
  argocd/manifests/grafana-config-ringtail/dashboards/configmap-talos.yaml
  docs/changelog.d/agent-talos-event-loop-panel.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(psa): pin the five non-root image rebuilds, restore restricted fields
  argocd/manifests/authentik/deployment-redis.yaml
  argocd/manifests/authentik/kustomization.yaml
  argocd/manifests/immich-ringtail/deployment-valkey.yaml
  argocd/manifests/immich-ringtail/kustomization.yaml
  argocd/manifests/mealie-ringtail/deployment.yaml
  argocd/manifests/mealie-ringtail/kustomization.yaml
  argocd/manifests/paperless-ringtail/deployment.yaml
  argocd/manifests/paperless-ringtail/kustomization.yaml
  argocd/manifests/teslamate-ringtail/deployment.yaml
  argocd/manifests/teslamate-ringtail/kustomization.yaml
  docs/changelog.d/agent-psa-nonroot-pin-flip.infra.md
  docs/reference/operations/security.md
Due: docs-check-filenames, docs-check-links, docs-check-index

runner(indri): bump forgejo-runner pin v12.13.2 -> v13.1.0
  ansible/roles/forgejo_runner/defaults/main.yml
  docs/changelog.d/agent-forgejo-runner-v13.doc.md
  docs/changelog.d/agent-forgejo-runner-v13.infra.md
  docs/how-to/forgejo-runner/configure-launchd-runner.md
  docs/how-to/forgejo-runner/validate-forgejo-workflows.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible(alloy): expand alloy_mcquack_logs with caddy, heph, devpi, borgmatic-photos streams
  ansible/roles/alloy/defaults/main.yml
  docs/changelog.d/agent-alloy-mcquack-log-coverage.infra.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(borgmatic): resolve container_arg before the ssh heredoc, unglue the tar-dump hooks
  ansible/roles/borgmatic/templates/config.yaml.j2
  ansible/roles/borgmatic/templates/k8s-tar-dump.sh.j2
  docs/changelog.d/fix-borgmatic-tar-dump-container-arg.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Fence talos to read-only + fork (step 0 of the release-publish rework)
  argocd/manifests/talos/repos.json
  docs/changelog.d/agent-talos-pinned-read.infra.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  mise-tasks/agent-repo-access
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(ringtail): trim historical notes from configuration.nix comments
  docs/changelog.d/agent-ringtail-argocd-cli.infra.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(ringtail): install argocd CLI for interactive sessions
  docs/changelog.d/agent-ringtail-argocd-cli.infra.md
  docs/reference/tools/argocd-cli.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.77-49613b7-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.77.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

grafana(talos): add "CPU: main thread vs process" panel beside event-loop lag
  argocd/manifests/grafana-config-ringtail/dashboards/configmap-talos.yaml
  docs/changelog.d/fix-talos-main-thread-cpu-panel.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
