Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

C0: remove visible GNU Terry Pratchett from naughty.html body
  fly/naughty.html
Due: none

Wave 1 indri→ringtail migration: paperless, teslamate, mealie (#363)
  argocd/apps/mealie-ringtail.yaml
  argocd/apps/paperless-ringtail.yaml
  argocd/apps/teslamate-ringtail.yaml
  argocd/manifests/databases-ringtail/blumeops-pg.yaml
  argocd/manifests/databases-ringtail/external-secret-borgmatic.yaml
  argocd/manifests/databases-ringtail/external-secret-eblume.yaml
  argocd/manifests/databases-ringtail/external-secret-paperless.yaml
  argocd/manifests/databases-ringtail/external-secret-teslamate.yaml
  argocd/manifests/databases-ringtail/kustomization.yaml
  argocd/manifests/mealie-ringtail/deployment.yaml
  argocd/manifests/mealie-ringtail/external-secret.yaml
  argocd/manifests/mealie-ringtail/ingress-tailscale.yaml
  argocd/manifests/mealie-ringtail/kustomization.yaml
  argocd/manifests/mealie-ringtail/pvc.yaml
  argocd/manifests/mealie-ringtail/service.yaml
  argocd/manifests/paperless-ringtail/deployment.yaml
  argocd/manifests/paperless-ringtail/external-secret.yaml
  argocd/manifests/paperless-ringtail/ingress-tailscale.yaml
  argocd/manifests/paperless-ringtail/kustomization.yaml
  argocd/manifests/paperless-ringtail/pv-nfs.yaml
  argocd/manifests/paperless-ringtail/pvc.yaml
  argocd/manifests/paperless-ringtail/service.yaml
  argocd/manifests/paperless/deployment.yaml
  argocd/manifests/teslamate-ringtail/deployment.yaml
  argocd/manifests/teslamate-ringtail/external-secret-db.yaml
  argocd/manifests/teslamate-ringtail/external-secret-encryption-key.yaml
  argocd/manifests/teslamate-ringtail/ingress-tailscale.yaml
  argocd/manifests/teslamate-ringtail/kustomization.yaml
  argocd/manifests/teslamate-ringtail/service.yaml
  containers/mealie/Dockerfile
  containers/mealie/default.nix
  containers/paperless/Dockerfile
  containers/paperless/default.nix
  containers/teslamate/container.py
  containers/teslamate/default.nix
  containers/teslamate/entrypoint.sh
  docs/changelog.d/migrate-wave1-ringtail.infra.md
  docs/how-to/immich/migrate-immich-to-ringtail.md
  docs/how-to/ringtail/migrate-wave1-ringtail.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: ringtail wave-1 images rebuilt from main (fcac8e5-nix tags)
  argocd/manifests/mealie-ringtail/kustomization.yaml
  argocd/manifests/paperless-ringtail/kustomization.yaml
  argocd/manifests/teslamate-ringtail/kustomization.yaml
Due: none

Wire ringtail blumeops-pg into backups + Grafana (#364)
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/tasks/main.yml
  ansible/roles/borgmatic/templates/k8s-sqlite-dump.sh.j2
  ansible/roles/caddy/defaults/main.yml
  argocd/manifests/databases-ringtail/kustomization.yaml
  argocd/manifests/databases-ringtail/service-blumeops-pg-tailscale.yaml
  argocd/manifests/grafana/datasources.yaml
  argocd/manifests/mealie-ringtail/kustomization.yaml
  containers/mealie/default.nix
  docs/changelog.d/backup-grafana-ringtail-blumeops-pg.infra.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

C0: mealie-ringtail image rebuilt from main (e0057b4-nix)
  argocd/manifests/mealie-ringtail/kustomization.yaml
Due: none

Decommission wave-1 minikube services (paperless, teslamate, mealie) (#365)
  argocd/apps/mealie.yaml
  argocd/apps/paperless.yaml
  argocd/apps/teslamate.yaml
  argocd/manifests/databases/blumeops-pg.yaml
  argocd/manifests/databases/external-secret-paperless.yaml
  argocd/manifests/databases/external-secret-teslamate.yaml
  argocd/manifests/databases/kustomization.yaml
  argocd/manifests/mealie/deployment.yaml
  argocd/manifests/mealie/external-secret.yaml
  argocd/manifests/mealie/kustomization.yaml
  argocd/manifests/mealie/pvc.yaml
  argocd/manifests/mealie/service.yaml
  argocd/manifests/paperless/deployment.yaml
  argocd/manifests/paperless/external-secret.yaml
  argocd/manifests/paperless/kustomization.yaml
  argocd/manifests/paperless/pv-nfs.yaml
  argocd/manifests/paperless/pvc.yaml
  argocd/manifests/paperless/service.yaml
  argocd/manifests/teslamate/README.md
  argocd/manifests/teslamate/deployment.yaml
  argocd/manifests/teslamate/external-secret-db.yaml
  argocd/manifests/teslamate/external-secret-encryption-key.yaml
  argocd/manifests/teslamate/kustomization.yaml
  argocd/manifests/teslamate/service.yaml
  docs/changelog.d/decommission-wave1-minikube.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: wave-1 decommission follow-ups (argocd admin RBAC, teslamate probe)
  argocd/manifests/alloy-k8s/config.alloy
  argocd/manifests/argocd/argocd-rbac-cm-patch.yaml
  docs/changelog.d/+wave1-decommission-followups.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: drop duplicate Homepage static entries for ringtail-migrated services
  argocd/manifests/homepage/services.yaml
  docs/changelog.d/+homepage-dedup-migrated.misc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: retire Todoist blumeops-tasks; point task discovery at heph
  AGENTS.md
  docs/changelog.d/+blumeops-tasks-due-recurrence.feature.md
  docs/changelog.d/+retire-todoist-for-heph.infra.md
  docs/how-to/configuration/rotate-fly-deploy-token.md
  docs/how-to/configuration/rotate-gandi-pat.md
  docs/reference/services/borgmatic.md
  docs/reference/storage/backups.md
  docs/reference/tools/mise-tasks.md
  docs/tutorials/ai-assistance-guide.md
  mise-tasks/blumeops-tasks
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: pin Quartz docs build to v4.5.2 (v5.0.0 broke build)
  docs/changelog.d/+pin-quartz-v4.bugfix.md
  src/blumeops/main.py
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: point tailscale-operator base mirror fetch at tailnet forge
  argocd/manifests/tailscale-operator-base/kustomization.yaml
  docs/changelog.d/+tailscale-operator-mirror-tailnet-url.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Recurring review sweep: 4 doc cards + nvidia-device-plugin v0.19.2 (#366)
  argocd/manifests/nvidia-device-plugin/kustomization.yaml
  docs/changelog.d/reviews-jun4.doc.md
  docs/changelog.d/reviews-jun4.infra.md
  docs/reference/kubernetes/cluster.md
  docs/reference/services/alloy.md
  docs/reference/services/ntfy.md
  docs/reference/services/tempo.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Localize external-secrets container (native container.py build) (#367)
  argocd/manifests/external-secrets/kustomization.yaml
  containers/external-secrets/container.py
  docs/changelog.d/local-external-secrets.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: rebuild external-secrets image off main (v2.2.0-0e70a1b)
  argocd/manifests/external-secrets/kustomization.yaml
  docs/changelog.d/+external-secrets-main-sha-rebuild.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Localize external-secrets on ringtail (amd64 nix build) (#368)
  argocd/apps/external-secrets-ringtail.yaml
  argocd/manifests/external-secrets-ringtail/kustomization.yaml
  containers/external-secrets/default.nix
  docs/changelog.d/external-secrets-ringtail-nix.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: rebuild external-secrets off main, repoint both clusters to stable tags
  argocd/manifests/external-secrets-ringtail/kustomization.yaml
  argocd/manifests/external-secrets/kustomization.yaml
  docs/changelog.d/+external-secrets-stable-main-sha.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add hephaestus sync hub to indri (launchagent, PWA, device-code OIDC) (#369)
  ansible/playbooks/indri.yml
  ansible/roles/caddy/defaults/main.yml
  ansible/roles/heph/defaults/main.yml
  ansible/roles/heph/handlers/main.yml
  ansible/roles/heph/tasks/main.yml
  ansible/roles/heph/templates/heph.plist.j2
  argocd/manifests/authentik/configmap-blueprint.yaml
  docs/changelog.d/heph-indri-hub.infra.md
  docs/reference/infrastructure/indri.md
  docs/reference/services/hephaestus.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

heph Authentik: register heph-pwa redirect URIs (PKCE login) (#370)
  argocd/manifests/authentik/configmap-blueprint.yaml
  docs/changelog.d/heph-pwa-redirect-uris.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: bump indri heph hub to v1.2.1 (PWA Authentik login + /config)
  ansible/roles/heph/defaults/main.yml
  docs/changelog.d/+heph-hub-v1.2.1.infra.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

C0: track heph in service-versions (self-updating; note drift task)
  service-versions.yaml
Due: none

heph Authentik: grant offline_access scope (fixes spoke sync refresh-token 400)
  argocd/manifests/authentik/configmap-blueprint.yaml
  docs/changelog.d/heph-offline-access.bugfix.md
  docs/reference/services/hephaestus.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: review jellyfin, upgrade indri to 10.11.11 (security fixes)
  docs/changelog.d/+jellyfin-10-11-11.bugfix.md
  docs/reference/services/jellyfin.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: doc-review tailscale-operator (dual indri/ringtail, host caveat)
  docs/changelog.d/+tailscale-operator-doc-review.doc.md
  docs/reference/kubernetes/tailscale-operator.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: update ringtail flake inputs (nixpkgs, disko)
  docs/changelog.d/+ringtail-flake-update.infra.md
  nixos/ringtail/flake.lock
Due: docs-check-filenames, docs-check-links, docs-check-index

Retire Prowler image + IaC scans (keep K8s CIS only) (#372)
  argocd/manifests/prowler/cronjob-iac-scan.yaml
  argocd/manifests/prowler/cronjob-image-scan.yaml
  argocd/manifests/prowler/kustomization.yaml
  argocd/manifests/prowler/mutelist/trivyignore.yaml
  docs/changelog.d/retire-prowler-image-iac-scans.infra.md
  docs/how-to/operations/deploy-prowler.md
  docs/how-to/operations/read-compliance-reports.md
  docs/reference/operations/security.md
  docs/reference/services/prowler.md
  mise-tasks/review-compliance-reports
Due: docs-check-filenames, docs-check-links, docs-check-index

Doc review: 5 stalest cards; scale back ai-docs rule; document heph CLI (#373)
  AGENTS.md
  docs/changelog.d/doc-review-stalest-five.ai.md
  docs/changelog.d/doc-review-stalest-five.doc.md
  docs/explanation/agent-change-process.md
  docs/how-to/mealie/plan-a-meal.md
  docs/reference/infrastructure/unifi.md
  docs/reference/services/argocd.md
  docs/reference/services/authentik.md
  docs/reference/services/grafana.md
  docs/reference/tools/mise-tasks.md
  docs/tutorials/ai-assistance-guide.md
  docs/tutorials/exploring-the-docs.md
  mise-tasks/ai-docs
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: service-review automounter (1.13.0, healthy); fix tracking-file path in script
  docs/changelog.d/+service-review-automounter.misc.md
  mise-tasks/service-review
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: fix 1Password export menu wording in backup how-to
  docs/changelog.d/+1password-export-menu-wording.doc.md
  docs/how-to/operations/run-1password-backup.md
  mise-tasks/op-backup
Due: docs-check-filenames, docs-check-links, docs-check-index

Localize the Tailscale operator stack (k8s-operator + indri ProxyClass) (#374)
  argocd/manifests/tailscale-operator-ringtail/kustomization.yaml
  argocd/manifests/tailscale-operator/kustomization.yaml
  argocd/manifests/tailscale-operator/proxyclass-image.yaml
  containers/tailscale-operator/container.py
  containers/tailscale-operator/default.nix
  containers/tailscale/container.py
  docs/changelog.d/localize-tailscale-operator.infra.md
  docs/reference/kubernetes/tailscale-operator.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: tailscale-operator manifests to [main] image tags
  argocd/manifests/tailscale-operator-ringtail/kustomization.yaml
  argocd/manifests/tailscale-operator/kustomization.yaml
  argocd/manifests/tailscale-operator/proxyclass-image.yaml
Due: none

Tier 2b: Anubis PoW gateway in front of forge.eblu.me (+ dashboard) (#376)
  argocd/manifests/grafana-config/dashboards/configmap-flyio.yaml
  docs/changelog.d/anubis.infra.md
  docs/explanation/ai-scraper-mitigation.md
  fly/Dockerfile
  fly/alloy.river
  fly/nginx.conf
  fly/start.sh
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Retire minikube on indri (umbrella plan) (#377)
  ansible/playbooks/indri.yml
  ansible/roles/alloy/defaults/main.yml
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/forgejo_runner/defaults/main.yml
  ansible/roles/forgejo_runner/handlers/main.yml
  ansible/roles/forgejo_runner/tasks/main.yml
  ansible/roles/forgejo_runner/templates/config.yaml.j2
  ansible/roles/forgejo_runner/templates/forgejo-runner.plist.j2
  argocd/apps/miniflux-ringtail.yaml
  argocd/manifests/alloy-k8s/config.alloy
  argocd/manifests/databases-ringtail/blumeops-pg.yaml
  argocd/manifests/databases-ringtail/external-secret-miniflux.yaml
  argocd/manifests/databases-ringtail/kustomization.yaml
  argocd/manifests/miniflux-ringtail/deployment.yaml
  argocd/manifests/miniflux-ringtail/external-secret-db.yaml
  argocd/manifests/miniflux-ringtail/ingress-tailscale.yaml
  argocd/manifests/miniflux-ringtail/kustomization.yaml
  argocd/manifests/miniflux-ringtail/service.yaml
  containers/miniflux/default.nix
  docs/changelog.d/retire-minikube.doc.md
  docs/changelog.d/retire-minikube.infra.md
  docs/how-to/forgejo-runner/configure-k8s-runner.md
  docs/how-to/forgejo-runner/configure-launchd-runner.md
  docs/how-to/ringtail/migrate-wave1-ringtail.md
  docs/how-to/ringtail/retire-minikube.md
  docs/reference/services/forgejo-runner.md
  mise-tasks/services-check
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Service review: upgrade Prometheus to v3.12.0 (#375)
  argocd/manifests/prometheus/kustomization.yaml
  containers/prometheus/Dockerfile
  docs/changelog.d/prometheus-3.12.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

retire-minikube phase 1 (final): prowler to ringtail (#379)
  argocd/apps/prowler-ringtail.yaml
  argocd/manifests/prowler-ringtail/cronjob.yaml
  argocd/manifests/prowler-ringtail/kustomization.yaml
  argocd/manifests/prowler-ringtail/mutelist/apiserver.yaml
  argocd/manifests/prowler-ringtail/mutelist/control-plane.yaml
  argocd/manifests/prowler-ringtail/mutelist/core-pod-security.yaml
  argocd/manifests/prowler-ringtail/mutelist/manual-node-checks.yaml
  argocd/manifests/prowler-ringtail/mutelist/rbac.yaml
  argocd/manifests/prowler-ringtail/pv-nfs.yaml
  argocd/manifests/prowler-ringtail/pvc.yaml
  argocd/manifests/prowler-ringtail/rbac.yaml
  argocd/manifests/prowler-ringtail/serviceaccount.yaml
  containers/prowler/Dockerfile
  containers/prowler/default.nix
  docs/changelog.d/retire-minikube-prowler.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: phase-1 ringtail images rebuilt from main (-f386e2e-nix)
  argocd/manifests/kiwix-ringtail/kustomization.yaml
  argocd/manifests/miniflux-ringtail/kustomization.yaml
  argocd/manifests/navidrome-ringtail/kustomization.yaml
  argocd/manifests/prowler-ringtail/kustomization.yaml
  argocd/manifests/torrent-ringtail/kustomization.yaml
  argocd/manifests/unpoller-ringtail/kustomization.yaml
  docs/changelog.d/+phase1-main-rebuilds.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

retire-minikube phase 2: authentik DB to ringtail blumeops-pg (#381)
  ansible/roles/borgmatic/defaults/main.yml
  argocd/manifests/databases-ringtail/blumeops-pg.yaml
  argocd/manifests/databases-ringtail/external-secret-authentik.yaml
  argocd/manifests/databases-ringtail/kustomization.yaml
  docs/changelog.d/retire-minikube-p2-authentik.infra.md
  docs/how-to/ringtail/retire-minikube.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

C0: mark retire-minikube phase 2 complete in the plan card
  docs/changelog.d/+retire-minikube-p2-complete.doc.md
  docs/how-to/ringtail/retire-minikube.md
Due: docs-check-filenames, docs-check-links, docs-check-index
