Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

infra(tailscale): pin ProxyClass + DNSConfig companion images to v1.102.5-7f39ab6-nix
  argocd/manifests/tailscale-operator-ringtail/dnsconfig-image.yaml
  argocd/manifests/tailscale-operator-ringtail/proxyclass-image.yaml
Due: none

feat(authentik): principal flip to talos-* (step-4 leg C)
  ansible/roles/heph/defaults/main.yml
  ansible/roles/heph/tasks/main.yml
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/grafana-ringtail/grafana.ini
  argocd/manifests/horkos/deployment.yaml
  argocd/manifests/talos/deployment.yaml
  docs/changelog.d/agent-leg-c-principal-flip.infra.md
  docs/how-to/operations/request-a-privileged-run.md
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
  docs/reference/infrastructure/agent-workspaces.md
  docs/reference/infrastructure/ringtail.md
  docs/reference/services/horkos.md
  docs/reference/services/talos.md
  docs/reference/tools/mise-tasks.md
  mise-tasks/agent-health
  mise-tasks/agent-metrics
  mise-tasks/request-run
  mise-tasks/talos-wait-for-task
  mise-tasks/verify-runs
  nixos/ringtail/agent-heph-spoke.nix
  nixos/ringtail/heph-eblume.nix
  tests/test_verify_runs_audit.py
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.185-188c9f6-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.185.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

dashboard(talos): scope 'API input' to source="session"
  argocd/manifests/grafana-config-ringtail/dashboards/configmap-talos.yaml
  docs/changelog.d/agent-talos-dashboard-source-filter.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

tailnet: tighten ACL test comment + expose-service doc wording
  docs/tutorials/expose-service-publicly.md
  pulumi/tailscale/policy.hujson
Due: docs-check-filenames, docs-check-links, docs-check-index

tailnet: fly proxy origin tag for the Caddy :8443 listener
  docs/changelog.d/agent-flyio-tailnet-8443.infra.md
  docs/explanation/security-model.md
  docs/reference/infrastructure/tailscale.md
  docs/reference/services/flyio-proxy.md
  pulumi/tailscale/__main__.py
  pulumi/tailscale/policy.hujson
Due: docs-check-filenames, docs-check-links, docs-check-index

nixos(ringtail): add flake invariants guarding k3s ownership invariants
  docs/changelog.d/agent-ringtail-k3s-invariants.infra.md
  nixos/ringtail/configuration.nix
  nixos/ringtail/invariants.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.187-a6008e5-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.187.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(tailnet): apply tag-carrying resources after the ACL
  docs/changelog.d/fix-tailnet-tags-after-acl.bugfix.md
  pulumi/tailscale/__main__.py
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(borgmatic): never-pruned talos-data config + main-archive gauge scoping
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/tasks/main.yml
  ansible/roles/borgmatic/templates/borgmatic.plist.j2
  ansible/roles/borgmatic/templates/config.yaml.j2
  ansible/roles/borgmatic/templates/talos-data.yaml.j2
  ansible/roles/borgmatic_metrics/templates/borgmatic-metrics.sh.j2
  darwin/indri/mcquack-borgmatic-metrics.sh
  docs/changelog.d/agent-borgmatic-talos-data.infra.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

darwin(indri): add flake invariants for launchd argv0 and ExitTimeOut
  darwin/indri/configuration.nix
  darwin/indri/invariants.nix
  docs/changelog.d/agent-indri-flake-invariants.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

darwin(indri): follow launchd's argv0 precedence in the invariant
  darwin/indri/invariants.nix
Due: none

infra(horkos): pin image v0.5.35-b7e91f3-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.35.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(cv): pin artifact v1.0.5
  ansible/roles/cv/defaults/main.yml
  docs/changelog.d/cv-release-v1.0.5.infra.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

borgmatic: scheduled verification for the immich-photos repo
  ansible/roles/alloy/defaults/main.yml
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/handlers/main.yml
  ansible/roles/borgmatic/tasks/main.yml
  ansible/roles/borgmatic/templates/borgmatic-verify-photos.plist.j2
  ansible/roles/borgmatic/templates/borgmatic-verify-photos.sh.j2
  ansible/roles/borgmatic/templates/photos.yaml.j2
  ansible/roles/borgmatic_metrics/defaults/main.yml
  ansible/roles/borgmatic_metrics/templates/borgmatic-metrics.sh.j2
  argocd/manifests/grafana-ringtail/alerting.yaml
  darwin/indri/mcquack-borgmatic-metrics.sh
  docs/changelog.d/agent-borgmatic-photos-verify.infra.md
  docs/reference/services/borgmatic.md
  docs/reference/storage/backups.md
  mise-tasks/services-check
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(borgmatic): tier split — new never-mixed operational config + local repo
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/handlers/main.yml
  ansible/roles/borgmatic/tasks/main.yml
  ansible/roles/borgmatic/templates/borgmatic-ops.plist.j2
  ansible/roles/borgmatic/templates/config.yaml.j2
  ansible/roles/borgmatic/templates/operational.yaml.j2
  ansible/roles/borgmatic_metrics/defaults/main.yml
  ansible/roles/borgmatic_metrics/templates/borgmatic-metrics.sh.j2
  darwin/indri/mcquack-borgmatic-metrics.sh
  docs/changelog.d/agent-borgmatic-tier-split.infra.md
  docs/reference/services/borgmatic.md
  docs/reference/storage/backups.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

feat(authentik): drop the retired agents-m2m identity (step-4 leg D)
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/authentik/external-secret.yaml
  argocd/manifests/horkos/deployment.yaml
  argocd/manifests/talos/deployment.yaml
  docs/changelog.d/agent-leg-d-principal-drop.infra.md
  docs/reference/services/talos.md
Due: docs-check-filenames, docs-check-links, docs-check-index

authentik: refresh python-deps outputHash for the pinned nixpkgs
  containers/authentik/python-deps.nix
Due: none

authentik: copy built-in blueprints instead of symlinking them
  containers/authentik/default.nix
  docs/changelog.d/authentik-builtin-blueprints-copy.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

tailnet: drop tag:flyio-target from indri
  docs/changelog.d/agent-flyio-drop-indri-target.infra.md
  docs/explanation/architecture.md
  docs/reference/infrastructure/tailscale.md
  docs/reference/services/caddy.md
  docs/reference/services/flyio-proxy.md
  docs/tutorials/expose-service-publicly.md
  pulumi/tailscale/__main__.py
  pulumi/tailscale/policy.hujson
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: how-to card for adding a flake invariant
  AGENTS.md
  docs/changelog.d/agent-flake-invariant-docs.doc.md
  docs/explanation/no-helm-policy.md
  docs/how-to/operations/add-a-flake-invariant.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: address review nits on the flake-invariant card
  docs/how-to/operations/add-a-flake-invariant.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.189-5b5d992-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.189.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

provision: fall back to the nixos/nix container when nix is absent
  docs/changelog.d/agent-indri-retire-docker-desktop-a-native-nix-flake-lock.infra.md
  docs/how-to/indri/provision.md
  docs/how-to/ringtail/manage-lockfile.md
  docs/reference/infrastructure/ringtail.md
  mise-tasks/_flake_lock
  mise-tasks/provision-indri
  mise-tasks/provision-ringtail
Due: docs-check-filenames, docs-check-links, docs-check-index

ci(indri): run nix flake lock natively in provision tasks, drop docker fallback in version check
  .forgejo/workflows/provision-indri.yaml
  docs/changelog.d/agent-indri-retire-docker-desktop-a-native-nix-flake-lock.infra.md
  docs/how-to/indri/provision.md
  docs/how-to/ringtail/manage-lockfile.md
  docs/how-to/zot/container-versioning.md
  docs/reference/infrastructure/ringtail.md
  mise-tasks/container-version-check
  mise-tasks/provision-indri
  mise-tasks/provision-ringtail
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(borgmatic): per-source talos-data success gauge + staleness alert
  ansible/roles/borgmatic_metrics/templates/borgmatic-metrics.sh.j2
  argocd/manifests/grafana-config-ringtail/dashboards/configmap-borgmatic.yaml
  argocd/manifests/grafana-ringtail/alerting.yaml
  darwin/indri/mcquack-borgmatic-metrics.sh
  docs/changelog.d/agent-borgmatic-talos-data-gauge.infra.md
  docs/reference/services/borgmatic.md
  docs/reference/storage/backups.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

borgmatic: remove stale talos-data tar from main dump dir
  ansible/roles/borgmatic/tasks/main.yml
  docs/changelog.d/agent-borgmatic-stale-tar-cleanup.infra.md
  docs/reference/storage/backups.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

borgmatic: refresh two pre-split comments now that dumps stage into k8s-dumps-op
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/tasks/main.yml
Due: ansible-lint

forge-reconcile PR check: address review (base-ref fetch, invariant gate, violations)
  .forgejo/actions/report-pr-notice/action.yml
  docs/how-to/operations/upgrade-forgejo.md
  mise-tasks/forge-reconcile
  tests/test_forge_reconcile.py
Due: docs-check-filenames, docs-check-links, docs-check-index

forge-reconcile: add PR-check intended/unexpected drift + weekly env invariants
  .forgejo/actions/report-pr-notice/action.yml
  .forgejo/workflows/forge-reconcile.yaml
  .forgejo/workflows/horkos-forge-drift.yaml
  ansible/playbooks/indri.yml
  ansible/roles/forgejo_actions_secrets/defaults/main.yml
  docs/changelog.d/agent-forge-reconcile-pr2.infra.md
  docs/explanation/agent-change-process.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/how-to/operations/add-a-freestanding-repo.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  docs/reference/services/forgejo.md
  docs/reference/tools/mise-tasks.md
  mise-tasks/forge-name-lint.allowlist.yaml
  mise-tasks/forge-reconcile
  mise-tasks/horkos-forge-drift
  tests/test_forge_reconcile.py
  tests/test_horkos_forge_drift.py
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(authentik): pin image v2026.2.6-24eb566-nix
  argocd/manifests/authentik/kustomization.yaml
  docs/changelog.d/authentik-release-v2026.2.6.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

authentik: ship built-in blueprints as real files, fail build on symlinks
  containers/authentik/default.nix
  docs/changelog.d/authentik-blueprints-real-files.bugfix.md
  docs/reference/services/authentik.md
Due: docs-check-filenames, docs-check-links, docs-check-index

authentik: make the python-deps FOD deterministic
  containers/authentik/python-deps.nix
  docs/changelog.d/authentik-blueprints-real-files.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(authentik): pin image v2026.2.6-6a6c45d-nix
  argocd/manifests/authentik/kustomization.yaml
  docs/changelog.d/authentik-release-v2026.2.6.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

forge-reconcile: --check drift-checks the Actions-secret names declared by the ansible role
  .forgejo/workflows/forge-reconcile.yaml
  docs/changelog.d/agent-forge-reconcile-actions-secret-names.infra.md
  docs/reference/services/forgejo.md
  mise-tasks/forge-reconcile
  tests/test_forge_reconcile.py
Due: docs-check-filenames, docs-check-links, docs-check-index

authentik: ci-authentik-blueprints read-only principal (blueprint reader)
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/authentik/external-secret.yaml
  docs/changelog.d/agent-authentik-blueprints-credential.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

build-blumeops: docs build off the privileged indri runner
  .forgejo/workflows/build-blumeops.yaml
  docs/changelog.d/agent-docs-tarball-off-indri.infra.md
  docs/how-to/configuration/update-documentation.md
  docs/reference/services/forgejo.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: review restore-1password-backup card, stamp last-reviewed
  docs/changelog.d/agent-doc-review-2026-10-05.doc.md
  docs/how-to/operations/restore-1password-backup.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.192-8c883a0-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.192.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

borgmatic: zstd for the talos-data config; record the never-pruned tier decision
  ansible/roles/borgmatic/templates/talos-data.yaml.j2
  docs/changelog.d/agent-borgmatic-tier-split.infra.md
  docs/reference/services/borgmatic.md
  docs/reference/storage/backups.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index
