Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

C0: ringtail — restore sway default keybindings, fix fuzzel border config
  docs/changelog.d/+ringtail-sway-fuzzel.bugfix.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: docs — add mealie borg restore how-to
  docs/how-to/mealie/restore-from-borg.md
  docs/reference/services/mealie.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: split gandi-operations docs; add dns-acme-cleanup mise task
  docs/how-to/configuration/gandi-operations.md
  docs/how-to/configuration/manage-eblu-me-dns.md
  docs/how-to/configuration/manage-forgejo-mirrors.md
  docs/how-to/configuration/rotate-gandi-pat.md
  docs/reference/infrastructure/gandi.md
  docs/reference/tools/mise-tasks.md
  docs/reference/tools/pulumi.md
  mise-tasks/dns-acme-cleanup
  pulumi/gandi/README.md
  pulumi/gandi/__main__.py
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: blumeops-tasks — show due offset + recurrence, sort by overdue-ness
  docs/changelog.d/+blumeops-tasks-due-recurrence.feature.md
  mise-tasks/blumeops-tasks
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: CLAUDE.md — import AGENTS.md instead of redirecting to it
  CLAUDE.md
  docs/changelog.d/+claude-md-import-agents.ai.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: blumeops-tasks — replace ambiguous due:+N with "Nd overdue"
  docs/changelog.d/+blumeops-tasks-due-recurrence.feature.md
  mise-tasks/blumeops-tasks
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: service-review — mark cv reviewed 2026-04-27
  service-versions.yaml
Due: none

C0: review-compliance-reports — summarize image and IaC scans
  docs/changelog.d/+review-compliance-image-iac.feature.md
  mise-tasks/review-compliance-reports
Due: docs-check-filenames, docs-check-links, docs-check-index

Address 6 critical Prowler IaC findings (mute + grafana RBAC tighten) (#340)
  argocd/manifests/grafana/deployment.yaml
  argocd/manifests/grafana/rbac.yaml
  argocd/manifests/prowler/cronjob-iac-scan.yaml
  argocd/manifests/prowler/kustomization.yaml
  argocd/manifests/prowler/mutelist/trivyignore.yaml
  compensating-controls.yaml
  containers/prowler/Dockerfile
  docs/changelog.d/prowler-iac-mutelist.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: prowler — rebuild image against main HEAD
  argocd/manifests/prowler/kustomization.yaml
  docs/changelog.d/+prowler-rebuild-on-main.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: transmission doc — review and correct storage/monitoring details
  docs/changelog.d/+transmission-doc-review.doc.md
  docs/reference/services/transmission.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: review CC ephemeral-privileged-jobs
  compensating-controls.yaml
  docs/changelog.d/+review-cc-ephemeral-privileged-jobs.misc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Migrate devpi from minikube to indri (launchd) (#341)
  ansible/playbooks/indri.yml
  ansible/roles/caddy/defaults/main.yml
  ansible/roles/devpi/defaults/main.yml
  ansible/roles/devpi/handlers/main.yml
  ansible/roles/devpi/tasks/main.yml
  ansible/roles/devpi/templates/devpi.plist.j2
  argocd/apps/devpi.yaml
  argocd/manifests/alloy-k8s/config.alloy
  argocd/manifests/devpi/README.md
  argocd/manifests/devpi/external-secret.yaml
  argocd/manifests/devpi/ingress-tailscale.yaml
  argocd/manifests/devpi/kustomization.yaml
  argocd/manifests/devpi/service.yaml
  argocd/manifests/devpi/statefulset.yaml
  docs/changelog.d/migrate-devpi-to-indri.infra.md
  docs/how-to/operations/devpi-on-indri.md
  docs/how-to/operations/rebuild-minikube-cluster.md
  docs/how-to/operations/restart-indri.md
  docs/reference/infrastructure/tailscale.md
  docs/reference/services/devpi.md
  docs/reference/storage/backups.md
  pulumi/tailscale/__main__.py
  pulumi/tailscale/policy.hujson
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

C0: remove containers/devpi/ build artifact
  containers/devpi/container.py
  containers/devpi/start.sh
  docs/changelog.d/+remove-devpi-container-build.misc.md
  docs/reference/tools/dagger.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C1: migrate cv + docs from minikube to indri-native (#342)
  .forgejo/workflows/build-blumeops.yaml
  .forgejo/workflows/cv-deploy.yaml
  ansible/playbooks/indri.yml
  ansible/roles/caddy/defaults/main.yml
  ansible/roles/caddy/templates/Caddyfile.j2
  ansible/roles/cv/defaults/main.yml
  ansible/roles/cv/tasks/main.yml
  ansible/roles/docs/defaults/main.yml
  ansible/roles/docs/tasks/main.yml
  argocd/manifests/homepage/services.yaml
  docs/changelog.d/migrate-cv-docs-to-indri.infra.md
  docs/how-to/operations/cv-on-indri.md
  docs/how-to/operations/docs-on-indri.md
  docs/reference/services/cv.md
  docs/reference/services/docs.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

C0: fix Caddyfile try_html — handle_errors can't nest inside handle{}
  ansible/roles/caddy/templates/Caddyfile.j2
Due: ansible-lint

C1: clean up cv + docs minikube artifacts (#343)
  argocd/apps/cv.yaml
  argocd/apps/docs.yaml
  argocd/manifests/cv/deployment.yaml
  argocd/manifests/cv/ingress-tailscale.yaml
  argocd/manifests/cv/kustomization.yaml
  argocd/manifests/cv/pdb.yaml
  argocd/manifests/cv/service.yaml
  argocd/manifests/docs/deployment.yaml
  argocd/manifests/docs/ingress-tailscale.yaml
  argocd/manifests/docs/kustomization.yaml
  argocd/manifests/docs/pdb.yaml
  argocd/manifests/docs/service.yaml
  containers/cv/Dockerfile
  containers/cv/default.conf
  containers/cv/start.sh
  containers/quartz/Dockerfile
  containers/quartz/default.conf
  containers/quartz/start.sh
  docs/changelog.d/cleanup-cv-docs-minikube-artifacts.misc.md
  mise-tasks/container-version-check
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

C1: SHA-pin tooling dependencies (2026-04 cycle) (#344)
  docs/changelog.d/update-tooling-deps-2026-04.doc.md
  docs/changelog.d/update-tooling-deps-2026-04.infra.md
  docs/how-to/configuration/rotate-fly-deploy-token.md
  docs/how-to/configuration/update-tooling-dependencies.md
  docs/how-to/operations/manage-flyio-proxy.md
  fly/Dockerfile
  mise-tasks/blumeops-tasks
  mise-tasks/branch-cleanup
  mise-tasks/container-build-and-release
  mise-tasks/container-list
  mise-tasks/container-version-check
  mise-tasks/dns-acme-cleanup
  mise-tasks/docs-check-frontmatter
  mise-tasks/docs-check-links
  mise-tasks/docs-mikado
  mise-tasks/docs-preview
  mise-tasks/docs-review
  mise-tasks/docs-review-stale
  mise-tasks/docs-review-tags
  mise-tasks/mikado-branch-invariant-check
  mise-tasks/op-backup
  mise-tasks/pr-comments
  mise-tasks/prune-ringtail-generations
  mise-tasks/review-compensating-controls
  mise-tasks/review-compliance-reports
  mise-tasks/runner-logs
  mise-tasks/service-review
  mise-tasks/spork-create
  prek.toml
Due: docs-check-filenames, docs-check-links, docs-check-index

Update ringtail flake inputs
  nixos/ringtail/flake.lock
Due: none

Alloy V1.16.0 (#345)
  argocd/manifests/alloy-k8s/kustomization.yaml
  argocd/manifests/alloy-ringtail/kustomization.yaml
  argocd/manifests/alloy-tracing-ringtail/kustomization.yaml
  containers/alloy/Dockerfile
  containers/alloy/container.py
  containers/alloy/default.nix
  docs/changelog.d/alloy-v1.16.0.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: alloy — bump kustomization tags to main-branch SHA
  argocd/manifests/alloy-k8s/kustomization.yaml
  argocd/manifests/alloy-ringtail/kustomization.yaml
  argocd/manifests/alloy-tracing-ringtail/kustomization.yaml
  docs/changelog.d/+alloy-main-sha-rebuild.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: alloy native macOS on indri — upgrade to v1.16.0
  docs/changelog.d/+alloy-native-macos-v1.16.0.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: review ollama doc — refresh image, models, last-reviewed
  docs/changelog.d/+review-ollama-doc.doc.md
  docs/reference/services/ollama.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: review compensating control trusted-ci-only
  compensating-controls.yaml
  docs/changelog.d/+review-cc-trusted-ci-only.misc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Mirror valkey 8.1 locally for paperless and immich (#346)
  argocd/manifests/immich/kustomization.yaml
  argocd/manifests/paperless/kustomization.yaml
  containers/valkey/container.py
  docs/changelog.d/valkey-mirror.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: valkey — bump kustomization tags to main-branch SHA
  argocd/manifests/immich/kustomization.yaml
  argocd/manifests/paperless/kustomization.yaml
  docs/changelog.d/+valkey-main-tag-bump.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: rotate-fly-deploy-token — fish+bash one-shot, op validator gotcha
  docs/changelog.d/+rotate-fly-deploy-token-shell-examples.doc.md
  docs/how-to/configuration/rotate-fly-deploy-token.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: zot — upgrade indri registry to v2.1.16
  docs/changelog.d/+zot-v2.1.16.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: kiwix — doc review, fix Adding Archives source path
  docs/reference/services/kiwix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: docs — explanation article on compliance mute categories
  docs/changelog.d/+compliance-mute-categories.doc.md
  docs/explanation/compliance-mute-categories.md
  docs/how-to/operations/review-compensating-controls.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: review CC init-container-isolation — defer retirement to post-ringtail
  compensating-controls.yaml
  docs/changelog.d/+review-cc-init-container-isolation.misc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: service review — caddy v2.11.2 (current latest, healthy)
  service-versions.yaml
Due: none

C0: doc review — index.md, add ringtail to infra overview
  docs/changelog.d/+review-index-doc.doc.md
  docs/index.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C1: mirror tailscale container locally for ringtail proxyclass (#347)
  argocd/manifests/tailscale-operator-ringtail/kustomization.yaml
  argocd/manifests/tailscale-operator-ringtail/proxyclass-image.yaml
  containers/tailscale/default.nix
  docs/changelog.d/mirror-tailscale-container.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: tailscale main-SHA rebuild for ringtail proxyclass
  argocd/manifests/tailscale-operator-ringtail/proxyclass-image.yaml
  docs/changelog.d/+tailscale-main-sha-rebuild.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C1: nix-build homepage container for amd64 ringtail migration
  containers/homepage/Dockerfile
  containers/homepage/default.nix
Due: none

C1: migrate homepage dashboard to ringtail k3s
  argocd/apps/homepage.yaml
  argocd/manifests/homepage/kustomization.yaml
  argocd/manifests/homepage/services.yaml
  docs/changelog.d/homepage-to-ringtail.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: fix homepage container /app/config write permissions
  containers/homepage/default.nix
  docs/changelog.d/+homepage-config-perms-fix.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: bump homepage image to fixed-perms build (v1.11.0-678f26b-nix)
  argocd/manifests/homepage/kustomization.yaml
Due: none

C1: deploy adelaide-baby-shower-app to ringtail k3s (#349)
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/caddy/defaults/main.yml
  ansible/roles/cv/defaults/main.yml
  argocd/apps/shower.yaml
  argocd/manifests/grafana-config/dashboards/configmap-shower-apm.yaml
  argocd/manifests/grafana-config/kustomization.yaml
  argocd/manifests/shower/configmap.yaml
  argocd/manifests/shower/deployment.yaml
  argocd/manifests/shower/external-secret.yaml
  argocd/manifests/shower/ingress-tailscale.yaml
  argocd/manifests/shower/kustomization.yaml
  argocd/manifests/shower/pv-nfs.yaml
  argocd/manifests/shower/pvc.yaml
  argocd/manifests/shower/service.yaml
  containers/shower/default.nix
  docs/changelog.d/shower-app-deploy.bugfix.md
  docs/changelog.d/shower-app-deploy.feature.md
  docs/changelog.d/shower-app-deploy.infra.md
  docs/how-to/operations/shower-on-ringtail.md
  docs/reference/kubernetes/apps.md
  docs/reference/services/shower-app.md
  docs/tutorials/expose-service-publicly.md
  fly/fail2ban/action.d/nginx-deny.conf
  fly/nginx.conf
  fly/start.sh
  mise-tasks/fly-setup
  pulumi/gandi/__main__.py
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index
