Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

Deploy authentik 2026.2.0 with entry_points fix
  argocd/manifests/authentik/kustomization.yaml
Due: none

Fix authentik 2026.2.0 migration ordering bug (#275)
  containers/authentik/authentik-django.nix
  docs/changelog.d/fix-authentik-migration-ordering.bugfix.md
  docs/how-to/authentik/authentik-python-backend-derivation.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Deploy authentik 2026.2.0 with migration ordering fix
  argocd/manifests/authentik/kustomization.yaml
Due: none

Update authentik changelog fragment to mention version upgrade
  docs/changelog.d/authentik-source-build.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review authentik-api-client-generation doc: fix stale content
  docs/changelog.d/main.doc.md
  docs/how-to/authentik/authentik-api-client-generation.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.12.0
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/authentik-source-build.infra.md
  docs/changelog.d/blumeops-pg-18.3.infra.md
  docs/changelog.d/fix-authentik-migration-ordering.bugfix.md
  docs/changelog.d/frigate-zones.infra.md
  docs/changelog.d/main.doc.md
  docs/changelog.d/review-forgejo-runner-docs.doc.md
  docs/changelog.d/review-grafana-docs.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review build-authentik-from-source Mikado chain docs
  docs/how-to/authentik/authentik-go-server-derivation.md
  docs/how-to/authentik/authentik-python-backend-derivation.md
  docs/how-to/authentik/authentik-web-ui-derivation.md
  docs/how-to/authentik/build-authentik-from-source.md
  docs/how-to/authentik/mirror-authentik-build-deps.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add changelog for authentik source chain doc review
  docs/changelog.d/review-authentik-source-chain.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review navidrome and miniflux: both at latest versions
  service-versions.yaml
Due: none

Enforce impl commits can't modify Mikado card files
  mise-tasks/mikado-branch-invariant-check
Due: none

Add changelog for impl-card-guard feature
  docs/changelog.d/impl-card-guard.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Slightly less confusing output when mikado cards share a prereq
  mise-tasks/docs-mikado
Due: none

Switch git hooks from pre-commit to prek (#276)
  .github/USE_FORGE_WORKFLOWS.md
  .pre-commit-config.yaml
  README.md
  docs/changelog.d/switch-to-prek.infra.md
  docs/how-to/agent-change-process.md
  docs/how-to/configuration/update-tooling-dependencies.md
  docs/how-to/how-to.md
  docs/how-to/zot/add-container-version-sync-check.md
  docs/how-to/zot/adopt-commit-based-container-tags.md
  docs/tutorials/contributing.md
  mise.toml
  prek.toml
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.12.1
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/impl-card-guard.feature.md
  docs/changelog.d/review-authentik-source-chain.doc.md
  docs/changelog.d/switch-to-prek.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Deploy Ollama LLM server on ringtail (#277)
  ansible/roles/caddy/defaults/main.yml
  argocd/apps/ollama.yaml
  argocd/manifests/nvidia-device-plugin/daemonset.yaml
  argocd/manifests/nvidia-device-plugin/kustomization.yaml
  argocd/manifests/nvidia-device-plugin/time-slicing-config.yaml
  argocd/manifests/ollama/deployment.yaml
  argocd/manifests/ollama/ingress-tailscale.yaml
  argocd/manifests/ollama/kustomization.yaml
  argocd/manifests/ollama/models.txt
  argocd/manifests/ollama/pv-hostpath.yaml
  argocd/manifests/ollama/pvc.yaml
  argocd/manifests/ollama/service.yaml
  argocd/manifests/ollama/sync-models.sh
  docs/changelog.d/feature-ollama-ringtail.feature.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Add NodePort service for ollama LAN access
  argocd/manifests/ollama/kustomization.yaml
  argocd/manifests/ollama/service-nodeport.yaml
Due: none

Limit ollama to one loaded model and one parallel request
  argocd/manifests/ollama/deployment.yaml
Due: none

Add Forge (public) to services-check
  mise-tasks/services-check
Due: none

Move ollama LAN NodePort to port 80
  argocd/manifests/ollama/service-nodeport.yaml
  nixos/ringtail/configuration.nix
Due: none

Remove ollama LAN NodePort service
  argocd/manifests/ollama/kustomization.yaml
  argocd/manifests/ollama/service-nodeport.yaml
  nixos/ringtail/configuration.nix
Due: none

Review kustomize-grafana-deployment: fix manifest table to match reality
  docs/how-to/grafana/kustomize-grafana-deployment.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add fly.io proxy observability and app logs to Forgejo dashboard
  argocd/manifests/grafana-config/dashboards/configmap-forgejo.yaml
  docs/changelog.d/forgejo-proxy-dashboard.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Route runner polling through internal forge.ops.eblu.me
  argocd/manifests/forgejo-runner/deployment.yaml
  nixos/ringtail/configuration.nix
Due: none

Switch forgejo-runner ArgoCD app to internal SSH repo URL
  argocd/apps/forgejo-runner.yaml
Due: none

Add pre-commit check for changelog fragment placement
  docs/changelog.d/feature-ha-cv-docs-zero-downtime.infra.md
  docs/changelog.d/main.infra.md
  mise-tasks/changelog-check
  prek.toml
Due: docs-check-filenames, docs-check-links, docs-check-index

Trust k3s CNI interfaces in ringtail NixOS firewall
  nixos/ringtail/configuration.nix
Due: none

Add changelog fragment for ringtail firewall fix
  docs/changelog.d/main.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix mirror-update-pats corrupting all GitHub mirror URLs
  mise-tasks/mirror-update-pats
Due: none

Upgrade TeslaMate v2.2.0 → v3.0.0 (#279)
  containers/teslamate/Dockerfile
  docs/changelog.d/upgrade-teslamate-v3.0.0.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Update teslamate to v3.0.0-eb9bc57 container image
  argocd/manifests/teslamate/kustomization.yaml
Due: none

Build Loki container image locally (#280)
  argocd/manifests/loki/kustomization.yaml
  containers/loki/Dockerfile
  docs/changelog.d/feature-loki-container.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update Loki to v3.6.5-3dc4ed7 container image
  argocd/manifests/loki/kustomization.yaml
Due: none

Add Gandi bookmark to homepage dashboard
  argocd/manifests/homepage/bookmarks.yaml
Due: none

Add changelog fragment for Gandi bookmark
  docs/changelog.d/gandi-bookmark.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Allow implicit octals in yamllint and normalize k8s mode values
  .yamllint.yaml
  argocd/manifests/kiwix/deployment.yaml
  argocd/manifests/ollama/deployment.yaml
  docs/changelog.d/implicit-octal.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Clarify that changelog fragments apply to all change levels (C0–C2)
  CLAUDE.md
  docs/changelog.d/changelog-all-levels.doc.md
  docs/how-to/agent-change-process.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Home-build grafana-sidecar container (#281)
  argocd/manifests/grafana/deployment.yaml
  argocd/manifests/grafana/kustomization.yaml
  containers/grafana-sidecar/Dockerfile
  docs/changelog.d/feature-grafana-sidecar.infra.md
  docs/how-to/grafana/build-grafana-container.md
  docs/how-to/grafana/build-grafana-sidecar.md
  docs/how-to/grafana/kustomize-grafana-deployment.md
  docs/how-to/how-to.md
  docs/reference/services/grafana.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Pin grafana-sidecar to main build tag
  argocd/manifests/grafana/kustomization.yaml
Due: none

Bump frigate memory limit from 2Gi to 3Gi
  argocd/manifests/frigate/deployment.yaml
Due: none
