Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

Daily recurring review 2026-06-22: deps refresh + Prowler mutelist cleanup (#403)
  .forgejo/workflows/branch-cleanup.yaml
  .forgejo/workflows/build-blumeops.yaml
  .forgejo/workflows/build-container.yaml
  .forgejo/workflows/cv-deploy.yaml
  .forgejo/workflows/deploy-fly.yaml
  argocd/manifests/prowler-ringtail/kustomization.yaml
  argocd/manifests/prowler-ringtail/mutelist/apiserver.yaml
  argocd/manifests/prowler-ringtail/mutelist/control-plane.yaml
  argocd/manifests/prowler-ringtail/mutelist/core-pod-security.yaml
  argocd/manifests/prowler-ringtail/mutelist/manual-node-checks.yaml
  argocd/manifests/prowler-ringtail/mutelist/rbac.yaml
  docs/changelog.d/recurring-2026-06-22.infra.md
  docs/changelog.d/recurring-2026-06-22.misc.md
  docs/how-to/runbooks/runbook-frigate-camera-down.md
  fly/Dockerfile
  mise-tasks/branch-cleanup
  mise-tasks/container-build-and-release
  mise-tasks/container-list
  mise-tasks/container-version-check
  mise-tasks/dns-acme-cleanup
  mise-tasks/docs-mikado
  mise-tasks/docs-preview
  mise-tasks/docs-review
  mise-tasks/docs-review-stale
  mise-tasks/mikado-branch-invariant-check
  mise-tasks/op-backup
  mise-tasks/pr-comments
  mise-tasks/prune-ringtail-generations
  mise-tasks/review-compliance-reports
  mise-tasks/runner-logs
  mise-tasks/service-review
  mise-tasks/spork-create
  prek.toml
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

deploy-fly: provision flyctl via mise, drop in-job curl|sh install (#404)
  .forgejo/workflows/deploy-fly.yaml
  ansible/roles/forgejo_runner/defaults/main.yml
  docs/changelog.d/fix-deploy-fly-flyctl.infra.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ringtail: add uv to systemPackages
  docs/changelog.d/+ringtail-uv.infra.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

Daily recurring review 2026-06-23: CNPG 1.27.1→1.29.1 (EOL) + retire local-container campaign (#405)
  AGENTS.md
  argocd/apps/cloudnative-pg-ringtail.yaml
  docs/changelog.d/daily-review-2026-06-23.ai.md
  docs/changelog.d/daily-review-2026-06-23.doc.md
  docs/changelog.d/daily-review-2026-06-23.infra.md
  docs/reference/services/snowflake-proxy.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(flyio-proxy): document Tailscale node name drift + non-fix decision
  docs/changelog.d/+flyio-proxy-node-name-drift.doc.md
  docs/how-to/operations/manage-flyio-proxy.md
  docs/reference/services/flyio-proxy.md
Due: docs-check-filenames, docs-check-links, docs-check-index

ringtail: enable systemd-oomd swap-kill backstop
  docs/changelog.d/+ringtail-oomd-swapkill.infra.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

ringtail: use swap-based oomd kill, not pressure-based
  docs/changelog.d/+ringtail-oomd-swapkill.infra.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

ringtail: resolve sifaka over LAN to make NFS immune to tailscale churn
  docs/changelog.d/+ringtail-sifaka-lan-hosts.infra.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(mirrors): note 'never used' fine-grained PAT quirk + rate_limit verify
  docs/changelog.d/+mirror-pat-never-used-note.doc.md
  docs/how-to/configuration/manage-forgejo-mirrors.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Recurring reviews 2026-06-27: blumeops-pg 18.4, ringtail flake, observability doc (#406)
  argocd/manifests/databases-ringtail/blumeops-pg.yaml
  docs/changelog.d/recurring-reviews-2026-06-27.doc.md
  docs/changelog.d/recurring-reviews-2026-06-27.infra.md
  docs/reference/operations/observability.md
  nixos/ringtail/flake.lock
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Recurring reviews 2026-06-29: forgejo v15 upgrade, frigate doc, compliance (#407)
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/forgejo/defaults/main.yml
  ansible/roles/forgejo/tasks/main.yml
  docs/changelog.d/daily-review-2026-06-29.bugfix.md
  docs/changelog.d/daily-review-2026-06-29.doc.md
  docs/changelog.d/daily-review-2026-06-29.infra.md
  docs/how-to/operations/upgrade-forgejo.md
  docs/reference/services/forgejo.md
  docs/reference/services/frigate.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Recurring reviews 2026-06-30: forgejo-runner 12.11.1, nvidia-device-plugin doc (#408)
  docs/changelog.d/recurring-reviews-2026-06-30.doc.md
  docs/changelog.d/recurring-reviews-2026-06-30.infra.md
  docs/reference/services/nvidia-device-plugin.md
  nixos/ringtail/flake.lock
  nixos/ringtail/flake.nix
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

borgmatic: retry a failing repo instead of losing the night's backup (#409)
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/templates/config.yaml.j2
  ansible/roles/borgmatic_metrics/defaults/main.yml
  ansible/roles/borgmatic_metrics/templates/borgmatic-metrics.sh.j2
  argocd/manifests/grafana-ringtail/alerting.yaml
  docs/changelog.d/borgmatic-offsite-metrics.infra.md
  docs/changelog.d/borgmatic-offsite-retries.infra.md
  docs/reference/services/borgmatic.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Recurring reviews 2026-07-01: snowflake-proxy review, manage-lockfile doc (#410)
  docs/changelog.d/daily-review-2026-07-01.doc.md
  docs/changelog.d/daily-review-2026-07-01.infra.md
  docs/how-to/ringtail/manage-lockfile.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

container-build-and-release: tolerate dispatch POST read timeout
  docs/changelog.d/+container-build-dispatch-timeout.bugfix.md
  mise-tasks/container-build-and-release
Due: docs-check-filenames, docs-check-links, docs-check-index

ringtail: rename shadowing fish 'ip' helper to 'myip' (managed) (#411)
  docs/changelog.d/ringtail-fish-myip.infra.md
  docs/reference/infrastructure/ringtail.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

Recurring reviews 2026-07-04: k3s review, flake.lock bump, qart-tuner doc (#412)
  docs/changelog.d/recurring-reviews-2026-07-04.doc.md
  docs/changelog.d/recurring-reviews-2026-07-04.infra.md
  docs/reference/tools/qart-tuner.md
  nixos/ringtail/flake.lock
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

forgejo doc: list api-token PAT consumers incl. new tea CLI usage (C0)
  docs/changelog.d/+tea-token-consumers.doc.md
  docs/reference/services/forgejo.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Recurring reviews 2026-07-07: tempo 2.10.7, no-helm-policy doc, K8s CIS (#413)
  argocd/manifests/tempo-ringtail/kustomization.yaml
  containers/tempo/default.nix
  docs/changelog.d/recurring-reviews-2026-07-07.doc.md
  docs/changelog.d/recurring-reviews-2026-07-07.infra.md
  docs/explanation/no-helm-policy.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Add agent workspaces: per-repo Claude Code Remote Control on ringtail (#414)
  ansible/playbooks/ringtail.yml
  docs/changelog.d/agent-workspaces.infra.md
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
  docs/reference/infrastructure/agent-workspaces.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  nixos/ringtail/agent-workspaces.nix
  nixos/ringtail/configuration.nix
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs(agent-workspaces): correct main-push boundary (no branch protection)
  docs/changelog.d/+agent-workspaces-main-push.doc.md
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
  docs/reference/infrastructure/agent-workspaces.md
  docs/reference/infrastructure/agents-forgejo-bot.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(bootstrap-agent-workspaces): correct login/trust/consent steps from live bootstrap
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(bootstrap-agent-workspaces): fix consent step — per-config-dir, must be seeded
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(agent-workspaces): drop the blumeops remote worker (#415)
  docs/changelog.d/scrap-blumeops-worker.infra.md
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
  docs/reference/infrastructure/agent-workspaces.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  nixos/ringtail/agent-workspaces.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(agent-workspaces): enable agent PR workflow (tea + scoped token + git identity) (#416)
  docs/changelog.d/enable-agent-pr-workflow.infra.md
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
  docs/reference/infrastructure/agent-workspaces.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  nixos/ringtail/agent-workspaces.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(agent-workspaces): token needs write:issue too (tea pr create)
  docs/changelog.d/enable-agent-pr-workflow.infra.md
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
  docs/reference/infrastructure/agent-workspaces.md
  docs/reference/infrastructure/agents-forgejo-bot.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Agent heph spoke on ringtail (in-boundary, mise-built, vault-backed token) (#417)
  ansible/roles/heph/defaults/main.yml
  ansible/roles/heph/tasks/main.yml
  ansible/roles/heph/templates/heph.plist.j2
  argocd/manifests/authentik/configmap-blueprint.yaml
  docs/changelog.d/agent-heph-spoke.feature.md
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
  docs/reference/infrastructure/agent-workspaces.md
  nixos/ringtail/agent-workspaces.nix
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(heph): delegate the heph-agents sub op-read to localhost
  ansible/roles/heph/tasks/main.yml
Due: ansible-lint

fix(agent-workspaces): build heph off the activation path (timer, not blocking oneshot)
  nixos/ringtail/agent-workspaces.nix
Due: none

docs(bootstrap): heph-agents password in blumeops vault + MFA enrollment note
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(agent-workspaces): heph install uses anonymous HTTPS + retries
  nixos/ringtail/agent-workspaces.nix
Due: none

fix(agent-workspaces): put a shell on the heph spoke PATH
  nixos/ringtail/agent-workspaces.nix
Due: none

fix(agent-workspaces): spoke adopts the hub owner id (--owner-id)
  nixos/ringtail/agent-workspaces.nix
Due: none

feat(agent-workspaces): repos at ~/code/personal + spoke condition/path unit
  nixos/ringtail/agent-workspaces.nix
Due: none

docs(agent-workspaces): ~/code/personal paths + real heph-spoke bootstrap
  docs/changelog.d/+agent-workspaces-code-personal.infra.md
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
  docs/reference/infrastructure/agent-workspaces.md
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(agent-workspaces): report toolchain on session PATH (mise/uv/pandoc/typst/weasyprint) (#418)
  docs/changelog.d/agent-ws-report-toolchain.infra.md
  docs/reference/infrastructure/agent-workspaces.md
  nixos/ringtail/agent-workspaces.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(agent-workspaces): blumeops author-only pool clone + lock k3s kubeconfig (#419)
  docs/changelog.d/agent-ws-blumeops-authoring.infra.md
  docs/reference/infrastructure/agent-workspaces.md
  nixos/ringtail/agent-workspaces.nix
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(factorio): private tailnet Factorio server on ringtail + shared-guest access (#420)
  docs/changelog.d/factorio-ringtail.feature.md
  docs/how-to/ringtail/host-factorio-for-a-guest.md
  docs/reference/infrastructure/ringtail.md
  nixos/ringtail/configuration.nix
  nixos/ringtail/factorio.nix
  pulumi/gandi/__main__.py
  pulumi/tailscale/__main__.py
  pulumi/tailscale/policy.hujson
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(fly): apex 'under construction' landing page at eblu.me (#421)
  docs/changelog.d/apex-landing-page.feature.md
  docs/reference/infrastructure/routing.md
  docs/reference/services/flyio-proxy.md
  fly/Dockerfile
  fly/landing/index.html
  fly/landing/under-construction.gif
  fly/nginx.conf
  mise-tasks/fly-setup
  pulumi/gandi/__main__.py
Due: docs-check-filenames, docs-check-links, docs-check-index

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
