Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

infra(horkos): pin image v0.5.34-78e2e64-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.34.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(indri): sifaka-mounter calls /sbin/mount by absolute path
  darwin/indri/mount-sifaka.sh
  docs/changelog.d/fix-sifaka-mounter-sbin-path.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.172-f9e9771-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.172.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(grafana): modeled-box utilization panels on the Talos dashboard
  argocd/manifests/grafana-config-ringtail/dashboards/configmap-talos.yaml
  docs/changelog.d/agent-talos-lanes-prefill-panels.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(pulumi-backup): sudo for the pv: ferry, drop the empty config export
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/templates/k8s-file-dump.sh.j2
  argocd/manifests/pulumi-stack-backup/cronjob.yaml
  docs/changelog.d/fix-pulumi-backup-pv-ferry.bugfix.md
  docs/how-to/pulumi/restore-pulumi-state.md
  docs/reference/services/borgmatic.md
  docs/reference/tools/pulumi.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(ringtail): make flake-lock-check run on bash 3.2
  nixos/ringtail/flake-lock-check
Due: none

infra(ringtail): add flake-lock-check battery for lockfile PRs
  docs/changelog.d/agent-ringtail-flake-lock-battery.infra.md
  docs/how-to/ringtail/manage-lockfile.md
  nixos/ringtail/flake-lock-check
  tests/fixtures/flake-lock-check/heads.json
  tests/fixtures/flake-lock-check/new.lock
  tests/fixtures/flake-lock-check/old.lock
  tests/test_flake_lock_check.py
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(fly): generate the sshd host key at the right path
  docs/changelog.d/fix-fly-sshd-host-keys.bugfix.md
  fly/start.sh
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(fly): unlock the mirror account, trust mirror repos, fix alloy label
  docs/changelog.d/fix-fly-mirror-auth-boot.bugfix.md
  fly/Dockerfile
  fly/alloy.river
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(ringtail): flake-update — scheduled self-verifying lockfile roll (PR-C)
  .forgejo/workflows/flake-update.yaml
  docs/changelog.d/agent-auto-merge-flake-update.infra.md
  docs/how-to/ringtail/manage-lockfile.md
  nixos/ringtail/flake-update-verify
  tests/test_flake_update_verify.py
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(verify-runs): report horkos self-filed requests from the queue
  docs/changelog.d/fix-verify-runs-self-filed.feature.md
  docs/how-to/operations/request-a-privileged-run.md
  docs/reference/tools/mise-tasks.md
  mise-tasks/verify-runs
  tests/test_verify_runs_audit.py
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(flake-update): run the check scripts via bash (noexec workspace)
  .forgejo/workflows/flake-update.yaml
  docs/changelog.d/fix-flake-update-noexec-workspace.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(flake-update): toplevel path from nix build --json, kernel parsing
  .forgejo/workflows/flake-update.yaml
  docs/changelog.d/fix-flake-update-toplevel-json.bugfix.md
  nixos/ringtail/flake-lock-check
  nixos/ringtail/flake-update-verify
  tests/test_flake_lock_check.py
  tests/test_flake_update_verify.py
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(flake-update): authenticate the branch push explicitly
  .forgejo/workflows/flake-update.yaml
  docs/changelog.d/fix-flake-update-push-auth.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update ringtail flake inputs (2026-10-01, scheduled flake-update)
  nixos/ringtail/flake.lock
Due: none

chore(ringtail): rename flake-update.yaml to ringtail-flake-update.yaml
  .forgejo/workflows/ringtail-flake-update.yaml
  docs/changelog.d/chore-rename-ringtail-flake-update.misc.md
  docs/how-to/ringtail/manage-lockfile.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.173-b7f101b-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.173.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(authentik): retire build-authentik-from-source card per review
  docs/changelog.d/agent-docs-review-build-authentik-from-source.doc.md
  docs/how-to/authentik/authentik-nix-build-components.md
  docs/how-to/authentik/build-authentik-from-source.md
  docs/how-to/authentik/mirror-authentik-build-deps.md
  docs/reference/services/authentik.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(authentik): daily doc review of build-authentik-from-source
  docs/changelog.d/agent-docs-review-build-authentik-from-source.doc.md
  docs/how-to/authentik/build-authentik-from-source.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(indri): add unprivileged indri-build runner (user, colima, daemon, role)
  .github/actionlint.yaml
  ansible/playbooks/indri.yml
  ansible/roles/forgejo_runner/defaults/main.yml
  ansible/roles/forgejo_runner/handlers/main.yml
  ansible/roles/forgejo_runner/tasks/main.yml
  ansible/roles/forgejo_runner/templates/colima.yaml.j2
  ansible/roles/forgejo_runner/templates/config-build.yaml.j2
  ansible/roles/forgejo_runner/templates/forgejo-runner-build.plist.j2
  darwin/indri/configuration.nix
  darwin/indri/flake.lock
  darwin/indri/flake.nix
  darwin/indri/mcquack-colima-build.sh
  docs/changelog.d/indri-build-runner.infra.md
  docs/how-to/forgejo-runner/configure-launchd-runner.md
  docs/how-to/indri/provision.md
  docs/reference/services/forgejo-runner.md
  mise-tasks/services-check
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(indri): fix build runner pre-registration state and privilege
  ansible/roles/forgejo_runner/defaults/main.yml
  ansible/roles/forgejo_runner/tasks/main.yml
  ansible/roles/forgejo_runner/templates/colima.yaml.j2
  darwin/indri/configuration.nix
  darwin/indri/mcquack-colima-build.sh
  docs/how-to/forgejo-runner/configure-launchd-runner.md
  docs/how-to/indri/provision.md
  mise-tasks/services-check
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs(indri): correct build runner config dispatch and gating
  ansible/roles/forgejo_runner/tasks/main.yml
  docs/how-to/forgejo-runner/configure-launchd-runner.md
  docs/how-to/indri/provision.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Add pulumi-restore-check task for repeatable restore verification
  mise-tasks/pulumi-restore-check
Due: none

lint(gitleaks): allowlist Pulumi's SpecialSigKey constant
  .gitleaks.toml
  docs/changelog.d/agent-pulumi-sigkey-allowlist.misc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(pulumi): fix restore runbook per the 2026-10-01 restore check + pulumi-restore-check task
  docs/changelog.d/agent-fix-pulumi-restore-runbook.doc.md
  docs/how-to/pulumi/restore-pulumi-state.md
  docs/reference/tools/mise-tasks.md
Due: docs-check-filenames, docs-check-links, docs-check-index

kube-state-metrics v2.20.0: pin real fetchgit hash and vendorHash
  containers/kube-state-metrics/default.nix
  docs/changelog.d/kube-state-metrics-2-20-0.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

kube-state-metrics v2.19.1 → v2.20.0 (recurring service review)
  containers/kube-state-metrics/default.nix
  docs/changelog.d/kube-state-metrics-2-20-0.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(kube-state-metrics): pin image v2.20.0-6e4341a-nix
  argocd/manifests/kube-state-metrics-ringtail/kustomization.yaml
  docs/changelog.d/kube-state-metrics-release-v2.20.0.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Comment the pre-flip launch URL
  argocd/manifests/authentik/configmap-blueprint.yaml
Due: none

Address review: fix GITHUB_SERVER_URL strip, keep meta_launch_url pre-flip, one-line changelog
  .forgejo/workflows/build-blumeops.yaml
  argocd/manifests/authentik/configmap-blueprint.yaml
  docs/changelog.d/agent-forge-ops-machine-consumers.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

indri: install the nix-wait wrapper via mktemp; keep it root-owned
  darwin/indri/configuration.nix
Due: none

indri: wait-for-/nix wrapper for the store-argv0 user LaunchAgents
  darwin/indri/configuration.nix
  docs/changelog.d/agent-indri-nix-wait-wrapper.bugfix.md
  docs/how-to/indri/provision.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(indri): address review blockers on the build runner
  ansible/roles/forgejo_runner/defaults/main.yml
  ansible/roles/forgejo_runner/tasks/main.yml
  ansible/roles/forgejo_runner/templates/colima.yaml.j2
  ansible/roles/forgejo_runner/templates/forgejo-runner-build.plist.j2
  darwin/indri/configuration.nix
  darwin/indri/mcquack-colima-build.sh
  docs/how-to/indri/provision.md
  docs/reference/services/forgejo-runner.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs(grafana): daily doc review of kustomize-grafana-deployment card
  argocd/manifests/grafana-config-ringtail/kustomization.yaml
  docs/changelog.d/agent-docs-review-kustomize-grafana-deployment.doc.md
  docs/how-to/grafana/kustomize-grafana-deployment.md
Due: docs-check-filenames, docs-check-links, docs-check-index

indri: build the runner's colima from nixpkgs, not the upstream flake
  ansible/roles/forgejo_runner/templates/colima.yaml.j2
  darwin/indri/configuration.nix
  darwin/indri/flake.lock
  darwin/indri/flake.nix
  docs/changelog.d/fix-indri-colima-follows-nixpkgs.bugfix.md
  docs/how-to/forgejo-runner/configure-launchd-runner.md
  docs/reference/services/forgejo-runner.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

agent-repo-access: reconcile branch protections from forge/branch-protections.json
  .forgejo/workflows/agent-repo-access.yaml
  docs/changelog.d/forge-protection-iac.infra.md
  docs/explanation/agent-change-process.md
  docs/reference/services/forgejo.md
  docs/reference/tools/mise-tasks.md
  forge/branch-protections.json
  mise-tasks/agent-repo-access
  mise-tasks/horkos-forge-drift
  tests/test_agent_repo_access.py
Due: docs-check-filenames, docs-check-links, docs-check-index

Flip the private forge's ROOT_URL/DOMAIN to forge.ops.eblu.me
  .forgejo/workflows/build-blumeops.yaml
  ansible/roles/forgejo/defaults/main.yml
  argocd/manifests/authentik/configmap-blueprint.yaml
  docs/changelog.d/agent-forge-rooturl-ops-flip.infra.md
  docs/explanation/agent-containerization.md
  docs/how-to/configuration/manage-forgejo-mirrors.md
  docs/how-to/configuration/update-documentation.md
  docs/reference/infrastructure/routing.md
  docs/reference/services/argocd.md
  docs/reference/services/forgejo.md
  docs/tutorials/contributing.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

indri: let the indri-build gid guard pass when the group is absent
  darwin/indri/configuration.nix
  docs/changelog.d/fix-indri-build-gid-guard.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index
