Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

fix(horkos-forge-provision): prove the new PAT without GET /user
  docs/changelog.d/fix-horkos-forge-provision-proof.bugfix.md
  docs/reference/services/horkos.md
  mise-tasks/horkos-forge-provision
  tests/test_horkos_forge_provision.py
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(agent-repo-access): read hooks back after edit; recreate when Forgejo drops events
  .forgejo/workflows/agent-repo-access.yaml
  docs/changelog.d/fix-hook-reconcile-recreate.bugfix.md
  mise-tasks/agent-repo-access
  tests/test_agent_repo_access.py
Due: docs-check-filenames, docs-check-links, docs-check-index

test(agent-repo-access): freeze the fake forge's event-family sets (RUF012)
  tests/test_agent_repo_access.py
Due: none

forgejo: disable issue auto-close on PR merge (empty close keywords)
  ansible/roles/forgejo/templates/app.ini.j2
  docs/changelog.d/agent-forgejo-no-autoclose.infra.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.164-794851b-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.164.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(forgejo): use `-` placeholder so CLOSE_KEYWORDS actually disables auto-close
  ansible/roles/forgejo/templates/app.ini.j2
  docs/changelog.d/fix-forgejo-close-keywords-placeholder.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(verify-runs): match non-blumeops tracking-task titles
  docs/changelog.d/agent-verify-runs-cross-repo.bugfix.md
  docs/how-to/operations/request-a-privileged-run.md
  mise-tasks/verify-runs
  tests/test_verify_runs_audit.py
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(ringtail): run the priv runner as static user horkos-runner
  .forgejo/workflows/ringtail-rebuild.yaml
  docs/changelog.d/fix-priv-runner-static-user.bugfix.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/reference/infrastructure/ringtail.md
  docs/reference/services/forgejo-runner.md
  docs/reference/services/forgejo.md
  nixos/ringtail/configuration.nix
  nixos/ringtail/ringtail-apply.sh
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(indri): make indri-flake-check's pushed-HEAD guard detached-aware
  docs/changelog.d/flake-check-detached-guard.bugfix.md
  mise-tasks/indri-flake-check
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(indri): correct the runner drain claims - launchd clamps ExitTimeOut to 60 s in the gui domain
  ansible/roles/forgejo_runner/defaults/main.yml
  ansible/roles/forgejo_runner/templates/forgejo-runner.plist.j2
  darwin/indri/configuration.nix
  docs/changelog.d/docs-indri-runner-drain.doc.md
  docs/how-to/indri/provision.md
  docs/reference/services/forgejo-runner.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(external-secrets): CRDs app advances to helm-chart-2.11.0
  argocd/apps/external-secrets-crds-ringtail.yaml
  docs/changelog.d/agent-eso-crds-2-11-0.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs/changelog.d/agent-eso-crds-2-11-0.infra.md
  docs/changelog.d/agent-eso-crds-2-11-0.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.167-1c72f4b-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.167.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.32-03f949a-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.32.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.168-31df4d7-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.168.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

indri: caddy via caddy.withPlugins - the binary flip (PR A)
  ansible/roles/caddy/defaults/main.yml
  darwin/indri/configuration.nix
  darwin/indri/flake.nix
  docs/changelog.d/agent-indri-caddy-withplugins.infra.md
  docs/how-to/indri/provision.md
  docs/reference/infrastructure/indri.md
  docs/reference/services/caddy.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

feat(indri): fire-and-forget provision-indri apply — verify workflow carries the true verdict
  .forgejo/workflows/provision-indri-verify.yaml
  .forgejo/workflows/provision-indri.yaml
  ansible/playbooks/indri.yml
  docs/changelog.d/agent-indri-apply-verify-split.infra.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/how-to/indri/provision.md
  docs/how-to/operations/request-a-privileged-run.md
  docs/reference/services/forgejo.md
  mise-tasks/request-run
  mise-tasks/verify-runs
  warrant-policy.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

refactor(indri): cut the apply to launch-only; drop the verify workflow
  .forgejo/workflows/provision-indri-verify.yaml
  .forgejo/workflows/provision-indri.yaml
  ansible/playbooks/indri.yml
  docs/changelog.d/agent-indri-apply-verify-split.infra.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/how-to/indri/provision.md
  docs/how-to/operations/request-a-privileged-run.md
  docs/reference/services/forgejo.md
  mise-tasks/request-run
  mise-tasks/verify-runs
  warrant-policy.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs(tailscale): correct the ACL how-to against the modern grants schema
  docs/changelog.d/update-tailscale-acls-doc-review.doc.md
  docs/how-to/configuration/update-tailscale-acls.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(tailscale): address review nits on the ACL how-to
  docs/changelog.d/update-tailscale-acls-doc-review.doc.md
  docs/how-to/configuration/update-tailscale-acls.md
Due: docs-check-filenames, docs-check-links, docs-check-index

indri/caddy: retire the xcaddy checkout build inputs (PR B off #1275)
  ansible/roles/caddy/defaults/main.yml
  ansible/roles/caddy/tasks/main.yml
  darwin/indri/configuration.nix
  darwin/indri/flake.nix
  docs/changelog.d/agent-caddy-checkout-cleanup.infra.md
  docs/how-to/deployment/build-caddy-with-plugins.md
  docs/how-to/indri/provision.md
  docs/reference/services/caddy.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(argocd): drop redundant python3 from the priv runner, remove low-value comment
  docs/changelog.d/agent-fix-priv-runner-toolchain.bugfix.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(argocd): add gnutar/uv/python3 to the priv runner sandbox
  docs/changelog.d/agent-fix-priv-runner-toolchain.bugfix.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(prometheus): bump Nix-built image v3.12.0 -> v3.14.0
  containers/prometheus/default.nix
  docs/changelog.d/recurring-reviews-2026-09-25.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(prometheus): correct the v3.14.0 fetchgit hash
  containers/prometheus/default.nix
Due: none

docs(indri): the retired caddy checkout and its mirrors are deleted
  docs/changelog.d/agent-caddy-mirror-prune-note.doc.md
  docs/reference/services/caddy.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(external-secrets): bump v2.10.0 -> v2.11.0 (matched pair with CRDs)
  containers/external-secrets/default.nix
  docs/changelog.d/external-secrets-operator-v2.11.0.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(external-secrets): pin image v2.11.0-5c8cdcc-nix
  argocd/manifests/external-secrets-ringtail/kustomization.yaml
  argocd/manifests/external-secrets/kustomization.yaml
  docs/changelog.d/external-secrets-release-v2.11.0.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(prometheus): build the v3.14.0 web UI with pnpm, not npm
  containers/prometheus/default.nix
  docs/changelog.d/agent-prometheus-pnpm-assets.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(argocd): delete retired accounts workflow-bot and agents-readonly
  AGENTS.md
  argocd/manifests/argocd/argocd-cm-patch.yaml
  argocd/manifests/argocd/argocd-rbac-cm-patch.yaml
  docs/changelog.d/agent-argocd-principals-step3-cleanup.infra.md
  docs/how-to/knowledgebase/review-documentation.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.169-d2723eb-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.169.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(prometheus): pin image v3.14.0-bc9bb92-nix
  argocd/manifests/prometheus-ringtail/kustomization.yaml
  docs/changelog.d/prometheus-release-v3.14.0.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(pulumi): read PULUMI_ACCESS_TOKEN from 1Password in mise tasks
  docs/changelog.d/pulumi-token-from-op.infra.md
  docs/how-to/configuration/update-tailscale-acls.md
  docs/reference/tools/pulumi.md
  docs/tutorials/expose-service-publicly.md
  mise-tasks/agent-authkey-sync
  mise-tasks/dns-preview
  mise-tasks/dns-up
  mise-tasks/fly-setup
  mise-tasks/tailnet-preview
  mise-tasks/tailnet-up
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(pulumi): keep the op-sourced token off disk
  docs/reference/tools/pulumi.md
  mise-tasks/_pulumi_env
  mise-tasks/agent-authkey-sync
  mise-tasks/dns-preview
  mise-tasks/dns-up
  mise-tasks/fly-setup
  mise-tasks/tailnet-preview
  mise-tasks/tailnet-up
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(indri): shorten comments in darwin/indri/configuration.nix
  darwin/indri/configuration.nix
Due: none

infra(indri): move the jellyfin LaunchAgent to nix-darwin (PR 9 of the nix-darwin series)
  ansible/roles/jellyfin/defaults/main.yml
  ansible/roles/jellyfin/tasks/main.yml
  darwin/indri/configuration.nix
  docs/changelog.d/agent-indri-jellyfin-darwin.infra.md
  docs/how-to/indri/provision.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(indri): exec jellyfin through the role's jellyfin-current symlink
  ansible/roles/jellyfin/defaults/main.yml
  ansible/roles/jellyfin/handlers/main.yml
  ansible/roles/jellyfin/tasks/main.yml
  darwin/indri/configuration.nix
  docs/changelog.d/agent-indri-jellyfin-darwin.infra.md
  docs/how-to/indri/provision.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs(pypi-proxy): stamp daily review of use-pypi-proxy
  docs/changelog.d/agent-doc-review-use-pypi-proxy.doc.md
  docs/how-to/configuration/use-pypi-proxy.md
Due: docs-check-filenames, docs-check-links, docs-check-index
