Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

infra(ci): drop `mise run` from the four local prek hooks
  .forgejo/workflows/lint.yaml
  docs/changelog.d/agent-prek-hooks-no-mise.infra.md
  prek.toml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(runner): inject MISE_GITHUB_TOKEN into every job via runner.envs
  ansible/playbooks/indri.yml
  ansible/roles/forgejo_runner/defaults/main.yml
  ansible/roles/forgejo_runner/templates/config.yaml.j2
  docs/changelog.d/agent-runner-mise-github-token.infra.md
  docs/how-to/configuration/manage-forgejo-mirrors.md
  docs/reference/services/forgejo-runner.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(ci): full-history secret scan + workflow schema validation in Lint
  .forgejo/workflows/lint.yaml
  .gitleaks.toml
  docs/changelog.d/agent-ci-secret-scan-workflow-validate.infra.md
  docs/how-to/forgejo-runner/validate-forgejo-workflows.md
  docs/reference/tools/dagger.md
  docs/reference/tools/mise-tasks.md
  mise-tasks/validate-workflows
  src/blumeops/main.py
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(observability): alert on silent indri log streams; alloy self-metrics
  ansible/roles/alloy/templates/config.alloy.j2
  argocd/manifests/grafana-ringtail/alerting.yaml
  docs/changelog.d/agent-log-stream-alerts.infra.md
  docs/how-to/runbooks/runbook-log-stream-silent.md
  docs/reference/operations/observability.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(observability): correct unwatched-stream rationale after host inspection
  argocd/manifests/grafana-ringtail/alerting.yaml
  docs/changelog.d/agent-log-stream-alerts.infra.md
  docs/how-to/runbooks/runbook-log-stream-silent.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(mise-tasks): agent-metrics/agent-health crash where direct network works
  docs/changelog.d/agent-fix-client-for-probe.bugfix.md
  mise-tasks/agent-health
  mise-tasks/agent-metrics
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(zot): filter Trivy progress bars out of stderr; guard alloy against oversized lines
  ansible/roles/alloy/templates/config.alloy.j2
  ansible/roles/zot/tasks/main.yml
  ansible/roles/zot/templates/zot-serve.sh.j2
  ansible/roles/zot/templates/zot.plist.j2
  docs/changelog.d/agent-zot-stderr-progress-filter.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(deps): monthly tooling refresh 2026-08; pin ruff's lint select
  .forgejo/workflows/agent-repo-access.yaml
  .forgejo/workflows/argocd-deploy.yaml
  .forgejo/workflows/branch-cleanup.yaml
  .forgejo/workflows/build-blumeops.yaml
  .forgejo/workflows/build-container.yaml
  .forgejo/workflows/cv-deploy.yaml
  .forgejo/workflows/deploy-fly.yaml
  .forgejo/workflows/docs-checks.yaml
  .forgejo/workflows/flake-update.yaml
  .forgejo/workflows/lint.yaml
  .forgejo/workflows/warrant-bot-drift.yaml
  docs/changelog.d/agent-deps-refresh-2026-08.infra.md
  fly/Dockerfile
  mise-tasks/agent-health
  mise-tasks/agent-metrics
  mise-tasks/agent-repo-access
  mise-tasks/branch-cleanup
  mise-tasks/container-build-and-release
  mise-tasks/container-list
  mise-tasks/container-version-check
  mise-tasks/dns-acme-cleanup
  mise-tasks/docs-preview
  mise-tasks/docs-review
  mise-tasks/docs-review-stale
  mise-tasks/mirror-update-pats
  mise-tasks/op-backup
  mise-tasks/pr-comments
  mise-tasks/prune-ringtail-generations
  mise-tasks/request-run
  mise-tasks/review-compliance-reports
  mise-tasks/runner-logs
  mise-tasks/service-review
  mise-tasks/spork-create
  mise-tasks/verify-runs
  mise-tasks/warrant-bot-drift
  mise-tasks/warrant-bot-provision
  mise-tasks/warrant-test
  prek.toml
  pyproject.toml
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

doc(talos): design for pi-based self-hosted agent workflow service
  docs/changelog.d/talos.doc.md
  docs/explanation/agent-containerization.md
  docs/explanation/talos-design.md
Due: docs-check-filenames, docs-check-links, docs-check-index

doc(talos): cost accounting as a first-class design requirement
  docs/explanation/talos-design.md
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(talos): deploy agent workflow service to ringtail k3s
  ansible/roles/caddy/defaults/main.yml
  argocd/apps/talos.yaml
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/authentik/external-secret.yaml
  argocd/manifests/talos/deployment.yaml
  argocd/manifests/talos/external-secret-op-token.yaml
  argocd/manifests/talos/external-secret-ts-authkey.yaml
  argocd/manifests/talos/external-secret.yaml
  argocd/manifests/talos/ingress-tailscale.yaml
  argocd/manifests/talos/kustomization.yaml
  argocd/manifests/talos/networkpolicy.yaml
  argocd/manifests/talos/pvc.yaml
  argocd/manifests/talos/service.yaml
  argocd/manifests/talos/serviceaccount.yaml
  containers/talos/default.nix
  docs/changelog.d/talos.feature.md
  docs/reference/infrastructure/routing.md
  docs/reference/kubernetes/apps.md
  docs/reference/services/authentik.md
  docs/reference/services/talos.md
  mise-tasks/forge-api
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(talos): npm-deps fetcher v2 for the container build
  containers/talos/default.nix
  docs/changelog.d/+talos-deploy.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(zot): stream the stderr filter — line-oriented awk wedged zot
  ansible/roles/zot/templates/zot-serve.sh.j2
  docs/changelog.d/+zot-stderr-filter-hang.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(zot): make CVE extension toggleable
  ansible/roles/zot/defaults/main.yml
  ansible/roles/zot/templates/config.json.j2
Due: ansible-lint

fix(zot): bool-cast zot_cve_enabled (string 'false' is truthy in Jinja)
  ansible/roles/zot/templates/config.json.j2
Due: ansible-lint

fix(zot): retire the stderr-filter wrapper — it blocked zot's HTTP bind
  ansible/roles/zot/tasks/main.yml
  ansible/roles/zot/templates/zot-serve.sh.j2
  ansible/roles/zot/templates/zot.plist.j2
Due: ansible-lint

infra(talos): pin image v0.1.0-e5f8ec4-nix
  argocd/manifests/talos/kustomization.yaml
Due: none

fix(talos): v0.1.1 — in-cluster OIDC path for the fenced pod
  argocd/manifests/talos/deployment.yaml
  containers/talos/default.nix
  service-versions.yaml
Due: none

infra(talos): pin image v0.1.1-77131dba-nix
  argocd/manifests/talos/kustomization.yaml
Due: none

infra(talos): correct tag to registry's 7-char sha form
  argocd/manifests/talos/kustomization.yaml
Due: none

fix(talos): disable service links — injected TALOS_PORT=tcp://... shadowed the app's port env
  argocd/manifests/talos/deployment.yaml
Due: none

fix(talos): v0.1.2 — public authorize URL under internal OIDC discovery
  containers/talos/default.nix
  service-versions.yaml
Due: none

infra(talos): pin image v0.1.2-449bb40-nix
  argocd/manifests/talos/kustomization.yaml
Due: none

fix(talos): v0.1.3 — drop leaked internal port from authorize URL
  containers/talos/default.nix
  service-versions.yaml
Due: none

infra(talos): pin image v0.1.3-d870e7d-nix
  argocd/manifests/talos/kustomization.yaml
Due: none

fix(talos): create workspace and data dirs in the init container
  argocd/manifests/talos/deployment.yaml
Due: none

feat(talos): v0.2.0 — agent-ws workspace equivalence
  containers/talos/default.nix
  docs/changelog.d/+talos-agent-ws-equivalence.feature.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.2.0-9b53dcd-nix
  argocd/manifests/talos/kustomization.yaml
Due: none

fix(talos): v0.2.1 — visible agent/model errors
  containers/talos/default.nix
  service-versions.yaml
Due: none

infra(talos): pin image v0.2.1-98e963b-nix
  argocd/manifests/talos/kustomization.yaml
Due: none

fix(talos): v0.2.2 — session list cwd fix (includes v0.2.1 error surfacing)
  containers/talos/default.nix
  service-versions.yaml
Due: none

infra(talos): pin image v0.2.2-f969c4e-nix
  argocd/manifests/talos/kustomization.yaml
Due: none

infra(fly): fatal post-deploy health check; document immediate-strategy downtime
  .forgejo/workflows/deploy-fly.yaml
  docs/changelog.d/fly-healthcheck-fatal.infra.md
  fly/start.sh
Due: docs-check-filenames, docs-check-links, docs-check-index

doc(runbook): postgres-unhealthy review; alert names the right cluster
  argocd/manifests/grafana-ringtail/alerting.yaml
  docs/changelog.d/agent-doc-review-postgres-runbook.doc.md
  docs/how-to/runbooks/runbook-postgres-unhealthy.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): v0.2.3 — bake the mise-run toolchain into the pod
  containers/talos/default.nix
  docs/changelog.d/agent-talos-pod-toolchain.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): wrap tea through the tag:agent SOCKS sidecar
  containers/talos/default.nix
  docs/changelog.d/agent-talos-pod-toolchain.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.2.3-885762f-nix
  argocd/manifests/talos/kustomization.yaml
Due: none

infra(agents): add talos to the repo pool (write, canonical)
  containers/agent-ws/repos.json
  docs/changelog.d/agent-talos-repo-pool.infra.md
  docs/reference/infrastructure/agents-forgejo-bot.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(agents): move repos.json to the repo root
  .forgejo/workflows/agent-repo-access.yaml
  ansible/roles/forgejo_actions_secrets/defaults/main.yml
  containers/agent-ws/default.nix
  containers/talos/default.nix
  docs/changelog.d/agent-repos-json-to-root.infra.md
  docs/explanation/agent-containerization.md
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  mise-tasks/agent-repo-access
  repos.json
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(talos): bake eval-only nix into the pod image
  containers/talos/default.nix
  docs/changelog.d/agent-talos-eval-nix.infra.md
  docs/reference/services/talos.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
