Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

feat(priv-runner): least-priv k3s access for run-script one-off scripts
  AGENTS.md
  argocd/manifests/horkos/kustomization.yaml
  argocd/manifests/horkos/rbac.yaml
  docs/changelog.d/agent-priv-runner-kubectl.doc.md
  docs/changelog.d/agent-priv-runner-kubectl.infra.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/how-to/operations/blumeops-ci-item-migration.md
  docs/how-to/operations/request-a-privileged-run.md
  docs/reference/services/horkos.md
  nixos/ringtail/configuration.nix
  nixos/ringtail/flake.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

zot: retire grandfathered zot-cv identity and cv-artifacts group
  ansible/roles/zot/templates/config.json.j2
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/horkos/external-secret-zot.yaml
  docs/changelog.d/agent-zot-retire-zot-cv.infra.md
  docs/reference/services/zot.md
  mise-tasks/zot-apikey-rotate
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

zot: apply review nits (docstring rewrap, frontmatter dates, fragment wording)
  docs/changelog.d/agent-zot-retire-zot-cv.infra.md
  docs/reference/services/zot.md
  mise-tasks/zot-apikey-rotate
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: document the !!plan: skip pragma, not the retired bare form
  AGENTS.md
  docs/changelog.d/agent-fix-pragma-docs.doc.md
  docs/explanation/agent-change-process.md
  docs/explanation/talos-design.md
Due: docs-check-filenames, docs-check-links, docs-check-index

ansible(netconsole): capture ringtail kernel crashes with a netconsole receiver on indri
  ansible/playbooks/indri.yml
  ansible/roles/alloy/defaults/main.yml
  ansible/roles/alloy/templates/config.alloy.j2
  ansible/roles/netconsole/defaults/main.yml
  ansible/roles/netconsole/files/netconsole-receiver.py
  ansible/roles/netconsole/handlers/main.yml
  ansible/roles/netconsole/tasks/main.yml
  ansible/roles/netconsole/templates/netconsole.plist.j2
  docs/changelog.d/agent-netconsole-receiver.infra.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(op-backup): preserve encrypted set on failed transfer
  docs/changelog.d/agent-fix-op-backup-failure-path.bugfix.md
  docs/how-to/operations/run-1password-backup.md
  mise-tasks/op-backup
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.24-807f7eb-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.24.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.144-11a8952-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.144.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

zot: add the ci-tier base push identity ci-zot (2b PR 6 of #1039)
  ansible/roles/zot/templates/config.json.j2
  argocd/manifests/authentik/configmap-blueprint.yaml
  docs/changelog.d/agent-zot-ci-zot-additive.infra.md
  docs/reference/services/zot.md
  mise-tasks/zot-apikey-rotate
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

chore: keep only the build-shape note for audiobookshelf in service-versions
  service-versions.yaml
Due: none

feat(containers): add Audiobookshelf nix container (v2.36.0)
  containers/audiobookshelf/default.nix
  docs/changelog.d/agent-audiobookshelf-container.feature.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(ringtail): note the new Ringtail Flake Check workflow
  docs/reference/infrastructure/ringtail.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(indri): nix-darwin foundation flake and provision-indri parity
  .forgejo/workflows/indri-flake-check.yaml
  AGENTS.md
  ansible/playbooks/indri.yml
  ansible/roles/forgejo_runner/templates/forgejo-runner.plist.j2
  darwin/indri/configuration.nix
  darwin/indri/flake.lock
  darwin/indri/flake.nix
  docs/changelog.d/agent-indri-nix-darwin-foundation.infra.md
  docs/how-to/indri/provision.md
  docs/reference/infrastructure/indri.md
  mise-tasks/indri-flake-check
  mise-tasks/provision-indri
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(indri): path-scope flake checks, add ringtail flake check
  .forgejo/workflows/indri-flake-check.yaml
  .forgejo/workflows/ringtail-flake-check.yaml
  ansible/playbooks/indri.yml
  darwin/indri/configuration.nix
  docs/changelog.d/agent-indri-nix-darwin-foundation.infra.md
  docs/how-to/indri/provision.md
  mise-tasks/indri-flake-check
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.25-8c3755d-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.25.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.147-7bc7147-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.147.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.148-6a8aa26-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.148.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

grafana-ringtail: alert + panel for talos pool clone health (talos#228)
  argocd/manifests/grafana-config-ringtail/dashboards/configmap-talos.yaml
  argocd/manifests/grafana-ringtail/alerting.yaml
  docs/changelog.d/agent-talos-pool-unhealthy-alerting.doc.md
  docs/changelog.d/agent-talos-pool-unhealthy-alerting.infra.md
  docs/reference/services/talos.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(ringtail): arm netconsole from a device unit, raise console loglevel
  docs/changelog.d/agent-netconsole-boot-order.infra.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

ci(ringtail-flake-check): build the NixOS toplevel, not .system
  .forgejo/workflows/ringtail-flake-check.yaml
  docs/changelog.d/fix-ringtail-flake-check-attr.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(alloy): tail the netconsole capture with loki.source.file
  ansible/roles/alloy/templates/config.alloy.j2
  docs/changelog.d/fix-alloy-netconsole-source-file.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(indri): rebuild before roles, sudo -H, rehearsal + reboot runbook
  ansible/playbooks/indri.yml
  docs/changelog.d/fix-indri-rebuild-pre-window.bugfix.md
  docs/how-to/indri/provision.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(indri): sleep never, /etc/shells, runbook findings from the PR 1 window
  darwin/indri/configuration.nix
  docs/changelog.d/fix-indri-window-findings.infra.md
  docs/how-to/indri/provision.md
  docs/reference/infrastructure/indri.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(audiobookshelf): deploy on ringtail at books.ops.eblu.me
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/caddy/defaults/main.yml
  argocd/apps/audiobookshelf-ringtail.yaml
  argocd/manifests/audiobookshelf-ringtail/deployment.yaml
  argocd/manifests/audiobookshelf-ringtail/ingress-tailscale.yaml
  argocd/manifests/audiobookshelf-ringtail/kustomization.yaml
  argocd/manifests/audiobookshelf-ringtail/pv-nfs.yaml
  argocd/manifests/audiobookshelf-ringtail/pvc-data.yaml
  argocd/manifests/audiobookshelf-ringtail/pvc-music.yaml
  argocd/manifests/audiobookshelf-ringtail/service.yaml
  docs/changelog.d/agent-audiobookshelf-deploy.feature.md
  docs/how-to/operations/rip-a-disc.md
  docs/reference/services/audiobookshelf.md
  docs/reference/storage/backups.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(audiobookshelf): rename host books → audiobooks
  ansible/roles/caddy/defaults/main.yml
  argocd/manifests/audiobookshelf-ringtail/ingress-tailscale.yaml
  docs/changelog.d/agent-audiobookshelf-deploy.feature.md
  docs/reference/services/audiobookshelf.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.149-7f88067-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.149.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(teslamate): pin image v4.2.0-ca01fce-nix
  argocd/manifests/teslamate-ringtail/kustomization.yaml
  docs/changelog.d/teslamate-release-v4.2.0.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

build-container: match the buildHash param mid-line in default.nix
  .forgejo/workflows/build-container.yaml
Due: none

authentik: set GIT_BUILD_HASH so entry bundles are named per build
  .forgejo/workflows/build-container.yaml
  containers/authentik/client-ts.nix
  containers/authentik/default.nix
  containers/authentik/webui.nix
  docs/changelog.d/agent-authentik-git-build-hash.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

authentik: build client-ts with the default typescript (tsc-go)
  containers/authentik/client-ts.nix
Due: none

docs(indri): the reboot finding was a stale BTM record — resetbtm fixed it
  docs/changelog.d/fix-indri-window-findings.infra.md
  docs/how-to/indri/provision.md
  docs/reference/infrastructure/indri.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(indri): move mcquack.logrotate to a nix-darwin user agent
  ansible/roles/logrotate/defaults/main.yml
  ansible/roles/logrotate/tasks/main.yml
  darwin/indri/configuration.nix
  darwin/indri/mcquack-logrotate.sh
  docs/changelog.d/agent-indri-logrotate-darwin.infra.md
  docs/how-to/indri/provision.md
  docs/reference/infrastructure/indri.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.150-1c60c02-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.150.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

indri: make the tailnet resolver a real file; no sshd drop-ins in /etc/static
  ansible/playbooks/indri.yml
  darwin/indri/configuration.nix
  docs/changelog.d/agent-indri-boot-race.bugfix.md
  docs/how-to/indri/provision.md
  docs/reference/infrastructure/indri.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(ringtail): reap GPU husk pods left by kubelet readmission after hard reboots
  argocd/manifests/nvidia-device-plugin/cronjob-gpu-husk-reaper.yaml
  argocd/manifests/nvidia-device-plugin/kustomization.yaml
  docs/changelog.d/agent-gpu-husk-reaper.infra.md
  docs/how-to/ringtail/restart-ringtail.md
  docs/reference/infrastructure/ringtail.md
Due: docs-check-filenames, docs-check-links, docs-check-index

indri: fix the resolver guard's stat key (isreg, not regular)
  ansible/playbooks/indri.yml
  docs/changelog.d/fix-indri-resolver-guard.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

build-container: flip zot push identity zot-ci → ci-zot (#1039 step 2b PR 7)
  .forgejo/workflows/build-container.yaml
  docs/changelog.d/build-container-ci-zot-flip.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(audiobookshelf): mount the data PVC once, with subPath for /config and /metadata
  argocd/manifests/audiobookshelf-ringtail/deployment.yaml
  docs/changelog.d/fix-audiobookshelf-same-pvc-twice.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(authentik): pin image v2026.2.6-9466b59-nix
  argocd/manifests/authentik/kustomization.yaml
  docs/changelog.d/authentik-release-v2026.2.6.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

indri: logrotate rollback gate takes a real boolean; runbook records the zero-agent rollback caveat
  ansible/roles/logrotate/tasks/main.yml
  docs/changelog.d/fix-indri-logrotate-rollback-gate.bugfix.md
  docs/how-to/indri/provision.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index
