Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

C0: phase-3 LGTM images rebuilt from main (-8b1f89e-nix)
  argocd/manifests/grafana-ringtail/kustomization.yaml
  argocd/manifests/loki-ringtail/kustomization.yaml
  argocd/manifests/prometheus-ringtail/kustomization.yaml
  argocd/manifests/tempo-ringtail/kustomization.yaml
  docs/changelog.d/+phase3-main-rebuilds.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: mark retire-minikube phase 4 complete in the plan card
  docs/how-to/ringtail/retire-minikube.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C1(retire-minikube-p5-decommission): mark phase 5 executed in the plan card
  docs/how-to/ringtail/retire-minikube.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.18.0
  CHANGELOG.md
  ansible/roles/docs/defaults/main.yml
  docs/changelog.d/+1password-export-menu-wording.doc.md
  docs/changelog.d/+external-secrets-main-sha-rebuild.infra.md
  docs/changelog.d/+external-secrets-stable-main-sha.infra.md
  docs/changelog.d/+heph-hub-v1.2.1.infra.md
  docs/changelog.d/+jellyfin-10-11-11.bugfix.md
  docs/changelog.d/+phase1-main-rebuilds.infra.md
  docs/changelog.d/+phase3-main-rebuilds.infra.md
  docs/changelog.d/+retire-minikube-p2-complete.doc.md
  docs/changelog.d/+ringtail-flake-update.infra.md
  docs/changelog.d/+service-review-automounter.misc.md
  docs/changelog.d/+tailscale-operator-doc-review.doc.md
  docs/changelog.d/+tailscale-operator-mirror-tailnet-url.bugfix.md
  docs/changelog.d/anubis.infra.md
  docs/changelog.d/doc-review-stalest-five.ai.md
  docs/changelog.d/doc-review-stalest-five.doc.md
  docs/changelog.d/external-secrets-ringtail-nix.infra.md
  docs/changelog.d/heph-indri-hub.infra.md
  docs/changelog.d/heph-offline-access.bugfix.md
  docs/changelog.d/heph-pwa-redirect-uris.infra.md
  docs/changelog.d/local-external-secrets.infra.md
  docs/changelog.d/localize-tailscale-operator.infra.md
  docs/changelog.d/prometheus-3.12.infra.md
  docs/changelog.d/retire-minikube-p1-decommission.infra.md
  docs/changelog.d/retire-minikube-p1.infra.md
  docs/changelog.d/retire-minikube-p2-authentik.infra.md
  docs/changelog.d/retire-minikube-p3-lgtm.infra.md
  docs/changelog.d/retire-minikube-p4-argocd.infra.md
  docs/changelog.d/retire-minikube-p5-decommission.infra.md
  docs/changelog.d/retire-minikube-prowler.infra.md
  docs/changelog.d/retire-minikube.doc.md
  docs/changelog.d/retire-minikube.infra.md
  docs/changelog.d/retire-prowler-image-iac-scans.infra.md
  docs/changelog.d/reviews-jun4.doc.md
  docs/changelog.d/reviews-jun4.infra.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

retire-minikube phase 6: host-mode runner, Docker Desktop stays for dagger (#385)
  .forgejo/workflows/build-container.yaml
  ansible/roles/forgejo_runner/defaults/main.yml
  ansible/roles/forgejo_runner/tasks/main.yml
  ansible/roles/forgejo_runner/templates/config.yaml.j2
  ansible/roles/forgejo_runner/templates/forgejo-runner.plist.j2
  containers/alloy/container.py
  containers/external-secrets/container.py
  containers/forgejo-runner/container.py
  containers/kiwix-serve/container.py
  containers/kube-state-metrics/Dockerfile
  containers/kubectl/Dockerfile
  containers/navidrome/container.py
  containers/ntfy/Dockerfile
  containers/runner-job-image/container.py
  containers/tailscale-operator/container.py
  containers/tailscale/container.py
  containers/transmission-exporter/container.py
  containers/unpoller/container.py
  containers/valkey/container.py
  docs/changelog.d/retire-minikube-p6-runner.infra.md
  docs/how-to/ringtail/retire-minikube.md
  docs/reference/services/forgejo-runner.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

C0: retire-minikube complete — mark phase 6 and the umbrella card done
  docs/how-to/ringtail/retire-minikube.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fly proxy: deny declared AI crawlers at nginx ahead of Anubis (Tier 2c) (#386)
  docs/changelog.d/fly-edge-ua-deny.infra.md
  docs/explanation/ai-scraper-mitigation.md
  fly/nginx.conf
Due: docs-check-filenames, docs-check-links, docs-check-index

paperless: fix broken ingestion — shared scratch dir + /tmp emptyDirs (#387)
  argocd/manifests/paperless-ringtail/deployment.yaml
  docs/changelog.d/paperless-scratch-dir.bugfix.md
  docs/reference/services/paperless.md
Due: docs-check-filenames, docs-check-links, docs-check-index

AGENTS.md: drop heph next from task discovery — cross-project ranking, not for blumeops use
  AGENTS.md
Due: none

C0: doc review — automounter card post-migration accuracy pass
  docs/changelog.d/+automounter-doc-review.doc.md
  docs/reference/services/automounter.md
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: homepage — drop static entries now duplicated by ingress autodiscovery
  argocd/manifests/homepage/services.yaml
  docs/changelog.d/+homepage-dedupe.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update ringtail flake inputs (weekly chore)
  nixos/ringtail/flake.lock
Due: none

loki: upgrade 3.6.7 → 3.7.2 (service review) (#388)
  argocd/manifests/loki-ringtail/kustomization.yaml
  containers/loki/default.nix
  docs/changelog.d/loki-3.7.2.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

ringtail: zram swap + swappiness=10, k3s fail-swap-on=false, ollama→0
  argocd/manifests/ollama/deployment.yaml
  docs/changelog.d/ringtail-zram-swap.infra.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

weekly reviews: KSM v2.19.1, grafana-alerting doc, prowler k3s mutelist (#389)
  argocd/manifests/kube-state-metrics-ringtail/deployment.yaml
  argocd/manifests/kube-state-metrics-ringtail/kustomization.yaml
  argocd/manifests/kube-state-metrics-ringtail/rbac.yaml
  argocd/manifests/prowler-ringtail/mutelist/core-pod-security.yaml
  argocd/manifests/prowler-ringtail/mutelist/rbac.yaml
  containers/kube-state-metrics/default.nix
  docs/changelog.d/weekly-reviews.doc.md
  docs/changelog.d/weekly-reviews.infra.md
  docs/how-to/runbooks/configure-grafana-alerting-pipeline.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: paperless — raise worker memory limit 1Gi→3Gi to stop OCR OOMKills
  argocd/manifests/paperless-ringtail/deployment.yaml
  docs/changelog.d/+paperless-worker-memory.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Tailscale stack review: v1.94.2 → v1.98.5 + localize k8s-nameserver (#390)
  argocd/manifests/tailscale-operator-base/dnsconfig.yaml
  argocd/manifests/tailscale-operator-base/kustomization.yaml
  argocd/manifests/tailscale-operator-base/proxyclass.yaml
  argocd/manifests/tailscale-operator-ringtail/dnsconfig-image.yaml
  argocd/manifests/tailscale-operator-ringtail/kustomization.yaml
  argocd/manifests/tailscale-operator-ringtail/proxyclass-image.yaml
  containers/tailscale-k8s-nameserver/default.nix
  containers/tailscale/default.nix
  docs/changelog.d/tailscale-stack-review.doc.md
  docs/changelog.d/tailscale-stack-review.infra.md
  docs/how-to/runbooks/deploy-infra-alerting.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

C0: tailscale-operator-ringtail — repoint overlay to [main] SHA images
  argocd/manifests/tailscale-operator-ringtail/dnsconfig-image.yaml
  argocd/manifests/tailscale-operator-ringtail/kustomization.yaml
  argocd/manifests/tailscale-operator-ringtail/proxyclass-image.yaml
Due: none

Recurring review 2026-06-17: ntfy v2.24.0 + alerting doc review (#391)
  argocd/manifests/ntfy/kustomization.yaml
  containers/ntfy/default.nix
  docs/changelog.d/recurring-tasks-2026-06-17.infra.md
  docs/how-to/runbooks/first-alert-and-runbook.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Downgrade security posture: retire kingfisher + seccomp app pods (#392)
  argocd/apps/kingfisher.yaml
  argocd/manifests/authentik/deployment-redis.yaml
  argocd/manifests/authentik/deployment-server.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/frigate/deployment-notify.yaml
  argocd/manifests/kingfisher/cronjob.yaml
  argocd/manifests/kingfisher/external-secret.yaml
  argocd/manifests/kingfisher/kustomization.yaml
  argocd/manifests/kingfisher/pv-nfs.yaml
  argocd/manifests/kingfisher/pvc.yaml
  argocd/manifests/prowler-ringtail/mutelist/core-pod-security.yaml
  containers/kingfisher/Cargo.lock
  containers/kingfisher/default.nix
  docs/changelog.d/security-posture-downgrade.doc.md
  docs/changelog.d/security-posture-downgrade.infra.md
  docs/explanation/spork-strategy.md
  docs/how-to/configuration/build-spork-container.md
  docs/how-to/operations/read-compliance-reports.md
  docs/reference/operations/security.md
  docs/reference/services/kingfisher.md
  docs/reference/services/prowler.md
  mise-tasks/review-compliance-reports
  prek.toml
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Retire-minikube tail: prune dead Dagger build framework + purge minikube refs from runbooks (#393)
  docs/changelog.d/cleanup-retire-minikube-tail.doc.md
  docs/changelog.d/cleanup-retire-minikube-tail.infra.md
  docs/how-to/deployment/build-container-image.md
  docs/how-to/runbooks/runbook-pod-not-ready.md
  docs/how-to/runbooks/runbook-postgres-unhealthy.md
  docs/how-to/runbooks/runbook-service-probe-failure.md
  docs/how-to/runbooks/runbook-textfile-stale.md
  docs/how-to/zot/add-dagger-nix-build.md
  docs/reference/tools/dagger.md
  src/blumeops/containers.py
  src/blumeops/main.py
Due: docs-check-filenames, docs-check-links, docs-check-index

Retire-minikube tail (follow-up): purge container.py/Dockerfile build-model refs + fix ServiceProbeFailure runbook (#394)
  .forgejo/workflows/build-container.yaml
  docs/changelog.d/cleanup-build-model-refs.doc.md
  docs/changelog.d/cleanup-build-model-refs.infra.md
  docs/how-to/forgejo-runner/validate-forgejo-workflows.md
  docs/how-to/grafana/build-grafana-images.md
  docs/how-to/knowledgebase/review-services.md
  docs/how-to/runbooks/runbook-service-probe-failure.md
  docs/how-to/zot/add-container-version-sync-check.md
  docs/how-to/zot/adopt-commit-based-container-tags.md
  docs/how-to/zot/pin-container-versions.md
  docs/how-to/zot/wire-ci-registry-auth.md
  docs/reference/services/forgejo-runner.md
  docs/reference/services/forgejo.md
  docs/reference/tools/mise-tasks.md
  mise-tasks/container-build-and-release
  mise-tasks/container-version-check
Due: docs-check-filenames, docs-check-links, docs-check-index

Recurring review 2026-06-18: frigate service review + port-services-check-alerts doc review (#395)
  docs/changelog.d/recurring-review-2026-06-18.infra.md
  docs/how-to/runbooks/port-services-check-alerts.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

service-versions: drop retired minikube entry
  docs/changelog.d/+service-versions-drop-minikube.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

frigate: relax liveness probe to stop spurious SIGTERM restarts
  argocd/manifests/frigate/deployment.yaml
  docs/changelog.d/+frigate-liveness-probe.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

borgmatic: back up heph hub DB and navidrome DB (#396)
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/tasks/main.yml
  ansible/roles/borgmatic/templates/config.yaml.j2
  ansible/roles/borgmatic/templates/k8s-file-dump.sh.j2
  argocd/manifests/navidrome-ringtail/deployment.yaml
  argocd/manifests/navidrome-ringtail/kustomization.yaml
  containers/navidrome/default.nix
  docs/changelog.d/navidrome-heph-backups.infra.md
  docs/reference/services/borgmatic.md
  docs/reference/services/hephaestus.md
  docs/reference/services/navidrome.md
  docs/reference/storage/backups.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

borgmatic: migrate before_backup hooks to commands: syntax (#397)
  ansible/roles/borgmatic/templates/config.yaml.j2
  docs/changelog.d/borgmatic-commands-syntax.infra.md
  docs/reference/services/borgmatic.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

cleanup: purge dead container.py/Dockerfile refs + reconcile CI runner docs (#398)
  docs/changelog.d/cleanup-build-model-refs-tail.doc.md
  docs/changelog.d/cleanup-build-model-refs-tail.infra.md
  docs/how-to/configuration/update-documentation.md
  docs/how-to/dagger/upgrade-dagger.md
  docs/how-to/forgejo-runner/configure-k8s-runner.md
  docs/how-to/forgejo-runner/configure-launchd-runner.md
  docs/how-to/forgejo-runner/validate-forgejo-workflows.md
  docs/how-to/grafana/upgrade-grafana.md
  docs/how-to/operations/deploy-prowler.md
  docs/how-to/ringtail/retire-minikube.md
  docs/how-to/zot/add-container-version-sync-check.md
  docs/how-to/zot/add-dagger-nix-build.md
  docs/how-to/zot/adopt-commit-based-container-tags.md
  docs/how-to/zot/container-versioning.md
  docs/how-to/zot/harden-zot-registry.md
  docs/how-to/zot/pin-container-versions.md
  docs/how-to/zot/register-zot-oidc-client.md
  docs/how-to/zot/wire-ci-registry-auth.md
  mise-tasks/container-list
  mise-tasks/service-review
Due: docs-check-filenames, docs-check-links, docs-check-index

Restore orphaned ArgoCD bases deleted by minikube decommission (#399)
  argocd/manifests/1password-connect/README.md
  argocd/manifests/1password-connect/deployment.yaml
  argocd/manifests/1password-connect/kustomization.yaml
  argocd/manifests/1password-connect/secret-credentials.yaml.tpl
  argocd/manifests/1password-connect/service.yaml
  argocd/manifests/external-secrets/README.md
  argocd/manifests/external-secrets/cluster-secret-store.yaml
  argocd/manifests/external-secrets/deployment.yaml
  argocd/manifests/external-secrets/kustomization.yaml
  argocd/manifests/external-secrets/rbac.yaml
  argocd/manifests/external-secrets/service.yaml
  argocd/manifests/external-secrets/serviceaccount.yaml
  argocd/manifests/external-secrets/webhook.yaml
  docs/changelog.d/fix-orphaned-argocd-bases.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Recurring maintenance: authentik-redis 8.6.3, ringtail flake bump, doc review (#400)
  argocd/manifests/authentik/kustomization.yaml
  containers/authentik-redis/default.nix
  docs/changelog.d/recurring-maintenance.infra.md
  docs/how-to/runbooks/refactor-services-check-to-query-alerts.md
  nixos/ringtail/flake.lock
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

ringtail: drop librewolf (insecure/unmaintained in new nixpkgs)
  docs/changelog.d/+remove-ringtail-librewolf.infra.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

Daily chores 2026-06-21: homepage v1.13.2 + argocd runbook review (#401)
  argocd/manifests/homepage/kustomization.yaml
  containers/homepage/default.nix
  docs/changelog.d/daily-chores-2026-06-21.doc.md
  docs/changelog.d/daily-chores-2026-06-21.infra.md
  docs/how-to/runbooks/runbook-argocd-out-of-sync.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

homepage: repoint image to main-SHA tag v1.13.2-d170c9d-nix
  argocd/manifests/homepage/kustomization.yaml
Due: none

kiwix: refresh all stale ZIM torrent URLs to current builds
  argocd/manifests/kiwix-ringtail/torrents.txt
  docs/changelog.d/+kiwix-torrents-refresh.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Re-broaden ringtail blackbox probes to all in-cluster services (#402)
  argocd/manifests/alloy-ringtail/config.alloy
  docs/changelog.d/blackbox-probe-coverage.infra.md
  docs/explanation/federated-login.md
  docs/how-to/runbooks/port-services-check-alerts.md
  docs/how-to/runbooks/runbook-service-probe-failure.md
  docs/reference/infrastructure/tailscale.md
  docs/reference/services/prometheus.md
  mise-tasks/services-check
Due: docs-check-filenames, docs-check-links, docs-check-index

frigate: mask Japanese-maple person false-positives on gablecam
  argocd/manifests/frigate/frigate-config.yml
  docs/changelog.d/+frigate-maple-person-mask.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

--due
  AGENTS.md
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
