Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

infra(talos): wire TALOS_FORGE_WEBHOOK_SECRET for the Forgejo PR-label webhook
  argocd/manifests/talos/deployment.yaml
  argocd/manifests/talos/external-secret.yaml
  docs/changelog.d/talos-forge-webhook.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.21-574c903-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.21.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(forgejo): allow webhook delivery to *.ops.eblu.me
  ansible/roles/forgejo/templates/app.ini.j2
  docs/changelog.d/fix-forgejo-webhook-allowed-hosts.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Add TALOS_ADMINS to the talos deployment
  argocd/manifests/talos/deployment.yaml
  docs/changelog.d/agent-talos-admins.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(talos): TALOS_ADMINS is the Authentik email blume.erich@gmail.com
  argocd/manifests/talos/deployment.yaml
Due: none

infra(talos): pin image v0.4.22-16a4682-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.22.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.23-7481971-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.23.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(borgmatic): back up paperless media store via in-pod tar
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/templates/config.yaml.j2
  ansible/roles/borgmatic/templates/k8s-tar-dump.sh.j2
  containers/paperless/default.nix
  docs/changelog.d/agent-paperless-media-backup.infra.md
  docs/reference/services/borgmatic.md
  docs/reference/storage/backups.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.24-a4f7fd6-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.24.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(paperless): pin image v2.20.15-737b7ae-nix
  argocd/manifests/paperless-ringtail/kustomization.yaml
  docs/changelog.d/agent-paperless-pin-737b7ae.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: fix Textfile Stale runbook writer agents, log paths, counts
  docs/changelog.d/agent-doc-review-textfile-stale-runbook.doc.md
  docs/how-to/runbooks/runbook-textfile-stale.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(grafana-sidecar): bump k8s-sidecar 2.6.0 → 2.10.1
  containers/grafana-sidecar/default.nix
  service-versions.yaml
Due: none

infra(grafana-sidecar): pin image v2.10.1-17c7b0e-nix
  argocd/manifests/grafana-ringtail/kustomization.yaml
  docs/changelog.d/recurring-reviews-2026-08-24.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(grafana-sidecar): drop review notes from service-versions entry
  service-versions.yaml
Due: none

infra(talos): pin image v0.4.25-6118b2a-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.25.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.26-01c8eb9-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.26.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.27-31c2ba7-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.27.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

ansible(jellyfin): pin official release, drop Homebrew cask
  ansible/roles/jellyfin/defaults/main.yml
  ansible/roles/jellyfin/tasks/main.yml
  docs/changelog.d/agent-jellyfin-off-homebrew.infra.md
  docs/reference/services/jellyfin.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(agents): reconcile talos webhooks from repos.json
  .forgejo/workflows/agent-repo-access.yaml
  argocd/manifests/talos/repos.json
  docs/changelog.d/talos-issue-hooks.infra.md
  mise-tasks/agent-repo-access
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.28-adcc83e-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.28.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: review and refresh dagger reference card
  docs/changelog.d/agent-docs-review-20260825.doc.md
  docs/reference/tools/dagger.md
Due: docs-check-filenames, docs-check-links, docs-check-index

review(prowler): 5.12.3 -> 5.39.1 — nixpkgs caught up with upstream
  containers/prowler/default.nix
  docs/changelog.d/recurring-reviews-2026-08-25.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

ansible(jellyfin): use nested stat.exists in release checks
  ansible/roles/jellyfin/tasks/main.yml
  docs/changelog.d/agent-jellyfin-stat-exists-nested.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs: remove dagger Secrets section (no current function takes a Secret)
  docs/changelog.d/agent-docs-review-20260825.doc.md
  docs/reference/tools/dagger.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(agents): reviews file warrant requests themselves, not the human
  AGENTS.md
  docs/changelog.d/talos-review-request-run.ai.md
  docs/how-to/knowledgebase/review-services.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(request-run): don't pre-open the client the probe hands back
  docs/changelog.d/talos-review-request-run.bugfix.md
  mise-tasks/request-run
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(prowler): self-pin nixos-unstable — builder's <nixpkgs> is frozen at 5.12.3
  containers/prowler/default.nix
Due: none

prowler: point manifest at v5.39.1-9258e39-nix
  argocd/manifests/prowler-ringtail/kustomization.yaml
Due: none

fix(build-container): skopeo tmpdir on disk, not the sandbox tmpfs
  .forgejo/workflows/build-container.yaml
Due: none

prowler: retag manifest for rebuild at 7abc5f7
  argocd/manifests/prowler-ringtail/kustomization.yaml
Due: none

docs: changelog fragment for skopeo tmpdir fix
  docs/changelog.d/skopeo-tmpdir-fix.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(verify-runs): don't pre-open the client the probe hands back
  docs/changelog.d/verify-runs-client-fix.bugfix.md
  mise-tasks/verify-runs
Due: docs-check-filenames, docs-check-links, docs-check-index

ansible(jellyfin): create versioned install dir, pin DMG mount point
  ansible/roles/jellyfin/defaults/main.yml
  ansible/roles/jellyfin/tasks/main.yml
Due: ansible-lint

agent-repo-access: reconcile the agents engagement label onto pool repos
  .forgejo/workflows/agent-repo-access.yaml
  docs/changelog.d/agent-engage-label.infra.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  mise-tasks/agent-repo-access
Due: docs-check-filenames, docs-check-links, docs-check-index

ansible(jellyfin): detach strays by image, surface hdiutil mount errors
  ansible/roles/jellyfin/defaults/main.yml
  ansible/roles/jellyfin/tasks/main.yml
  docs/changelog.d/agent-jellyfin-dmg-mount-robust.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.4-d6c9fbc-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.4.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

ansible(jellyfin): detach DMG by device node, not image path
  ansible/roles/jellyfin/files/detach-dmg.py
  ansible/roles/jellyfin/tasks/main.yml
  docs/changelog.d/fix-jellyfin-dmg-detach-by-device.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs(runbook): review log-stream-silent; zot.err tail is fixed
  docs/changelog.d/agent-doc-review-log-stream-silent.doc.md
  docs/how-to/runbooks/runbook-log-stream-silent.md
Due: docs-check-filenames, docs-check-links, docs-check-index

review(transmission-exporter): stamp 2026-08-26 review, dep-refresh rebuild
  docs/changelog.d/transmission-exporter-dep-refresh.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index
