Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

Expose CV publicly at cv.eblu.me (#173)
  argocd/manifests/cv/ingress-tailscale.yaml
  argocd/manifests/grafana-config/dashboards/configmap-cv-apm.yaml
  argocd/manifests/grafana-config/kustomization.yaml
  docs/changelog.d/cv-public-cv-eblu-me.feature.md
  docs/changelog.d/cv-public-cv-eblu-me.misc.md
  fly/nginx.conf
  mise-tasks/fly-setup
  pulumi/gandi/__main__.py
Due: docs-check-filenames, docs-check-links, docs-check-index

Add CV to services-check, update homepage link (#174)
  argocd/manifests/cv/ingress-tailscale.yaml
  docs/changelog.d/cv-add-services-check.infra.md
  docs/changelog.d/cv-add-services-check.misc.md
  mise-tasks/services-check
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.7.1
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/cv-add-services-check.infra.md
  docs/changelog.d/cv-add-services-check.misc.md
  docs/changelog.d/cv-public-cv-eblu-me.feature.md
  docs/changelog.d/cv-public-cv-eblu-me.misc.md
  docs/changelog.d/cv-update-release-v1.0.1.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update CV release to v1.0.2 (#175)
  argocd/manifests/cv/deployment.yaml
  docs/changelog.d/cv-update-release-v1.0.2.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update CV release to v1.0.3, add X-Clacks-Overhead header (#176)
  argocd/manifests/cv/deployment.yaml
  docs/changelog.d/cv-v1.0.3-and-clacks.feature.md
  docs/changelog.d/cv-v1.0.3-and-clacks.misc.md
  docs/how-to/expose-service-publicly.md
  fly/nginx.conf
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix cache hit rate on APM and Fly.io dashboards (#177)
  argocd/manifests/grafana-config/dashboards/configmap-cv-apm.yaml
  argocd/manifests/grafana-config/dashboards/configmap-docs-apm.yaml
  argocd/manifests/grafana-config/dashboards/configmap-flyio.yaml
  docs/changelog.d/fix-cache-hit-rate-dashboards.bugfix.md
  fly/alloy.river
Due: docs-check-filenames, docs-check-links, docs-check-index

Add reference/tools/ category with Dagger, ArgoCD CLI, Ansible, and Pulumi cards (#178)
  docs/changelog.d/feature-reference-tools-category.doc.md
  docs/explanation/why-gitops.md
  docs/how-to/add-ansible-role.md
  docs/how-to/plans/completed/adopt-dagger-ci.md
  docs/how-to/update-documentation.md
  docs/reference/reference.md
  docs/reference/services/argocd.md
  docs/reference/tools/ansible.md
  docs/reference/tools/argocd-cli.md
  docs/reference/tools/dagger.md
  docs/reference/tools/pulumi.md
  docs/tutorials/replication/core-services.md
  docs/tutorials/replication/observability-stack.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.8.0
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/cv-update-release-v1.0.2.feature.md
  docs/changelog.d/cv-v1.0.3-and-clacks.feature.md
  docs/changelog.d/cv-v1.0.3-and-clacks.misc.md
  docs/changelog.d/feature-reference-tools-category.doc.md
  docs/changelog.d/fix-cache-hit-rate-dashboards.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Recategorize homepage into Content and Misc groups (#179)
  argocd/manifests/cv/ingress-tailscale.yaml
  argocd/manifests/devpi/ingress-tailscale.yaml
  argocd/manifests/docs/ingress-tailscale.yaml
  argocd/manifests/grafana-config/ingress-tailscale.yaml
  argocd/manifests/immich/ingress-tailscale.yaml
  argocd/manifests/kiwix/ingress-tailscale.yaml
  argocd/manifests/miniflux/ingress-tailscale.yaml
  argocd/manifests/navidrome/ingress-tailscale.yaml
  argocd/manifests/prometheus/ingress-tailscale.yaml
  argocd/manifests/teslamate/ingress-tailscale.yaml
  argocd/manifests/torrent/ingress-tailscale.yaml
  docs/changelog.d/feature-homepage-recategorize.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Move ArgoCD to Misc homepage group and rename ingress file
  argocd/manifests/argocd/ingress-tailscale.yaml
  argocd/manifests/argocd/kustomization.yaml
Due: none

Update homepage layout for new Content/Misc groups
  argocd/manifests/homepage/values.yaml
Due: none

Add yq to forgejo-runner and replace sed YAML edits (#180)
  .forgejo/workflows/build-blumeops.yaml
  .forgejo/workflows/cv-deploy.yaml
  containers/forgejo-runner/Dockerfile
  docs/changelog.d/feature-yq-in-runner.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update forgejo-runner image to v3.1.0
  argocd/manifests/forgejo-runner/external-secret.yaml
Due: none

Move non-secret runner env vars to deployment spec (#181)
  argocd/manifests/forgejo-runner/configmap.yaml
  argocd/manifests/forgejo-runner/deployment.yaml
  argocd/manifests/forgejo-runner/external-secret.yaml
  docs/changelog.d/feature-runner-env-refactor.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.8.2
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/feature-homepage-recategorize.feature.md
  docs/changelog.d/feature-runner-env-refactor.infra.md
  docs/changelog.d/feature-yq-in-runner.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade Node.js from 20 to 22 LTS (#182)
  .dagger/src/blumeops_ci/main.py
  containers/forgejo-runner/Dockerfile
  docs/changelog.d/feature-node-22.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update forgejo-runner image to v3.2.0
  argocd/manifests/forgejo-runner/deployment.yaml
Due: none

Revert forgejo-runner image to v3.1.0
  argocd/manifests/forgejo-runner/deployment.yaml
Due: none

Configure DinD to use Zot as pull-through registry mirror (#183)
  argocd/manifests/forgejo-runner/configmap.yaml
  argocd/manifests/forgejo-runner/deployment.yaml
  docs/changelog.d/feature-dind-zot-registry-mirror.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review why-gitops doc (#184)
  docs/changelog.d/review-why-gitops.doc.md
  docs/explanation/why-gitops.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review add-ansible-role doc (#185)
  docs/changelog.d/review-add-ansible-role.doc.md
  docs/how-to/add-ansible-role.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Tier 1 version bumps (#186)
  argocd/apps/1password-connect.yaml
  argocd/apps/cloudnative-pg.yaml
  argocd/manifests/alloy-k8s/daemonset.yaml
  argocd/manifests/kiwix/cronjob-zim-watcher.yaml
  argocd/manifests/kiwix/deployment.yaml
  argocd/manifests/kube-state-metrics/deployment.yaml
  argocd/manifests/loki/statefulset.yaml
  argocd/manifests/miniflux/deployment.yaml
  argocd/manifests/navidrome/deployment.yaml
  argocd/manifests/prometheus/statefulset.yaml
  argocd/manifests/tailscale-operator/operator.yaml
  argocd/manifests/tailscale-operator/proxyclass.yaml
  argocd/manifests/torrent/deployment.yaml
  containers/kiwix-serve/Dockerfile
  containers/kubectl/Dockerfile
  containers/miniflux/Dockerfile
  containers/nettest/Dockerfile
  containers/transmission/Dockerfile
  docs/changelog.d/feature-tier1-version-bumps.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix navidrome image tag: remove v prefix (0.60.3 not v0.60.3)
  argocd/manifests/navidrome/deployment.yaml
Due: none

Fix 1Password Connect credentials for chart 2.3.0
  argocd/manifests/1password-connect/README.md
  argocd/manifests/1password-connect/secret-credentials.yaml.tpl
Due: none

Update UniFi Pulumi plan: switch to ubiquiti-community provider (#187)
  docs/changelog.d/update-unifi-pulumi-plan.infra.md
  docs/how-to/plans/add-unifi-pulumi-stack.md
  docs/reference/infrastructure/unifi.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add how-to guide for connecting to PostgreSQL via psql (#188)
  docs/changelog.d/docs-connect-to-postgres.doc.md
  docs/how-to/connect-to-postgres.md
  docs/how-to/how-to.md
  docs/reference/services/postgresql.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Abandon UniFi IaC, add manual network segmentation plan (#189)
  docs/changelog.d/segment-home-network.infra.md
  docs/changelog.d/update-unifi-pulumi-plan.infra.md
  docs/how-to/how-to.md
  docs/how-to/plans/add-unifi-pulumi-stack.md
  docs/how-to/plans/plans.md
  docs/how-to/plans/segment-home-network.md
  docs/reference/infrastructure/unifi.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update segmentation plan: mark completed, fix firewall details
  docs/how-to/plans/plans.md
  docs/how-to/plans/segment-home-network.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Move segment-home-network to completed plans
  docs/how-to/plans/completed/completed.md
  docs/how-to/plans/completed/segment-home-network.md
  docs/how-to/plans/plans.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add missing doc index files to zk-docs context priming
  mise-tasks/zk-docs
Due: none

Deploy Frigate NVR stack with Mosquitto, Ntfy, and frigate-notify (#190)
  ansible/roles/caddy/defaults/main.yml
  argocd/apps/frigate.yaml
  argocd/apps/mosquitto.yaml
  argocd/apps/ntfy.yaml
  argocd/manifests/argocd/ingress-tailscale.yaml
  argocd/manifests/cv/ingress-tailscale.yaml
  argocd/manifests/docs/ingress-tailscale.yaml
  argocd/manifests/frigate/configmap-notify.yaml
  argocd/manifests/frigate/configmap.yaml
  argocd/manifests/frigate/deployment-notify.yaml
  argocd/manifests/frigate/deployment.yaml
  argocd/manifests/frigate/external-secret.yaml
  argocd/manifests/frigate/ingress-tailscale.yaml
  argocd/manifests/frigate/kustomization.yaml
  argocd/manifests/frigate/pv-nfs.yaml
  argocd/manifests/frigate/pvc-database.yaml
  argocd/manifests/frigate/pvc-recordings.yaml
  argocd/manifests/frigate/service.yaml
  argocd/manifests/grafana-config/dashboards/configmap-frigate.yaml
  argocd/manifests/grafana-config/kustomization.yaml
  argocd/manifests/homepage/values.yaml
  argocd/manifests/mosquitto/configmap.yaml
  argocd/manifests/mosquitto/deployment.yaml
  argocd/manifests/mosquitto/kustomization.yaml
  argocd/manifests/mosquitto/service.yaml
  argocd/manifests/ntfy/configmap.yaml
  argocd/manifests/ntfy/deployment.yaml
  argocd/manifests/ntfy/ingress-tailscale.yaml
  argocd/manifests/ntfy/kustomization.yaml
  argocd/manifests/ntfy/service.yaml
  argocd/manifests/prometheus/configmap.yaml
  argocd/manifests/prometheus/ingress-tailscale.yaml
  argocd/manifests/teslamate/ingress-tailscale.yaml
  argocd/manifests/torrent/ingress-tailscale.yaml
  docs/changelog.d/deploy-frigate-nvr.feature.md
  docs/how-to/plans/completed/completed.md
  docs/how-to/plans/completed/operationalize-reolink-camera.md
  mise-tasks/services-check
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.9.0
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/deploy-frigate-nvr.feature.md
  docs/changelog.d/docs-connect-to-postgres.doc.md
  docs/changelog.d/feature-dind-zot-registry-mirror.infra.md
  docs/changelog.d/feature-node-22.infra.md
  docs/changelog.d/feature-tier1-version-bumps.infra.md
  docs/changelog.d/review-add-ansible-role.doc.md
  docs/changelog.d/review-why-gitops.doc.md
  docs/changelog.d/segment-home-network.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Doc review: connect-to-postgres, create-release-artifact-workflow, deploy-k8s-service (#191)
  CLAUDE.md
  argocd/apps/teslamate.yaml
  argocd/manifests/databases/README.md
  argocd/manifests/teslamate/README.md
  docs/changelog.d/docs-doc-review-feb-15-2026.doc.md
  docs/how-to/connect-to-postgres.md
  docs/how-to/create-release-artifact-workflow.md
  docs/how-to/deploy-k8s-service.md
  docs/how-to/gandi-operations.md
  docs/how-to/troubleshooting.md
  docs/reference/services/postgresql.md
  pulumi/gandi/README.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.9.1
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/docs-doc-review-feb-15-2026.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Document container build pattern and port navidrome (#192)
  argocd/manifests/navidrome/deployment.yaml
  containers/navidrome/Dockerfile
  docs/changelog.d/feature-document-container-build-port-navidrome.feature.md
  docs/how-to/build-container-image.md
  docs/how-to/how-to.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add zlib-dev to navidrome build stage for taglib linking
  containers/navidrome/Dockerfile
Due: none

Update navidrome image to v1.0.1
  argocd/manifests/navidrome/deployment.yaml
Due: none

Remove non-root user from navidrome container
  containers/navidrome/Dockerfile
Due: none

Revert navidrome to upstream image pending container fix
  argocd/manifests/navidrome/deployment.yaml
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
