Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

infra(talos): pin image v0.4.86-3f16e22-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.86.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

agent-repo-access: second webhook kind — forge→horkos release hook (horkos#17 step 2)
  argocd/manifests/horkos/deployment.yaml
  argocd/manifests/horkos/external-secret-forge-hook.yaml
  argocd/manifests/horkos/kustomization.yaml
  argocd/manifests/talos/repos.json
  docs/changelog.d/agent-horkos-release-hooks.infra.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  mise-tasks/agent-repo-access
Due: docs-check-filenames, docs-check-links, docs-check-index

ci(flake-update): stop the pre-push gate reding on intentional word-splits
  .forgejo/workflows/flake-update.yaml
Due: none

infra(talos): pin image v0.4.88-9e5d042-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.88.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.89-d62b9fe-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.89.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

ringtail: map indri's SSH user in system ssh_config and ansible inventory
  ansible/inventory/hosts.yml
  docs/changelog.d/agent-indri-ssh-user.bugfix.md
  nixos/ringtail/configuration.nix
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Update ringtail flake inputs
  nixos/ringtail/flake.lock
Due: none

agent-repo-access: subscribe the talos hook to pull_request deliveries
  argocd/manifests/talos/repos.json
  docs/changelog.d/agent-talos-hook-pull-request.infra.md
  mise-tasks/agent-repo-access
Due: docs-check-filenames, docs-check-links, docs-check-index

agent-repo-access: list the pull_request read-back expansion in TALOS_HOOK_READ_EVENTS
  docs/changelog.d/agent-talos-hook-read-events-pr-expand.infra.md
  mise-tasks/agent-repo-access
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.91-022fcb6-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.91.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: describe the docker-run frigate export ahead of retiring the dagger module
  AGENTS.md
  README.md
  ansible/roles/forgejo_runner/defaults/main.yml
  docs/changelog.d/agent-retire-dagger-module.infra.md
  docs/how-to/authentik/build-authentik-container.md
  docs/how-to/configuration/update-documentation.md
  docs/how-to/dagger/upgrade-dagger.md
  docs/how-to/deployment/build-container-image.md
  docs/how-to/forgejo-runner/configure-launchd-runner.md
  docs/how-to/knowledgebase/review-documentation.md
  docs/how-to/knowledgebase/review-services.md
  docs/how-to/ringtail/manage-lockfile.md
  docs/how-to/zot/container-versioning.md
  docs/reference/infrastructure/ringtail.md
  docs/reference/tools/dagger.md
  docs/reference/tools/mise-tasks.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ci(dagger): retire the blumeops dagger module, dagger.json, and dagger-io
  .forgejo/workflows/build-container.yaml
  .forgejo/workflows/flake-update.yaml
  .forgejo/workflows/lint.yaml
  .gitignore
  dagger.json
  docs/how-to/ringtail/retire-minikube.md
  mise-tasks/_require
  mise-tasks/container-version-check
  mise-tasks/frigate-export-model
  mise-tasks/ty-check
  mise.toml
  prek.toml
  pyproject.toml
  src/blumeops/__init__.py
  src/blumeops/main.py
  uv.lock
Due: docs-check-filenames, docs-check-links, docs-check-index

indri: one Go baseline for all source builds
  ansible/playbooks/indri.yml
  ansible/roles/forgejo/defaults/main.yml
  ansible/roles/forgejo/tasks/main.yml
  ansible/roles/forgejo_runner/defaults/main.yml
  ansible/roles/forgejo_runner/tasks/main.yml
  ansible/roles/zot/tasks/main.yml
  docs/changelog.d/agent-indri-go-baseline.infra.md
  docs/how-to/forgejo-runner/configure-launchd-runner.md
  docs/how-to/operations/upgrade-forgejo.md
  docs/reference/services/forgejo.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

argocd: cap transmission termination grace at 10s for ringtail reboots; point NFS workloads at the fix
  argocd/manifests/frigate/deployment.yaml
  argocd/manifests/immich-ringtail/deployment-server.yaml
  argocd/manifests/kiwix-ringtail/deployment.yaml
  argocd/manifests/navidrome-ringtail/deployment.yaml
  argocd/manifests/paperless-ringtail/deployment.yaml
  argocd/manifests/shower/deployment.yaml
  argocd/manifests/torrent-ringtail/deployment.yaml
  docs/changelog.d/agent-transmission-reboot-drain.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(prowler): fix k3s node verifier, mute kubelet MANUAL rows
  argocd/manifests/prowler-ringtail/kustomization.yaml
  argocd/manifests/prowler-ringtail/mutelist/kubelet-node-files.yaml
  docs/changelog.d/agent-prowler-k3s-verifier-fixes.infra.md
  docs/how-to/operations/deploy-prowler.md
  docs/how-to/operations/read-compliance-reports.md
  mise-tasks/review-compliance-reports
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(mise-tasks): escape data-derived values interpolated into rich markup
  docs/changelog.d/agent-rich-escape-markup-data.bugfix.md
  mise-tasks/agent-health
  mise-tasks/agent-metrics
  mise-tasks/agent-repo-access
  mise-tasks/branch-cleanup
  mise-tasks/container-list
  mise-tasks/container-version-check
  mise-tasks/dns-acme-cleanup
  mise-tasks/docs-check-frontmatter
  mise-tasks/docs-check-links
  mise-tasks/docs-preview
  mise-tasks/docs-review
  mise-tasks/docs-review-stale
  mise-tasks/docs-review-tags
  mise-tasks/mirror-update-pats
  mise-tasks/op-backup
  mise-tasks/pending-deploys
  mise-tasks/prune-ringtail-generations
  mise-tasks/request-run
  mise-tasks/review-compliance-reports
  mise-tasks/runner-logs
  mise-tasks/service-review
  mise-tasks/spork-create
  mise-tasks/verify-runs
  mise-tasks/warrant-bot-drift
  mise-tasks/warrant-bot-provision
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: document the transmission drain pre-step in the restart-ringtail runbook
  docs/changelog.d/agent-restart-ringtail-drain-runbook.doc.md
  docs/how-to/ringtail/restart-ringtail.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(explanation): review why-gitops — correct layer scope, ArgoCD sync detail
  docs/changelog.d/agent-docs-review-why-gitops.doc.md
  docs/explanation/why-gitops.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(explanation): why-gitops — gitops as the central pillar, the agent pantheon
  docs/changelog.d/agent-docs-review-why-gitops.doc.md
  docs/explanation/why-gitops.md
Due: docs-check-filenames, docs-check-links, docs-check-index

AGENTS.md: lint gate resolves tools in layers; talos pool clones track canonical main
  AGENTS.md
  docs/changelog.d/+talos-pool-checkout-hooks.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.94-54d5b31-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.94.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

talos: shorten HEPH_NO_AUTO_RELOGIN comment to one line (review)
  argocd/manifests/talos/deployment.yaml
Due: none

talos: disable heph CLI auto re-login in agent sessions
  argocd/manifests/talos/deployment.yaml
  docs/changelog.d/agent-heph-no-auto-relogin-env.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(runner): install shellcheck for actionlint's shellcheck pass
  ansible/roles/forgejo_runner/defaults/main.yml
  docs/changelog.d/agent-indri-runner-shellcheck.infra.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(argocd): enforce PSA restricted on the five quiet app namespaces
  argocd/apps/authentik.yaml
  argocd/apps/immich-ringtail.yaml
  argocd/apps/mealie-ringtail.yaml
  argocd/apps/paperless-ringtail.yaml
  argocd/apps/teslamate-ringtail.yaml
  docs/changelog.d/agent-psa-enforce-flip.infra.md
  docs/reference/operations/security.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(review-services): file upgrade remainder and review findings in forge, not heph
  docs/changelog.d/agent-heph-tasks-review-services.doc.md
  docs/how-to/knowledgebase/review-services.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.96-128b395-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.96.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.100-e730469-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.100.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(op-backup): 700/600 on indri; runbook iCloud guards (#958)
  docs/changelog.d/+op-backup-modes-icloud-guard.infra.md
  docs/how-to/operations/run-1password-backup.md
  mise-tasks/op-backup
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(ringtail): enable kubelet Graceful Node Shutdown for reboots
  docs/changelog.d/agent-ringtail-graceful-node-shutdown.infra.md
  docs/how-to/ringtail/restart-ringtail.md
  docs/reference/infrastructure/ringtail.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

Daily service review: cv — stamp last-reviewed, no version bump
  docs/changelog.d/recurring-reviews-2026-09-08.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

AGENTS.md: reserve heph tasks for actions entirely outside talos/blumeops
  AGENTS.md
  docs/changelog.d/agent-heph-tasks-out-of-band.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

AGENTS.md: heph tasks reserved for human actions outside talos workflows
  AGENTS.md
  docs/changelog.d/agent-heph-tasks-out-of-band.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

agent-repo-access: reconcile the needs-proper-review label onto pool repos
  .forgejo/workflows/agent-repo-access.yaml
  docs/changelog.d/agent-needs-proper-review-label.infra.md
  mise-tasks/agent-repo-access
Due: docs-check-filenames, docs-check-links, docs-check-index

agent-repo-access: trim workflow header comment to the non-derivable bits
  .forgejo/workflows/agent-repo-access.yaml
Due: none

infra(alloy-tracing): 2Gi limit + GOMEMLIMIT to end the beyla-subprocess OOM loop
  argocd/manifests/alloy-tracing-ringtail/daemonset.yaml
  docs/changelog.d/agent-alloy-tracing-mem-2gi.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(ansible): fix LaunchAgent plist naming in add-ansible-role how-to
  docs/changelog.d/agent-doc-review-ansible-role.doc.md
  docs/how-to/deployment/add-ansible-role.md
Due: docs-check-filenames, docs-check-links, docs-check-index

zot: per-repo push-only identities for talos and horkos release CI
  ansible/roles/zot/templates/config.json.j2
  argocd/manifests/authentik/configmap-blueprint.yaml
  docs/changelog.d/agent-zot-push-identities.infra.md
  docs/reference/services/zot.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

zot: rotate CI API keys from the command line, no impersonation
  docs/changelog.d/zot-apikey-rotate.feature.md
  docs/how-to/zot/wire-ci-registry-auth.md
  docs/reference/services/zot.md
  mise-tasks/zot-apikey-rotate
Due: docs-check-filenames, docs-check-links, docs-check-index

zot: note why the bootstrap mint cannot be headless
  docs/reference/services/zot.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
