Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

infra(talos): pin image v0.4.11-0f6388e-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.11.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: review zot oidc client registration card
  docs/changelog.d/agent-doc-review-zot-oidc-card.doc.md
  docs/how-to/zot/register-zot-oidc-client.md
Due: docs-check-filenames, docs-check-links, docs-check-index

review(heph-cli-gilbert): remove from service tracking — gilbert is out of IaC scope
  docs/changelog.d/heph-cli-gilbert-review.misc.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

review(prek): stamp last-reviewed 2026-08-22 - pin already at v0.4.14
  service-versions.yaml
Due: none

docs: remote-agent doc review can now run the ArgoCD check
  docs/changelog.d/agent-review-doc-argocd-note.doc.md
  docs/how-to/knowledgebase/review-documentation.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(homepage): add static tile for the heph PWA
  argocd/manifests/homepage/services.yaml
  docs/changelog.d/agent-homepage-heph-tile.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(ci): move CI secrets to job-time op read from blumeops-ci
  .forgejo/workflows/argocd-deploy.yaml
  .forgejo/workflows/build-blumeops.yaml
  .forgejo/workflows/build-container.yaml
  .forgejo/workflows/cv-deploy.yaml
  .forgejo/workflows/deploy-fly.yaml
  ansible/playbooks/indri.yml
  ansible/roles/forgejo_actions_secrets/defaults/main.yml
  docs/changelog.d/ci-secrets-op-read.infra.md
  docs/how-to/operations/blumeops-ci-item-migration.md
  nixos/ringtail/configuration.nix
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs: rotation runbooks follow the blumeops-ci consumption change
  docs/how-to/configuration/rotate-fly-deploy-token.md
  docs/how-to/operations/blumeops-ci-item-migration.md
  docs/how-to/zot/wire-ci-registry-auth.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.12-6402c2c-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.12.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.2-ab9fdba-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.2.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.20.0
  CHANGELOG.md
  ansible/roles/docs/defaults/main.yml
  docs/changelog.d/horkos-release-v0.5.2.infra.md
  docs/changelog.d/talos-release-v0.4.12.infra.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(ci): replace admin PAT with write:repository token in CI
  .forgejo/workflows/agent-repo-access.yaml
  .forgejo/workflows/warrant-bot-drift.yaml
  ansible/playbooks/indri.yml
  ansible/roles/forgejo_actions_secrets/defaults/main.yml
  docs/changelog.d/forge-repo-write-token.infra.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/how-to/operations/blumeops-ci-item-migration.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  mise-tasks/agent-repo-access
  mise-tasks/warrant-bot-drift
  mise-tasks/warrant-bot-provision
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(ci): add read:user to FORGE_REPO_WRITE_TOKEN scopes
  .forgejo/workflows/agent-repo-access.yaml
  .forgejo/workflows/warrant-bot-drift.yaml
  ansible/playbooks/indri.yml
  ansible/roles/forgejo_actions_secrets/defaults/main.yml
  docs/changelog.d/forge-repo-write-token.infra.md
  docs/how-to/operations/blumeops-ci-item-migration.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  mise-tasks/agent-repo-access
  mise-tasks/warrant-bot-drift
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.13-816c760-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.13.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.14-0c988ae-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.14.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.15-c6ad45f-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.15.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(ringtail): restart heph spokes after install oneshots bump the tag
  docs/changelog.d/agent-heph-spoke-restart-on-upgrade.infra.md
  docs/reference/infrastructure/ringtail.md
  nixos/ringtail/heph-common.nix
  nixos/ringtail/heph-eblume.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(ringtail): trim heph-common.nix comments to the essentials
  nixos/ringtail/heph-common.nix
  nixos/ringtail/heph-eblume.nix
Due: none

infra(talos): pin image v0.4.16-d89ea0f-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.16.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.3-b6f98ab-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.3.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.17-3b49724-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.17.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.18-6507702-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.18.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(ai): document expanded pr-comments
  docs/changelog.d/agent-pr-comments.ai.md
  docs/reference/tools/mise-tasks.md
  docs/tutorials/ai-assistance-guide.md
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(ai): pr-comments reads full PR feedback
  mise-tasks/pr-comments
Due: none

infra(borgmatic): back up talos data dir and horkos DB
  ansible/roles/borgmatic/defaults/main.yml
  ansible/roles/borgmatic/tasks/main.yml
  ansible/roles/borgmatic/templates/config.yaml.j2
  ansible/roles/borgmatic/templates/k8s-tar-dump.sh.j2
  docs/changelog.d/agent-talos-horkos-backups.infra.md
  docs/reference/storage/backups.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible: read ansible_env.HOME via ansible_facts
  ansible/roles/borgmatic/tasks/main.yml
  ansible/roles/borgmatic/templates/config.yaml.j2
  ansible/roles/jellyfin/defaults/main.yml
  docs/changelog.d/agent-fix-ansible-env-deprecation.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.19-efc4693-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.19.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

recurring-reviews(2026-08-23): bump pulumi-cli 3.258.0 → 3.259.0
  docs/changelog.d/recurring-reviews-2026-08-23.misc.md
  mise.toml
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(runbooks): review service-probe-failure runbook against deployed state
  docs/changelog.d/agent-doc-review-service-probe-runbook.doc.md
  docs/how-to/runbooks/runbook-service-probe-failure.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): scrape talos /metrics in alloy-ringtail and add Talos Grafana dashboard
  argocd/manifests/alloy-ringtail/config.alloy
  argocd/manifests/grafana-config-ringtail/dashboards/configmap-talos.yaml
  argocd/manifests/grafana-config-ringtail/kustomization.yaml
  argocd/manifests/talos/deployment.yaml
  argocd/manifests/talos/service.yaml
  docs/changelog.d/talos-scrape-metrics.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(borgmatic): dump k8s sqlite DBs via python3, fix ansible_facts.env refs
  ansible/roles/borgmatic/tasks/main.yml
  ansible/roles/borgmatic/templates/config.yaml.j2
  ansible/roles/borgmatic/templates/k8s-sqlite-dump.sh.j2
  ansible/roles/jellyfin/defaults/main.yml
  docs/changelog.d/fix-borgmatic-k8s-dump-python.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(borgmatic): dedent k8s tar-dump loop so the talos hook parses as a list item
  ansible/roles/borgmatic/templates/config.yaml.j2
Due: ansible-lint

docs(horkos): record completed Warrant cutover cleanup
  docs/changelog.d/docs-horkos-cutover-cleanup.doc.md
  docs/reference/services/horkos.md
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(transmission): wire RPC auth through secrets, sidecars, homepage widget; bump 4.1.1 -> 4.1.2
  argocd/manifests/homepage/deployment.yaml
  argocd/manifests/homepage/external-secret-transmission.yaml
  argocd/manifests/homepage/kustomization.yaml
  argocd/manifests/kiwix-ringtail/deployment.yaml
  argocd/manifests/kiwix-ringtail/external-secret.yaml
  argocd/manifests/kiwix-ringtail/kustomization.yaml
  argocd/manifests/kiwix-ringtail/sync-zim-torrents.sh
  argocd/manifests/torrent-ringtail/deployment.yaml
  argocd/manifests/torrent-ringtail/external-secret.yaml
  argocd/manifests/torrent-ringtail/ingress-tailscale.yaml
  argocd/manifests/torrent-ringtail/kustomization.yaml
  containers/transmission/default.nix
  docs/changelog.d/feat-transmission-rpc-auth.feature.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(transmission): support RPC auth via env in image entrypoint
  containers/transmission/default.nix
Due: none

feat(transmission): pin torrent + kiwix to v4.1.2-1040096-nix
  argocd/manifests/kiwix-ringtail/kustomization.yaml
  argocd/manifests/torrent-ringtail/kustomization.yaml
Due: none

fix(alloy): transmission blackbox probe expects 401 now that RPC auth is on
  argocd/manifests/alloy-ringtail/config.alloy
  docs/changelog.d/fix-transmission-probe-401.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.20-25ea56a-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.20.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(deps): monthly tooling refresh 2026-08-23
  docs/changelog.d/recurring-reviews-2026-08-23-deps.misc.md
  fly/Dockerfile
  mise.toml
  prek.toml
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
