Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

feat(talos): talos-wait-for-task wrapper + heph-task watcher recipe
  docs/changelog.d/agent-talos-wait-for-task-956.doc.md
  docs/changelog.d/agent-talos-wait-for-task-956.infra.md
  docs/reference/services/talos.md
  mise-tasks/talos-wait-for-task
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.121-92abf40-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.121.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(agents): changelog fragments stay brief and declarative
  AGENTS.md
  docs/changelog.d/agent-changelog-fragment-brief.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

container-pin-check: accept combined tag@digest newTag pins
  docs/changelog.d/agent-pin-check-tag-at-digest.feature.md
  mise-tasks/container-pin-check
  tests/test_container_pin_check.py
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.122-1bc9e20-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.122.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.19-d45fcf8-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.19.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.123-6728660-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.123.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.124-9223ea1-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.124.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Daily service review: shower — stamp last-reviewed, no version bump
  docs/changelog.d/recurring-reviews-2026-09-12.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

chore: shorten changelog fragment per review feedback
  docs/changelog.d/recurring-reviews-2026-09-12.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.20-1fd0076-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.20.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Rename the warrant-bot dispatch identity to horkos-forge (names only)
  .forgejo/workflows/horkos-forge-drift.yaml
  ansible/playbooks/indri.yml
  ansible/roles/forgejo_actions_secrets/defaults/main.yml
  argocd/manifests/horkos/deployment.yaml
  argocd/manifests/horkos/external-secret-dispatch.yaml
  docs/changelog.d/agent-warrant-bot-to-horkos-forge.infra.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/explanation/why-gitops.md
  docs/how-to/operations/blumeops-ci-item-migration.md
  docs/how-to/operations/request-a-privileged-run.md
  docs/how-to/operations/upgrade-forgejo.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  docs/reference/services/forgejo.md
  docs/reference/services/horkos.md
  docs/reference/tools/mise-tasks.md
  mise-tasks/agent-repo-access
  mise-tasks/horkos-forge-drift
  mise-tasks/horkos-forge-provision
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.125-0dcaa6d-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.125.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(cv): zot artifact pipeline — horkos ESOs, zot-cv identity, role pulls from zot
  .forgejo/workflows/cv-deploy.yaml
  ansible/roles/cv/defaults/main.yml
  ansible/roles/cv/tasks/main.yml
  ansible/roles/zot/templates/config.json.j2
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/horkos/deployment.yaml
  argocd/manifests/horkos/external-secret-forge-read.yaml
  argocd/manifests/horkos/external-secret-zot.yaml
  argocd/manifests/horkos/kustomization.yaml
  argocd/manifests/talos/repos.json
  docs/changelog.d/cv-zot-artifact-publish.infra.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  docs/reference/services/zot.md
  mise-tasks/zot-apikey-rotate
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(cv): review follow-ups — bash executable, dedicated forge-read PAT, docs truth
  ansible/roles/cv/tasks/main.yml
  argocd/manifests/horkos/external-secret-forge-read.yaml
  docs/how-to/deployment/create-release-artifact-workflow.md
  docs/how-to/operations/cv-on-indri.md
  docs/reference/services/cv.md
  docs/reference/services/forgejo.md
  docs/reference/services/zot.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(cv): template zot-cv username into the horkos-zot ESO, fix doc nits
  argocd/manifests/horkos/deployment.yaml
  argocd/manifests/horkos/external-secret-zot.yaml
  docs/changelog.d/agent-cv-zot-wiring.infra.md
  docs/how-to/operations/blumeops-ci-item-migration.md
  docs/how-to/operations/cv-on-indri.md
  docs/reference/services/cv.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(deploy-k8s-service): daily review — correct Application template, PSA labels, groups
  docs/changelog.d/agent-doc-review-deploy-k8s-service.doc.md
  docs/how-to/deployment/deploy-k8s-service.md
Due: docs-check-filenames, docs-check-links, docs-check-index

zot: add tier-first release-CI identities talos-zot / horkos-zot
  argocd/manifests/authentik/configmap-blueprint.yaml
  docs/changelog.d/agent-zot-tier-first.infra.md
  docs/reference/services/zot.md
  mise-tasks/zot-apikey-rotate
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.21-0b5fecb-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.21.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(cv): pin artifact v1.0.4
  ansible/roles/cv/defaults/main.yml
  docs/changelog.d/cv-release-v1.0.4.infra.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.126-be2ea1f-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.126.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.129-2ee455d-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.129.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(freestanding-repo): add post-cut TODO sweep step to the how-to
  docs/changelog.d/agent-freestanding-todo-sweep.doc.md
  docs/how-to/operations/add-a-freestanding-repo.md
Due: docs-check-filenames, docs-check-links, docs-check-index

zot: retire grandfathered zot-talos / zot-horkos identities
  argocd/manifests/authentik/configmap-blueprint.yaml
  docs/changelog.d/agent-zot-retire-legacy.infra.md
  docs/reference/services/zot.md
  mise-tasks/zot-apikey-rotate
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(zot): dry-run cannot precheck a fresh identity; ringtail clipboard equivalent
  docs/reference/services/zot.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Build containers on merge; retire the build-container warrant
  .forgejo/workflows/build-container.yaml
  AGENTS.md
  argocd/apps/talos.yaml
  containers/authentik/default.nix
  docs/changelog.d/agent-step5-container-merge-build.infra.md
  docs/explanation/agent-change-process.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/explanation/why-gitops.md
  docs/how-to/authentik/build-authentik-container.md
  docs/how-to/configuration/build-spork-container.md
  docs/how-to/deployment/build-container-image.md
  docs/how-to/grafana/build-grafana-images.md
  docs/how-to/grafana/upgrade-grafana.md
  docs/how-to/knowledgebase/review-services.md
  docs/how-to/operations/request-a-privileged-run.md
  docs/how-to/operations/shower-on-ringtail.md
  docs/how-to/zot/container-versioning.md
  docs/how-to/zot/wire-ci-registry-auth.md
  docs/reference/services/forgejo.md
  docs/reference/services/horkos.md
  docs/reference/tools/mise-tasks.md
  docs/tutorials/ai-assistance-guide.md
  mise-tasks/container-build-and-release
  mise-tasks/container-list
  mise-tasks/container-pin-check
  mise-tasks/runner-logs
  tests/test_request_run_binding.py
  tests/test_request_run_repo.py
  tests/test_request_run_script.py
  tests/test_request_run_supersede.py
  tests/test_verify_runs_audit.py
  warrant-policy.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Drop the authentik comment hunk; defer it to a dedicated authentik PR
  containers/authentik/default.nix
Due: none

infra(forgejo): enable delete_old_system_notices and delete_old_actions crons
  ansible/roles/forgejo/defaults/main.yml
  ansible/roles/forgejo/templates/app.ini.j2
  docs/changelog.d/agent-forgejo-db-hygiene.infra.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs(forgejo): add Database hygiene section to the service card
  docs/reference/services/forgejo.md
Due: docs-check-filenames, docs-check-links, docs-check-index

indri: fail the play when mise is below indri_mise_min_version, document the toolchain
  ansible/playbooks/indri.yml
  docs/changelog.d/agent-indri-mise-floor.infra.md
  docs/reference/infrastructure/indri.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

indri: mise comes from Homebrew; supersede the retired nix-darwin mise path
  ansible/playbooks/indri.yml
  ansible/roles/forgejo/defaults/main.yml
  docs/changelog.d/agent-indri-mise-floor.infra.md
  docs/reference/infrastructure/indri.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs(forgejo-runner): add Cache Maintenance section for the monthly uv cache prune
  docs/reference/services/forgejo-runner.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(forgejo-runner): monthly uv cache prune LaunchAgent
  ansible/roles/forgejo_runner/defaults/main.yml
  ansible/roles/forgejo_runner/handlers/main.yml
  ansible/roles/forgejo_runner/tasks/main.yml
  ansible/roles/forgejo_runner/templates/forgejo-runner.plist.j2
  ansible/roles/forgejo_runner/templates/runner-cache-prune.plist.j2
  ansible/roles/forgejo_runner/templates/runner-cache-prune.sh.j2
  docs/changelog.d/agent-forgejo-runner-cache-prune.infra.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.22-afc2ed4-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.22.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.132-97bba6c-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.132.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(unpoller): bump nix build v3.2.0 → v5.2.5
  containers/unpoller/default.nix
  docs/changelog.d/recurring-reviews-2026-09-13.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(unpoller): pin the predicted vendorHash (no TOFU round needed)
  containers/unpoller/default.nix
Due: none

docs(freestanding-repo): record the dagger module pins and four-name rename in the how-to
  docs/changelog.d/agent-rexworks-dagger-howto.doc.md
  docs/how-to/operations/add-a-freestanding-repo.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.23-65822e5-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.23.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

agent-repo-access: refuse write on repos carrying Actions secrets
  ansible/roles/forgejo_actions_secrets/defaults/main.yml
  docs/changelog.d/agent-actions-secret-invariant.infra.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/how-to/operations/blumeops-ci-item-migration.md
  docs/reference/infrastructure/agent-workspaces.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  mise-tasks/agent-repo-access
  tests/test_agent_repo_access.py
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
