Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

Fix Frigate parked car re-detection and enable writable config (#193)
  argocd/manifests/frigate/configmap.yaml
  argocd/manifests/frigate/deployment.yaml
  docs/changelog.d/frigate-stationary-fix.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Switch navidrome to custom container image v1.0.2
  argocd/manifests/navidrome/deployment.yaml
  docs/changelog.d/fix-navidrome-container-v1.0.2.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Run navidrome as non-root user with fsGroup for volume access
  argocd/manifests/navidrome/deployment.yaml
  containers/navidrome/Dockerfile
  docs/changelog.d/fix-navidrome-container-v1.0.2.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix navidrome custom container image v1.0.2 (#194)
  argocd/manifests/navidrome/deployment.yaml
  containers/navidrome/Dockerfile
  docs/changelog.d/fix-navidrome-container-v1.0.2.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review expose-service-publicly doc (#195)
  docs/changelog.d/docs-review-expose-service-publicly.doc.md
  docs/how-to/expose-service-publicly.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.9.2
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/docs-review-expose-service-publicly.doc.md
  docs/changelog.d/feature-document-container-build-port-navidrome.feature.md
  docs/changelog.d/fix-navidrome-container-v1.0.2.bugfix.md
  docs/changelog.d/frigate-stationary-fix.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Add service version review system (#196)
  docs/changelog.d/feature-service-review.feature.md
  docs/how-to/add-ansible-role.md
  docs/how-to/deploy-k8s-service.md
  docs/how-to/how-to.md
  docs/how-to/knowledgebase/review-services.md
  docs/tutorials/adding-a-service.md
  mise-tasks/service-review
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Bump mosquitto to 2.1.2 and tailscale-operator to v1.94.2 (#197)
  argocd/manifests/mosquitto/deployment.yaml
  argocd/manifests/tailscale-operator/operator.yaml
  argocd/manifests/tailscale-operator/proxyclass.yaml
  docs/changelog.d/service-review-mosquitto-tailscale-operator.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix mosquitto image tag: use 2.0.22 instead of nonexistent 2.1.2 (#198)
  argocd/manifests/mosquitto/deployment.yaml
  docs/changelog.d/service-review-mosquitto-tailscale-operator.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Add UniFi admin link to homepage dashboard
  argocd/manifests/homepage/values.yaml
  docs/changelog.d/unifi-admin-link.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Eliminate double towncrier run in release workflow (#199)
  .dagger/src/blumeops_ci/main.py
  .forgejo/workflows/build-blumeops.yaml
  docs/changelog.d/eliminate-double-towncrier.infra.md
  docs/how-to/update-documentation.md
  docs/reference/tools/dagger.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.9.3
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/eliminate-double-towncrier.infra.md
  docs/changelog.d/feature-service-review.feature.md
  docs/changelog.d/service-review-mosquitto-tailscale-operator.infra.md
  docs/changelog.d/unifi-admin-link.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Review gandi-operations doc and reorganize how-to guides (#200)
  docs/changelog.d/review-gandi-operations-and-howto-reorg.doc.md
  docs/how-to/configuration/expose-service-publicly.md
  docs/how-to/configuration/gandi-operations.md
  docs/how-to/configuration/update-documentation.md
  docs/how-to/configuration/update-tailscale-acls.md
  docs/how-to/configuration/use-pypi-proxy.md
  docs/how-to/deployment/add-ansible-role.md
  docs/how-to/deployment/build-container-image.md
  docs/how-to/deployment/create-release-artifact-workflow.md
  docs/how-to/deployment/deploy-k8s-service.md
  docs/how-to/how-to.md
  docs/how-to/operations/connect-to-postgres.md
  docs/how-to/operations/manage-flyio-proxy.md
  docs/how-to/operations/restart-indri.md
  docs/how-to/operations/restore-1password-backup.md
  docs/how-to/operations/troubleshooting.md
  docs/reference/infrastructure/gandi.md
  pulumi/gandi/__main__.py
Due: docs-check-filenames, docs-check-links, docs-check-index

Update docs release to v1.9.4
  CHANGELOG.md
  argocd/manifests/docs/deployment.yaml
  docs/changelog.d/review-gandi-operations-and-howto-reorg.doc.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix zk-docs broken path after how-to reorg
  docs/changelog.d/fix-zk-docs.bugfix.md
  mise-tasks/zk-docs
Due: docs-check-filenames, docs-check-links, docs-check-index

Expanded some CLAUDE.md stuff manualy
  CLAUDE.md
Due: none

Review ntfy: upgrade to v2.17.0 and add reference docs (#201)
  argocd/manifests/ntfy/deployment.yaml
  docs/changelog.d/review-ntfy-v2.17.0.infra.md
  docs/reference/reference.md
  docs/reference/services/frigate.md
  docs/reference/services/ntfy.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Port ntfy to locally built container image (#202)
  CLAUDE.md
  argocd/manifests/ntfy/deployment.yaml
  containers/ntfy/Dockerfile
  docs/changelog.d/feature-ntfy-container.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Update External Secrets Helm chart 1.3.1 → 2.0.0 (#203)
  argocd/apps/external-secrets-crds.yaml
  argocd/apps/external-secrets.yaml
  docs/changelog.d/update-external-secrets-helm-2.0.0.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Service review for external-secrets
  service-versions.yaml
Due: none

Grafana helm chart upgrade plan
  docs/how-to/how-to.md
  docs/how-to/plans/plans.md
  docs/how-to/plans/upgrade-grafana-helm-chart.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Fix frigate live view by capping detect FPS (#204)
  argocd/manifests/frigate/configmap.yaml
  docs/changelog.d/fix-frigate-detect-fps.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

Upgrade Frigate 0.16.4 → 0.17.0-rc2 (#205)
  argocd/manifests/frigate/configmap.yaml
  argocd/manifests/frigate/deployment.yaml
  docs/changelog.d/upgrade-frigate-0.17.infra.md
  docs/reference/services/frigate.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Add Apple Silicon ZMQ detector for Frigate (#206)
  ansible/playbooks/indri.yml
  ansible/roles/frigate_detector/defaults/main.yml
  ansible/roles/frigate_detector/handlers/main.yml
  ansible/roles/frigate_detector/tasks/main.yml
  ansible/roles/frigate_detector/templates/mcquack.eblume.frigate-detector.plist.j2
  argocd/manifests/frigate/configmap.yaml
  docs/changelog.d/frigate-zmq-detector.infra.md
  docs/reference/services/frigate.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Add NixOS configuration for ringtail workstation (#207)
  ansible/inventory/hosts.yml
  ansible/playbooks/ringtail.yml
  docs/changelog.d/feature-ringtail-nixos.feature.md
  mise-tasks/provision-ringtail
  nixos/ringtail/configuration.nix
  nixos/ringtail/disk-config.nix
  nixos/ringtail/flake.nix
  nixos/ringtail/hardware-configuration.nix
  pulumi/tailscale/__main__.py
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Allow unfree packages for NVIDIA drivers and Steam
  nixos/ringtail/configuration.nix
Due: none

Fix sway on NVIDIA proprietary drivers
  nixos/ringtail/configuration.nix
Due: none

Add --accept-routes and --ssh to tailscale config
  nixos/ringtail/configuration.nix
Due: none

Enable passwordless sudo for wheel group on ringtail
  nixos/ringtail/configuration.nix
Due: none

Add python3 to ringtail for Ansible compatibility
  nixos/ringtail/configuration.nix
Due: none

Fix deprecated greetd.tuigreet package reference
  nixos/ringtail/configuration.nix
Due: none

Add flake.lock for ringtail NixOS config
  nixos/ringtail/flake.lock
Due: none

Add force: true to ringtail git task
  ansible/playbooks/ringtail.yml
Due: ansible-lint

Polish ringtail NixOS config and add documentation (#208)
  .dagger/src/blumeops_ci/main.py
  ansible/playbooks/ringtail.yml
  docs/changelog.d/feature-ringtail-nixos.infra.md
  docs/reference/infrastructure/hosts.md
  docs/reference/infrastructure/ringtail.md
  docs/reference/reference.md
  mise-tasks/provision-ringtail
  mise-tasks/services-check
  nixos/ringtail/configuration.nix
  nixos/ringtail/flake.lock
  nixos/ringtail/flake.nix
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Add k3s, 1Password Connect, and systemd nix-container-builder to ringtail (#209)
  .forgejo/workflows/build-container-nix.yaml
  .forgejo/workflows/build-container.yaml
  .github/actionlint.yaml
  ansible/playbooks/ringtail.yml
  argocd/apps/1password-connect-ringtail.yaml
  argocd/apps/external-secrets-config-ringtail.yaml
  argocd/apps/external-secrets-crds-ringtail.yaml
  argocd/apps/external-secrets-ringtail.yaml
  docs/changelog.d/feature-k3s-ringtail-runner.feature.md
  docs/reference/infrastructure/ringtail.md
  mise-tasks/container-list
  mise-tasks/container-tag-and-release
  mise-tasks/ensure-k3s-ringtail-kubectl-config
  mise-tasks/services-check
  nixos/ringtail/configuration.nix
  nixos/ringtail/k3s-registries.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

Fix provision-ringtail ls-remote matching with mirror refs
  mise-tasks/provision-ringtail
Due: none

Fix k3s health check to use explicit KUBECONFIG path
  mise-tasks/services-check
Due: none

Add ringtail DeviceTags and homelab-to-homelab SSH rule (#210)
  docs/changelog.d/fix-tailscale-ssh-ringtail.infra.md
  pulumi/tailscale/__main__.py
  pulumi/tailscale/policy.hujson
Due: docs-check-filenames, docs-check-links, docs-check-index

Add screen lock and idle management to ringtail (#211)
  docs/changelog.d/feature-ringtail-screen-lock.feature.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

Inhibit idle lock for fullscreen windows on ringtail (#212)
  docs/changelog.d/sway-inhibit-idle-fullscreen.bugfix.md
  nixos/ringtail/configuration.nix
Due: docs-check-filenames, docs-check-links, docs-check-index

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
