Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

changelog: point the CPU-panel fragment at eblume/talos#131
  docs/changelog.d/fix-talos-main-thread-cpu-panel.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.78-5430f90-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.78.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(psa): bump authentik-redis 8.8.2, valkey 9.1.1 to match builder nixpkgs
  containers/authentik-redis/default.nix
  containers/valkey/default.nix
  docs/changelog.d/psa-nonroot-redis-valkey-bump.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(psa): pin the rebuilt redis 8.8.2 / valkey 9.1.1 tags, disable redis RDB saves
  argocd/manifests/authentik/deployment-redis.yaml
  argocd/manifests/authentik/kustomization.yaml
  argocd/manifests/immich-ringtail/kustomization.yaml
  argocd/manifests/paperless-ringtail/kustomization.yaml
  docs/changelog.d/agent-psa-nonroot-pin-flip.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(psa): immich-server + immich-machine-learning non-root via manifest
  argocd/manifests/immich-ringtail/deployment-ml.yaml
  argocd/manifests/immich-ringtail/deployment-server.yaml
  docs/changelog.d/psa-nonroot-immich-manifest.infra.md
  docs/reference/operations/security.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(psa): frigate namespace to exempt, per the decision table
  argocd/apps/frigate.yaml
  docs/changelog.d/psa-frigate-namespace-exempt.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(mealie): emptyDir at /nltk_data so the non-root image can start
  argocd/manifests/mealie-ringtail/deployment.yaml
  docs/changelog.d/fix-mealie-nonroot-nltk-data.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(mealie): emptyDir at /tmp for gunicorn's worker heartbeat
  argocd/manifests/mealie-ringtail/deployment.yaml
  docs/changelog.d/fix-mealie-nonroot-tmp.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(mealie): bake the NLTK tagger and a 1777 /tmp into the image
  containers/mealie/default.nix
Due: none

infra(mealie): pin v3.20.1-0ff99a6-nix, drop the /nltk_data emptyDir
  argocd/manifests/mealie-ringtail/deployment.yaml
  argocd/manifests/mealie-ringtail/kustomization.yaml
  docs/changelog.d/mealie-bake-nltk-tagger.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

chore(prek): trim the custom local hooks comment to one line
  prek.toml
Due: none

ci(flake-update): run Ringtail Flake Update on the ringtail nix runner
  .forgejo/workflows/flake-update.yaml
  docs/changelog.d/agent-retire-dagger-nix-pipelines.infra.md
  docs/how-to/ringtail/manage-lockfile.md
  docs/reference/infrastructure/ringtail.md
  docs/reference/services/forgejo.md
Due: docs-check-filenames, docs-check-links, docs-check-index

ci(flake,version-check): retire dagger nix pipelines for direct nixos/nix containers
  .forgejo/workflows/flake-update.yaml
  docs/changelog.d/agent-retire-dagger-nix-pipelines.infra.md
  docs/how-to/deployment/build-container-image.md
  docs/how-to/ringtail/manage-lockfile.md
  docs/how-to/zot/container-versioning.md
  docs/reference/infrastructure/ringtail.md
  docs/reference/tools/dagger.md
  mise-tasks/container-version-check
  mise-tasks/provision-ringtail
  mise-tasks/service-review
  prek.toml
  src/blumeops/main.py
Due: docs-check-filenames, docs-check-links, docs-check-index

ci(gitleaks): allowlist bare vX.Y.Z-<hash>-nix image tags
  .gitleaks.toml
  docs/changelog.d/agent-retire-dagger-nix-pipelines.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.14-1a5ce47-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.14.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.79-a01ffcd-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.79.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(argocd): drop frigate's empty managedNamespaceMetadata block
  argocd/apps/frigate.yaml
  docs/changelog.d/frigate-drop-empty-ns-labels.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

runner(indri): stop using service-versions notes as a log
  service-versions.yaml
Due: none

infra(indri): delete the dead /opt/homebrew/var/forgejo husk (#798 §4)
  AGENTS.md
  ansible/roles/borgmatic/defaults/main.yml
  docs/changelog.d/forgejo-husk-delete.infra.md
  docs/reference/services/borgmatic.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

docs: hermes was discarded, not archived
  docs/changelog.d/forgejo-husk-delete.infra.md
  docs/reference/services/borgmatic.md
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(security-model): refresh card against current state; stamp review
  docs/changelog.d/agent-doc-review-security-model.doc.md
  docs/explanation/security-model.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(alloy): bump Nix-built Alloy to v1.19.2
  containers/alloy/default.nix
  docs/changelog.d/agent-alloy-1-19-2.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(photos): correct /share/bogus expectation in the verification matrix
  docs/changelog.d/agent-photos-docs-verification-matrix.doc.md
  docs/how-to/operations/photos-public-sharing.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(zot): rebuild indri source v2.1.16 → v2.1.20, fix metrics ACL for anonymous scrape
  ansible/roles/zot/tasks/main.yml
  ansible/roles/zot/templates/config.json.j2
  docs/changelog.d/zot-2-1-20.infra.md
  docs/how-to/zot/harden-zot-registry.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(prowler): k3s/ringtail node verification for Prowler MANUAL findings
  argocd/apps/prowler-ringtail.yaml
  docs/changelog.d/agent-prowler-k3s-node-verification.infra.md
  docs/how-to/operations/deploy-prowler.md
  docs/how-to/operations/read-compliance-reports.md
  docs/reference/operations/security.md
  mise-tasks/review-compliance-reports
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(ringtail): record the 2026-09-05→06 Memtest86+ burn-in pass at DDR4-2400
  docs/changelog.d/+ringtail-burn-in-result.doc.md
  docs/reference/infrastructure/ringtail.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(ringtail): flake update — nixpkgs 6713828 (go 1.26.7 for the alloy build), home-manager fd0956c
  docs/changelog.d/flake-update-2026-09-06.infra.md
  nixos/ringtail/flake.lock
Due: docs-check-filenames, docs-check-links, docs-check-index

alloy: native indri binary → v1.19.2; role header toolchain; drop orphan alloy-k8s ledger entry
  ansible/roles/alloy/defaults/main.yml
  service-versions.yaml
Due: ansible-lint

alloy: pin alloy-ui npmDepsHash for v1.19.2 (TOFU round 1, run 2662)
  containers/alloy/default.nix
Due: none

alloy: pin goModules hash for v1.19.2; beyla-binaries needs dontUnpack
  containers/alloy/default.nix
Due: none

alloy: pin alloy-ringtail + alloy-tracing-ringtail to v1.19.2-ed1df80-nix; stamp the ledger
  argocd/manifests/alloy-ringtail/kustomization.yaml
  argocd/manifests/alloy-tracing-ringtail/kustomization.yaml
  docs/changelog.d/alloy-1-19-2-finish.infra.md
  docs/reference/services/alloy.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.83-572ce08-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.83.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(talos): pin image v0.4.84-5793faf-nix
  argocd/manifests/talos/kustomization.yaml
  docs/changelog.d/talos-release-v0.4.84.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(argocd): loosen "from gilbert" CLI phrasing now that ringtail has the CLI
  docs/changelog.d/agent-argocd-cli-host-phrasing.doc.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/reference/services/argocd.md
Due: docs-check-filenames, docs-check-links, docs-check-index

ci(docs): retire dagger build_docs pipeline for a direct node:22-slim run
  .forgejo/workflows/build-blumeops.yaml
  docs/changelog.d/agent-retire-dagger-build-docs.infra.md
  mise-tasks/docs-build-tarball
  mise-tasks/docs-preview
  src/blumeops/__init__.py
  src/blumeops/main.py
Due: docs-check-filenames, docs-check-links, docs-check-index

docs: describe the docker-run docs build ahead of retiring dagger build_docs
  AGENTS.md
  docs/how-to/configuration/update-documentation.md
  docs/how-to/dagger/upgrade-dagger.md
  docs/reference/tools/dagger.md
  docs/reference/tools/mise-tasks.md
Due: docs-check-filenames, docs-check-links, docs-check-index

runner(indri): build with an explicit go toolchain; document the manual restart
  ansible/roles/forgejo_runner/defaults/main.yml
  ansible/roles/forgejo_runner/tasks/main.yml
  docs/changelog.d/fix-forgejo-runner-build-toolchain.bugfix.md
  docs/how-to/forgejo-runner/configure-launchd-runner.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.15-780452e-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.15.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

docs(agents-forgejo-bot): describe the post-#725 issue-engagement model
  docs/changelog.d/agent-docs-agent-engage-model.doc.md
  docs/reference/infrastructure/agents-forgejo-bot.md
  mise-tasks/agent-repo-access
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(horkos): pin image v0.5.16-2bd4311-nix
  argocd/manifests/horkos/kustomization.yaml
  docs/changelog.d/horkos-release-v0.5.16.infra.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
