Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# Run: uvx pre-commit run --all-files
# Install: uvx pre-commit install

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']  # Allow custom tags (ansible uses them)
      - id: check-toml

  # Secret detection
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.92.5
    hooks:
      - id: trufflehog
        entry: trufflehog git file://. --no-verification --fail
        stages: [pre-commit, pre-push]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint.yaml']

  # Ansible linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
        language: python
        files: ^ansible/
        additional_dependencies:
          - ansible-lint>=26.1.1
          - ansible-core>=2.15

  # Python - ruff for linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  # Shell scripts - shellcheck and shfmt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ['-i', '2', '-ci', '-bn']  # 2-space indent, case indent, binary newline

  # TOML - taplo
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  # JSON formatting (prettier for consistent style)
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [json]
        args: ['--tab-width', '2']

  # GitHub/Forgejo Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-system
        args: ['-config-file', '.github/actionlint.yaml']
        files: ^\.forgejo/workflows/

  # Documentation validation
  - repo: local
    hooks:
      - id: docs-check-filenames
        name: docs-check-filenames
        entry: mise run docs-check-filenames
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-links
        name: docs-check-links
        entry: mise run docs-check-links
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false
      - id: docs-check-index
        name: docs-check-index
        entry: mise run docs-check-index
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

feat(agent-health): name the instance behind a firing alert
  docs/changelog.d/agent-agent-health-alert-labels.feature.md
  mise-tasks/agent-health
Due: docs-check-filenames, docs-check-links, docs-check-index

doc(observability): the three pillars are metrics, logs, and traces
  docs/changelog.d/agent-observability-tutorial-pillars.doc.md
  docs/tutorials/replication/observability-stack.md
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(agent-metrics): let agents query Prometheus, not just alerts
  AGENTS.md
  docs/changelog.d/agent-agent-metrics-task.feature.md
  mise-tasks/agent-metrics
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(alerting): TextfileStale threshold equalled its own refresh period
  argocd/manifests/grafana-ringtail/alerting.yaml
  docs/changelog.d/agent-textfile-stale-threshold.bugfix.md
  docs/how-to/runbooks/runbook-textfile-stale.md
Due: docs-check-filenames, docs-check-links, docs-check-index

doc(runbook): PodNotReady step 4 could never have worked
  docs/changelog.d/agent-runbook-pod-not-ready-review.doc.md
  docs/how-to/runbooks/runbook-pod-not-ready.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(changelog): recover seven fragments towncrier would have dropped
  .forgejo/workflows/docs-checks.yaml
  AGENTS.md
  docs/changelog.d/agent-changelog-fragments-ci.bugfix.md
  docs/changelog.d/agent-mealie-miniflux-unstable.infra.md
  docs/changelog.d/agent-priv-runner-flyctl.bugfix.md
  docs/changelog.d/agent-runner-label-indri.bugfix.md
  docs/changelog.d/agent-runner-label-indri.infra.md
  docs/changelog.d/agent-verify-runs-attribution.bugfix.md
  docs/changelog.d/agent-warrant-fly-deploy.infra.md
  docs/changelog.d/agent-warrant-v034-tag.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(warrant): make the approved SHA reach the run it approves
  .forgejo/workflows/build-container.yaml
  docs/changelog.d/agent-request-run-sha-binding.bugfix.md
  docs/explanation/warrant-approval-gated-runs.md
  mise-tasks/request-run
  mise-tasks/verify-runs
  mise-tasks/warrant-test
  tests/test_request_run_binding.py
  tests/test_verify_runs_audit.py
  warrant-policy.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

doc: why an agent PR waits for Approve-and-run, and why we keep it
  .forgejo/workflows/docs-checks.yaml
  docs/changelog.d/agent-fork-pr-approval-docs.doc.md
  docs/explanation/agent-change-process.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(agent-ws): long-lived Anthropic token instead of the expiring PVC OAuth login
  containers/agent-ws/default.nix
  docs/changelog.d/agent-ws-oauth-token.bugfix.md
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
  docs/reference/infrastructure/agent-workspaces.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(agent-ws): deploy v0.16.0-b0b729b-nix
  argocd/manifests/agent-ws/kustomization.yaml
Due: none

fix(agent-ws): revert to the PVC OAuth login — Remote Control refuses setup-token
  containers/agent-ws/default.nix
  docs/changelog.d/agent-ws-remote-control-login.bugfix.md
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
  docs/how-to/ringtail/rotate-agent-ws-claude-login.md
  docs/reference/infrastructure/agent-workspaces.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(agent-ws): deploy v0.17.0-5418120-nix
  argocd/manifests/agent-ws/kustomization.yaml
  docs/changelog.d/agent-ws-deploy-v0170.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

doc(agent-ws): rotation cadence 5d -> 21d; the refresh window is ~29 days, not ~7
  docs/changelog.d/agent-ws-rotation-cadence.doc.md
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
  docs/how-to/ringtail/rotate-agent-ws-claude-login.md
  docs/reference/infrastructure/agent-workspaces.md
Due: docs-check-filenames, docs-check-links, docs-check-index

ci(warrant-bot-drift): verify on push to main, not on pull_request
  .forgejo/workflows/warrant-bot-drift.yaml
  docs/changelog.d/agent-drift-drop-pr-trigger.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(mise): _require guard so pod-blocked tasks refuse instead of half-running
  AGENTS.md
  docs/changelog.d/agent-require-helper.infra.md
  mise-tasks/_require
  mise-tasks/docs-preview
  mise-tasks/ensure-k3s-ringtail-kubectl-config
  mise-tasks/fly-setup
  mise-tasks/fly-shutoff
  mise-tasks/frigate-export-model
  mise-tasks/op-backup
  mise-tasks/provision-indri
  mise-tasks/provision-ringtail
  mise-tasks/provision-sifaka
  mise-tasks/prune-ringtail-generations
  mise-tasks/services-check
  mise-tasks/validate-workflows
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(warrant): supersede an obsoleted request instead of leaving it live
  containers/warrant/app/main.py
  containers/warrant/default.nix
  containers/warrant/tests/test_supersede.py
  docs/changelog.d/agent-warrant-supersede.feature.md
  docs/how-to/operations/request-a-privileged-run.md
  docs/reference/services/warrant.md
  mise-tasks/request-run
  service-versions.yaml
  tests/conftest.py
  tests/test_request_run_supersede.py
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(warrant): deploy v0.4.0-04218f0-nix
  argocd/manifests/warrant/kustomization.yaml
  docs/changelog.d/agent-warrant-deploy-v040.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(mise): op read can no longer hang or crash a task
  docs/changelog.d/agent-op-read-hardening.bugfix.md
  mise-tasks/agent-health
  mise-tasks/agent-metrics
  mise-tasks/agent-repo-access
  mise-tasks/branch-cleanup
  mise-tasks/container-build-and-release
  mise-tasks/dns-acme-cleanup
  mise-tasks/request-run
  mise-tasks/spork-create
  mise-tasks/verify-runs
  mise-tasks/warrant-bot-drift
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(agent-ws): share project-template with the agents bot
  containers/agent-ws/default.nix
  containers/agent-ws/repos.json
  docs/changelog.d/agent-repos-json-project-template.infra.md
  docs/how-to/ringtail/bootstrap-agent-workspaces.md
  docs/reference/infrastructure/agent-workspaces.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(agent-ws): deploy v0.18.0-0b71b6d-nix
  argocd/manifests/agent-ws/kustomization.yaml
  docs/changelog.d/agent-agent-ws-deploy-v0180.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(argocd-deploy): a prune input, so orphaned resources are clearable
  .forgejo/workflows/argocd-deploy.yaml
  .github/actionlint.yaml
  docs/changelog.d/agent-argocd-deploy-prune.feature.md
  docs/how-to/operations/request-a-privileged-run.md
  docs/reference/services/argocd.md
  warrant-policy.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(argocd): prune: true on the generator-backed apps
  argocd/apps/alloy-ringtail.yaml
  argocd/apps/alloy-tracing-ringtail.yaml
  argocd/apps/frigate.yaml
  argocd/apps/grafana-ringtail.yaml
  argocd/apps/homepage.yaml
  argocd/apps/kiwix-ringtail.yaml
  argocd/apps/loki-ringtail.yaml
  argocd/apps/ntfy.yaml
  argocd/apps/ollama.yaml
  argocd/apps/prometheus-ringtail.yaml
  argocd/apps/prowler-ringtail.yaml
  argocd/apps/tempo-ringtail.yaml
  argocd/apps/unpoller-ringtail.yaml
  docs/changelog.d/agent-argocd-prune-generator-apps.infra.md
  docs/reference/services/argocd.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(runner): install actionlint and stylua, the two prek cannot fetch
  ansible/roles/forgejo_runner/defaults/main.yml
  docs/changelog.d/agent-runner-lint-tools.infra.md
  docs/reference/services/forgejo-runner.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(runner): realign flyctl, and say what each host-tool pin mirrors
  ansible/roles/forgejo_runner/defaults/main.yml
  docs/changelog.d/agent-runner-lint-tools.infra.md
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(forgejo): upgrade to v16.0.2 for the Actions job-log REST API
  ansible/roles/forgejo/defaults/main.yml
  docs/changelog.d/agent-forgejo-16-job-log-api.infra.md
  docs/how-to/operations/upgrade-forgejo.md
  mise-tasks/runner-logs
  service-versions.yaml
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

doc(forgejo): the post-upgrade doctor check needs -w and -c
  docs/changelog.d/agent-forgejo-doctor-flags.doc.md
  docs/how-to/operations/upgrade-forgejo.md
Due: docs-check-filenames, docs-check-links, docs-check-index

misc: apply ruff-format to the five files that had drifted
  containers/warrant/app/main.py
  containers/warrant/tests/test_list_requests.py
  containers/warrant/tests/test_supersede.py
  docs/changelog.d/agent-ruff-format-drift.misc.md
  tests/test_request_run_binding.py
  tests/test_verify_runs_audit.py
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(ci): request review from eblume via CODEOWNERS
  .forgejo/CODEOWNERS
  docs/changelog.d/agent-codeowners-review-request.infra.md
  docs/explanation/agent-change-process.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(provision): survive the network restart activation causes
  ansible/ansible.cfg
  ansible/playbooks/ringtail.yml
  docs/changelog.d/agent-provision-ssh-resilience.bugfix.md
  docs/reference/infrastructure/ringtail.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(provision): read only this run's rebuild journal
  ansible/playbooks/ringtail.yml
Due: ansible-lint

fix(alloy): tombstone retired textfile collectors, starting with minikube
  ansible/roles/alloy/defaults/main.yml
  ansible/roles/alloy/tasks/main.yml
  docs/changelog.d/agent-minikube-textfile-tombstone.bugfix.md
  docs/how-to/runbooks/runbook-textfile-stale.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(forgejo): clear the last Homebrew-era path references
  ansible/roles/alloy/defaults/main.yml
  docs/changelog.d/agent-brew-era-forgejo-paths.bugfix.md
  docs/reference/storage/backups.md
  mise-tasks/mirror-update-pats
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

infra(prek): lint mise-tasks/, which ruff has never seen
  docs/changelog.d/agent-mise-tasks-python-lint.infra.md
  mise-tasks/container-list
  mise-tasks/docs-preview
  mise-tasks/docs-review
  mise-tasks/docs-review-stale
  mise-tasks/op-backup
  mise-tasks/prune-ringtail-generations
  mise-tasks/spork-create
  prek.toml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(ci): run the prek hook set on every PR
  .forgejo/workflows/lint.yaml
  docs/changelog.d/agent-prek-in-ci.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(prek): remove the three hooks that cannot run in CI
  .forgejo/workflows/lint.yaml
  docs/changelog.d/agent-prek-in-ci.infra.md
  prek.toml
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(ci): blank GITHUB_TOKEN so mise stops 401ing in the Lint job
  .forgejo/workflows/lint.yaml
  docs/changelog.d/agent-prek-in-ci.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

misc(secrets): rename github-mirror-pat to forge-ci-github-pat
  docs/changelog.d/agent-brew-era-forgejo-paths.bugfix.md
  docs/changelog.d/agent-rename-forge-ci-github-pat.misc.md
  docs/how-to/configuration/manage-forgejo-mirrors.md
  mise-tasks/mirror-create
  mise-tasks/mirror-update-pats
Due: docs-check-filenames, docs-check-links, docs-check-index

doc(mirrors): accept a zero-scope classic PAT when the fine-grained form fails
  docs/how-to/configuration/manage-forgejo-mirrors.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(mirrors): make mirror-update-pats work on Forgejo v16
  docs/changelog.d/agent-mirror-update-pats-v16.bugfix.md
  mise-tasks/mirror-update-pats
Due: docs-check-filenames, docs-check-links, docs-check-index
