Repository eblume/blumeops: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_ROLES_PATH=ansible/roles ansible-lint
  language: python
  additional_dependencies:
  - ansible-lint>=26.1.1
  - ansible-core>=2.15

docs-check-filenames:
  name: docs-check-filenames
  entry: mise run docs-check-filenames
  language: system
  pass_filenames: false

docs-check-links:
  name: docs-check-links
  entry: mise run docs-check-links
  language: system
  pass_filenames: false

docs-check-index:
  name: docs-check-index
  entry: mise run docs-check-index
  language: system
  pass_filenames: false

infra(agent-ws): deploy v0.10.0-55e2996-nix (#451)
  argocd/manifests/agent-ws/kustomization.yaml
  docs/changelog.d/agent-ws-0-10-0-deploy.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(agent-ws): 0.11.0 — liveness watchdog for Remote Control zombies (#452)
  argocd/manifests/agent-ws/deployment.yaml
  argocd/manifests/agent-ws/kustomization.yaml
  containers/agent-ws/default.nix
  docs/changelog.d/agent-ws-liveness.infra.md
  docs/explanation/agent-containerization.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(agent-ws): 0.12.0 — gamedev joins the pool, with Bevy's native deps (#453)
  containers/agent-ws/default.nix
  containers/agent-ws/repos.json
  docs/changelog.d/agent-ws-gamedev.infra.md
  docs/explanation/agent-containerization.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(agent-ws): deploy v0.12.0-47e7efd-nix (#454)
  argocd/manifests/agent-ws/kustomization.yaml
  docs/changelog.d/agent-ws-0-12-0-deploy.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

ops: honest 'indri' runner label + services-check indri leg from ringtail (#439)
  .forgejo/workflows/branch-cleanup.yaml
  .forgejo/workflows/build-blumeops.yaml
  .forgejo/workflows/build-container.yaml
  .forgejo/workflows/cv-deploy.yaml
  .forgejo/workflows/deploy-fly.yaml
  .forgejo/workflows/flake-update.yaml
  ansible/roles/forgejo_runner/defaults/main.yml
  docs/changelog.d/agent/runner-label-indri.bugfix.md
  docs/changelog.d/agent/runner-label-indri.infra.md
  docs/explanation/spork-strategy.md
  docs/how-to/configuration/update-documentation.md
  docs/how-to/forgejo-runner/configure-launchd-runner.md
  docs/how-to/forgejo-runner/validate-forgejo-workflows.md
  docs/reference/services/forgejo-runner.md
  docs/reference/services/forgejo.md
  mise-tasks/services-check
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

doc: Warrant — approval-gated privileged runs for agents (PROPOSAL) (#455)
  docs/changelog.d/warrant-approval-proposal.doc.md
  docs/explanation/warrant-approval-gated-runs.md
Due: docs-check-filenames, docs-check-links, docs-check-index

bump(mealie,miniflux): mealie v3.16.0→v3.20.1, miniflux 2.3.1→2.3.2 via nixos-unstable self-pin (#440)
  argocd/manifests/mealie-ringtail/kustomization.yaml
  argocd/manifests/miniflux-ringtail/kustomization.yaml
  containers/mealie/default.nix
  containers/miniflux/default.nix
  docs/changelog.d/agent/mealie-miniflux-unstable.infra.md
  docs/reference/services/mealie.md
  docs/reference/services/miniflux.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

ops(warrant): P0 chores — runs-on straggler + sshTests fence pins
  .forgejo/workflows/agent-repo-access.yaml
  docs/changelog.d/warrant-p0-chores.infra.md
  pulumi/tailscale/policy.hujson
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(warrant): mise run request-run — Phase 1 privileged-run requests
  docs/changelog.d/warrant-p1-request-run.feature.md
  docs/how-to/operations/request-a-privileged-run.md
  mise-tasks/request-run
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(warrant): argocd-deploy.yaml — first approval-gated privileged workflow
  .forgejo/workflows/argocd-deploy.yaml
  ansible/roles/forgejo_runner/defaults/main.yml
  docs/changelog.d/warrant-p1-argocd-deploy.feature.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

pilot(#440): mealie/miniflux tags -> -892eeac-nix (built post-merge)
  argocd/manifests/mealie-ringtail/kustomization.yaml
  argocd/manifests/miniflux-ringtail/kustomization.yaml
  docs/changelog.d/pilot-440-image-tags.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(warrant): argocd-deploy maiden-run fixes
  .forgejo/workflows/argocd-deploy.yaml
  ansible/roles/forgejo_runner/defaults/main.yml
  docs/changelog.d/warrant-argocd-deploy-fixes.bugfix.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

fix(warrant): workflow-bot RBAC + stale ARGOCD_AUTH_TOKEN (run 703)
  argocd/manifests/argocd/argocd-rbac-cm-patch.yaml
  docs/changelog.d/warrant-workflow-bot-update-rbac.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(warrant): warrant-policy.yaml + request-time enforcement — Phase 4 seed
  docs/changelog.d/warrant-p4-policy.feature.md
  docs/how-to/operations/request-a-privileged-run.md
  mise-tasks/request-run
  warrant-policy.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(warrant): dedicated priv runner on ringtail — Phase 2 host split
  .forgejo/workflows/argocd-deploy.yaml
  ansible/roles/forgejo_runner/defaults/main.yml
  docs/changelog.d/warrant-p2-priv-runner.infra.md
  docs/reference/services/forgejo-runner.md
  nixos/ringtail/configuration.nix
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

feat(warrant): mise run verify-runs — Phase 2 audit sweep
  docs/changelog.d/warrant-p2-verify-runs.feature.md
  mise-tasks/verify-runs
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(warrant): Authentik agents-m2m identity — P3 prereq
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/authentik/external-secret.yaml
  docs/changelog.d/warrant-p3-authentik-sa.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(warrant): broker v0.1 scaffold — request queue, no approval path
  ansible/roles/caddy/defaults/main.yml
  argocd/apps/warrant.yaml
  argocd/manifests/warrant/deployment.yaml
  argocd/manifests/warrant/ingress-tailscale.yaml
  argocd/manifests/warrant/kustomization.yaml
  argocd/manifests/warrant/pvc.yaml
  argocd/manifests/warrant/service.yaml
  containers/warrant/app/main.py
  containers/warrant/default.nix
  docs/changelog.d/warrant-p3-broker-scaffold.feature.md
  docs/reference/services/warrant.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

service-versions: register warrant (first-party, v0.1.0)
  service-versions.yaml
Due: none

fix(warrant): authentik agents-m2m blueprint — add required redirect_uris
  argocd/manifests/authentik/configmap-blueprint.yaml
  docs/changelog.d/warrant-authentik-m2m-fix.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(warrant): agents-m2m round 2 — app password for the documented m2m flow
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/authentik/external-secret.yaml
  docs/changelog.d/warrant-m2m-app-password.bugfix.md
Due: docs-check-filenames, docs-check-links, docs-check-index

warrant: image tag UNBUILT -> v0.1.0-68f84a3-nix (run 708)
  argocd/manifests/warrant/kustomization.yaml
  docs/changelog.d/warrant-image-tag.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

doc(warrant): rename ops-ci -> blumeops-ci (pre-mint, zero functional refs)
  docs/changelog.d/rename-blumeops-ci.doc.md
  docs/explanation/warrant-approval-gated-runs.md
  docs/reference/services/warrant.md
  warrant-policy.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(grafana): auth.jwt for the agents-m2m machine identity
  argocd/manifests/grafana-ringtail/grafana.ini
  docs/changelog.d/grafana-auth-jwt.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

infra(warrant): provision BLUMEOPS_CI_OP_TOKEN — the blumeops-ci vault tier
  ansible/playbooks/indri.yml
  ansible/roles/forgejo_actions_secrets/defaults/main.yml
  docs/changelog.d/blumeops-ci-actions-secret.infra.md
Due: ansible-lint, docs-check-filenames, docs-check-links, docs-check-index

feat: mise run agent-health — Grafana-native fleet check as agent-ringtail
  docs/changelog.d/agent-health.feature.md
  mise-tasks/agent-health
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(warrant): request-run mirrors requests into the warrant queue
  docs/changelog.d/request-run-broker.feature.md
  docs/how-to/operations/request-a-privileged-run.md
  mise-tasks/request-run
Due: docs-check-filenames, docs-check-links, docs-check-index

doc(warrant): record the TOTP-now, hardware-later approval decision
  docs/changelog.d/warrant-totp-decision.doc.md
  docs/explanation/warrant-approval-gated-runs.md
Due: docs-check-filenames, docs-check-links, docs-check-index

doc(warrant): blumeops-ci item-migration audit + plan
  docs/changelog.d/blumeops-ci-migration-audit.doc.md
  docs/how-to/operations/blumeops-ci-item-migration.md
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(warrant): v0.2a — the human door (Authentik OIDC login, no power added)
  argocd/manifests/authentik/configmap-blueprint.yaml
  argocd/manifests/authentik/deployment-worker.yaml
  argocd/manifests/authentik/external-secret.yaml
  argocd/manifests/warrant/deployment.yaml
  argocd/manifests/warrant/external-secret-oidc.yaml
  argocd/manifests/warrant/kustomization.yaml
  containers/warrant/app/main.py
  containers/warrant/default.nix
  docs/changelog.d/warrant-v02a-human-door.feature.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(warrant): v0.2b — decisions mint warrants (records, not power)
  containers/warrant/app/main.py
  containers/warrant/default.nix
  docs/changelog.d/warrant-v02b-decisions.feature.md
Due: docs-check-filenames, docs-check-links, docs-check-index

warrant: image tag -> v0.2.0-9060183-nix (run 709, v0.2a+b)
  argocd/manifests/warrant/kustomization.yaml
  docs/changelog.d/warrant-v02-image-tag.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(warrant): v0.2.1 — httpx in the image; imports fail at boot
  containers/warrant/app/main.py
  containers/warrant/default.nix
  docs/changelog.d/warrant-v021-httpx.bugfix.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

review: drop comment archaeology from default.nix (per #480 review)
  containers/warrant/default.nix
Due: none

warrant: image tag -> v0.2.1-14970b4-nix
  argocd/manifests/warrant/kustomization.yaml
  docs/changelog.d/warrant-v021-image-tag.infra.md
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(warrant): v0.2.2 — note field on decision forms
  containers/warrant/app/main.py
  containers/warrant/default.nix
  docs/changelog.d/warrant-ui-note.bugfix.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(warrant): v0.2.3 — link decisions to the code they authorize
  containers/warrant/app/main.py
  containers/warrant/default.nix
  docs/changelog.d/warrant-pr-links.feature.md
  service-versions.yaml
Due: docs-check-filenames, docs-check-links, docs-check-index

feat(warrant): warrant-bot-provision — script the ceremony, don't automate it
  docs/changelog.d/warrant-bot-provision.feature.md
  mise-tasks/warrant-bot-provision
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(warrant): warrant-bot-provision scope split — ephemeral admin, self-minted PAT
  docs/changelog.d/warrant-bot-provision-scopes.bugfix.md
  mise-tasks/warrant-bot-provision
Due: docs-check-filenames, docs-check-links, docs-check-index

fix(warrant): warrant-bot-provision — one item, visible op errors
  docs/changelog.d/warrant-bot-provision-simplify.bugfix.md
  mise-tasks/warrant-bot-provision
Due: docs-check-filenames, docs-check-links, docs-check-index

Path conditions:
  ansible-lint: any of: ^ansible/
  docs-check-filenames: any of: ^docs/.*\.md$
  docs-check-links: any of: ^docs/.*\.md$
  docs-check-index: any of: ^docs/.*\.md$
